Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore(mcp): setup local MCP server and sync versions (#200)
  .claude/skills/release.md
  .mcp.json
  CLAUDE.md
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/src/registry/docs.json
  scripts/postinstall.sh
Due: format

ci(mcp): add MCP package build and registry staleness checks
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix(mcp): add trailing newlines and prettier formatting to generated registry
  packages/dynamic-form-mcp/project.json
  packages/dynamic-form-mcp/scripts/generate-registry.ts
Due: lint, format

fix(mcp): correct package integrity check path in CI
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

refactor(mcp): extract writeJson helper in registry generator
  packages/dynamic-form-mcp/scripts/generate-registry.ts
Due: lint, format

ci(mcp): add MCP package build and registry staleness checks (#201)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  packages/dynamic-form-mcp/project.json
  packages/dynamic-form-mcp/scripts/generate-registry.ts
Due: lint, format

feat(dynamic-forms): remove targetField from derivation API
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/index.md
  apps/examples/material/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/conditional-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/expression-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/function-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/static-value-derivation.scenario.ts
  packages/dynamic-form-mcp/README.md
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-logger.service.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-logger.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-lookup.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

fix(mcp): update Zod schemas and docs for self-targeting derivations
  guides/08-derivation-system.md
  internal/dynamic-forms-zod/mcp/src/tools/validate-config.tool.ts
  internal/dynamic-forms-zod/src/lib/schemas/__tests__/logic-config.spec.ts
  internal/dynamic-forms-zod/src/lib/schemas/logic/derivation-logic.schema.ts
Due: format

docs(dynamic-forms): update JSDoc examples for self-targeting derivations
  guides/08-derivation-system.md
  packages/dynamic-forms/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
Due: lint, format

feat(dynamic-forms): remove targetField from derivation API (#202)
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/index.md
  apps/examples/material/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/conditional-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/expression-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/function-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/static-value-derivation.scenario.ts
  guides/08-derivation-system.md
  internal/dynamic-forms-zod/mcp/src/tools/validate-config.tool.ts
  internal/dynamic-forms-zod/src/lib/schemas/__tests__/logic-config.spec.ts
  internal/dynamic-forms-zod/src/lib/schemas/logic/derivation-logic.schema.ts
  packages/dynamic-form-mcp/README.md
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-logger.service.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-logger.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-lookup.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.ts
  packages/dynamic-forms/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

feat(dynamic-forms): add externalData support for conditional logic
  apps/examples/material/src/app/testing/external-data/external-data.routes.ts
  apps/examples/material/src/app/testing/external-data/external-data.spec.ts
  apps/examples/material/src/app/testing/external-data/scenarios/external-data.scenario.ts
  apps/examples/material/src/app/testing/testing-routes.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
Due: lint, format

refactor(examples): use static config object for external data scenario
  apps/examples/material/src/app/testing/external-data/scenarios/external-data.scenario.ts
Due: format

refactor(examples): use 'as const satisfies FormConfig' pattern
  apps/examples/material/src/app/testing/external-data/scenarios/external-data.scenario.ts
Due: format

docs: add externalData documentation to conditional logic, derivation, and expression parser pages
  apps/docs/src/docs/advanced/expression-parser/index.md
  apps/docs/src/docs/dynamic-behavior/conditional-logic/overview/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/index.md
Due: format

docs: remove redundant security note
  apps/docs/src/docs/advanced/expression-parser/index.md
Due: format

style: format doc files with prettier
  apps/docs/src/docs/advanced/expression-parser/index.md
  apps/docs/src/docs/dynamic-behavior/conditional-logic/overview/index.md
Due: format

chore(mcp): regenerate registry with external-data topic
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

feat(dynamic-forms): add externalData support for conditional logic (#204)
  apps/docs/src/docs/advanced/expression-parser/index.md
  apps/docs/src/docs/dynamic-behavior/conditional-logic/overview/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/index.md
  apps/examples/material/src/app/testing/external-data/external-data.routes.ts
  apps/examples/material/src/app/testing/external-data/external-data.spec.ts
  apps/examples/material/src/app/testing/external-data/scenarios/external-data.scenario.ts
  apps/examples/material/src/app/testing/testing-routes.ts
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
Due: lint, format

test(dynamic-forms): add path-utils unit tests
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.spec.ts
Due: lint, format

test(dynamic-forms): add submission-handler edge case tests
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

test(bootstrap): add derivation-logic E2E tests
  apps/examples/bootstrap/src/app/testing/derivation-logic/derivation-logic.routes.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/derivation-logic.suite.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/conditional-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/expression-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/function-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/shorthand-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/static-value-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/testing-routes.ts
Due: format

test(ionic): add derivation-logic E2E tests
  apps/examples/ionic/src/app/testing/derivation-logic/derivation-logic.routes.ts
  apps/examples/ionic/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/ionic/src/app/testing/derivation-logic/derivation-logic.suite.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/conditional-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/expression-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/function-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/shorthand-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/static-value-derivation.scenario.ts
Due: format

test(primeng): add derivation-logic E2E tests
  apps/examples/primeng/src/app/testing/derivation-logic/derivation-logic.routes.ts
  apps/examples/primeng/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/primeng/src/app/testing/derivation-logic/derivation-logic.suite.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/conditional-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/expression-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/function-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/shorthand-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/static-value-derivation.scenario.ts
Due: format

test(ionic): add field-meta E2E tests
  apps/examples/ionic/src/app/testing/field-meta/field-meta.routes.ts
  apps/examples/ionic/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/ionic/src/app/testing/field-meta/field-meta.suite.ts
  apps/examples/ionic/src/app/testing/field-meta/scenarios/meta-native-elements.scenario.ts
  apps/examples/ionic/src/app/testing/field-meta/scenarios/meta-wrapped-components.scenario.ts
  apps/examples/ionic/src/app/testing/testing-routes.ts
Due: format

test(primeng): add field-meta E2E tests
  apps/examples/primeng/src/app/testing/field-meta/field-meta.routes.ts
  apps/examples/primeng/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/primeng/src/app/testing/field-meta/field-meta.suite.ts
  apps/examples/primeng/src/app/testing/field-meta/scenarios/meta-native-elements.scenario.ts
  apps/examples/primeng/src/app/testing/field-meta/scenarios/meta-wrapped-components.scenario.ts
Due: format

test(bootstrap): add field-meta E2E tests
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.routes.ts
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.suite.ts
  apps/examples/bootstrap/src/app/testing/field-meta/scenarios/meta-native-elements.scenario.ts
  apps/examples/bootstrap/src/app/testing/field-meta/scenarios/meta-wrapped-components.scenario.ts
Due: format

test(primeng): add primeng-components E2E tests
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.routes.ts
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.spec.ts
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.suite.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-basic.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-button-bar.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-constraints.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-disabled.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-format.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-initial-value.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/multi-select-basic.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/multi-select-disabled.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/multi-select-filter.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/multi-select-initial-value.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-basic.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-bounds.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-disabled.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-steps.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-value-display.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/toggle-basic.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/toggle-disabled.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/toggle-initial-value.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/toggle-label.scenario.ts
  apps/examples/primeng/src/app/testing/testing-routes.ts
Due: format

test(ionic): add ionic-components E2E tests
  apps/examples/ionic/src/app/testing/ionic-components/ionic-components.routes.ts
  apps/examples/ionic/src/app/testing/ionic-components/ionic-components.spec.ts
  apps/examples/ionic/src/app/testing/ionic-components/ionic-components.suite.ts
  apps/examples/ionic/src/app/testing/ionic-components/scenarios/checkbox-array-component.scenario.ts
  apps/examples/ionic/src/app/testing/ionic-components/scenarios/datetime-component.scenario.ts
  apps/examples/ionic/src/app/testing/ionic-components/scenarios/range-component.scenario.ts
  apps/examples/ionic/src/app/testing/ionic-components/scenarios/toggle-component.scenario.ts
Due: format

test(forms): add accessibility screenshot assertions
  apps/examples/bootstrap/src/app/testing/accessibility/accessibility.spec.ts
  apps/examples/material/src/app/testing/accessibility/accessibility.spec.ts
  apps/examples/primeng/src/app/testing/accessibility/accessibility.spec.ts
Due: format

fix(config): increase webServer timeout for Docker E2E tests
  internal/examples-shared-testing/src/lib/playwright-config.ts
Due: format

fix(config): use serve-static in Docker for faster E2E tests
  internal/examples-shared-testing/src/lib/playwright-config.ts
  scripts/playwright-docker.sh
Due: format

fix(bootstrap): remove cols assertion from field-meta test
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.spec.ts
Due: format

test(forms): add accessibility screenshot baselines for material and bootstrap
  apps/examples/bootstrap/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/bootstrap-error-announcements-empty.png
  apps/examples/bootstrap/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/bootstrap-error-announcements-with-error.png
  apps/examples/material/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/material-error-announcements-empty.png
  apps/examples/material/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/material-error-announcements-with-error.png
Due: none

test(dynamic-forms): add error case tests and fix type casting
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.spec.ts
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

test(dynamic-forms): add comprehensive edge case coverage
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.spec.ts
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.ts
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

test(dynamic-forms): add array lifecycle and meta persistence tests
  apps/examples/bootstrap/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/ionic/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/material/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/primeng/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/field-meta/field-meta.spec.ts
Due: format

fix(config): increase E2E timeout to 45 minutes for expanded test suite
  .github/workflows/pr-check.yml
Due: none

perf(config): add 2 parallel workers in CI for faster E2E tests
  internal/examples-shared-testing/src/lib/playwright-config.ts
  packages/dynamic-form-mcp/pnpm-lock.yaml
Due: format

revert(config): restore original E2E configuration without pre-build
  internal/examples-shared-testing/src/lib/playwright-config.ts
  scripts/playwright-docker.sh
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
