Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

chore(config): drop playwright + angular-cli MCPs, add /verify-e2e skill
  .claude/skills/verify-e2e.md
  .claude/skills/verify.md
  .mcp.json
Due: format

docs: add default behavioral rules to CLAUDE.md
  CLAUDE.md
Due: format

chore(config): add pre-push hook to block direct push to main
  .claude/hooks/block-push-to-main.sh
  .claude/settings.json
Due: format

fix(config): tighten push-to-main hook to avoid false positives
  .claude/hooks/block-push-to-main.sh
Due: none

test(ionic): refresh grid-layout snapshots after Playwright 1.60 bump
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
Due: none

chore(examples): cross-adapter perf bench harness + CI regression specs
  .gitignore
  apps/e2e/bootstrap/src/app/app.config.ts
  apps/e2e/bootstrap/src/app/testing/performance/perf-stress.scenario.ts
  apps/e2e/bootstrap/src/app/testing/performance/perf-stress.spec.ts
  apps/e2e/bootstrap/src/app/testing/performance/performance.routes.ts
  apps/e2e/bootstrap/src/app/testing/testing-routes.ts
  apps/e2e/core/src/app/app.config.ts
  apps/e2e/core/src/app/testing/performance/performance.routes.ts
  apps/e2e/core/src/app/testing/performance/performance.suite.ts
  apps/e2e/core/src/app/testing/performance/scenarios/perf-stress-50-pages.scenario.ts
  apps/e2e/core/src/app/testing/performance/scenarios/perf-stress-full-surface.scenario.ts
  apps/e2e/ionic/src/app/app.config.ts
  apps/e2e/ionic/src/app/app.routes.ts
  apps/e2e/ionic/src/app/testing/performance/perf-stress.scenario.ts
  apps/e2e/ionic/src/app/testing/performance/perf-stress.spec.ts
  apps/e2e/ionic/src/app/testing/performance/performance.routes.ts
  apps/e2e/ionic/src/app/testing/testing-routes.ts
  apps/e2e/material/src/app/app.config.ts
  apps/e2e/material/src/app/testing/performance/perf-stress.scenario.ts
  apps/e2e/material/src/app/testing/performance/perf-stress.spec.ts
  apps/e2e/material/src/app/testing/performance/performance.routes.ts
  apps/e2e/material/src/app/testing/testing-routes.ts
  apps/e2e/primeng/src/app/app.config.ts
  apps/e2e/primeng/src/app/testing/performance/perf-stress.scenario.ts
  apps/e2e/primeng/src/app/testing/performance/perf-stress.spec.ts
  apps/e2e/primeng/src/app/testing/performance/performance.routes.ts
  apps/e2e/primeng/src/app/testing/testing-routes.ts
  internal/examples-shared-testing/src/lib/index.ts
  internal/examples-shared-testing/src/lib/perf-spec.ts
  internal/examples-shared-testing/src/lib/perf/bench-harness.ts
  internal/examples-shared-testing/src/lib/perf/full-surface-config.ts
  internal/examples-shared-testing/src/lib/perf/index.ts
  internal/examples-shared-testing/src/lib/perf/perf-mock-http.interceptor.ts
  internal/examples-shared-testing/src/lib/perf/perf-spec-helper.ts
  internal/examples-shared-testing/src/lib/perf/stress-config-generators.ts
  scripts/cross-adapter-bench.mjs
  tsconfig.base.json
Due: format

perf(dynamic-forms): unmount hidden pages in PageOrchestrator
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
Due: lint, format

refactor(dynamic-forms): extract shared reactive-stream setup for derivations
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/pipeline-setup-utils.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
Due: lint, format

refactor(dynamic-forms): extract shared HTTP/async entry stream setup
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/pipeline-setup-utils.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
Due: lint, format

perf: strip comments from FESM bundles to cut gzip size by ~49%
  package.json
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms/project.json
  pnpm-lock.yaml
  scripts/strip-fesm-comments.mjs
Due: format

refactor(dynamic-forms)!: collapse PropertyDerivationOrchestrator into DerivationOrchestrator
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/index.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
Due: lint, format

fix(config): inherit production inputs on new build target
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms/project.json
Due: format

refactor(dynamic-forms): unify DerivationEntry as discriminated entry shape
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-types.ts
Due: lint, format

fix(config): preserve /*#__PURE__*/ + license; add integrity assertions
  package.json
  pnpm-lock.yaml
  scripts/strip-fesm-comments.mjs
Due: format

fix(config): drop params:forward on build→compile; clean up strip script
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms/project.json
  scripts/strip-fesm-comments.mjs
Due: format

refactor(dynamic-forms): extract debounced-rxResource LogicFn scaffolding
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/debounced-resource-logic-fn.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
Due: lint, format

fix(config): address CodeRabbit review of strip-fesm-comments
  package.json
  pnpm-lock.yaml
  scripts/strip-fesm-comments.mjs
Due: format

refactor(config): tokenizer-correct PURE count, idempotent fast path
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms/project.json
  scripts/strip-fesm-comments.mjs
Due: format

fix(docs): SSR-render landing defers and add SEO redirects
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/vercel.json
  vercel.json
Due: format

fix(docs): SSR-render landing defers and add SEO redirects (#440)
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/vercel.json
  vercel.json
Due: format

perf: strip comments from FESM bundles to cut gzip size by ~49% (#437)
  package.json
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms/project.json
  pnpm-lock.yaml
  scripts/strip-fesm-comments.mjs
Due: format

fix(dynamic-forms): hold previous value on unresolvable HTTP condition template
  packages/dynamic-forms/src/lib/core/expressions/debounced-resource-logic-fn.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
Due: lint, format

refactor(dynamic-forms): address PR #436 review feedback
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/pipeline-setup-utils.ts
  packages/dynamic-forms/src/lib/core/property-derivation/index.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
Due: lint, format

refactor(dynamic-forms)!: unify derivation orchestrators (single class, one DI instance) (#436)
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.ts
  packages/dynamic-forms/src/lib/core/derivation/pipeline-setup-utils.ts
  packages/dynamic-forms/src/lib/core/property-derivation/index.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-types.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
Due: lint, format

fix(examples): bench-harness skips trigger fields + try/finally cleanup
  internal/examples-shared-testing/src/lib/perf/bench-harness.ts
  internal/examples-shared-testing/src/lib/perf/full-surface-config.ts
Due: format

test(examples): fail fast in assertPerf when profiler slices are missing
  internal/examples-shared-testing/src/lib/perf/perf-spec-helper.ts
Due: format

fix(dynamic-forms): preserve falsy HTTP bodies and re-fetch after cache invalidation
  packages/dynamic-forms/src/lib/core/expressions/debounced-resource-logic-fn.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
Due: lint, format

test(examples): raise perf-stress thresholds for CI runners
  internal/examples-shared-testing/src/lib/perf/bench-harness.ts
Due: format

refactor(dynamic-forms): extract shared debounced-rxResource LogicFn scaffolding (#439)
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/debounced-resource-logic-fn.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
Due: lint, format

perf(dynamic-forms): unmount hidden pages + cross-adapter perf bench infra (#435)
  .gitignore
  apps/e2e/bootstrap/src/app/app.config.ts
  apps/e2e/bootstrap/src/app/testing/performance/perf-stress.scenario.ts
  apps/e2e/bootstrap/src/app/testing/performance/perf-stress.spec.ts
  apps/e2e/bootstrap/src/app/testing/performance/performance.routes.ts
  apps/e2e/bootstrap/src/app/testing/testing-routes.ts
  apps/e2e/core/src/app/app.config.ts
  apps/e2e/core/src/app/testing/performance/performance.routes.ts
  apps/e2e/core/src/app/testing/performance/performance.suite.ts
  apps/e2e/core/src/app/testing/performance/scenarios/perf-stress-50-pages.scenario.ts
  apps/e2e/core/src/app/testing/performance/scenarios/perf-stress-full-surface.scenario.ts
  apps/e2e/ionic/src/app/app.config.ts
  apps/e2e/ionic/src/app/app.routes.ts
  apps/e2e/ionic/src/app/testing/performance/perf-stress.scenario.ts
  apps/e2e/ionic/src/app/testing/performance/perf-stress.spec.ts
  apps/e2e/ionic/src/app/testing/performance/performance.routes.ts
  apps/e2e/ionic/src/app/testing/testing-routes.ts
  apps/e2e/material/src/app/app.config.ts
  apps/e2e/material/src/app/testing/performance/perf-stress.scenario.ts
  apps/e2e/material/src/app/testing/performance/perf-stress.spec.ts
  apps/e2e/material/src/app/testing/performance/performance.routes.ts
  apps/e2e/material/src/app/testing/testing-routes.ts
  apps/e2e/primeng/src/app/app.config.ts
  apps/e2e/primeng/src/app/testing/performance/perf-stress.scenario.ts
  apps/e2e/primeng/src/app/testing/performance/perf-stress.spec.ts
  apps/e2e/primeng/src/app/testing/performance/performance.routes.ts
  apps/e2e/primeng/src/app/testing/testing-routes.ts
  internal/examples-shared-testing/src/lib/index.ts
  internal/examples-shared-testing/src/lib/perf-spec.ts
  internal/examples-shared-testing/src/lib/perf/bench-harness.ts
  internal/examples-shared-testing/src/lib/perf/full-surface-config.ts
  internal/examples-shared-testing/src/lib/perf/index.ts
  internal/examples-shared-testing/src/lib/perf/perf-mock-http.interceptor.ts
  internal/examples-shared-testing/src/lib/perf/perf-spec-helper.ts
  internal/examples-shared-testing/src/lib/perf/stress-config-generators.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  scripts/cross-adapter-bench.mjs
  tsconfig.base.json
Due: lint, format

refactor(dynamic-forms): unify derivation + property-derivation collectors
  packages/dynamic-forms/src/lib/core/derivation/collection-context.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
Due: lint, format

refactor(dynamic-forms): orchestrator uses single-traversal collector
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
Due: lint, format

refactor(dynamic-forms): address review feedback on PR #438
  packages/dynamic-forms/src/lib/core/derivation/collection-context.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
Due: lint, format

fix(dynamic-forms): resolve \$self / \$group tokens for property derivations
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.spec.ts
Due: lint, format

docs(dynamic-forms): document why arrays drop ancestor groupPath
  packages/dynamic-forms/src/lib/core/derivation/collection-context.ts
Due: lint, format

refactor(dynamic-forms): single-traversal derivation collector (#438)
  packages/dynamic-forms/src/lib/core/derivation/collection-context.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
Due: lint, format

feat(dynamic-forms): add ng add schematic + Nx generator for adapter setup
  apps/docs/public/content/getting-started.md
  packages/dynamic-forms/eslint.config.mjs
  packages/dynamic-forms/ng-package.json
  packages/dynamic-forms/package.json
  packages/dynamic-forms/project.json
  packages/dynamic-forms/schematics/collection.json
  packages/dynamic-forms/schematics/generators.json
  packages/dynamic-forms/schematics/ng-add/index.spec.ts
  packages/dynamic-forms/schematics/ng-add/index.ts
  packages/dynamic-forms/schematics/ng-add/nx-wrapper.ts
  packages/dynamic-forms/schematics/ng-add/recipes.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-packages.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-providers.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-styles.ts
  packages/dynamic-forms/schematics/ng-add/schema.d.ts
  packages/dynamic-forms/schematics/ng-add/schema.json
  packages/dynamic-forms/schematics/tsconfig.json
  packages/dynamic-forms/schematics/versions.ts
  packages/dynamic-forms/schematics/vitest.config.ts
Due: lint, format

fix(dynamic-forms): make ng-add produce a buildable app
  packages/dynamic-forms/project.json
  packages/dynamic-forms/schematics/ng-add/index.spec.ts
  packages/dynamic-forms/schematics/ng-add/index.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-packages.ts
  packages/dynamic-forms/schematics/versions.ts
  scripts/finalize-dynamic-forms-schematics.mjs
Due: lint, format

refactor(dynamic-forms): source ng-add versions from the package manifest
  packages/dynamic-forms/schematics/versions.ts
Due: lint, format
