Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

fix(dynamic-forms): scope DOM ids per form instance to prevent collisions
  apps/docs/public/content/configuration.md
  apps/e2e/bootstrap/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/bootstrap/src/app/testing/id-collision/id-collision.routes.ts
  apps/e2e/bootstrap/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/bootstrap/src/app/testing/testing-routes.ts
  apps/e2e/ionic/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/ionic/src/app/testing/id-collision/id-collision.routes.ts
  apps/e2e/ionic/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/ionic/src/app/testing/testing-routes.ts
  apps/e2e/material/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/material/src/app/testing/id-collision/id-collision.routes.ts
  apps/e2e/material/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/material/src/app/testing/testing-routes.ts
  apps/e2e/primeng/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/primeng/src/app/testing/id-collision/id-collision.routes.ts
  apps/e2e/primeng/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/primeng/src/app/testing/testing-routes.ts
  internal/examples-shared-testing/src/lib/id-collision/id-collision-spec.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
  tsconfig.base.json
Due: lint, format

fix(dynamic-forms): SSR-safe latch + sanitize idPrefix (PR #444 review)
  apps/docs/public/content/configuration.md
  apps/e2e/bootstrap/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/ionic/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/ionic/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/material/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/material/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/primeng/src/app/testing/id-collision/id-collision.components.ts
  internal/examples-shared-testing/src/lib/id-collision/id-collision-spec.ts
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

fix(dynamic-forms): harden ng-add edge cases from PR review
  packages/dynamic-forms/schematics/ng-add/index.spec.ts
  packages/dynamic-forms/schematics/ng-add/index.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-packages.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-providers.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-styles.ts
Due: lint, format

docs: generalize ng-add wording to global styles file and ApplicationConfig
  apps/docs/public/content/getting-started.md
Due: format

fix(dynamic-forms): drop redundant logger prefix in idPrefix warning
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.ts
Due: lint, format

fix(dynamic-forms): recycle form id slots instead of a monotonic counter
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.ts
Due: lint, format

test(core): scope multi-form suite-index ids + prefix-tolerant helpers
  apps/e2e/core/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/e2e/core/src/app/testing/shared/fixtures.ts
  apps/e2e/core/src/app/testing/shared/suite-index.component.ts
Due: format

fix(dynamic-forms): make multi-form id detection visibility-aware
  apps/docs/public/content/configuration.md
  internal/examples-shared-testing/src/lib/id-collision/id-collision-spec.ts
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.ts
Due: lint, format

test(ionic): refresh drifted grid-layout snapshots
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
Due: none

fix(openapi-generator): map numeric enums to select instead of number input
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/type-mapping.spec.ts
  packages/openapi-generator/src/mapper/type-mapping.ts
Due: lint, format

refactor(dynamic-forms): count visible forms via per-form signals
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.ts
Due: lint, format

test(dynamic-forms): poll for ResizeObserver instead of a fixed delay
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.spec.ts
Due: lint, format

fix(dynamic-forms): allow array fields as children of group fields
  apps/docs/public/content/prebuilt/form-groups.md
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.type-test.ts
  packages/dynamic-forms/src/lib/models/types/nesting-constraints.ts
Due: lint, format

fix(dynamic-forms): scope DOM ids per form to prevent collisions (#444)
  apps/docs/public/content/configuration.md
  apps/e2e/bootstrap/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/bootstrap/src/app/testing/id-collision/id-collision.routes.ts
  apps/e2e/bootstrap/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/bootstrap/src/app/testing/testing-routes.ts
  apps/e2e/core/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/e2e/core/src/app/testing/shared/fixtures.ts
  apps/e2e/core/src/app/testing/shared/suite-index.component.ts
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
  apps/e2e/ionic/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/ionic/src/app/testing/id-collision/id-collision.routes.ts
  apps/e2e/ionic/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/ionic/src/app/testing/testing-routes.ts
  apps/e2e/material/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/material/src/app/testing/id-collision/id-collision.routes.ts
  apps/e2e/material/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/material/src/app/testing/testing-routes.ts
  apps/e2e/primeng/src/app/testing/id-collision/id-collision.components.ts
  apps/e2e/primeng/src/app/testing/id-collision/id-collision.routes.ts
  apps/e2e/primeng/src/app/testing/id-collision/id-collision.spec.ts
  apps/e2e/primeng/src/app/testing/testing-routes.ts
  internal/examples-shared-testing/src/lib/id-collision/id-collision-spec.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/dynamic-form-instance-registry.service.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
  tsconfig.base.json
Due: lint, format

test(openapi-generator): end-to-end numeric-enum select regression (#445)
  packages/openapi-generator/src/__tests__/integration/__fixtures__/numeric-enum.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
Due: lint, format

fix(openapi-generator): map numeric enums to select instead of number input (#447)
  packages/openapi-generator/src/__tests__/integration/__fixtures__/numeric-enum.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/type-mapping.spec.ts
  packages/openapi-generator/src/mapper/type-mapping.ts
Due: lint, format

fix(dynamic-forms): allow array fields as children of group fields (#448)
  apps/docs/public/content/prebuilt/form-groups.md
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.type-test.ts
  packages/dynamic-forms/src/lib/models/types/nesting-constraints.ts
Due: lint, format

feat(dynamic-forms): nx multi-app safety + docs CLI toggle + rename nx generator to add
  apps/docs/public/content/getting-started.md
  apps/docs/src/app/components/cli-command/cli-command.component.html
  apps/docs/src/app/components/cli-command/cli-command.component.scss
  apps/docs/src/app/components/cli-command/cli-command.component.ts
  apps/docs/src/app/directives/content-components.directive.ts
  internal/styling/src/_command-box.scss
  packages/dynamic-forms/schematics/generators.json
  packages/dynamic-forms/schematics/ng-add/index.spec.ts
  packages/dynamic-forms/schematics/ng-add/index.ts
Due: lint, format

docs: note --project=<name> for multi-app workspaces
  apps/docs/public/content/getting-started.md
Due: format

fix(dynamic-forms): address remaining ng-add review nits
  packages/dynamic-forms/schematics/ng-add/index.spec.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-packages.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-providers.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-styles.ts
  packages/dynamic-forms/schematics/ng-add/schema.json
Due: lint, format

fix(docs): tablist a11y for cli-command and install-command
  apps/docs/src/app/components/cli-command/cli-command.component.html
  apps/docs/src/app/components/cli-command/cli-command.component.ts
  apps/docs/src/app/components/install-command/install-command.component.html
  apps/docs/src/app/components/install-command/install-command.component.ts
  apps/docs/src/app/directives/tab-keyboard.directive.ts
  internal/styling/src/_command-box.scss
Due: format

fix(docs): replace per-instance random uid with DI-scoped counter
  apps/docs/src/app/components/cli-command/cli-command.component.ts
  apps/docs/src/app/components/install-command/install-command.component.ts
  apps/docs/src/app/directives/tab-keyboard.directive.ts
  apps/docs/src/app/services/uid.service.ts
Due: format

test(dynamic-forms): add coverage for value/validation/derivation gaps and pin 3 reproduced bugs
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream-race.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-chain-cycle.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/core/schema-builder.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/utils/create-resolved-errors-signal.spec.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.spec.ts
Due: lint, format

refactor(dynamic-forms): source third-party install ranges from workspace package.json
  packages/dynamic-forms/schematics/versions.ts
  scripts/finalize-dynamic-forms-schematics.mjs
Due: lint, format

fix(dynamic-forms): page value-exclusion, config-swap retype, and late-derivation override bugs
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream-race.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-machine.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.spec.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.spec.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
Due: lint, format

fix(dynamic-forms): skip addon preset value mutation on disabled fields
  packages/dynamic-forms-bootstrap/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-ionic/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-material/src/lib/a11y-scoped-ids.spec.ts
  packages/dynamic-forms-material/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.spec.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.ts
Due: lint, format

test(dynamic-forms): cover submission-handler valid guard and double-submit
  packages/dynamic-forms/src/lib/utils/submission-handler/submission-handler.spec.ts
Due: lint, format

fix(dynamic-forms): guard async results in sync slots and reject dotted field keys
  packages/dynamic-forms/src/lib/core/derivation/compute-derived-value.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/compute-derived-value.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.spec.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.ts
Due: lint, format

style(dynamic-forms): trim verbose comments and gate a11y spec on rendered inputs
  packages/dynamic-forms-material/src/lib/a11y-scoped-ids.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/compute-derived-value.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/compute-derived-value.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-machine.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.spec.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.ts
Due: lint, format

test(dynamic-forms): gate config-swap on activeConfig instead of stale ready$
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format

feat(dynamic-forms): support regex flags in matches via /pattern/flags form
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/value-utils.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format

docs: trim Quick setup prose and bump inactive tab visibility
  apps/docs/public/content/getting-started.md
  internal/styling/src/_command-box.scss
Due: format

fix(dynamic-forms): value/validation/derivation coverage-gap fixes and footgun guards (#449)
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.spec.ts
  packages/dynamic-forms-ionic/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.spec.ts
  packages/dynamic-forms-material/src/lib/a11y-scoped-ids.spec.ts
  packages/dynamic-forms-material/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.spec.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.spec.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.spec.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream-race.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/derivation/compute-derived-value.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/compute-derived-value.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-chain-cycle.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/value-utils.ts
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/core/schema-builder.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-machine.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.spec.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.ts
  packages/dynamic-forms/src/lib/utils/create-resolved-errors-signal.spec.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.spec.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.ts
  packages/dynamic-forms/src/lib/utils/submission-handler/submission-handler.spec.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.spec.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
Due: lint, format

ci(dynamic-forms): guard generated /internal public_api against drift
  .github/workflows/ci.yml
  packages/dynamic-forms/src/lib/index.ts
  scripts/refactor/gen-public-api.mjs
Due: lint, format

fix(config): add /internal tsconfig path to docs, sandbox, and example apps
  apps/docs/tsconfig.json
  apps/examples/sandbox/tsconfig.json
  internal/examples-bootstrap/tsconfig.json
  internal/examples-ionic/tsconfig.json
  internal/examples-material/tsconfig.json
  internal/examples-primeng/tsconfig.json
  tsconfig.typecheck-base.json
Due: format

refactor(dynamic-forms): remove non-null assertions in integration mappers
  packages/dynamic-forms/integration/src/mappers/button/navigation-button.mapper.ts
  packages/dynamic-forms/integration/src/utils/setup-meta-tracking.ts
Due: lint, format
