Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "packages/**/*.{ts,js}"
      run: pnpm eslint {staged_files} --fix
    format:
      glob: "*.{ts,js,json,md,html,scss,css}"
      run: pnpm prettier --write {staged_files}

commit-msg:
  commands:
    commitlint:
      run: echo "Commit message format validated"

refactor: remove remaining wildcard exports in core and utils
  packages/dynamic-forms/src/lib/core/expressions/index.ts
  packages/dynamic-forms/src/lib/core/index.ts
  packages/dynamic-forms/src/lib/core/logic/index.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/index.ts
  packages/dynamic-forms/src/lib/core/values/index.ts
  packages/dynamic-forms/src/lib/utils/form-validation/index.ts
  packages/dynamic-forms/src/lib/utils/grid-classes/index.ts
Due: lint, format

fix: array field component FieldTree access and value updates
  apps/examples/material/src/app/testing/array-fields/array-initial-values-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-item-validation-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-max-length-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-multiple-ops-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-nested-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-remove-test.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.ts
Due: lint, format

refactor: remove redundant tests and improve integration tests
  packages/dynamic-forms/src/lib/core/expressions/parser/evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/expression-parser.security.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/signal-forms-integration.spec.ts
Due: lint, format

refactor: eliminate fake tests and unskip form interaction test
  packages/dynamic-forms/src/lib/core/schema-application.spec.ts
  packages/dynamic-forms/src/lib/core/schema-builder.spec.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.spec.ts
Due: lint, format

fix: array field binding and FieldTree access improvements
  apps/examples/material/e2e/src/array-fields.spec.ts
  apps/examples/material/src/app/testing/array-fields/array-add-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-initial-values-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-item-validation-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-max-length-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-min-length-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-multiple-ops-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-nested-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-remove-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-values-test.component.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.ts
Due: lint, format

refactor: improve type safety and reduce code duplication
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/utils/form-internals/form-internals.ts
  packages/dynamic-forms/src/lib/utils/form-internals/index.ts
  packages/dynamic-forms/src/lib/utils/index.ts
Due: lint, format

test: fix flaky array field e2e tests for parallel execution
  apps/examples/material/e2e/src/array-fields.spec.ts
Due: format

fix: eliminate lastArraySnapshot and improve array field architecture
  apps/examples/material/src/app/testing/array-fields/array-multiple-ops-test.component.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-AddArrayItemEvent-should-add-item-at-specific-index-when-index-is-provided-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-Nested-Object-Items-should-create-fields-for-array-with-simple-input-template-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-Nested-Object-Items-should-handle-adding-items-to-array-with-nested-object-structure-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-Nested-Object-Items-should-handle-removing-items-from-array-with-nested-object-structure-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-RemoveArrayItemEvent-should-remove-item-at-specific-index-when-index-is-provided-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-RemoveArrayItemEvent-should-remove-last-item-when-RemoveArrayItemEvent-is-dispatched-without-index-1.png
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/testing/simple-test-utils.ts
  packages/dynamic-forms/src/lib/utils/form-internals/index.ts
Due: lint, format

fix: align button mappers across all UI libraries with material implementation
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.type.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
Due: lint, format

refactor: rename array button field types to remove library prefixes
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.type.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/types/registry-augmentation.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-AddArrayItemEvent-should-add-item-at-specific-index-when-index-is-provided-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-Nested-Object-Items-should-create-fields-for-array-with-simple-input-template-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-Nested-Object-Items-should-handle-adding-items-to-array-with-nested-object-structure-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-Nested-Object-Items-should-handle-removing-items-from-array-with-nested-object-structure-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-RemoveArrayItemEvent-should-remove-item-at-specific-index-when-index-is-provided-1.png
  packages/dynamic-forms/src/lib/fields/array/__screenshots__/array-field.component.spec.ts/ArrayFieldComponent-RemoveArrayItemEvent-should-remove-last-item-when-RemoveArrayItemEvent-is-dispatched-without-index-1.png
Due: lint, format

rm redundant tests files
  apps/examples/material/e2e/src/debug-individual.spec.ts
  apps/examples/material/e2e/src/test-homepage.spec.ts
Due: format

further reduce exports
  packages/dynamic-forms-bootstrap/src/lib/fields/button/index.ts
  packages/dynamic-forms-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/index.ts
  packages/dynamic-forms/src/lib/utils/index.ts
Due: lint, format

test: improve test stability with waitForDynamicComponents helper
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format

refactor: reorganize exports and fix page-field type errors
  packages/dynamic-forms/src/lib/definitions/default/page-field.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

rm lodash-es dep
  packages/dynamic-forms/package.json
Due: format

fix: remove mapper exports from UI library public APIs
  packages/dynamic-forms-bootstrap/src/lib/fields/button/index.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/index.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/index.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/index.ts
  packages/dynamic-forms-material/src/lib/fields/index.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  test-output.log
Due: lint, format

refactor: standardize button component re-exports across UI libraries
  packages/dynamic-forms-ionic/src/lib/fields/button/index.ts
Due: lint, format

feat: add number input type coercion for signal forms
  apps/examples/material/e2e/src/age-based-logic-test.spec.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.ts
  packages/dynamic-forms/src/lib/definitions/default/input-field.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.ts
Due: lint, format

feat(dynamic-forms): add configurable submission and button disabled logic
  apps/examples/material/e2e/src/submission-behavior.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/basic-submission.component.ts
  apps/examples/material/src/app/testing/submission-behavior/button-disabled-states.component.ts
  apps/examples/material/src/app/testing/submission-behavior/custom-button-logic.component.ts
  apps/examples/material/src/app/testing/submission-behavior/index.ts
  apps/examples/material/src/app/testing/submission-behavior/next-button-page-validation.component.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior-index.component.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/material/src/app/testing/testing-routes.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.type.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms/src/lib/core/logic/button-logic-resolver.ts
  packages/dynamic-forms/src/lib/core/logic/index.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/submission-config.ts
  packages/dynamic-forms/src/lib/testing/integration/button-logic.integration.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/submission.integration.spec.ts
Due: lint, format

chore: remove test output log file
  test-output.log
Due: none

test: optimize waitForDynamicComponents to 2-pass approach
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format

fix: resolve CI port exhaustion in browser mode
  packages/dynamic-forms/vite.config.ts
Due: lint, format

adjust remaining e2e's
  apps/examples/material/e2e/src/cross-field-validation.spec.ts
  apps/examples/material/e2e/src/demo-scenarios-test.spec.ts
Due: format

fix: enable parallel file execution in browser mode
  packages/dynamic-forms/vite.config.ts
Due: lint, format

refactor: typed input field with dynamic value inference (#56)
  apps/examples/material/e2e/src/age-based-logic-test.spec.ts
  apps/examples/material/e2e/src/cross-field-validation.spec.ts
  apps/examples/material/e2e/src/demo-scenarios-test.spec.ts
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.ts
  packages/dynamic-forms/src/lib/definitions/base/index.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/definitions/default/input-field.ts
  packages/dynamic-forms/src/lib/definitions/default/multi-checkbox-field.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.ts
Due: lint, format

refactor: organize e2e tests into component-specific folders
  apps/examples/material/e2e/src/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/e2e/src/array-fields/array-fields.spec.ts
  apps/examples/material/e2e/src/async-validation/async-validation.spec.ts
  apps/examples/material/e2e/src/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/examples/material/e2e/src/cross-field-validation/conditional-fields.spec.ts
  apps/examples/material/e2e/src/cross-field-validation/cross-field-validation.spec.ts
  apps/examples/material/e2e/src/cross-page-validation/cross-page-validation.spec.ts
  apps/examples/material/e2e/src/debug-validation.spec.ts
  apps/examples/material/e2e/src/demo-scenarios/demo-scenarios-test.spec.ts
  apps/examples/material/e2e/src/error-handling/error-handling.spec.ts
  apps/examples/material/e2e/src/essential-tests/age-based-logic-test.spec.ts
  apps/examples/material/e2e/src/essential-tests/essential-tests.spec.ts
  apps/examples/material/e2e/src/expression-based-logic/expression-based-logic.spec.ts
  apps/examples/material/e2e/src/form-reset-clear/form-reset-clear.spec.ts
  apps/examples/material/e2e/src/material-components/material-components.spec.ts
  apps/examples/material/e2e/src/multi-page-navigation/multi-page-navigation.spec.ts
  apps/examples/material/e2e/src/user-journey-flows/user-journey-flows.spec.ts
  apps/examples/material/e2e/src/user-workflows/user-workflows.spec.ts
Due: format

fix: use rowFieldMapper for row field in nested array tests
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/vite.config.ts
Due: lint, format

fix: use export type for ValueType to satisfy isolatedModules
  packages/dynamic-forms/src/lib/definitions/base/index.ts
  packages/dynamic-forms/src/lib/definitions/index.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

ci: add e2e tests to CI workflows
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  apps/examples/material/e2e/playwright.config.ts
Due: format

refactor: co-locate e2e specs with their components
  apps/examples/material/e2e/playwright.config.ts
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.spec.ts
  apps/examples/material/src/app/testing/async-validation/async-validation.spec.ts
  apps/examples/material/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/examples/material/src/app/testing/cross-field-validation/conditional-fields.spec.ts
  apps/examples/material/src/app/testing/cross-field-validation/cross-field-validation.spec.ts
  apps/examples/material/src/app/testing/cross-page-validation/cross-page-validation.spec.ts
  apps/examples/material/src/app/testing/demo-scenarios/demo-scenarios-test.spec.ts
  apps/examples/material/src/app/testing/error-handling/error-handling.spec.ts
  apps/examples/material/src/app/testing/essential-tests/age-based-logic-test.spec.ts
  apps/examples/material/src/app/testing/essential-tests/essential-tests.spec.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.spec.ts
  apps/examples/material/src/app/testing/form-reset-clear/form-reset-clear.spec.ts
  apps/examples/material/src/app/testing/material-components/material-components.spec.ts
  apps/examples/material/src/app/testing/multi-page-navigation/multi-page-navigation.spec.ts
  apps/examples/material/src/app/testing/user-journey-flows/user-journey-flows.spec.ts
  apps/examples/material/src/app/testing/user-workflows/user-workflows.spec.ts
Due: format

refactor: remove e2e folder, move playwright config to app root
  apps/examples/material/e2e/tsconfig.json
  apps/examples/material/playwright.config.ts
  apps/examples/material/project.json
Due: format

ci: fix playwright installation and add browser caching
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

ci: run e2e tests last after other checks pass
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

refactor: organize e2e tests with their components (#61)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  apps/examples/material/e2e/src/debug-validation.spec.ts
  apps/examples/material/e2e/tsconfig.json
  apps/examples/material/playwright.config.ts
  apps/examples/material/project.json
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.spec.ts
  apps/examples/material/src/app/testing/async-validation/async-validation.spec.ts
  apps/examples/material/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/examples/material/src/app/testing/cross-field-validation/conditional-fields.spec.ts
  apps/examples/material/src/app/testing/cross-field-validation/cross-field-validation.spec.ts
  apps/examples/material/src/app/testing/cross-page-validation/cross-page-validation.spec.ts
  apps/examples/material/src/app/testing/demo-scenarios/demo-scenarios-test.spec.ts
  apps/examples/material/src/app/testing/error-handling/error-handling.spec.ts
  apps/examples/material/src/app/testing/essential-tests/age-based-logic-test.spec.ts
  apps/examples/material/src/app/testing/essential-tests/essential-tests.spec.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.spec.ts
  apps/examples/material/src/app/testing/form-reset-clear/form-reset-clear.spec.ts
  apps/examples/material/src/app/testing/material-components/material-components.spec.ts
  apps/examples/material/src/app/testing/multi-page-navigation/multi-page-navigation.spec.ts
  apps/examples/material/src/app/testing/user-journey-flows/user-journey-flows.spec.ts
  apps/examples/material/src/app/testing/user-workflows/user-workflows.spec.ts
Due: format

fix: enable browser mode support with CLI flags workaround
  packages/dynamic-forms/src/test-setup.ts
  packages/dynamic-forms/vite.config.ts
Due: lint, format

switch ionic to zoneless and skip ionic tests which currently makes the script hang
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.spec.ts
  packages/dynamic-forms-ionic/src/test-setup.ts
Due: lint, format

chore: upgrade vitest to 4.0.14 to fix VITEST_BROWSER bug
  package.json
  pnpm-lock.yaml
Due: format

fix: enable parallel file execution in browser mode
  packages/dynamic-forms/project.json
  packages/dynamic-forms/src/test-setup.ts
Due: lint, format
