Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

ci(config): upgrade npm to 11.5.1+ for OIDC trusted publisher support
  .github/workflows/release.yml
Due: none

chore(release): update root package.json to 0.6.0 and fix release skill
  .claude/skills/release.md
  package.json
Due: format

chore: add stability assessment tracking files
  .claude/stability/areas-checked.md
  .claude/stability/issues-found.md
Due: format

chore: update stability assessment with all prior findings (B1-B35, P1-P6)
  .claude/stability/areas-checked.md
  .claude/stability/issues-found.md
Due: format

chore(core): expand stability assessment with 28 area files and full bug registry
  .claude/stability/areas-checked.md
  .claude/stability/areas/01-state-lifecycle.md
  .claude/stability/areas/02-field-resolution.md
  .claude/stability/areas/03-registry.md
  .claude/stability/areas/04-schema-building.md
  .claude/stability/areas/05-derivations.md
  .claude/stability/areas/06-property-derivations.md
  .claude/stability/areas/07-conditions-expressions.md
  .claude/stability/areas/08-logic.md
  .claude/stability/areas/09-validation.md
  .claude/stability/areas/10-schema-validation.md
  .claude/stability/areas/11-containers-array.md
  .claude/stability/areas/12-containers-page.md
  .claude/stability/areas/13-containers-group-row.md
  .claude/stability/areas/14-events.md
  .claude/stability/areas/15-http.md
  .claude/stability/areas/16-value-output.md
  .claude/stability/areas/17-path-utils.md
  .claude/stability/areas/18-initialization.md
  .claude/stability/areas/19-di-providers.md
  .claude/stability/areas/20-defaults-mappers-helpers.md
  .claude/stability/areas/21-ssr.md
  .claude/stability/areas/22-performance.md
  .claude/stability/areas/23-accessibility.md
  .claude/stability/areas/24-ui-material.md
  .claude/stability/areas/25-ui-bootstrap.md
  .claude/stability/areas/26-ui-primeng.md
  .claude/stability/areas/27-ui-ionic.md
  .claude/stability/areas/28-mcp-server.md
  .claude/stability/issues-found.md
Due: format

chore(core): complete stability assessment — 72 bugs across 28 areas (4 sessions)
  .claude/stability/areas-checked.md
  .claude/stability/issues-found.md
Due: format

feat(dynamic-forms): add EventDispatcher injectable for external event dispatch
  apps/examples/material/src/app/testing/array-fields/array-event-dispatcher.component.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.routes.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.spec.ts
  packages/dynamic-forms/src/lib/dispatching/event-dispatcher.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

fix(dynamic-forms): use example prefix on array-event-dispatcher selector
  apps/examples/material/src/app/testing/array-fields/array-event-dispatcher.component.ts
Due: format

docs(dynamic-forms): clarify EventBus vs EventDispatcher usage context
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

docs(docs): document EventDispatcher vs EventBus usage
  apps/docs/src/docs/advanced/events/index.md
  apps/docs/src/docs/advanced/events/ng-doc.page.ts
Due: format

chore(mcp): regenerate registry after events docs update
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

refactor(dynamic-forms): move EventDispatcher into events folder and fix docs
  apps/docs/src/docs/prebuilt/form-arrays/complete/index.md
  apps/docs/src/docs/prebuilt/form-arrays/simplified/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/events/event-dispatcher.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

chore(mcp): regenerate registry
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

fix(dynamic-forms): reject malformed numbers like 1.2.3 in expression tokenizer
  packages/dynamic-forms/src/lib/core/expressions/parser/tokenizer.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/tokenizer.ts
Due: lint, format

fix(bootstrap): use explicitEffect for checkbox indeterminate sync
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
Due: lint, format

fix(material): add aria-required to slider and correct FieldTree type to number
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
Due: lint, format

fix(dynamic-forms): throw parse error on unconsumed trailing tokens in expressions
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.ts
Due: lint, format

fix(dynamic-forms): throw DynamicFormError when HttpClient missing in HTTP condition
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
Due: lint, format

fix(dynamic-forms): fix stale dependency and suppress spurious group field init warning
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
Due: lint, format

fix(dynamic-forms): use strict boolean check in validWhen expression evaluation
  packages/dynamic-forms/src/lib/core/http/http-response-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/http/http-response-evaluator.ts
Due: lint, format

fix(dynamic-forms): suppress false-positive property override warnings for dynamic keys
  packages/dynamic-forms/src/lib/core/property-derivation/apply-property-overrides.ts
Due: lint, format

fix(mcp): correct operator names, document HTTP conditions and async custom functions
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
Due: lint, format

fix(bootstrap): add readonly DOM sync and floating label hint to textarea
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
Due: lint, format

fix(dynamic-forms): fix page navigation validation and hidden page handling
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
Due: lint, format

chore(core): mark 24 bugs as fixed (PRs #268-#272)
  .claude/stability/areas-checked.md
Due: format

perf(dynamic-forms): avoid running change detection on submit redundantly
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

refactor(dynamic-forms): address code review feedback on EventDispatcher
  apps/examples/material/src/app/testing/array-fields/array-event-dispatcher.component.ts
  packages/dynamic-forms/src/lib/events/event-dispatcher.spec.ts
  packages/dynamic-forms/src/lib/events/event.bus.ts
Due: lint, format

docs(docs): fix FormConfig annotation to use as const satisfies
  apps/docs/src/docs/advanced/events/index.md
Due: format

docs(docs): document DynamicForm output bindings for observing events
  apps/docs/src/docs/advanced/events/index.md
Due: format

refactor(dynamic-forms): use undefined instead of null for disconnected bus state
  packages/dynamic-forms/src/lib/events/event-dispatcher.ts
Due: lint, format

feat(dynamic-forms): add EventDispatcher injectable for external event dispatch (#267)
  apps/docs/src/docs/advanced/events/index.md
  apps/docs/src/docs/advanced/events/ng-doc.page.ts
  apps/docs/src/docs/prebuilt/form-arrays/complete/index.md
  apps/docs/src/docs/prebuilt/form-arrays/simplified/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
  apps/examples/material/src/app/testing/array-fields/array-event-dispatcher.component.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.routes.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.spec.ts
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/events/event-dispatcher.spec.ts
  packages/dynamic-forms/src/lib/events/event-dispatcher.ts
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

fix(bootstrap): add readonly DOM sync and floating label hint to textarea (#270)
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
Due: lint, format

docs(mcp): add openapi-generator planning document
  packages/openapi-generator/PLAN.md
Due: format

docs(mcp): add field scope feature for UI-specific alternatives
  packages/openapi-generator/PLAN.md
Due: format

refactor(dynamic-forms): address code review feedback
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/property-derivation/apply-property-overrides.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
Due: lint, format

fix(dynamic-forms): expression parser correctness and HTTP injection fixes (#268)
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/tokenizer.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/tokenizer.ts
  packages/dynamic-forms/src/lib/core/http/http-response-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/http/http-response-evaluator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/apply-property-overrides.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
Due: lint, format

fix(mcp): correct operator names, document HTTP conditions and async custom functions (#269)
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
Due: lint, format

fix(dynamic-forms): align HTTP condition boolean semantics with validWhen strict check
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/models/http/http-response-mapping.ts
Due: lint, format

fix(dynamic-forms): return NavigationResult instead of throwing in navigateToPage
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
Due: lint, format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
