Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

perf(dynamic-forms): skip inactive form work
  apps/e2e/bootstrap/src/app/testing/performance/direct-entry-benchmark.component.ts
  apps/e2e/bootstrap/src/app/testing/performance/direct-entry-benchmark.spec.ts
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.json
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.spec.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
Due: lint, format

perf(dynamic-forms): lazy-load form schema compilation
  PERFORMANCE_HANDOVER.md
  apps/e2e/bootstrap/src/app/testing/performance/direct-entry-benchmark.component.ts
  apps/e2e/bootstrap/src/app/testing/performance/direct-entry-benchmark.spec.ts
  apps/e2e/bootstrap/src/main.performance.ts
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.json
  internal/examples-shared-testing/src/lib/perf/direct-entry-config.ts
  internal/examples-shared-testing/src/lib/perf/index.ts
  packages/dynamic-forms/src/lib/core/form-schema.service.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

perf(dynamic-forms): stop re-deriving the entity from its own outward sync
  packages/dynamic-forms/internal/src/lib/utils/object-utils.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

test(examples): add formly head-to-head runtime benchmark
  apps/e2e/bootstrap/project.json
  apps/e2e/bootstrap/src/app/testing/performance/formly-benchmark.component.ts
  apps/e2e/bootstrap/src/index.formly.html
  apps/e2e/bootstrap/src/main.formly.ts
  internal/examples-shared-testing/src/lib/perf/formly-direct-entry-config.ts
  internal/examples-shared-testing/src/lib/perf/index.ts
  package.json
  pnpm-lock.yaml
  scripts/formly-head-to-head.mjs
  scripts/keystroke-profile.mjs
Due: format

perf(dynamic-forms): scope the derivation change diff to declared dependencies
  packages/dynamic-forms/internal/src/lib/utils/object-utils.ts
  packages/dynamic-forms/src/lib/core/derivation/pipeline-setup-utils.ts
Due: lint, format

feat(dynamic-forms): add opt-in page-scoped validation schemas
  packages/dynamic-forms/internal/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/page-utils/collect-leaf-field-keys.ts
Due: lint, format

test(examples): add raw-framework, footprint and Lighthouse benchmarks
  apps/e2e/bootstrap/project.json
  apps/e2e/bootstrap/src/app/testing/performance/direct-entry-benchmark.component.ts
  apps/e2e/bootstrap/src/app/testing/performance/formly-benchmark.component.ts
  apps/e2e/bootstrap/src/app/testing/performance/raw-forms-benchmark.component.ts
  apps/e2e/bootstrap/src/index.raw.html
  apps/e2e/bootstrap/src/main.raw.ts
  internal/examples-shared-testing/src/lib/perf/formly-direct-entry-config.ts
  internal/examples-shared-testing/src/lib/perf/index.ts
  scripts/formly-head-to-head.mjs
  scripts/forms-bench-footprint.mjs
  scripts/keystroke-profile.mjs
  scripts/lighthouse-head-to-head.mjs
  scripts/static-brotli-server.mjs
Due: format

fix(dynamic-forms): keep the active page across a page-scoped schema reload
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

fix(examples): use the bs-example selector prefix on benchmark components
  apps/e2e/bootstrap/src/app/testing/performance/formly-benchmark.component.ts
  apps/e2e/bootstrap/src/app/testing/performance/raw-forms-benchmark.component.ts
  apps/e2e/bootstrap/src/index.formly.html
  apps/e2e/bootstrap/src/index.raw.html
Due: format

perf(dynamic-forms): scope the form model to mounted pages under pageScope
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/state/form-state-machine.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

test(examples): make benchmark server ports configurable
  scripts/formly-head-to-head.mjs
  scripts/forms-bench-footprint.mjs
  scripts/lighthouse-head-to-head.mjs
Due: none

fix(dynamic-forms): keep the last good schema across a page-scoped reload
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

fix(dynamic-forms): stop structured conditions subscribing to the whole form
  packages/dynamic-forms/internal/src/lib/core/registry/field-value-proxy.ts
  packages/dynamic-forms/internal/src/lib/core/registry/reactive-logic-fanout.spec.ts
Due: lint, format

fix(examples): key the benchmark server cache on content, not path
  scripts/static-brotli-server.mjs
Due: none

perf(dynamic-forms): detach hidden fields instead of destroying them
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
Due: lint, format

test(examples): add a conditional-visibility toggle fixture
  apps/e2e/bootstrap/src/app/testing/performance/direct-entry-benchmark.component.ts
  internal/examples-shared-testing/src/lib/perf/index.ts
  internal/examples-shared-testing/src/lib/perf/toggle-config.ts
Due: format

docs(dynamic-forms): document the pageScope trade-off and refresh the api report
  etc/dynamic-forms-internal.api.md
  etc/dynamic-forms.api.md
  packages/dynamic-forms/internal/src/lib/models/form-config.ts
  packages/dynamic-forms/internal/src/lib/utils/object-utils.ts
Due: lint, format

chore(mcp): regenerate the agent skill from the current registries
  skills/dynamic-forms/references/rules.md
Due: format

build(docs): consume every adapter from dist and map the new secondary entry points
  apps/docs/tsconfig.json
Due: format

revert(examples): drop the benchmark apps and the formly comparison harness
  PERFORMANCE_HANDOVER.md
  apps/e2e/bootstrap/project.json
  apps/e2e/bootstrap/src/app/app.routes.ts
  apps/e2e/bootstrap/src/app/testing/performance/direct-entry-benchmark.component.ts
  apps/e2e/bootstrap/src/app/testing/performance/direct-entry-benchmark.spec.ts
  apps/e2e/bootstrap/src/app/testing/performance/formly-benchmark.component.ts
  apps/e2e/bootstrap/src/app/testing/performance/raw-forms-benchmark.component.ts
  apps/e2e/bootstrap/src/index.formly.html
  apps/e2e/bootstrap/src/index.performance.html
  apps/e2e/bootstrap/src/index.raw.html
  apps/e2e/bootstrap/src/main.formly.ts
  apps/e2e/bootstrap/src/main.performance.ts
  apps/e2e/bootstrap/src/main.raw.ts
  apps/e2e/bootstrap/src/styles.performance.scss
  internal/examples-shared-testing/src/lib/perf/direct-entry-config.ts
  internal/examples-shared-testing/src/lib/perf/formly-direct-entry-config.ts
  internal/examples-shared-testing/src/lib/perf/index.ts
  internal/examples-shared-testing/src/lib/perf/toggle-config.ts
  package.json
  pnpm-lock.yaml
  scripts/formly-head-to-head.mjs
  scripts/forms-bench-footprint.mjs
  scripts/keystroke-profile.mjs
  scripts/lighthouse-head-to-head.mjs
  scripts/static-brotli-server.mjs
Due: format

fix(dynamic-forms): keep adapter field and addon components on the public api
  etc/dynamic-forms-bootstrap.api.md
  etc/dynamic-forms-ionic.api.md
  etc/dynamic-forms-material.api.md
  etc/dynamic-forms-primeng.api.md
  packages/dynamic-forms-bootstrap/shared/addons.ts
  packages/dynamic-forms-bootstrap/src/index.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-ionic/shared/addons.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-material/shared/addons.ts
  packages/dynamic-forms-material/src/index.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
Due: lint, format

build(docs): resolve adapter entry points from dist and gate the shared api
  apps/docs/vite.config.ts
  etc/dynamic-forms-bootstrap-shared.api.md
  etc/dynamic-forms-ionic-shared.api.md
  etc/dynamic-forms-material-shared.api.md
  etc/dynamic-forms-primeng-shared.api.md
  packages/dynamic-forms-bootstrap/api-extractor.shared.json
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/api-extractor.shared.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/api-extractor.shared.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/api-extractor.shared.json
  packages/dynamic-forms-primeng/project.json
Due: format

fix(dynamic-forms): give the active page index a single owner
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-index-ownership.spec.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

fix(dynamic-forms): stop the value filter fast path leaking excluded keys
  packages/dynamic-forms/internal/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.spec.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
Due: lint, format

fix(dynamic-forms): announce active-page init once per visit and document load-window validity
  packages/dynamic-forms/src/lib/core/derivation/pipeline-setup-utils.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.spec.ts
Due: lint, format

fix(dynamic-forms): stop the entity re-deriving from its own outward sync
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

docs(dynamic-forms): mark pageScope and activePageInitialized experimental
  packages/dynamic-forms/internal/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

feat(material): add prefix/suffix addon support to select, textarea, and datepicker
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker-with-addons.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select-with-addons.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea-with-addons.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/styles/_form-field.scss
Due: lint, format

chore(material): update api baseline
  etc/dynamic-forms-material.api.md
Due: format

fix(dynamic-forms): prevent lazy rendering regressions
  etc/dynamic-forms-internal.api.md
  etc/dynamic-forms.api.md
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/internal/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-index-ownership.spec.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.spec.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/field-windowing.integration.spec.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-utils.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.spec.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
Due: lint, format

docs(forms): refresh generated initialization rules
  skills/dynamic-forms/references/rules.md
Due: format

fix(dynamic-forms): harden hidden field initialization
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.json
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.hidden-warning.spec.ts
  packages/dynamic-forms/src/lib/field-windowing.integration.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-utils.spec.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-utils.ts
Due: lint, format

fix(dynamic-forms): preserve lazy rendering contracts
  apps/docs/public/content/recipes/events.md
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.json
  packages/dynamic-forms-bootstrap/lazy/addon-button/index.ts
  packages/dynamic-forms-bootstrap/lazy/addon-icon/index.ts
  packages/dynamic-forms-ionic/lazy/addon-button/index.ts
  packages/dynamic-forms-ionic/lazy/addon-icon/index.ts
  packages/dynamic-forms-material/lazy/addon-button/index.ts
  packages/dynamic-forms-material/lazy/addon-icon/index.ts
  packages/dynamic-forms-primeng/lazy/addon-button/index.ts
  packages/dynamic-forms-primeng/lazy/addon-icon/index.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.spec.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
  scripts/check-adapter-lazy-entries.mjs
  tsconfig.base.json
  tsconfig.typecheck-base.json
Due: lint, format

fix(dynamic-forms): reset the active page index without an effect
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

fix(dynamic-forms): stabilize gated page reset
  packages/dynamic-forms/src/lib/core/page-orchestrator/config-swap-page-reset.spec.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

fix(dynamic-forms): make page ownership atomic
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

fix(dynamic-forms): gate page reset on current form setup
  packages/dynamic-forms/src/lib/core/page-orchestrator/config-swap-page-reset.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

ci(dynamic-forms): isolate memory-heavy test target
  packages/dynamic-forms/project.json
Due: format

fix(dynamic-forms): correct hidden field lifecycle readiness
  apps/docs/public/content/recipes/events.md
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-utils.spec.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-utils.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
Due: lint, format
