Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

ci(config): add api-extractor public surface guard (#472)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .prettierignore
  config/api-extractor.base.json
  etc/README.md
  etc/dynamic-form-mcp.api.md
  etc/dynamic-forms-bootstrap.api.md
  etc/dynamic-forms-integration.api.md
  etc/dynamic-forms-ionic.api.md
  etc/dynamic-forms-material.api.md
  etc/dynamic-forms-primeng.api.md
  etc/dynamic-forms.api.md
  package.json
  packages/dynamic-form-mcp/api-extractor.json
  packages/dynamic-form-mcp/project.json
  packages/dynamic-forms-bootstrap/api-extractor.json
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/api-extractor.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/api-extractor.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/api-extractor.json
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms/api-extractor.integration.json
  packages/dynamic-forms/api-extractor.json
  packages/dynamic-forms/internal/src/public_api.ts
  packages/dynamic-forms/project.json
  pnpm-lock.yaml
Due: lint, format

refactor(dynamic-forms)!: remove createField and formConfig helpers
  etc/dynamic-forms.api.md
  packages/dynamic-forms/src/lib/helpers/create-field.spec.ts
  packages/dynamic-forms/src/lib/helpers/create-field.ts
  packages/dynamic-forms/src/lib/helpers/form-config.ts
  packages/dynamic-forms/src/lib/helpers/index.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

feat(dynamic-forms): export HiddenField type and isHiddenField guard
  etc/dynamic-forms.api.md
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

docs(dynamic-forms): add JSDoc to public event classes and DynamicForm
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/events/constants/next-page.event.ts
  packages/dynamic-forms/src/lib/events/constants/page-change.event.ts
  packages/dynamic-forms/src/lib/events/constants/previous-page.event.ts
  packages/dynamic-forms/src/lib/events/constants/submit.event.ts
Due: lint, format

refactor(dynamic-forms): drop deprecated InputTypeToValueType and tidy adapter testing exports
  etc/dynamic-forms-integration.api.md
  packages/dynamic-forms-ionic/src/lib/testing/index.ts
  packages/dynamic-forms-material/src/lib/testing/index.ts
  packages/dynamic-forms/integration/src/definitions/index.ts
  packages/dynamic-forms/integration/src/definitions/input-field.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

docs(dynamic-forms): surface /schema as a first-class public entrypoint
  apps/docs/plugins/vite-plugin-api-docs.ts
  etc/dynamic-forms-schema.api.md
  packages/dynamic-forms/README.md
  packages/dynamic-forms/api-extractor.schema.json
  packages/dynamic-forms/project.json
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

docs(dynamic-forms): regenerate API report after event/component JSDoc
  etc/dynamic-forms.api.md
Due: format

docs(dynamic-forms): correct API report union ordering from clean build
  etc/dynamic-forms.api.md
Due: format

refactor(dynamic-forms)!: remove createField and formConfig helpers (#474)
  etc/dynamic-forms.api.md
  packages/dynamic-forms/src/lib/helpers/create-field.spec.ts
  packages/dynamic-forms/src/lib/helpers/create-field.ts
  packages/dynamic-forms/src/lib/helpers/form-config.ts
  packages/dynamic-forms/src/lib/helpers/index.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

feat(dynamic-forms): export HiddenField type and isHiddenField guard (#475)
  etc/dynamic-forms.api.md
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

docs(dynamic-forms): add JSDoc to public event classes and DynamicForm (#476)
  etc/dynamic-forms.api.md
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/events/constants/next-page.event.ts
  packages/dynamic-forms/src/lib/events/constants/page-change.event.ts
  packages/dynamic-forms/src/lib/events/constants/previous-page.event.ts
  packages/dynamic-forms/src/lib/events/constants/submit.event.ts
Due: lint, format

docs(dynamic-forms): surface /schema as a first-class public entrypoint (#478)
  apps/docs/plugins/vite-plugin-api-docs.ts
  etc/dynamic-forms-schema.api.md
  packages/dynamic-forms/README.md
  packages/dynamic-forms/api-extractor.schema.json
  packages/dynamic-forms/project.json
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

fix(dynamic-forms): preserve required-ness and typo-safety in inferred form model
  etc/dynamic-forms.api.md
  packages/dynamic-forms/internal/src/lib/models/types/form-value-inference.spec.ts
  packages/dynamic-forms/internal/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.type-test.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/submission-handler/submission-handler.ts
Due: lint, format

docs(docs): add /integration to the API-reference generator
  apps/docs/plugins/vite-plugin-api-docs.ts
Due: format

build(deps): drop Angular 21 support
  CLAUDE.md
  README.md
  internal/examples-bootstrap/package.json
  internal/examples-ionic/package.json
  internal/examples-material/package.json
  internal/examples-primeng/package.json
  internal/examples-shared-ui/package.json
  internal/sandbox-adapter-bootstrap/package.json
  internal/sandbox-adapter-ionic/package.json
  internal/sandbox-adapter-material/package.json
  internal/sandbox-adapter-primeng/package.json
  internal/sandbox-harness/package.json
  internal/styling/package.json
Due: format

build: align Node engines with Angular 22 support matrix
  internal/dynamic-forms-zod/package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

chore(config): remove dead dynamic-forms-zod release exclusion
  nx.json
Due: format

chore(release): correct release config, checklist, and branch script
  .github/RELEASE_CHECKLIST.md
  nx.json
  scripts/create-release-branch.sh
Due: format

ci: derive publishable-package list from Nx and gate openapi-generator
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

ci: harden workflow permissions and pin actions
  .github/actions/setup-node-restore/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

build(dynamic-forms): generate internal public_api.ts during build
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  packages/dynamic-forms/project.json
Due: format

ci: extract reusable build/test workflow shared by ci and pr-check
  .github/workflows/_build-test.yml
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

ci: collapse Vercel deploy workflows into a reusable workflow
  .github/workflows/_vercel-deploy.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-vercel.yml
Due: none

ci: skip MCP build on CI and keep release-branch CI runs
  .github/workflows/ci.yml
  scripts/postinstall.sh
Due: none

ci: make publishable-package resolution robust to Nx plugin output
  .github/workflows/_build-test.yml
Due: none

refactor(dynamic-forms): clarify InferFormModel semantics and submitted exclusion edge
  packages/dynamic-forms/internal/src/lib/models/types/form-value-inference.spec.ts
  packages/dynamic-forms/internal/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

docs(docs): add /integration to the API-reference generator (#481)
  apps/docs/plugins/vite-plugin-api-docs.ts
Due: format

ci: address review feedback on the reusable workflows
  .github/workflows/_build-test.yml
  .github/workflows/_vercel-deploy.yml
Due: none

docs: condense the README compatibility matrix
  README.md
Due: format

fix(dynamic-forms): infer nested container values under `as const` and enforce inference type-tests
  packages/dynamic-forms/internal/src/lib/models/types/form-value-inference.spec.ts
  packages/dynamic-forms/internal/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/project.json
  packages/dynamic-forms/src/lib/dynamic-form.component.type-test.ts
  packages/dynamic-forms/src/lib/form-value-inference.test-registry.type-test.ts
  packages/dynamic-forms/src/lib/form-value-inference.type-test.ts
  packages/dynamic-forms/tsconfig.typecheck-inference.json
  packages/dynamic-forms/tsconfig.typecheck.json
  packages/dynamic-forms/vite.config.typecheck-inference.ts
  packages/dynamic-forms/vite.config.typecheck.ts
Due: lint, format

refactor(dynamic-forms): drop deprecated InputTypeToValueType and tidy adapter testing exports (#477)
  etc/dynamic-forms-integration.api.md
  packages/dynamic-forms-ionic/src/lib/testing/index.ts
  packages/dynamic-forms-material/src/lib/testing/index.ts
  packages/dynamic-forms/integration/src/definitions/index.ts
  packages/dynamic-forms/integration/src/definitions/input-field.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

test(dynamic-forms): add large/deep config coverage to inference type-tests
  packages/dynamic-forms/src/lib/form-value-inference.type-test.ts
Due: lint, format

fix(openapi-generator): extract multipart and urlencoded request body schemas
  apps/docs/public/content/openapi-generator.md
  packages/openapi-generator/README.md
  packages/openapi-generator/src/__tests__/integration/__fixtures__/media-service.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/multipart-upload.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/parser/endpoint-extractor.spec.ts
  packages/openapi-generator/src/parser/endpoint-extractor.ts
Due: lint, format

ci: restore full-mode strictness in the reusable workflow
  .github/workflows/_build-test.yml
Due: none

fix(dynamic-forms): preserve required-ness and typo-safety in inferred form model (#480)
  etc/dynamic-forms.api.md
  packages/dynamic-forms/internal/src/lib/models/types/form-value-inference.spec.ts
  packages/dynamic-forms/internal/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/project.json
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.type-test.ts
  packages/dynamic-forms/src/lib/form-value-inference.test-registry.type-test.ts
  packages/dynamic-forms/src/lib/form-value-inference.type-test.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/submission-handler/submission-handler.ts
  packages/dynamic-forms/tsconfig.typecheck-inference.json
  packages/dynamic-forms/tsconfig.typecheck.json
  packages/dynamic-forms/vite.config.typecheck-inference.ts
  packages/dynamic-forms/vite.config.typecheck.ts
Due: lint, format

fix(openapi-generator): omit skipped binary properties from generated types
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/utils/openapi-utils.ts
Due: lint, format

test(dynamic-forms): enforce internal and integration definition type-tests in CI
  packages/dynamic-forms/integration/src/definitions/datepicker-field.type-test.ts
  packages/dynamic-forms/integration/src/definitions/input-field.type-test.ts
  packages/dynamic-forms/integration/src/definitions/select-field.type-test.ts
  packages/dynamic-forms/project.json
  packages/dynamic-forms/tsconfig.typecheck-definitions.json
  packages/dynamic-forms/vite.config.typecheck-definitions.ts
Due: lint, format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
