Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "packages/**/*.{ts,js}"
      run: pnpm eslint {staged_files} --fix
    format:
      glob: "*.{ts,js,json,md,html,scss,css}"
      run: pnpm prettier --write {staged_files}

commit-msg:
  commands:
    commitlint:
      run: echo "Commit message format validated"

test: add debug logging capability to DOM stability checker
  packages/dynamic-form-bootstrap/src/lib/testing/wait-for-df.ts
Due: lint, format

test: add comprehensive tests for createResolvedErrorsSignal with defaultValidationMessages
  packages/dynamic-form/src/lib/utils/create-resolved-errors-signal.spec.ts
Due: lint, format

fix: remove unused computed import from test file
  packages/dynamic-form/src/lib/utils/create-resolved-errors-signal.spec.ts
Due: lint, format

feat(validation): Complete custom validator implementation
  packages/dynamic-form/README.md
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/models/form-config.ts
  packages/dynamic-form/src/lib/testing/integration/custom-validators.integration.spec.ts
Due: lint, format

docs: document root cause of skipped test failures
  packages/dynamic-form-bootstrap/src/lib/testing/wait-for-df.ts
Due: lint, format

docs: enhance i18n examples to show defaultValidationMessages usage
  apps/docs/src/docs/core/i18n/index.md
Due: format

fix(validation): Enforce message configuration at field/form level
  packages/dynamic-form/README.md
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
  packages/dynamic-form/src/lib/core/validation/validator-types.ts
Due: lint, format

chore: Add e2e test artifacts to .gitignore
  .gitignore
Due: none

fix: remove broken hasLoadingComments check from all UI libraries
  packages/dynamic-form-ionic/src/lib/testing/wait-for-df.ts
  packages/dynamic-form-material/src/lib/testing/wait-for-df.ts
  packages/dynamic-form-primeng/src/lib/testing/wait-for-df.ts
Due: lint, format

docs: remove parameter interpolation from i18n translation examples
  apps/docs/src/docs/core/i18n/index.md
Due: format

fix(validation): Enforce strict message configuration policy
  packages/dynamic-form/README.md
  packages/dynamic-form/src/lib/core/validation/validator-types.ts
  packages/dynamic-form/src/lib/utils/create-resolved-errors-signal.ts
Due: lint, format

docs(validation): Add comprehensive custom validators documentation
  apps/docs/src/docs/core/validation/custom-validators.md
Due: format

fix: log warning and hide error when no validation message is provided
  apps/docs/src/docs/core/i18n/index.md
  packages/dynamic-form/src/lib/utils/create-resolved-errors-signal.spec.ts
  packages/dynamic-form/src/lib/utils/create-resolved-errors-signal.ts
Due: lint, format

test: unskip all 89 previously failing tests after <!--container--> fix
  packages/dynamic-form-bootstrap/src/lib/fields/datepicker/bs-datepicker.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/input/bs-input.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/radio/bs-radio.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/toggle/bs-toggle.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/checkbox/ionic-checkbox.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/datepicker/ionic-datepicker.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/input/ionic-input.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/radio/ionic-radio.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/select/ionic-select.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/textarea/ionic-textarea.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/toggle/ionic-toggle.spec.ts
  packages/dynamic-form-material/src/lib/fields/input/mat-input.spec.ts
  packages/dynamic-form-material/src/lib/fields/slider/mat-slider.spec.ts
  packages/dynamic-form-material/src/lib/fields/textarea/mat-textarea.spec.ts
  packages/dynamic-form-material/src/lib/fields/toggle/mat-toggle.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/datepicker/prime-datepicker.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/select/prime-select.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/textarea/prime-textarea.spec.ts
Due: lint, format

fix(e2e): Fix Playwright browser crashes in headless mode
  apps/demo/material/e2e/playwright.config.ts
  apps/demo/material/e2e/src/debug-test.spec.ts
  docs/e2e-audit/E2E-TEST-AUDIT-REPORT.md
Due: format

docs(e2e): Add comprehensive fixes and recommendations document
  docs/e2e-audit/FIXES-AND-RECOMMENDATIONS.md
Due: format

feat: pilot implementation of test simplification methodology
  packages/dynamic-form-material/src/lib/fields/input/mat-input-refactored.spec.ts
  packages/dynamic-form-material/src/lib/fields/input/mat-input-with-builders.spec.ts
  packages/dynamic-form-material/src/lib/testing/minimal-test-builders.ts
Due: lint, format

fix: resolve linting warnings in minimal-test-builders
  packages/dynamic-form-material/src/lib/testing/minimal-test-builders.ts
Due: lint, format

fix: Improve e2e test reliability and fix application bugs
  apps/demo/material/e2e/playwright.config.ts
  apps/demo/material/e2e/src/age-based-logic-test.spec.ts
  apps/demo/material/e2e/src/comprehensive-field-tests.spec.ts
  apps/demo/material/e2e/src/cross-field-validation.spec.ts
  apps/demo/material/e2e/src/cross-page-validation.spec.ts
  apps/demo/material/e2e/src/multi-page-navigation.spec.ts
  apps/demo/material/e2e/src/user-journey-flows.spec.ts
  apps/demo/material/src/app/scenarios/cross-field-validation/configs/dependent-validation-config.ts
Due: format

fix: update md example for login form
  apps/docs/src/docs/examples/login-form/index.md
Due: format

fix: add missing type attribute to mat-input and fix pilot test selectors
  packages/dynamic-form-material/src/lib/fields/input/mat-input-refactored.spec.ts
  packages/dynamic-form-material/src/lib/fields/input/mat-input-with-builders.spec.ts
  packages/dynamic-form-material/src/lib/fields/input/mat-input.component.ts
Due: lint, format

feat(validation): Integrate custom validators with main's documentation structure
  apps/docs/src/docs/core/validation/custom-validators.md
  apps/docs/src/docs/core/validation/ng-doc.page.ts
  packages/dynamic-form/src/lib/models/form-config.ts
Due: lint, format

feat: extend test simplification to textarea component
  packages/dynamic-form-material/src/lib/fields/textarea/mat-textarea-refactored.spec.ts
  packages/dynamic-form-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-form-material/src/lib/testing/minimal-test-builders.ts
Due: lint, format

fix(validation): Update validator factory for Angular Signal Forms API compatibility
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
Due: lint, format

fix(validation): Resolve TypeScript error with FieldContext root property
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
Due: lint, format

Add comprehensive conditional logic showcase example
  apps/docs/src/docs/examples/conditional-logic-showcase/conditional-logic-showcase-iframe-demo.component.ts
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
  apps/docs/src/docs/examples/conditional-logic-showcase/ng-doc.page.ts
  apps/examples/material/src/app/app.routes.ts
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
Due: format

refactor(validation): Replace type assertion with type guard for root() method
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
Due: lint, format

feat: refactor mat-select tests and fix className bug
  packages/dynamic-form-material/src/lib/fields/select/mat-select-refactored.spec.ts
  packages/dynamic-form-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-form-material/src/lib/testing/minimal-test-builders.ts
Due: lint, format

refactor(validation): Use FieldTree type instead of any for root() return type
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
Due: lint, format

feat: refactor mat-multi-checkbox tests with proper types
  packages/dynamic-form-material/src/lib/fields/multi-checkbox/mat-multi-checkbox-refactored.spec.ts
  packages/dynamic-form-material/src/lib/testing/minimal-test-builders.ts
Due: lint, format

Fix: Remove invalid 'title' property from page fields
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
Due: format

refactor(e2e): Replace all waitForTimeout with deterministic waits
  apps/demo/material/e2e/MIGRATION_SUMMARY.md
  apps/demo/material/e2e/migrate-to-deterministic-waits.cjs
  apps/demo/material/e2e/src/age-based-logic-test.spec.ts
  apps/demo/material/e2e/src/conditional-fields-test.spec.ts
  apps/demo/material/e2e/src/cross-page-validation.spec.ts
  apps/demo/material/e2e/src/error-handling.spec.ts
  apps/demo/material/e2e/src/essential-tests.spec.ts
  apps/demo/material/e2e/src/form-orchestration.spec.ts
  apps/demo/material/e2e/src/multi-page-navigation.spec.ts
  apps/demo/material/e2e/src/navigation-edge-cases.spec.ts
  apps/demo/material/e2e/src/user-journey-flows.spec.ts
  apps/demo/material/e2e/src/utils/deterministic-wait-helpers.ts
  apps/demo/material/e2e/src/utils/e2e-form-helpers.ts
  docs/e2e/DETERMINISTIC_WAIT_PATTERNS.md
Due: format

feat: refactor mat-slider tests
  packages/dynamic-form-material/src/lib/fields/slider/mat-slider-refactored.spec.ts
  packages/dynamic-form-material/src/lib/testing/minimal-test-builders.ts
Due: lint, format

feat: add builders for Radio, Checkbox, and Toggle components
  packages/dynamic-form-material/src/lib/testing/minimal-test-builders.ts
Due: lint, format

fix(e2e): Update wait helpers for zoneless Angular
  apps/demo/material/e2e/ZONELESS_ANGULAR.md
  apps/demo/material/e2e/src/utils/deterministic-wait-helpers.ts
  docs/e2e/DETERMINISTIC_WAIT_PATTERNS.md
Due: format

test: Add zoneless Angular wait validation tests
  apps/demo/material/e2e/ZONELESS_VERIFICATION.md
  apps/demo/material/e2e/src/zoneless-validation.spec.ts
Due: format

feat: complete Material library refactoring (Radio, Checkbox, Toggle)
  packages/dynamic-form-material/src/lib/fields/checkbox/mat-checkbox-refactored.spec.ts
  packages/dynamic-form-material/src/lib/fields/radio/mat-radio-refactored.spec.ts
  packages/dynamic-form-material/src/lib/fields/toggle/mat-toggle-refactored.spec.ts
Due: lint, format

refactor(validation): Remove private APIs and simplify to single CustomValidator type
  packages/dynamic-form/src/lib/core/registry/function-registry.service.ts
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
  packages/dynamic-form/src/lib/core/validation/validator-types.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/models/form-config.ts
Due: lint, format

Fix TypeScript errors in conditional logic showcase
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
  package-lock.json
Due: format
