Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

refactor(dynamic-forms): centralize placeholder key construction via PLACEHOLDER_INDEX sentinel
  packages/dynamic-forms/src/lib/core/property-derivation/index.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-override-key.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-override-key.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

docs(dynamic-forms,mcp): add property derivation documentation and MCP support
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/ng-doc.page.ts
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/property-derivation.md
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
Due: lint, format

fix(docs): fix ng-doc tabbed page rendering for derivation docs
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/ng-doc.page.ts
Due: format

docs: rename derivation page title to "Derivation"
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/ng-doc.page.ts
Due: format

docs: rename derivation tab labels to "Values" and "Properties"
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/property-derivation.md
Due: format

docs: change derivation page route to /derivation
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/ng-doc.page.ts
Due: format

docs: update sitemap with new derivation URLs
  apps/docs/public/sitemap.xml
Due: none

test(material): add property derivation e2e tests
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/property-derivation.md
  apps/examples/material/src/app/testing/property-derivation-logic/property-derivation-logic.routes.ts
  apps/examples/material/src/app/testing/property-derivation-logic/property-derivation-logic.spec.ts
  apps/examples/material/src/app/testing/property-derivation-logic/property-derivation-logic.suite.ts
  apps/examples/material/src/app/testing/property-derivation-logic/scenarios/appearance-property.scenario.ts
  apps/examples/material/src/app/testing/property-derivation-logic/scenarios/array-property.scenario.ts
  apps/examples/material/src/app/testing/property-derivation-logic/scenarios/conditional-property.scenario.ts
  apps/examples/material/src/app/testing/property-derivation-logic/scenarios/datepicker-mindate.scenario.ts
  apps/examples/material/src/app/testing/property-derivation-logic/scenarios/expression-property.scenario.ts
  apps/examples/material/src/app/testing/property-derivation-logic/scenarios/function-property.scenario.ts
  apps/examples/material/src/app/testing/shared/test-suite.registry.ts
  apps/examples/material/src/app/testing/testing-routes.ts
Due: format

fix(dynamic-forms): address property derivation PR review remarks
  apps/examples/material/src/app/testing/property-derivation-logic/property-derivation-logic.spec.ts
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/apply-property-overrides.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-types.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
Due: lint, format

refactor(dynamic-forms): remove unnecessary try/catch around inject calls in field-mapper
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

fix(config): use production domain URL for deployment smoke test
  .github/workflows/deploy-vercel.yml
Due: none

fix(config): use production domain URL for deployment smoke test (#233)
  .github/workflows/deploy-vercel.yml
Due: none

chore(release): release v0.5.2
  CHANGELOG.md
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

chore(release): release v0.5.2 (#234)
  CHANGELOG.md
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

style(release): fix changelog formatting
  CHANGELOG.md
Due: format

style(release): fix changelog formatting (#235)
  CHANGELOG.md
Due: format

style(release): fix changelog formatting (#236)
  CHANGELOG.md
Due: format

fix(dynamic-forms): provide PROPERTY_OVERRIDE_STORE in array field tests
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
Due: lint, format

test(dynamic-forms): update LogicConfig type test for propertyDerivation
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

fix(dynamic-forms): provide PROPERTY_OVERRIDE_STORE in array field tests (#237)
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

fix(dynamic-forms): fix missing test providers and type test for property derivation (#238)
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

fix(examples): fix flaky datepicker minDate E2E test
  apps/examples/core/src/app/testing/property-derivation-logic/property-derivation-logic.spec.ts
Due: format

feat(dynamic-forms): add 3-tier value exclusion for form submissions
  apps/docs/public/sitemap.xml
  apps/docs/src/docs/advanced/value-exclusion/index.md
  apps/docs/src/docs/advanced/value-exclusion/ng-doc.page.ts
  apps/docs/src/docs/dynamic-behavior/submission/index.md
  apps/docs/src/docs/prebuilt/hidden-fields/index.md
  internal/dynamic-forms-zod/src/lib/schemas/field/field-def.schema.ts
  internal/dynamic-forms-zod/src/lib/schemas/form/form-options.schema.ts
  internal/dynamic-forms-zod/src/lib/schemas/leaves/hidden-field.schema.ts
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms/src/lib/definitions/base/base-checked-field.ts
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/value-exclusion-config.ts
  packages/dynamic-forms/src/lib/providers/features/dynamic-form-feature.ts
  packages/dynamic-forms/src/lib/providers/features/index.ts
  packages/dynamic-forms/src/lib/providers/features/value-exclusion/index.ts
  packages/dynamic-forms/src/lib/providers/features/value-exclusion/value-exclusion.token.ts
  packages/dynamic-forms/src/lib/providers/features/value-exclusion/with-value-exclusion.spec.ts
  packages/dynamic-forms/src/lib/providers/features/value-exclusion/with-value-exclusion.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.spec.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
Due: lint, format

fix(dynamic-forms): update exhaustive type tests and MCP registry
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.type-test.ts
Due: lint, format

fix(dynamic-forms): update core library exhaustive type tests
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/text-field.type-test.ts
Due: lint, format

refactor(dynamic-forms): address code review feedback
  packages/dynamic-forms/src/lib/definitions/base/field-def.type-test.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
Due: lint, format

refactor(dynamic-forms): rename withValueExclusion to withValueExclusionDefaults
  apps/docs/src/docs/advanced/value-exclusion/index.md
  internal/dynamic-forms-zod/src/lib/schemas/form/form-options.schema.ts
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms/src/lib/definitions/base/field-def.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/providers/features/value-exclusion/index.ts
  packages/dynamic-forms/src/lib/providers/features/value-exclusion/value-exclusion.token.ts
  packages/dynamic-forms/src/lib/providers/features/value-exclusion/with-value-exclusion-defaults.spec.ts
  packages/dynamic-forms/src/lib/providers/features/value-exclusion/with-value-exclusion-defaults.ts
Due: lint, format

fix(dynamic-forms): correct JSDoc priority order for value exclusion hierarchy
  packages/dynamic-forms/src/lib/models/value-exclusion-config.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

docs: fix broken documentation links, update sitemap and llms.txt
  README.md
  apps/docs/public/llms.txt
  apps/docs/public/sitemap.xml
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
Due: format

docs: fix broken documentation links, update sitemap and llms.txt (#241)
  README.md
  apps/docs/public/llms.txt
  apps/docs/public/sitemap.xml
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
Due: format

chore: add github sponsors and revolut funding
  .github/FUNDING.yml
Due: none

feat(dynamic-forms): add hidden logic support to container fields (group, row, array)
  internal/dynamic-forms-zod/mcp/src/tools/validate-config.tool.ts
  internal/dynamic-forms-zod/src/lib/schemas/containers/array-field.schema.ts
  internal/dynamic-forms-zod/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-zod/src/lib/schemas/containers/group-field.schema.ts
  internal/dynamic-forms-zod/src/lib/schemas/containers/page-field.schema.ts
  internal/dynamic-forms-zod/src/lib/schemas/containers/row-field.schema.ts
  packages/dynamic-form-mcp/README.md
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
  packages/dynamic-forms/src/lib/definitions/base/container-logic-config.ts
  packages/dynamic-forms/src/lib/definitions/base/index.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.scss
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.scss
  packages/dynamic-forms/src/lib/fields/group/group-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
  packages/dynamic-forms/src/lib/fields/row/row-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/helpers/create-field.spec.ts
  packages/dynamic-forms/src/lib/helpers/create-field.ts
  packages/dynamic-forms/src/lib/mappers/array/array-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/array/array-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/group/group-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/group/group-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.ts
Due: lint, format

docs: add backers section to readme
  README.md
Due: format
