Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

perf(dynamic-forms): keep the appended error wrapper identity-stable
  packages/dynamic-forms/src/lib/utils/resolve-wrappers/resolve-wrappers.spec.ts
  packages/dynamic-forms/src/lib/utils/resolve-wrappers/resolve-wrappers.ts
Due: lint, format

fix(dynamic-forms): correct the error-count claim in docs and the resolver spec types
  apps/docs/public/content/prebuilt/form-arrays/complete.md
  apps/docs/public/content/prebuilt/form-groups.md
  packages/dynamic-forms/src/lib/utils/resolve-wrappers/resolve-wrappers.spec.ts
Due: lint, format

chore(mcp): regenerate the agent skill for the container-validation props
  skills/dynamic-forms/references/field-types.md
Due: format

feat(dynamic-forms): add the type descriptor model and deterministic serialisation
  internal/dynamic-forms-validation/descriptor/descriptor.types.ts
  internal/dynamic-forms-validation/descriptor/serialize.spec.ts
  internal/dynamic-forms-validation/descriptor/serialize.ts
  internal/dynamic-forms-validation/vitest.config.mts
Due: format

test(dynamic-forms): establish ContainerField runtime support across all adapters
  packages/dynamic-forms-bootstrap/src/lib/container-field-support.spec.ts
  packages/dynamic-forms-ionic/src/lib/container-field-support.spec.ts
  packages/dynamic-forms-material/src/lib/container-field-support.spec.ts
  packages/dynamic-forms-primeng/src/lib/container-field-support.spec.ts
Due: lint, format

feat(dynamic-forms): resolve adapter field type registries from a consumer program
  internal/dynamic-forms-validation/descriptor/extract-registry.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-registry.ts
  internal/dynamic-forms-validation/vitest.config.mts
Due: format

fix(dynamic-forms): accept container as a core validation field type
  internal/dynamic-forms-validation/descriptor/golden-corpus.json
  internal/dynamic-forms-validation/descriptor/golden-corpus.spec.ts
  internal/dynamic-forms-validation/material/src/mat-field.schema.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/container-field.spec.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
Due: format

docs(mcp): document container in the field type registry and generated skill
  packages/dynamic-form-mcp/src/registry/field-types.ts
  skills/dynamic-forms/references/field-types.md
Due: lint, format

feat(dynamic-forms): extract field shapes and narrow to the serializable domain
  internal/dynamic-forms-validation/descriptor/extract-shape.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/narrowing.ts
Due: format

fix(dynamic-forms): describe the requested adapter, not whichever one merged first
  internal/dynamic-forms-validation/descriptor/extract-registry.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-registry.ts
Due: format

feat(mcp): split the agent skill along package boundaries
  apps/docs/public/content/ai-integration/skills.md
  packages/dynamic-form-mcp/src/registry/instructions.ts
  scripts/check-version-consistency.ts
  scripts/generate-skills.ts
  scripts/skill-adapters.ts
  skills/dynamic-forms-bootstrap/SKILL.md
  skills/dynamic-forms-bootstrap/references/props.md
  skills/dynamic-forms-ionic/SKILL.md
  skills/dynamic-forms-ionic/references/props.md
  skills/dynamic-forms-material/SKILL.md
  skills/dynamic-forms-material/references/props.md
  skills/dynamic-forms-primeng/SKILL.md
  skills/dynamic-forms-primeng/references/props.md
  skills/dynamic-forms/SKILL.md
  skills/dynamic-forms/references/rules.md
  skills/project.json
  skills/tests/generate-skills.spec.ts
Due: lint, format

feat(dynamic-forms): assemble complete adapter descriptors
  internal/dynamic-forms-validation/descriptor/build-descriptor.spec.ts
  internal/dynamic-forms-validation/descriptor/build-descriptor.ts
  internal/dynamic-forms-validation/descriptor/descriptor.types.ts
  internal/dynamic-forms-validation/descriptor/extract-registry.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/narrowing.ts
Due: format

fix(dynamic-forms): align container validation with what the types declare
  internal/dynamic-forms-validation/src/lib/schemas/containers/container-validation.spec.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  skills/dynamic-forms/references/field-types.md
Due: lint, format

feat(dynamic-forms): split the descriptor into a shared core and per-adapter props
  internal/dynamic-forms-validation/descriptor/build-descriptor.ts
  internal/dynamic-forms-validation/descriptor/descriptor.types.ts
  internal/dynamic-forms-validation/descriptor/split.spec.ts
  internal/dynamic-forms-validation/descriptor/split.ts
Due: format

refactor(dynamic-forms): group unresolved by reason and narrow RegExp and Date
  internal/dynamic-forms-validation/descriptor/build-descriptor.spec.ts
  internal/dynamic-forms-validation/descriptor/build-descriptor.ts
  internal/dynamic-forms-validation/descriptor/descriptor.types.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/narrowing.ts
  internal/dynamic-forms-validation/descriptor/split.spec.ts
  internal/dynamic-forms-validation/descriptor/split.ts
Due: format

test(dynamic-forms): collect specs under descriptor/
  internal/dynamic-forms-validation/vitest.config.mts
Due: none

feat(dynamic-forms): generate descriptors from workspace source
  internal/dynamic-forms-validation/descriptor/descriptor.types.ts
  internal/dynamic-forms-validation/descriptor/extract-registry.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  scripts/generate-descriptors.ts
Due: format

feat(dynamic-forms): commit the derived type descriptors and gate them in CI
  .github/workflows/_build-test.yml
  internal/dynamic-forms-validation/descriptor/descriptor.types.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/generated/bootstrap.json
  internal/dynamic-forms-validation/descriptor/generated/core.json
  internal/dynamic-forms-validation/descriptor/generated/ionic.json
  internal/dynamic-forms-validation/descriptor/generated/material.json
  internal/dynamic-forms-validation/descriptor/generated/primeng.json
  internal/dynamic-forms-validation/project.json
Due: format

feat(dynamic-forms): describe an array item as a field or a list of fields
  internal/dynamic-forms-validation/descriptor/extract-shape.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/generated/core.json
Due: format

feat(dynamic-forms): describe logic, validators and wrapper config shapes
  internal/dynamic-forms-validation/descriptor/build-descriptor.spec.ts
  internal/dynamic-forms-validation/descriptor/build-descriptor.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/generated/core.json
  internal/dynamic-forms-validation/descriptor/generated/ionic.json
  internal/dynamic-forms-validation/descriptor/generated/material.json
  internal/dynamic-forms-validation/descriptor/generated/primeng.json
Due: format

feat(dynamic-forms): record forbidden properties instead of dropping them
  internal/dynamic-forms-validation/descriptor/descriptor.types.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/generated/core.json
Due: format

feat(dynamic-forms): describe conditions, and mixed unions alongside them
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/generated/core.json
Due: format

fix(mcp): correct the Signal Forms claim and lint the adapter skills
  packages/dynamic-form-mcp/src/registry/instructions.ts
  skills/dynamic-forms/references/rules.md
  skills/tests/skill-structure.spec.ts
Due: lint, format

feat(dynamic-forms): compile a Zod schema from the descriptor and run it as an oracle
  internal/dynamic-forms-validation/descriptor/compile-schema.ts
  internal/dynamic-forms-validation/descriptor/differential.spec.ts
Due: format

feat(cli): style the output and show progress while validating
  packages/dynamic-forms-cli/src/cli.spec.ts
  packages/dynamic-forms-cli/src/run-validate.spec.ts
  packages/dynamic-forms-cli/src/run-validate.ts
  packages/dynamic-forms-cli/src/terminal.ts
Due: lint, format

fix(mcp): correct four claims the skills were shipping wrong
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  skills/dynamic-forms/references/field-types.md
  skills/dynamic-forms/references/rules.md
Due: lint, format

fix(dynamic-forms): require a template on the array-add buttons
  internal/dynamic-forms-validation/bootstrap/src/fields/index.ts
  internal/dynamic-forms-validation/ionic/src/fields/index.ts
  internal/dynamic-forms-validation/material/src/fields/mat-button-field.schema.ts
  internal/dynamic-forms-validation/primeng/src/fields/index.ts
  internal/dynamic-forms-validation/src/lib/schemas/field/array-item-template.schema.ts
  internal/dynamic-forms-validation/src/lib/schemas/field/array-item-template.spec.ts
  packages/dynamic-form-mcp/src/tools/array-action-parity.spec.ts
Due: lint, format

feat(cli): discover the project instead of being told where it is
  apps/docs/public/content/ai-integration/skills.md
  etc/dynamic-forms-cli.api.md
  packages/dynamic-forms-cli/README.md
  packages/dynamic-forms-cli/src/cli.spec.ts
  packages/dynamic-forms-cli/src/cli.ts
  packages/dynamic-forms-cli/src/discover-project.spec.ts
  packages/dynamic-forms-cli/src/discover-project.ts
  packages/dynamic-forms-cli/src/run-validate.ts
Due: lint, format

feat(dynamic-forms): give the semantic rules stable identifiers
  internal/dynamic-forms-validation/rules/catalogue.spec.ts
  internal/dynamic-forms-validation/rules/catalogue.ts
  internal/dynamic-forms-validation/vitest.config.mts
  scripts/generate-skills.ts
  skills/dynamic-forms/references/rules.md
Due: format

feat(cli): let a project switch off a named rule
  internal/dynamic-forms-validation/discovery/validate-file.ts
  internal/dynamic-forms-validation/index.ts
  internal/dynamic-forms-validation/rules/disabled-rules.spec.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  packages/dynamic-forms-cli/src/project-rules.spec.ts
  packages/dynamic-forms-cli/src/project-rules.ts
  packages/dynamic-forms-cli/src/run-validate.ts
Due: lint, format

fix(config): stop prettier reformatting generated descriptors
  .prettierignore
  internal/dynamic-forms-validation/descriptor/generated/bootstrap.json
  internal/dynamic-forms-validation/descriptor/generated/core.json
  internal/dynamic-forms-validation/descriptor/generated/ionic.json
  internal/dynamic-forms-validation/descriptor/generated/material.json
  internal/dynamic-forms-validation/descriptor/generated/primeng.json
Due: format

feat(mcp): render adapter skill props from the generated descriptors
  scripts/descriptor-props.ts
  scripts/skill-adapters.ts
  skills/dynamic-forms-bootstrap/references/props.md
  skills/dynamic-forms-ionic/references/props.md
  skills/dynamic-forms-material/references/props.md
  skills/dynamic-forms-primeng/references/props.md
  skills/project.json
Due: format

fix(mcp): add the required template to the prepend and insert examples
  packages/dynamic-form-mcp/src/registry/examples-validate.spec.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  skills/dynamic-forms/references/field-types.md
Due: lint, format

fix(dynamic-forms): let a row hold nested rows and hidden fields
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/row-field.schema.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/row-nesting.spec.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  packages/dynamic-form-mcp/src/registry/allowed-in.spec.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  skills/dynamic-forms/references/field-types.md
Due: lint, format
