Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix

format:
  run: pnpm prettier --write {staged_files}

fix packages
  package.json
  packages/dynamic-forms-bootstrap/src/lib/testing/wait-for-df.ts
  packages/dynamic-forms-ionic/src/lib/testing/wait-for-df.ts
  packages/dynamic-forms-material/src/lib/testing/wait-for-df.ts
  packages/dynamic-forms-primeng/src/lib/testing/wait-for-df.ts
  pnpm-lock.yaml
Due: lint, format

feat: make browser mode the default test environment
  packages/dynamic-forms/project.json
  packages/dynamic-forms/vite.config.ts
Due: lint, format

fix packages
  guides/03-creating-ui-adapter.md
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  pnpm-lock.yaml
Due: format

fix packages
  guides/03-creating-ui-adapter.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

fix: add TestBed.flushEffects() for conditional logic tests
  packages/dynamic-forms/src/lib/testing/integration/logic-transformation.integration.spec.ts
Due: lint, format

fix failing tests in CI
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.spec.ts
Due: lint, format

fix: always install Playwright browsers regardless of cache status
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix: always install Playwright browsers regardless of cache status (#62)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix: pin Playwright versions to prevent CI browser version mismatch
  package.json
  pnpm-lock.yaml
Due: format

refactor: eliminate all barrel imports within dynamic-forms package
  packages/dynamic-forms/eslint.config.mjs
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/custom-function-types.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
  packages/dynamic-forms/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/src/lib/core/registry/schema-registry.service.ts
  packages/dynamic-forms/src/lib/core/schema-application.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory.ts
  packages/dynamic-forms/src/lib/definitions/base/base-checked-field.ts
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.ts
  packages/dynamic-forms/src/lib/definitions/default/button-field.ts
  packages/dynamic-forms/src/lib/definitions/default/checkbox-field.ts
  packages/dynamic-forms/src/lib/definitions/default/datepicker-field.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.ts
  packages/dynamic-forms/src/lib/definitions/default/input-field.ts
  packages/dynamic-forms/src/lib/definitions/default/multi-checkbox-field.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.ts
  packages/dynamic-forms/src/lib/definitions/default/radio-field.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.ts
  packages/dynamic-forms/src/lib/definitions/default/select-field.ts
  packages/dynamic-forms/src/lib/definitions/default/slider-field.ts
  packages/dynamic-forms/src/lib/definitions/default/textarea-field.ts
  packages/dynamic-forms/src/lib/definitions/default/toggle-field.ts
  packages/dynamic-forms/src/lib/events/constants/page-navigation-state-change.event.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/types/form-mode.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

refactor: eliminate all barrel imports within dynamic-forms package
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.spec.ts
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/core/index.ts
  packages/dynamic-forms/src/lib/core/registry/function-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
  packages/dynamic-forms/src/lib/core/schema-transformation.spec.ts
  packages/dynamic-forms/src/lib/core/validation/async-http-validator.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/text/text-field.component.ts
  packages/dynamic-forms/src/lib/mappers/array/array-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/group/group-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/models/field-option.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/models/types/type-guards.ts
  packages/dynamic-forms/src/lib/models/validation-types.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-forms/src/lib/testing/integration/form-mapping.integration.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/signal-forms-adapter-unit.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/signal-forms-integration.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/validator-transformation.integration.spec.ts
  packages/dynamic-forms/src/lib/testing/simple-test-utils.ts
  packages/dynamic-forms/src/lib/testing/test-types.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.ts
  packages/dynamic-forms/src/lib/utils/grid-classes/grid-classes.ts
Due: lint, format

docs: add ng-forge development guidelines to CLAUDE.md
  CLAUDE.md
Due: format

docs: add signal-based query APIs to guidelines
  CLAUDE.md
Due: format

docs: add Angular official best practices to CLAUDE.md
  CLAUDE.md
Due: format

docs: add isSignal() usage to type safety guidelines
  CLAUDE.md
Due: format

docs: prefer scoped services over global singletons
  CLAUDE.md
Due: format

docs: add quality assurance guidelines for features
  CLAUDE.md
Due: format

docs: emphasize declarative code patterns
  CLAUDE.md
Due: format

chore: update claude.md with Angular best practices (#63)
  CLAUDE.md
Due: format

refactor: simplify cross-field infrastructure and update button components
  apps/examples/material/playwright.config.ts
  apps/examples/material/tsconfig.spec.json
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms/eslint.config.mjs
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-detector.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-types.ts
  packages/dynamic-forms/src/lib/core/cross-field/index.ts
  packages/dynamic-forms/src/lib/core/expressions/custom-function-types.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
  packages/dynamic-forms/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/src/lib/core/registry/function-registry.service.ts
  packages/dynamic-forms/src/lib/core/registry/root-form-registry.service.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
  packages/dynamic-forms/src/lib/core/validation/index.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory-integration.spec.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.spec.ts
  packages/dynamic-forms/src/lib/models/types/type-guards.ts
  packages/dynamic-forms/src/lib/testing/integration/api-pattern-test.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/form-mapping.integration.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/logic-transformation.integration.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/validator-transformation.integration.spec.ts
  packages/dynamic-forms/src/lib/utils/object-utils.ts
Due: lint, format

fix lint
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory-integration.spec.ts
Due: lint, format

adjust warn prefix
  packages/dynamic-forms/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/utils/create-resolved-errors-signal.spec.ts
  packages/dynamic-forms/src/lib/utils/create-resolved-errors-signal.ts
Due: lint, format

fix: update field-flattener spec for main branch API changes
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.spec.ts
Due: lint, format

fix: add FormStateCondition support to cross-field detection
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-detector.ts
  packages/dynamic-forms/src/lib/models/index.ts
Due: lint, format

add console.info on all tests
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.spec.ts
  apps/examples/material/src/app/testing/async-validation/async-validation.spec.ts
  apps/examples/material/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/examples/material/src/app/testing/cross-field-validation/conditional-fields.spec.ts
  apps/examples/material/src/app/testing/cross-field-validation/cross-field-validation.spec.ts
  apps/examples/material/src/app/testing/cross-page-validation/cross-page-validation.spec.ts
  apps/examples/material/src/app/testing/demo-scenarios/demo-scenarios-test.spec.ts
  apps/examples/material/src/app/testing/error-handling/error-handling.spec.ts
  apps/examples/material/src/app/testing/essential-tests/age-based-logic-test.spec.ts
  apps/examples/material/src/app/testing/essential-tests/essential-tests.spec.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.spec.ts
  apps/examples/material/src/app/testing/form-reset-clear/form-reset-clear.spec.ts
  apps/examples/material/src/app/testing/material-components/material-components.spec.ts
  apps/examples/material/src/app/testing/multi-page-navigation/multi-page-navigation.spec.ts
  apps/examples/material/src/app/testing/user-journey-flows/user-journey-flows.spec.ts
  apps/examples/material/src/app/testing/user-workflows/user-workflows.spec.ts
Due: format

docs: add form submission documentation
  apps/docs/src/docs/core/submission/index.md
  apps/docs/src/docs/core/submission/ng-doc.page.ts
Due: format

docs: use HttpClient instead of fetch in submission examples
  apps/docs/src/docs/core/submission/index.md
Due: format

add error tracking mechanism
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.spec.ts
  apps/examples/material/src/app/testing/async-validation/async-validation.spec.ts
  apps/examples/material/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/examples/material/src/app/testing/cross-field-validation/conditional-fields.spec.ts
  apps/examples/material/src/app/testing/cross-field-validation/cross-field-validation.spec.ts
  apps/examples/material/src/app/testing/cross-page-validation/cross-page-validation.spec.ts
  apps/examples/material/src/app/testing/demo-scenarios/demo-scenarios-test.spec.ts
  apps/examples/material/src/app/testing/error-handling/error-handling.spec.ts
  apps/examples/material/src/app/testing/essential-tests/essential-tests.spec.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.spec.ts
  apps/examples/material/src/app/testing/form-reset-clear/form-reset-clear.spec.ts
  apps/examples/material/src/app/testing/material-components/material-components.spec.ts
  apps/examples/material/src/app/testing/multi-page-navigation/multi-page-navigation.spec.ts
  apps/examples/material/src/app/testing/shared/fixtures.ts
  apps/examples/material/src/app/testing/shared/types.ts
  apps/examples/material/src/app/testing/user-journey-flows/user-journey-flows.spec.ts
  apps/examples/material/src/app/testing/user-workflows/user-workflows.spec.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.ts
Due: lint, format

fix lint
  apps/examples/material/src/app/testing/shared/suite-index.component.ts
  apps/examples/material/src/app/testing/shared/test-scenario.component.ts
Due: format

adjust the submission tests to the new format
  apps/examples/material/src/app/app.config.ts
  apps/examples/material/src/app/testing/shared/fixtures.ts
  apps/examples/material/src/app/testing/shared/test-scenario.component.ts
  apps/examples/material/src/app/testing/shared/types.ts
  apps/examples/material/src/app/testing/submission-behavior/basic-submission.component.ts
  apps/examples/material/src/app/testing/submission-behavior/button-disabled-states.component.ts
  apps/examples/material/src/app/testing/submission-behavior/custom-button-logic.component.ts
  apps/examples/material/src/app/testing/submission-behavior/index.ts
  apps/examples/material/src/app/testing/submission-behavior/next-button-page-validation.component.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/basic-submission.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/button-disabled-invalid.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/button-disabled-submitting.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/button-never-disabled.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/conditional-expression.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/explicit-disabled.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/form-state-condition.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/http-error-handling.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/next-button-never-disabled.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/next-button-page-validation.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior-index.component.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.suite.ts
Due: format

style: update example apps to use ng-doc theme colors
  apps/examples/bootstrap/src/styles.scss
  apps/examples/ionic/src/app/examples/shared/example-scenario.component.ts
  apps/examples/ionic/src/styles.scss
  apps/examples/material/src/styles.scss
  apps/examples/primeng/src/styles.scss
Due: format

refactor: use default exports in example components
  apps/examples/bootstrap/src/app/examples/examples.routes.ts
  apps/examples/bootstrap/src/app/examples/index/index.component.ts
  apps/examples/bootstrap/src/app/examples/shared/example-scenario.component.ts
  apps/examples/ionic/src/app/examples/examples.routes.ts
  apps/examples/ionic/src/app/examples/index/index.component.ts
  apps/examples/ionic/src/app/examples/shared/example-scenario.component.ts
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
  apps/examples/material/src/app/examples/examples.routes.ts
  apps/examples/material/src/app/examples/expression-validators-demo.component.ts
  apps/examples/material/src/app/examples/index/index.component.ts
  apps/examples/material/src/app/examples/shared/example-scenario.component.ts
  apps/examples/primeng/src/app/examples/examples.routes.ts
  apps/examples/primeng/src/app/examples/index/index.component.ts
  apps/examples/primeng/src/app/examples/shared/example-scenario.component.ts
Due: format

docs: fix incorrect APIs and type definitions in documentation
  apps/docs/src/docs/core/validation/reference.md
  apps/docs/src/docs/deep-dive/expression-parser/index.md
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
  apps/docs/src/docs/examples/paginated-form/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/material/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
Due: format

feat(docs): add SSG prerendering and SEO optimization
  apps/docs/project.json
  apps/docs/public/llms.txt
  apps/docs/public/robots.txt
  apps/docs/public/sitemap.xml
  apps/docs/src/app/app.config.server.ts
  apps/docs/src/app/app.config.ts
  apps/docs/src/app/app.routes.server.ts
  apps/docs/src/app/app.ts
  apps/docs/src/index.html
  apps/docs/src/main.server.ts
  apps/docs/tsconfig.app.json
  package.json
  pnpm-lock.yaml
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
