Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

docs(docs): wrap configuration-view options table in .table-scroll
  apps/docs/src/app/components/configuration-view/configuration-view.component.ts
Due: format

docs(examples): arraySection wrapper owns the Add button
  apps/docs/public/content/examples/wrapper-array-actions.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/example-configs/wrapper-array-actions.config.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/array-section-wrapper.component.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/array-section-wrapper.registration.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/index.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/section-wrapper.component.scss
Due: format

fix(docs): use decodeHtmlEntities helper for codespan text (CodeQL)
  apps/docs/src/app/services/content.service.ts
Due: format

fix(dynamic-forms): scope readonly field tree cache to DI for SSR safety
  packages/dynamic-forms/src/lib/core/field-tree-utils.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
Due: lint, format

docs(docs): add container-field prebuilt page and example config
  apps/docs/public/content/prebuilt/container-field.md
  apps/docs/src/app/example-configs/container-field.config.ts
  apps/docs/src/app/example-configs/index.ts
  apps/docs/src/app/layout/nav.config.ts
Due: format

refactor(dynamic-forms): consolidate wrapper chain in a shared controller
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.ts
  packages/dynamic-forms/src/lib/utils/resolve-effective-wrappers/resolve-effective-wrappers.ts
  packages/dynamic-forms/src/lib/utils/resolve-wrappers/resolve-wrappers.spec.ts
  packages/dynamic-forms/src/lib/utils/resolve-wrappers/resolve-wrappers.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
  packages/dynamic-forms/src/lib/wrappers/create-wrappers.ts
Due: lint, format

docs(examples): use titled sections in container interactive demo
  apps/docs/src/app/example-configs/container-field.config.ts
Due: format

docs(docs): add missing doc pages to sitemap
  apps/docs/public/sitemap.xml
Due: none

docs(docs): regenerate llms-full.txt
  apps/docs/public/llms-full.txt
Due: none

test(dynamic-forms): cover hasDefaultExport + resolveDefaultExport
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.spec.ts
Due: lint, format

fix(dynamic-forms): reset input-push cache when fieldRef changes
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
Due: lint, format

fix(dynamic-forms): keep wrapper chain alive through renderReady flicker
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
Due: lint, format

feat(dynamic-forms): preserve innermost field view across wrapper rebuilds
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
Due: lint, format

test(examples): add e2e for field-type swap on a shared key
  apps/e2e/core/src/app/testing/config-change/config-change.routes.ts
  apps/e2e/core/src/app/testing/config-change/config-change.spec.ts
  apps/e2e/core/src/app/testing/config-change/config-change.suite.ts
  apps/e2e/core/src/app/testing/config-change/scenarios/config-swap-field-types.component.ts
  apps/e2e/core/src/app/testing/config-change/scenarios/config-swap-field-types.scenario.ts
Due: format

fix(examples): put select options on the field, not under props
  apps/e2e/core/src/app/testing/config-change/scenarios/config-swap-field-types.scenario.ts
Due: format

refactor(dynamic-forms): tighten controller API + address review notes
  packages/dynamic-forms/src/lib/definitions/default/container-field.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/utils/resolve-wrappers/resolve-wrappers.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
  packages/dynamic-forms/src/lib/wrappers/wrapper-field-inputs.ts
Due: lint, format

refactor(dynamic-forms): harden wrapper chain lifecycle
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/resolve-wrappers/resolve-wrappers.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

fix(dynamic-forms): array field properly handles container
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/models/types/form-mode.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.spec.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.ts
Due: lint, format

fix(dynamic-forms): expandSimplifiedArray() now keeps wrapper values
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/utils/array-field/normalize-simplified-arrays.spec.ts
  packages/dynamic-forms/src/lib/utils/array-field/normalize-simplified-arrays.ts
Due: lint, format

fix(dynamic-forms): container-field-mapper nullifies wrappers on field input
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/mappers/container/container-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/container/container-field-mapper.ts
  packages/dynamic-forms/src/lib/utils/array-field/normalize-simplified-arrays.spec.ts
Due: lint, format

fix(dynamic-forms): treat single-FieldDef containers as object items in array append
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

feat(mcp): add wrapper registry and close wrapper feature coverage
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/e2e/material/src/app/testing/array-fields/array-fields.routes.ts
  apps/e2e/material/src/app/testing/array-fields/array-fields.spec.ts
  apps/e2e/material/src/app/testing/array-fields/array-fields.suite.ts
  apps/e2e/material/src/app/testing/array-fields/scenarios/simplified-array-container-template.scenario.ts
  packages/dynamic-form-mcp/src/registry/index.spec.ts
  packages/dynamic-form-mcp/src/registry/index.ts
  packages/dynamic-form-mcp/src/registry/wrappers.ts
  packages/dynamic-form-mcp/src/resources/index.ts
  packages/dynamic-form-mcp/src/resources/wrappers.resource.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/search.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/search.tool.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.bench.spec.ts
Due: lint, format

fix(dynamic-forms): harden wrapper outlet state and drop NG0951 coupling
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

docs: regenerate llms-full.txt after wrapper-authoring guide expansion
  apps/docs/public/llms-full.txt
Due: none

feat(forms): add nullable flag for first-class null support
  apps/docs/public/content/api-driven-forms.md
  apps/docs/public/content/configuration.md
  apps/docs/public/content/openapi-generator.md
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/integration/src/definitions/datepicker-field.ts
  packages/dynamic-forms/integration/src/definitions/input-field.ts
  packages/dynamic-forms/integration/src/definitions/input-field.type-test.ts
  packages/dynamic-forms/integration/src/definitions/multi-checkbox-field.ts
  packages/dynamic-forms/integration/src/definitions/radio-field.ts
  packages/dynamic-forms/integration/src/definitions/select-field.ts
  packages/dynamic-forms/integration/src/definitions/slider-field.ts
  packages/dynamic-forms/integration/src/definitions/textarea-field.ts
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.ts
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.type-test.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.spec.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.ts
  packages/openapi-generator/src/generator/form-config-generator.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

test(forms): add nullable to adapter field exhaustive whitelists
  apps/docs/public/llms-full.txt
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.type-test.ts
Due: lint, format

refactor(forms): address nullable review feedback
  packages/dynamic-forms/integration/src/definitions/input-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.ts
  packages/openapi-generator/src/generator/form-config-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
Due: lint, format

feat(forms): add nullable to zod validation schemas
  internal/dynamic-forms-zod/bootstrap/src/fields/index.ts
  internal/dynamic-forms-zod/ionic/src/fields/index.ts
  internal/dynamic-forms-zod/material/src/__tests__/mat-form-config.spec.ts
  internal/dynamic-forms-zod/material/src/fields/mat-datepicker-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-input-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-multi-checkbox-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-radio-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-select-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-slider-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-textarea-field.schema.ts
  internal/dynamic-forms-zod/primeng/src/fields/index.ts
Due: format

refactor(forms): address CodeRabbit feedback on nullable
  apps/docs/public/content/configuration.md
  apps/docs/public/llms-full.txt
  internal/dynamic-forms-zod/bootstrap/src/bs-leaf-field.schema.ts
  internal/dynamic-forms-zod/ionic/src/ionic-leaf-field.schema.ts
  internal/dynamic-forms-zod/material/src/__tests__/mat-form-config.spec.ts
  internal/dynamic-forms-zod/material/src/mat-leaf-field.schema.ts
  internal/dynamic-forms-zod/primeng/src/prime-leaf-field.schema.ts
  internal/dynamic-forms-zod/src/lib/schemas/field/index.ts
  internal/dynamic-forms-zod/src/lib/schemas/field/nullable-value.refinement.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
Due: lint, format

fix(forms): widen TNullable default to boolean for generator output
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.type-test.ts
  packages/dynamic-forms/integration/src/definitions/datepicker-field.ts
  packages/dynamic-forms/integration/src/definitions/input-field.ts
  packages/dynamic-forms/integration/src/definitions/input-field.type-test.ts
  packages/dynamic-forms/integration/src/definitions/multi-checkbox-field.ts
  packages/dynamic-forms/integration/src/definitions/radio-field.ts
  packages/dynamic-forms/integration/src/definitions/select-field.ts
  packages/dynamic-forms/integration/src/definitions/slider-field.ts
  packages/dynamic-forms/integration/src/definitions/textarea-field.ts
  packages/dynamic-forms/integration/src/mappers/select/options-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/openapi-generator/src/__tests__/integration/__fixtures__/nullable-values.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
Due: lint, format

test(forms): add regression + edge-case coverage for nullable
  internal/dynamic-forms-zod/src/lib/schemas/__tests__/nullable-cross-adapter.spec.ts
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.spec.ts
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/__tests__/integration/helpers.ts
Due: lint, format

fix(forms): restrict nullable emission to value-bearing field types
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/definitions/nullable-container-restriction.type-test.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.spec.ts
  packages/openapi-generator/src/__tests__/integration/__fixtures__/nullable-edge-cases.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/__tests__/integration/helpers.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

refactor(forms): address CodeRabbit feedback round 2
  packages/dynamic-forms/.vitest-attachments/5473d17d0af4f04ff1c7a4643cc7298cef6a51ff.png
  packages/dynamic-forms/.vitest-attachments/b52ff0dc68211a6bbbbb4fa271245613dccf35e5.png
  packages/dynamic-forms/.vitest-attachments/cff0fa2ad392db808fccaff67d36e51a468ab9e5.png
  packages/dynamic-forms/integration/src/definitions/input-field.type-test.ts
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.spec.ts
  packages/openapi-generator/src/__tests__/integration/helpers.ts
Due: lint, format

chore: gitignore vitest attachments
  .gitignore
  packages/dynamic-forms/.vitest-attachments/5473d17d0af4f04ff1c7a4643cc7298cef6a51ff.png
  packages/dynamic-forms/.vitest-attachments/b52ff0dc68211a6bbbbb4fa271245613dccf35e5.png
  packages/dynamic-forms/.vitest-attachments/cff0fa2ad392db808fccaff67d36e51a468ab9e5.png
Due: none

ci(config): exclude openapi-generator test helpers from dep-check lint
  packages/openapi-generator/eslint.config.mjs
Due: none

refactor(forms): enforce nullable contract on individual zod schemas
  internal/dynamic-forms-zod/bootstrap/src/bs-leaf-field.schema.ts
  internal/dynamic-forms-zod/bootstrap/src/fields/index.ts
  internal/dynamic-forms-zod/ionic/src/fields/index.ts
  internal/dynamic-forms-zod/ionic/src/ionic-leaf-field.schema.ts
  internal/dynamic-forms-zod/material/src/__tests__/mat-form-config.spec.ts
  internal/dynamic-forms-zod/material/src/fields/mat-datepicker-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-input-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-multi-checkbox-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-radio-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-select-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-slider-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-textarea-field.schema.ts
  internal/dynamic-forms-zod/material/src/mat-leaf-field.schema.ts
  internal/dynamic-forms-zod/primeng/src/fields/index.ts
  internal/dynamic-forms-zod/primeng/src/prime-leaf-field.schema.ts
Due: format

test(forms): bump timeout on typecheck integration tests
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
Due: lint, format

docs(forms): explain dual-export pattern on raw zod schema objects
  internal/dynamic-forms-zod/bootstrap/src/fields/index.ts
  internal/dynamic-forms-zod/ionic/src/fields/index.ts
  internal/dynamic-forms-zod/material/src/fields/mat-datepicker-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-input-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-multi-checkbox-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-radio-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-select-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-slider-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-textarea-field.schema.ts
  internal/dynamic-forms-zod/primeng/src/fields/index.ts
Due: format

fix(forms): include null in openapi-generator enum union when nullable
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
Due: lint, format
