Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

test(primeng): update e2e snapshots for linux ci environment
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-valid.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-with-errors.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-filled.png
  libs/examples-shared-testing/src/lib/base-fixtures.ts
Due: format

test(ionic): update e2e snapshots for helper text changes
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-comprehensive-fields-empty.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-comprehensive-fields-filled.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-validation-valid.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-validation-with-errors.png
Due: none

refactor(primeng): clean up signal forms integration (#167)
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-with-errors.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-filled.png
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
Due: lint, format

fix(ionic): ensure helper text displays on new line
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-comprehensive-fields-empty.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-comprehensive-fields-filled.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-validation-with-errors.png
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
Due: lint, format

test(ionic): update e2e snapshots after helper text layout fix
  apps/examples/ionic/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/ionic-error-announcements-with-error.png
  apps/examples/ionic/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/ionic-hidden-logic-free.png
  apps/examples/ionic/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/ionic-hidden-logic-premium.png
  apps/examples/ionic/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/ionic-multi-page-registration-page1-filled.png
Due: none

fix(ionic): add missing min/max bindings to slider component
  apps/examples/ionic/src/app/testing/comprehensive-field-tests/scenarios/comprehensive-fields.scenario.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
Due: lint, format

refactor(ionic): rename helperText to hint for consistency
  apps/examples/ionic/src/app/examples/scenarios/complete-form.scenario.ts
  apps/examples/ionic/src/app/testing/accessibility/scenarios/aria-attributes.scenario.ts
  apps/examples/ionic/src/app/testing/comprehensive-field-tests/scenarios/comprehensive-fields.scenario.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type.ts
Due: lint, format

feat(ionic): add helper text support to all form field components (#169)
  apps/examples/ionic/src/app/examples/scenarios/complete-form.scenario.ts
  apps/examples/ionic/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/ionic-error-announcements-with-error.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-comprehensive-fields-empty.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-comprehensive-fields-filled.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-validation-with-errors.png
  apps/examples/ionic/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/ionic-hidden-logic-free.png
  apps/examples/ionic/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/ionic-hidden-logic-premium.png
  apps/examples/ionic/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/ionic-multi-page-registration-page1-filled.png
  apps/examples/ionic/src/app/testing/accessibility/scenarios/aria-attributes.scenario.ts
  apps/examples/ionic/src/app/testing/comprehensive-field-tests/scenarios/comprehensive-fields.scenario.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type.ts
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
Due: lint, format

feat(dynamic-forms): add form-level default props support
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.mapper.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-bootstrap/src/lib/types/form-config.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-ionic/src/lib/types/form-config.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-material/src/lib/types/form-config.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/types/form-config.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format

test(dynamic-forms): add unit tests for form-level props merging
  packages/dynamic-forms-bootstrap/src/lib/types/form-config.ts
  packages/dynamic-forms-ionic/src/lib/types/form-config.ts
  packages/dynamic-forms-material/src/lib/types/form-config.ts
  packages/dynamic-forms-primeng/src/lib/types/form-config.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.spec.ts
Due: lint, format

refactor(dynamic-forms): unify form props with library config types
  packages/dynamic-forms-bootstrap/src/lib/models/bootstrap-config.ts
  packages/dynamic-forms-bootstrap/src/lib/types/form-config.ts
  packages/dynamic-forms-ionic/src/lib/models/ionic-config.ts
  packages/dynamic-forms-ionic/src/lib/types/form-config.ts
  packages/dynamic-forms-material/src/lib/models/material-config.ts
  packages/dynamic-forms-material/src/lib/types/form-config.ts
  packages/dynamic-forms-primeng/src/lib/models/primeng-config.ts
  packages/dynamic-forms-primeng/src/lib/types/form-config.ts
Due: lint, format

test(examples): add default-props scenarios for all ui libraries
  apps/examples/bootstrap/src/app/examples/examples.routes.ts
  apps/examples/bootstrap/src/app/examples/scenarios/default-props.scenario.ts
  apps/examples/bootstrap/src/app/examples/scenarios/index.ts
  apps/examples/ionic/src/app/examples/examples.routes.ts
  apps/examples/ionic/src/app/examples/scenarios/default-props.scenario.ts
  apps/examples/ionic/src/app/examples/scenarios/index.ts
  apps/examples/material/src/app/examples/examples.routes.ts
  apps/examples/material/src/app/examples/scenarios/default-props.scenario.ts
  apps/examples/material/src/app/examples/scenarios/index.ts
  apps/examples/primeng/src/app/examples/examples.routes.ts
  apps/examples/primeng/src/app/examples/scenarios/default-props.scenario.ts
  apps/examples/primeng/src/app/examples/scenarios/index.ts
  packages/dynamic-forms-bootstrap/src/index.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-material/src/index.ts
  packages/dynamic-forms-primeng/src/index.ts
Due: lint, format

docs: add default props configuration section to ui library docs
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/material/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
Due: format

docs: consolidate default props docs into central configuration page
  apps/docs/src/docs/deep-dive/configuration/index.md
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/material/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
Due: format

refactor(config): simplify playwright-docker.sh script
  scripts/playwright-docker.sh
Due: none

fix(ionic): hide hint when errors displayed in input/textarea
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/utils/index.ts
Due: lint, format

perf(dynamic-forms): use dedicated injection tokens for form-level config
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.mapper.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/testing/src/mapper-test-utils.ts
  packages/dynamic-forms/testing/src/simple-test-utils.ts
Due: lint, format

test(material,primeng,bootstrap,ionic): add hint/error display e2e tests
  CLAUDE.md
  apps/examples/bootstrap/src/app/testing/accessibility/accessibility.spec.ts
  apps/examples/ionic/src/app/testing/accessibility/accessibility.spec.ts
  apps/examples/material/src/app/testing/accessibility/accessibility.spec.ts
  apps/examples/primeng/src/app/testing/accessibility/accessibility.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
Due: lint, format

refactor(ionic): move explicit effect to constructor
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
Due: lint, format

fix(dynamic-forms): provide form options to paged forms
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

fix(dynamic-forms): provide all config tokens to paged forms
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

feat(dynamic-forms): add comprehensive html input type support (#163)
  packages/dynamic-forms/integration/src/definitions/index.ts
  packages/dynamic-forms/integration/src/definitions/input-field.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

refactor(dynamic-forms): make config tokens non-optional
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.mapper.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
Due: lint, format

fix(dynamic-forms): provide config tokens at component level for paged forms
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

perf(dynamic-forms): use dedicated injection tokens for form-level config (#173)
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.mapper.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/testing/src/mapper-test-utils.ts
  packages/dynamic-forms/testing/src/simple-test-utils.ts
Due: lint, format

chore(release): bump version to 0.4.0
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format

chore(release): publish 0.4.0
  CHANGELOG.md
Due: format

chore(release): bump version to 0.4.0 (#174)
  CHANGELOG.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format

refactor(dynamic-forms): remove unused value-in-array pipe
  packages/dynamic-forms/integration/src/pipes/index.ts
  packages/dynamic-forms/integration/src/pipes/value-in-array.pipe.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

docs: remove internal testing library from public docs
  apps/docs/src/docs/deep-dive/custom-integrations/index.md
Due: format

fix(dynamic-forms): add missing test harness imports
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format
