Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

fix(dynamic-forms): validate config at bootstrap for common misconfigurations (#283)
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.spec.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.ts
Due: lint, format

fix(dynamic-forms): handle out-of-bounds removeArrayItem index gracefully
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

fix(dynamic-forms): fix array field event API, maxLength, bounds, cleanup
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

chore(core): remove redundant comment and [Dynamic Forms] logger prefix
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

test(dynamic-forms): fix dispatch instance overload tests scope
  packages/dynamic-forms/src/lib/events/event.bus.spec.ts
Due: lint, format

test(core): add unit tests for dispatch overload, atMaxLength, and removeItem bounds
  packages/dynamic-forms/src/lib/events/event.bus.spec.ts
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

fix(dynamic-forms): remove preventive maxLength guard from handleAddFromEvent
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

test(dynamic-forms): add type tests for public exported types (#285)
  packages/dynamic-forms/integration/src/definitions/datepicker-field.type-test.ts
  packages/dynamic-forms/integration/src/definitions/input-field.type-test.ts
  packages/dynamic-forms/integration/src/definitions/select-field.type-test.ts
  packages/dynamic-forms/schema/src/standard-schema-marker.type-test.ts
  packages/dynamic-forms/src/lib/core/expressions/async-custom-function-types.ts
  packages/dynamic-forms/src/lib/core/expressions/custom-function-types.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/registry/function-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/function-registry.service.ts
  packages/dynamic-forms/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.type-test.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.spec.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.type-test.ts
Due: lint, format

fix(dynamic-forms): address PR review — revert submission regressions, restore http null suppression
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/http/http-request-resolver.spec.ts
  packages/dynamic-forms/src/lib/events/event.bus.ts
Due: lint, format

fix(dynamic-forms): fix array field event API, maxLength, bounds, cleanup (#282)
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/http/http-request-resolver.spec.ts
  packages/dynamic-forms/src/lib/events/event.bus.spec.ts
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

feat(dynamic-forms): add @generated headers, metadata mapping, and CLI options
  packages/openapi-generator/src/cli/commands/generate.command.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/generator/barrel-generator.spec.ts
  packages/openapi-generator/src/generator/barrel-generator.ts
  packages/openapi-generator/src/generator/file-writer.spec.ts
  packages/openapi-generator/src/generator/file-writer.ts
  packages/openapi-generator/src/generator/form-config-generator.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.ts
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
  packages/openapi-generator/src/index.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/mapper/type-mapping.spec.ts
  packages/openapi-generator/src/mapper/type-mapping.ts
Due: lint, format

ci: add automatic staging deployment on main CI success
  .github/workflows/deploy-staging.yml
Due: none

refactor(dynamic-forms): consolidate per-form DI into DynamicFormContext
  packages/dynamic-forms/src/lib/providers/dynamic-form-context.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
Due: lint, format

docs(docs): add {} icon to sidebar title and remove redundant page heading
  apps/docs/src/docs/openapi-generator/index.md
  apps/docs/src/docs/openapi-generator/ng-doc.page.ts
Due: format

docs(docs): move {} icon before NEW badge and regenerate mcp registry
  apps/docs/src/docs/openapi-generator/ng-doc.page.ts
  apps/docs/src/styles.scss
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

docs(docs): position {} icon as standalone element before NEW badge
  apps/docs/src/styles.scss
Due: format

fix(docs): position openapi-generator sidebar icon between text and badge
  apps/docs/src/styles.scss
Due: format

fix(docs): match openapi-generator icon spacing to ai-integration sparkle
  apps/docs/src/styles.scss
Due: format

fix(docs): equalize icon spacing on both sides
  apps/docs/src/styles.scss
Due: format

refactor(dynamic-forms): replace DynamicFormContext with focused DI groups
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-function-cache.service.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-function-cache.service.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-cache.service.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.ts
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/registry/field-context-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/src/lib/core/schema-application.spec.ts
  packages/dynamic-forms/src/lib/core/schema-transformation.spec.ts
  packages/dynamic-forms/src/lib/core/validation/async-http-validator.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory-integration.spec.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory.spec.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-function-cache.service.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-context.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/providers/expression-cache-context.ts
  packages/dynamic-forms/src/lib/providers/form-derived-state.ts
Due: lint, format

fix(config): skip playwright browser install on vercel
  scripts/postinstall.sh
Due: none

chore(release): publish 0.6.1
  CHANGELOG.md
Due: format

chore(release): bump version to 0.6.1
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

fix(config): optimize vercel build to prevent oom and reduce cold build time
  package.json
  scripts/postinstall.sh
  vercel.json
Due: format

fix(config): optimize vercel build to prevent oom and reduce cold build time (#289)
  package.json
  scripts/postinstall.sh
  vercel.json
Due: format

build(deps): update angular framework packages to 21.2.0
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  pnpm-lock.yaml
Due: format

build(deps): update angular framework packages to 21.2.0 (#288)
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  pnpm-lock.yaml
Due: format

refactor(mcp): remove offline docs generation and CI registry checks
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  CLAUDE.md
  packages/dynamic-form-mcp/project.json
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-form-mcp/src/registry/documentation.ts
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/registry/index.ts
  packages/dynamic-form-mcp/src/registry/ui-adapters.json
  packages/dynamic-form-mcp/src/registry/ui-adapters.ts
  packages/dynamic-form-mcp/src/registry/validators.json
  packages/dynamic-form-mcp/src/registry/validators.ts
  packages/dynamic-form-mcp/src/resources/documentation.resource.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
Due: lint, format

feat(mcp): add keyword search tool and improve discoverability
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-form-mcp/src/tools/index.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/search.tool.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
Due: lint, format

fix(mcp): add missing services files for live doc fetching
  packages/dynamic-form-mcp/src/services/doc-fetcher.ts
  packages/dynamic-form-mcp/src/services/topic-mapper.ts
Due: lint, format

refactor(mcp): add llms-full.txt generation and documentation resource updates
  apps/docs/project.json
  apps/docs/public/llms-full.txt
  apps/docs/scripts/generate-llms-full.ts
  packages/dynamic-form-mcp/src/resources/documentation.resource.ts
Due: lint, format

test(mcp): add tests for search tool, doc-fetcher, topic-mapper, and registry staleness guard
  packages/dynamic-form-mcp/src/registry/index.spec.ts
  packages/dynamic-form-mcp/src/services/doc-fetcher.spec.ts
  packages/dynamic-form-mcp/src/services/topic-mapper.spec.ts
  packages/dynamic-form-mcp/src/tools/search.tool.spec.ts
Due: lint, format

fix(mcp): add simplified-array mapping, remove false-positive partial match, reduce fetch timeout
  packages/dynamic-form-mcp/src/resources/documentation.resource.ts
  packages/dynamic-form-mcp/src/services/doc-fetcher.ts
  packages/dynamic-form-mcp/src/services/topic-mapper.spec.ts
  packages/dynamic-form-mcp/src/services/topic-mapper.ts
Due: lint, format

docs: add review for PR #290 (refactor/remove-mcp-offline-docs)
  review-pr-290.md
Due: format

ci(mcp): add llms-full.txt freshness check to CI and PR workflows
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

docs: update PR #290 review — all issues resolved including llms-full.txt CI check
  review-pr-290.md
Due: format

refactor(mcp): remove offline docs generation and CI registry checks (#290)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  CLAUDE.md
  apps/docs/project.json
  apps/docs/public/llms-full.txt
  apps/docs/scripts/generate-llms-full.ts
  packages/dynamic-form-mcp/project.json
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-form-mcp/src/registry/documentation.ts
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/registry/index.spec.ts
  packages/dynamic-form-mcp/src/registry/index.ts
  packages/dynamic-form-mcp/src/registry/ui-adapters.json
  packages/dynamic-form-mcp/src/registry/ui-adapters.ts
  packages/dynamic-form-mcp/src/registry/validators.json
  packages/dynamic-form-mcp/src/registry/validators.ts
  packages/dynamic-form-mcp/src/resources/documentation.resource.ts
  packages/dynamic-form-mcp/src/services/doc-fetcher.spec.ts
  packages/dynamic-form-mcp/src/services/doc-fetcher.ts
  packages/dynamic-form-mcp/src/services/topic-mapper.spec.ts
  packages/dynamic-form-mcp/src/services/topic-mapper.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-form-mcp/src/tools/index.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/search.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/search.tool.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
Due: lint, format

refactor(dynamic-forms): collapse _connectStateDeps IIFE into connectDeps() method
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

refactor(dynamic-forms): extract formSchema computed from form computed
  .nxignore
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

refactor(dynamic-forms): pass injector option to form() instead of runInInjectionContext
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format
