Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

docs: update custom-field and adapter guides for marker absorption + ambient meta
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/recipes/custom-fields.md
  apps/docs/public/llms-full.txt
Due: format

docs: regenerate llms-full.txt after prettier reformat
  apps/docs/public/llms-full.txt
Due: none

refactor(dynamic-forms): consolidate marker meta plumbing + fix double application
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/llms-full.txt
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-controls.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.spec.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/integration/src/utils/setup-meta-tracking.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
Due: lint, format

fix(primeng): restore aria on df-prime-radio-group + retarget checkbox/toggle a11y
  apps/e2e/primeng/src/app/testing/accessibility/accessibility.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
Due: lint, format

refactor(dynamic-forms): drop effective prefix from adapter prop-resolution computeds
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
Due: lint, format

refactor(dynamic-forms): address PR review — comments, coverage, jsdoc
  packages/dynamic-forms/integration/src/directives/ng-forge-controls.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.spec.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
Due: lint, format

refactor(dynamic-forms): drop unused override inputs on adapter sub-components
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.spec.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
Due: lint, format

test(dynamic-forms): unskip array-button mapper logic specs
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.spec.ts
Due: lint, format

refactor(dynamic-forms): address remaining review observations
  apps/docs/public/content/building-an-adapter.md
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
Due: lint, format

docs: regenerate llms-full.txt after building-an-adapter update
  apps/docs/public/llms-full.txt
Due: none

docs: correct stale field-types claims + reorder building-an-adapter nav
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/field-types/buttons.md
  apps/docs/public/content/field-types/utility.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/layout/docs-layout.component.spec.ts
  apps/docs/src/app/layout/nav.config.ts
Due: format

fix(forms): address PR review — duplicate ids, dead emission, unknown-input warn
  apps/docs/public/content/recipes/custom-fields.md
  apps/docs/public/llms-full.txt
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
  packages/dynamic-forms/integration/src/directives/assert-input-lockstep.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-action.directive.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/select/options-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/slider/slider-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

style(forms): trim verbose JSDoc on lockstep helper + push-inputs comments
  packages/dynamic-forms/integration/src/directives/assert-input-lockstep.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

style(forms): prettier on assert-input-lockstep.ts
  packages/dynamic-forms/integration/src/directives/assert-input-lockstep.ts
Due: lint, format

feat(forms): wrapper authoring exports + NgForgeField/Action test harness
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/recipes/custom-fields.md
  apps/docs/public/llms-full.txt
  packages/dynamic-forms/integration/src/public_api.ts
  packages/dynamic-forms/integration/src/testing/create-field-fixture.spec.ts
  packages/dynamic-forms/integration/src/testing/create-field-fixture.ts
  packages/dynamic-forms/integration/src/testing/index.ts
Due: lint, format

fix(forms): revert pushRawInputs declared-input filter — false-positive in core E2E
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

fix(primeng): revert multi-checkbox inner id from index-based to option.value-based
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
Due: lint, format

feat(forms): dev-mode warn when ngForgeControl selector matches zero descendants
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.spec.ts
  packages/dynamic-forms/integration/src/utils/setup-meta-tracking.ts
Due: lint, format

docs(forms): cross-link adapter-author wrapper guidance with existing /wrappers/ tree
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/wrappers/registering-and-applying.md
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/docs/public/llms-full.txt
Due: format

docs(forms): action mapper authoring guide + NgForgeHostControl ordering caveat
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/llms-full.txt
Due: format

refactor(forms): rename FieldWrapperContract → FieldWrapper
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/examples/wrapper-array-actions.md
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/docs/public/llms-full.txt
  internal/examples-shared-ui/src/lib/demo-wrappers/array-section-wrapper.component.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/section-wrapper.component.ts
  packages/dynamic-form-mcp/src/registry/index.spec.ts
  packages/dynamic-form-mcp/src/registry/wrappers.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
  packages/dynamic-forms/integration/src/public_api.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.spec.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.bench.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.component.ts
  packages/dynamic-forms/src/lib/wrappers/row/row-wrapper.component.ts
Due: lint, format

fix: export TestButtonHarnessComponent + clarify defaultValidationMessages mapper row
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/llms-full.txt
  packages/dynamic-forms/testing/src/public_api.ts
Due: lint, format

feat(dynamic-forms): wire DF_FIELD_TEMPLATES + auto-run addon validator
  packages/dynamic-form-mcp/src/registry/index.spec.ts
  packages/dynamic-forms-primeng/src/lib/addons/pi-icon-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/tokens/input-value-writer.token.ts
  packages/dynamic-forms-primeng/src/lib/types/addons.ts
  packages/dynamic-forms/src/lib/addons/component-addon.component.ts
  packages/dynamic-forms/src/lib/addons/template-addon.component.ts
  packages/dynamic-forms/src/lib/addons/text-addon.component.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.spec.ts
  packages/dynamic-forms/src/lib/directives/df-template.directive.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/models/addon/addon-kind.ts
  packages/dynamic-forms/src/lib/providers/built-in-addons.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/dynamic-value/resolve-dynamic-value.ts
  packages/dynamic-forms/src/lib/utils/inject-addon-kind-registry/inject-addon-kind-registry.spec.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/addon-warning.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-field-addons.spec.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-field-addons.ts
Due: lint, format

fix(primeng): add touched model to radio group
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
Due: lint, format

fix(primeng): delegate invalid state to p-checkbox via [invalid] input
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
Due: lint, format

fix(ionic): add camelCase length-attr aliases so signal forms auto-sync
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
Due: lint, format

fix(dynamic-forms): address CodeRabbit review on addon system
  apps/e2e/primeng/src/app/testing/addons/addons.suite.ts
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-forms-primeng/src/lib/providers/primeng-providers.ts
  packages/dynamic-forms/src/lib/addons/component-addon.component.ts
  packages/dynamic-forms/src/lib/addons/template-addon.component.ts
  packages/dynamic-forms/src/lib/providers/built-in-addons.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/providers/features/addons/addon-action-registry.token.ts
Due: lint, format

chore(dynamic-forms): pre-merge spot-check follow-ups
  packages/dynamic-forms-primeng/src/lib/tokens/input-value-writer.token.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/providers/features/addons/addon-action-registry.token.ts
Due: lint, format

fix(dynamic-forms): route logAddonWarnings through optional DynamicFormLogger
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-form-config.ts
Due: lint, format

fix(dynamic-forms): re-declare fieldInputs on text / component / pi-icon kinds
  packages/dynamic-forms-primeng/src/lib/addons/pi-icon-addon.component.ts
  packages/dynamic-forms/src/lib/addons/component-addon.component.ts
  packages/dynamic-forms/src/lib/addons/text-addon.component.ts
Due: lint, format

test(primeng): comprehensive addon e2e + screenshot scenarios
  apps/e2e/primeng/src/app/testing/addons/addons.routes.ts
  apps/e2e/primeng/src/app/testing/addons/addons.spec.ts
  apps/e2e/primeng/src/app/testing/addons/addons.suite.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/decorative-button.scenario.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/disabled-addon.scenario.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/inline-action.scenario.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/labelled-button.scenario.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/multi-addons.scenario.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/reset-preset.scenario.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/severity-variants.scenario.ts
Due: format

revert: ionic length-attr aliases — topology mismatch with primeng
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
Due: lint, format

test(primeng): bake addon e2e screenshot baselines + fix icon selector
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/decorative-button.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/disabled-addon.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/inline-action.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/labelled-button.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/multi-addons.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/reset-preset-modified.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/reset-preset-restored.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/severity-variants.png
  apps/e2e/primeng/src/app/testing/addons/addons.spec.ts
Due: format

fix(dynamic-forms): address fresh review pass on addon system
  apps/e2e/primeng/src/app/app.config.ts
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/action-ref.png
  apps/e2e/primeng/src/app/testing/addons/addons.routes.ts
  apps/e2e/primeng/src/app/testing/addons/addons.spec.ts
  apps/e2e/primeng/src/app/testing/addons/addons.suite.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/action-ref.scenario.ts
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.spec.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.ts
  packages/dynamic-forms/src/lib/models/addon/addon-def.ts
  packages/dynamic-forms/src/lib/providers/built-in-addons.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/inject-addon-kind-registry/inject-addon-kind-registry.spec.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-field-addons.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-form-config.ts
Due: lint, format

perf(dynamic-forms): land the two deferred review items
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
