Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

refactor(dynamic-forms): extract shared array-item scope resolution for derivation applicators
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/evaluation-scope.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/evaluation-scope.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
Due: lint, format

fix(dynamic-forms): wire textarea/input length attrs and prune redundant adapter props
  .prettierignore
  apps/e2e/ionic/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/e2e/ionic/src/app/testing/comprehensive-field-tests/scenarios/comprehensive-fields.scenario.ts
  apps/e2e/primeng/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/e2e/primeng/src/app/testing/comprehensive-field-tests/scenarios/comprehensive-fields.scenario.ts
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  internal/dynamic-forms-zod/ionic/src/props/index.ts
  internal/dynamic-forms-zod/primeng/src/props/index.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/registry/ui-adapters.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.type.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.type.ts
  packages/dynamic-forms/integration/src/mappers/index.ts
  packages/dynamic-forms/integration/src/mappers/textarea/textarea-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.spec.ts
Due: lint, format

fix: omit label on container fields in openapi-generator (group/array/page/row)
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

fix: address review feedback on #348 container-label fix
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

chore(release): bump version to 0.8.0
  README.md
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
Due: format

feat(release): add discord notifications and github prereleases for nightlies
  .github/workflows/discord-release-notify.yml
  .github/workflows/release.yml
Due: none

chore(release): publish 0.8.0
  CHANGELOG.md
Due: format

fix(release): close unmatched paren in discord truncation suffix
  .github/workflows/discord-release-notify.yml
Due: none

fix(release): collapse truncation suffix to satisfy yaml block scalar indent
  .github/workflows/discord-release-notify.yml
Due: none

ci(release): raise node heap to 8GB for vercel build step
  .github/workflows/deploy-vercel.yml
Due: none

ci(release): raise node heap to 8GB for staging vercel build step
  .github/workflows/deploy-staging.yml
Due: none

ci(release): use github app token + drop redundant manual tagging step
  .github/workflows/release.yml
Due: none

ci(release): add workflow_dispatch backfill to discord notification
  .github/workflows/discord-release-notify.yml
Due: none

ci(release): gate app token generation to publish/next paths only
  .github/workflows/release.yml
Due: none

ci(release): generate app token immediately before action-gh-release
  .github/workflows/release.yml
Due: none

fix(docs): serve prerendered html on clean urls and prerender api reference
  apps/docs/src/app/interceptors/ssr-content.interceptor.ts
  apps/docs/vite.config.ts
  vercel.json
Due: format

refactor(docs): extract walk-up depth to named constant
  apps/docs/src/app/interceptors/ssr-content.interceptor.ts
Due: format

fix(docs): copy prerender from .vercel/output/static on vercel builds
  scripts/prepare-deploy.js
Due: format

fix(docs): enable incremental hydration so @defer blocks ssr-render
  apps/docs/src/app/app.config.ts
Due: format

fix(docs): add hydrate triggers so @defer blocks ssr-render
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

feat(dynamic-forms): add addon slot/kind model + registry tokens
  packages/dynamic-forms/src/lib/definitions/base/field-def.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/addon/addon-action.ts
  packages/dynamic-forms/src/lib/models/addon/addon-def.ts
  packages/dynamic-forms/src/lib/models/addon/addon-kind.ts
  packages/dynamic-forms/src/lib/models/addon/addon-slot.ts
  packages/dynamic-forms/src/lib/models/addon/df-field-templates.token.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/types/dynamic-value.ts
Due: lint, format

feat(dynamic-forms): add df-addon-slot component dispatcher
  packages/dynamic-forms/src/lib/addons/component-addon.component.ts
  packages/dynamic-forms/src/lib/addons/template-addon.component.ts
  packages/dynamic-forms/src/lib/addons/text-addon.component.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.ts
  packages/dynamic-forms/src/lib/directives/df-template.directive.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/utils/dynamic-value/resolve-dynamic-value.ts
  packages/dynamic-forms/src/lib/utils/inject-addon-kind-registry/inject-addon-kind-registry.ts
Due: lint, format

feat(dynamic-forms): validate field addons + register kind/action features
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/providers/built-in-addons.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/providers/features/addons/addon-action-registry.token.ts
  packages/dynamic-forms/src/lib/providers/features/addons/addon-kind-definitions.token.ts
  packages/dynamic-forms/src/lib/providers/features/addons/provide-addon-actions.ts
  packages/dynamic-forms/src/lib/providers/features/addons/with-custom-addon.ts
  packages/dynamic-forms/src/lib/providers/features/dynamic-form-feature.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/addon-warning.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-field-addons.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-form-config.ts
Due: lint, format

feat(primeng): add pi-icon and pi-button addon components + presets
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/pi-icon-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.ts
  packages/dynamic-forms-primeng/src/lib/tokens/input-type-override.token.ts
  packages/dynamic-forms-primeng/src/lib/types/addons.ts
  packages/dynamic-forms/src/lib/definitions/base/base-checked-field.ts
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.ts
Due: lint, format

feat(primeng): add withPrimengAddons() feature
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/pi-icon-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/providers/primeng-providers.ts
  packages/dynamic-forms-primeng/src/lib/types/addons.ts
Due: lint, format

feat(primeng): add prefix/suffix addon support to prime-input
  packages/dynamic-forms-primeng/src/lib/config/primeng-field-config.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.ts
Due: lint, format

refactor(dynamic-forms): unify wrapper + addon field-inputs propagation
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/build-field-inputs/build-field-inputs.ts
Due: lint, format

feat(mcp): mirror addon registry data for primeng input
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-form-mcp/src/registry/index.ts
Due: lint, format

test(primeng): add addon type tests + render tests + finish writer wiring
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type-test.ts
  packages/dynamic-forms-primeng/src/lib/tokens/input-value-writer.token.ts
  packages/dynamic-forms/src/lib/utils/dynamic-value/resolve-dynamic-value.spec.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-field-addons.spec.ts
Due: lint, format

test(primeng): add e2e for input addons
  apps/e2e/primeng/src/app/app.config.ts
  apps/e2e/primeng/src/app/testing/addons/addons.routes.ts
  apps/e2e/primeng/src/app/testing/addons/addons.spec.ts
  apps/e2e/primeng/src/app/testing/addons/addons.suite.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/clear-button.scenario.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/icon-prefix.scenario.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/password-toggle.scenario.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/text-currency.scenario.ts
  apps/e2e/primeng/src/app/testing/shared/test-suite.registry.ts
  apps/e2e/primeng/src/app/testing/testing-routes.ts
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
Due: lint, format

docs(primeng): document addon API in README
  packages/dynamic-forms-primeng/README.md
Due: format

fix(primeng): align addon component selectors with df-prime-* prefix
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/pi-icon-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.ts
Due: lint, format

fix: include 'addons' in field exhaustive-whitelist type tests
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.type-test.ts
Due: lint, format

fix(dynamic-forms): include 'addons' in core field definition type tests
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/container-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/text-field.type-test.ts
Due: lint, format

fix(dynamic-forms): declare fieldInputs input on every addon kind component
  packages/dynamic-forms-primeng/src/lib/addons/pi-icon-addon.component.ts
  packages/dynamic-forms/src/lib/addons/component-addon.component.ts
  packages/dynamic-forms/src/lib/addons/template-addon.component.ts
  packages/dynamic-forms/src/lib/addons/text-addon.component.ts
Due: lint, format

fix(primeng): address DX review on PR #377
  apps/e2e/primeng/src/app/app.config.ts
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/providers/primeng-providers.ts
  packages/dynamic-forms-primeng/src/lib/types/addons.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/addon/addon-action.ts
  packages/dynamic-forms/src/lib/models/addon/addon-kind.ts
  packages/dynamic-forms/src/lib/models/addon/df-field-templates.token.ts
  packages/dynamic-forms/src/lib/providers/features/addons/with-custom-addon.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-form-config.ts
Due: lint, format

fix(dynamic-forms): drop redundant [Dynamic Forms] prefix; add e2e screenshots
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/clear-button-after-clear.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/clear-button-with-value.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/icon-prefix.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/password-toggle-hidden.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/password-toggle-visible.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/text-currency.png
  apps/e2e/primeng/src/app/testing/addons/addons.spec.ts
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.ts
  packages/dynamic-forms/src/lib/addons/template-addon.component.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/addon-warning.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-form-config.ts
Due: lint, format

docs(docs): add migration guide from ngx-formly to ng-forge
  .prettierignore
  apps/docs/public/content/feature-overview.md
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/public/content/pitfalls.md
  apps/docs/public/llms-full.txt
  apps/docs/public/llms.txt
  apps/docs/public/sitemap.xml
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/components/code-compare/code-compare.component.ts
  apps/docs/src/app/components/configuration-view/configuration-view.component.scss
  apps/docs/src/app/components/dsl-shift/dsl-shift.component.ts
  apps/docs/src/app/components/feature-overview/feature-overview.component.ts
  apps/docs/src/app/components/hidden-field-flow/hidden-field-flow.component.ts
  apps/docs/src/app/components/perf-pipeline/perf-pipeline.component.ts
  apps/docs/src/app/components/toc/toc.component.ts
  apps/docs/src/app/components/validator-pillars/validator-pillars.component.ts
  apps/docs/src/app/directives/content-components.directive.ts
  apps/docs/src/app/directives/content-segment-parser.ts
  apps/docs/src/app/layout/nav.config.ts
  apps/docs/src/app/services/content.service.ts
  apps/docs/src/styles.scss
Due: format

docs(docs): rework feature overview, restructure nav, polish migration guide
  apps/docs/public/content/feature-overview.md
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/public/content/pitfalls.md
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/docs/public/llms-full.txt
  apps/docs/public/llms.txt
  apps/docs/public/sitemap.xml
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/components/code-compare/code-compare.component.ts
  apps/docs/src/app/components/dsl-shift/dsl-shift.component.ts
  apps/docs/src/app/components/feature-overview/feature-overview.component.scss
  apps/docs/src/app/components/feature-overview/feature-overview.component.ts
  apps/docs/src/app/directives/content-components.directive.ts
  apps/docs/src/app/layout/nav.config.ts
  package.json
  pnpm-lock.yaml
Due: format

fix(docs): polish feature overview interactions and light-mode hero
  apps/docs/src/app/components/feature-overview/feature-overview.component.scss
  apps/docs/src/app/components/feature-overview/feature-overview.component.ts
Due: format
