Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

refactor(dynamic-forms): apply PR review feedback (round 3)
  apps/docs/src/app/components/integration-view/integration-view.component.ts
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms-material/styles/_defaults.scss
  packages/dynamic-forms/src/lib/providers/features/legacy-status-classes/with-legacy-status-classes.spec.ts
  packages/dynamic-forms/src/lib/styles/_form-field-base.scss
Due: lint, format

refactor(dynamic-forms)!: drop adapter ng-touched override blocks
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
Due: format

chore(dynamic-forms): drop stale @experimental markers
  packages/dynamic-forms/src/lib/models/submission-config.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/with-previous-value.ts
Due: lint, format

feat(dynamic-forms): narrow FieldDef.type against RegisteredFieldTypes
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.type-test.ts
Due: lint, format

fix(dynamic-forms): drop stale readonly DOM sync workaround
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
Due: lint, format

docs: add contributors section to README
  README.md
Due: format

feat(dynamic-forms): make renderReadyWhen explicit at registration sites
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/llms-full.txt
  apps/e2e/bootstrap/src/app/testing/bootstrap-components/bootstrap-components.routes.ts
  apps/e2e/bootstrap/src/app/testing/bootstrap-components/bootstrap-components.spec.ts
  apps/e2e/bootstrap/src/app/testing/bootstrap-components/bootstrap-components.suite.ts
  apps/e2e/bootstrap/src/app/testing/bootstrap-components/scenarios/textarea-readonly-runtime.scenario.ts
  apps/e2e/material/src/app/testing/material-components/material-components.routes.ts
  apps/e2e/material/src/app/testing/material-components/material-components.spec.ts
  apps/e2e/material/src/app/testing/material-components/material-components.suite.ts
  apps/e2e/material/src/app/testing/material-components/scenarios/textarea-readonly-runtime.scenario.ts
  packages/dynamic-forms-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-forms-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-primeng/src/lib/config/primeng-field-config.ts
  packages/dynamic-forms/CLAUDE.md
  packages/dynamic-forms/src/lib/definitions/base/field-def.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
Due: lint, format

fix(dynamic-forms): address second-pass review on addon system
  apps/docs/public/content/addons/custom-kinds.md
  apps/e2e/ionic/src/app/testing/addons/addons.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input-with-addons.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input-with-addons.component.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input-with-addons.component.spec.ts
  packages/dynamic-forms-primeng/src/lib/types/addons.type-test.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addon-action.directive.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addons.directive.spec.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.spec.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.ts
  packages/dynamic-forms/src/lib/models/addon/addon-kind.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/inject-addon-kind-registry/inject-addon-kind-registry.spec.ts
  packages/dynamic-forms/src/lib/utils/inject-addon-kind-registry/inject-addon-kind-registry.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/addon-warning.ts
Due: lint, format

docs(dynamic-forms): regenerate llms-full after merge with main
  apps/docs/public/llms-full.txt
Due: none

test(primeng): move @ts-expect-error above const for XOR addon type tests
  packages/dynamic-forms-primeng/src/lib/types/addons.type-test.ts
Due: lint, format

fix(docs): use vite-root-relative entry script in index.html
  apps/docs/index.html
Due: format

chore(deps): bump nx group to 22.7.2
  package.json
  pnpm-lock.yaml
Due: format

fix(dynamic-forms): make addon dispatch resilient to bag-forwarding lag
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addon-action.directive.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
Due: lint, format

chore(deps): bump in-range packages, safe majors, and add security overrides
  package.json
  pnpm-lock.yaml
Due: format

feat(dynamic-forms): widen AddonActionPreset with (string & {}) escape hatch
  packages/dynamic-forms/src/lib/models/addon/addon-action.ts
Due: lint, format

chore(deps): align openapi-generator's commander and chokidar specifiers with bumps
  packages/openapi-generator/package.json
Due: format

fix(dynamic-forms): restore page-field gap regression on paged forms
  packages/dynamic-forms/src/lib/dynamic-form.component.scss
Due: format

chore(deps): bump in-range packages, safe majors, security overrides (#414)
  package.json
  packages/openapi-generator/package.json
  pnpm-lock.yaml
Due: format

fix(dynamic-forms): address third-pass review on addon system
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/bs-button-addon.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-ionic/src/lib/addons/ion-button-addon.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/addons/mat-button-addon.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/prime-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addon-action.directive.ts
  packages/dynamic-forms/src/lib/addons/component-addon.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/addon/addon-def.ts
  packages/dynamic-forms/src/lib/models/addon/addon-kind.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-field-addons.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-form-config.ts
Due: lint, format

fix(dynamic-forms): address fourth-pass review on addon system
  packages/dynamic-forms-bootstrap/src/lib/addons/bs-button-addon.component.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/bs-icon-addon.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-ionic/src/lib/addons/ion-icon-addon.component.ts
  packages/dynamic-forms-ionic/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/addons/mat-icon-addon.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/prime-button-addon.component.spec.ts
  packages/dynamic-forms-primeng/src/lib/addons/prime-icon-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addon-action.directive.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
Due: lint, format

test(ionic): rebake ionic-validation-with-errors after status-classes opt-in
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-validation-with-errors.png
Due: none

fix(forms): Ionic addon button visual integration + PrimeNG hover on dark themes
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
Due: lint, format

fix(forms): render Ionic ion-button addons INSIDE ion-input + drop FSC throwing factory
  packages/dynamic-forms-ionic/src/lib/addons/ion-inline-button-addon.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input-with-addons.component.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
Due: lint, format

fix(dynamic-forms): address fifth-pass review on addon system
  apps/e2e/bootstrap/src/app/testing/addons/addons.spec.ts
  apps/e2e/ionic/src/app/testing/addons/addons.spec.ts
  apps/e2e/material/src/app/testing/addons/addons.spec.ts
  apps/e2e/primeng/src/app/testing/addons/addons.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/bs-button-addon.component.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-ionic/eslint.config.mjs
  packages/dynamic-forms-ionic/src/lib/addons/ion-inline-button-addon.component.ts
  packages/dynamic-forms-ionic/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addon-action.directive.spec.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addon-action.directive.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.spec.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.ts
  packages/dynamic-forms/src/lib/core/field-tree-utils.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/utils/build-field-inputs/build-field-inputs.spec.ts
  packages/dynamic-forms/src/lib/utils/build-field-inputs/build-field-inputs.ts
Due: lint, format

test(dynamic-forms): fix Ionic addon selectors + rebake Material disabled-addon baseline
  apps/e2e/ionic/src/app/testing/addons/addons.spec.ts
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/disabled-addon.png
Due: format

fix(dynamic-forms): sixth-pass review — convention, a11y, and test gaps
  apps/docs/src/app/components/addon-info/addon-info.component.ts
  apps/e2e/bootstrap/src/app/testing/addons/addons.spec.ts
  apps/e2e/ionic/src/app/testing/addons/addons.spec.ts
  apps/e2e/material/src/app/testing/addons/addons.spec.ts
  apps/e2e/primeng/src/app/testing/addons/addons.spec.ts
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-ionic/src/lib/addons/ion-button-addon.component.ts
  packages/dynamic-forms-ionic/src/lib/addons/ion-inline-button-addon.component.spec.ts
  packages/dynamic-forms-ionic/src/lib/addons/ion-inline-button-addon.component.ts
  packages/dynamic-forms-material/src/lib/addons/mat-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-primeng/src/lib/addons/prime-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-field-addons.spec.ts
Due: lint, format

docs(dynamic-forms): document addon support declaration alongside renderReadyWhen
  packages/dynamic-forms/CLAUDE.md
Due: format

chore(dynamic-forms): pre-merge polish — MCP addon surface + FSC helper migration
  packages/dynamic-form-mcp/src/index.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/search.tool.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms/integration/src/mappers/button/navigation-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
Due: lint, format

fix: emit array minLength/maxLength as direct properties in openapi-generator (#416)
  packages/openapi-generator/src/__tests__/integration/__fixtures__/array-required.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

refactor: log every dropped container-field validator + add type-sync comment
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

fix(dynamic-forms): support nullable on checkbox/toggle fields
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.type-test.ts
  packages/dynamic-forms/integration/src/definitions/checkbox-field.ts
  packages/dynamic-forms/integration/src/definitions/toggle-field.ts
  packages/dynamic-forms/src/lib/definitions/base/base-checked-field.ts
  packages/dynamic-forms/src/lib/definitions/nullable-container-restriction.type-test.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.spec.ts
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

docs: clarify TS2353 mechanism + tighten #416 regression assertion
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

fix: handle circular schema references in openapi-generator (#419)
  packages/openapi-generator/bin/ng-forge-generator.ts
  packages/openapi-generator/src/__tests__/integration/__fixtures__/circular-refs.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/parser/schema-walker.ts
Due: lint, format

fix: emit array minLength/maxLength as direct properties in openapi-generator (#416) (#417)
  packages/openapi-generator/src/__tests__/integration/__fixtures__/array-required.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

refactor: tighten cycle guards on openapi-generator (PR #420 review)
  packages/openapi-generator/bin/ng-forge-generator.ts
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/parser/schema-walker.ts
Due: lint, format

fix: handle circular schema references in openapi-generator (#419) (#420)
  packages/openapi-generator/bin/ng-forge-generator.ts
  packages/openapi-generator/src/__tests__/integration/__fixtures__/circular-refs.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/parser/schema-walker.ts
Due: lint, format

refactor(dynamic-forms): apply PR review feedback on checkbox nullable
  internal/examples-material/src/examples/scenarios/toggle.scenario.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/src/lib/definitions/base/base-checked-field.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.spec.ts
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
Due: lint, format

fix(dynamic-forms): support nullable on checkbox/toggle fields (#418)
  internal/examples-material/src/examples/scenarios/toggle.scenario.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.type-test.ts
  packages/dynamic-forms/integration/src/definitions/checkbox-field.ts
  packages/dynamic-forms/integration/src/definitions/toggle-field.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/src/lib/definitions/base/base-checked-field.ts
  packages/dynamic-forms/src/lib/definitions/nullable-container-restriction.type-test.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.spec.ts
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format
