Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(primeng): correct radio button click and multi-select stability
  apps/examples/primeng/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.spec.ts
Due: format

test(dynamic-forms): remove low-value type-checking tests and fix test names
  apps/examples/ionic/src/app/testing/ionic-components/ionic-components.spec.ts
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

fix(ionic): correct route path in field-meta test beforeEach
  apps/examples/ionic/src/app/testing/field-meta/field-meta.spec.ts
Due: format

fix(primeng): improve test stability for calendar format and multi-select
  apps/examples/primeng/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.spec.ts
Due: format

refactor(dynamic-forms): use firstValueFrom instead of manual subscription in test
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

refactor(dynamic-forms): improve test patterns with firstValueFrom and take/toArray
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/utils/initialization-tracker/initialization-tracker.spec.ts
Due: lint, format

fix(dynamic-forms): improve reliability and add edge case coverage
  .github/workflows/pr-check.yml
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.routes.ts
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.suite.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/bidirectional-float.scenario.ts
  packages/dynamic-form-mcp/pnpm-lock.yaml
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.spec.ts
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.ts
Due: lint, format

ci: add inline Playwright artifact viewing in GitHub job summary
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  internal/examples-shared-testing/src/lib/playwright-config.ts
  scripts/playwright-job-summary.mjs
Due: format

docs(mcp): update README with actual tool documentation
  packages/dynamic-form-mcp/README.md
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.spec.ts
  packages/dynamic-form-mcp/src/utils/ast-extractor.spec.ts
Due: lint, format

feat(dynamic-forms): add withEventFormValue() feature for attaching form values to events
  packages/dynamic-forms/src/lib/events/event.bus.spec.ts
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/events/index.ts
  packages/dynamic-forms/src/lib/events/interfaces/form-event.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/providers/features/dynamic-form-feature.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/emit-form-value.token.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/index.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/with-event-form-value.spec.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/with-event-form-value.ts
  packages/dynamic-forms/src/lib/providers/features/index.ts
Due: lint, format

docs: add withEventFormValue() section to events documentation
  apps/docs/src/docs/advanced/events/index.md
Due: format

refactor(dynamic-forms): extract attachFormValue helper for readability
  packages/dynamic-forms/src/lib/events/event.bus.ts
Due: lint, format

ci(release): include dynamic-form-mcp in release pipeline
  .github/workflows/release.yml
Due: none

fix(dynamic-forms): address code review feedback for withEventFormValue
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/emit-form-value.token.ts
Due: lint, format

refactor(dynamic-forms): make EMIT_FORM_VALUE_ON_EVENTS token internal
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/emit-form-value.token.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/index.ts
Due: lint, format

feat(dynamic-forms): add withEventFormValue() feature for attaching form values to events (#209)
  apps/docs/src/docs/advanced/events/index.md
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms/src/lib/events/event.bus.spec.ts
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/events/index.ts
  packages/dynamic-forms/src/lib/events/interfaces/form-event.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/providers/features/dynamic-form-feature.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/emit-form-value.token.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/index.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/with-event-form-value.spec.ts
  packages/dynamic-forms/src/lib/providers/features/event-form-value/with-event-form-value.ts
  packages/dynamic-forms/src/lib/providers/features/index.ts
Due: lint, format

docs(mcp): sync README with docs page and extract constants
  packages/dynamic-form-mcp/README.md
  packages/dynamic-form-mcp/src/utils/ast-extractor.spec.ts
  packages/dynamic-form-mcp/src/utils/ast-extractor.ts
Due: lint, format

fix: address code review issues in playwright job summary
  scripts/playwright-job-summary.mjs
Due: none

refactor(mcp): consolidate to 4 focused tools with improved documentation (#210)
  .github/workflows/release.yml
  packages/dynamic-form-mcp/README.md
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.spec.ts
  packages/dynamic-form-mcp/src/utils/ast-extractor.spec.ts
  packages/dynamic-form-mcp/src/utils/ast-extractor.ts
Due: lint, format

ci: add inline Playwright artifact viewing in GitHub job summary (#208)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  internal/examples-shared-testing/src/lib/playwright-config.ts
  scripts/playwright-job-summary.mjs
Due: format

refactor(dynamic-forms): extract CSS variable defaults to internal styling
  apps/examples/bootstrap/src/styles.scss
  apps/examples/ionic/src/styles.scss
  apps/examples/material/src/styles.scss
  apps/examples/primeng/src/styles.scss
  internal/styling/src/_form-defaults.scss
  internal/styling/src/index.scss
  packages/dynamic-forms-bootstrap/src/lib/styles/_form-field.scss
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-forms-material/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
  packages/dynamic-forms/src/lib/fields/page/page-field.component.scss
  packages/dynamic-forms/src/lib/styles/grid-system.scss
Due: format

fix(dynamic-forms): add explicit invalidBorderColor to PrimeNG theme
  internal/styling/src/primeng.ts
Due: format

refactor(dynamic-forms): add CSS variable fallbacks for non-breaking changes
  packages/dynamic-forms-bootstrap/src/lib/styles/_form-field.scss
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-forms-material/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
  packages/dynamic-forms/src/lib/fields/page/page-field.component.scss
  packages/dynamic-forms/src/lib/styles/grid-system.scss
Due: format

feat(dynamic-forms): add minLength/maxLength validation for array fields
  apps/examples/bootstrap/src/app/testing/array-fields/scenarios/array-max-length.scenario.ts
  apps/examples/bootstrap/src/app/testing/array-fields/scenarios/array-min-length.scenario.ts
  apps/examples/ionic/src/app/testing/array-fields/scenarios/array-max-length.scenario.ts
  apps/examples/ionic/src/app/testing/array-fields/scenarios/array-min-length.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-max-length.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-min-length.scenario.ts
  apps/examples/primeng/src/app/testing/array-fields/scenarios/array-max-length.scenario.ts
  apps/examples/primeng/src/app/testing/array-fields/scenarios/array-min-length.scenario.ts
  guides/02-type-system-deep-dive.md
  internal/dynamic-forms-zod/mcp/src/tools/validate-config.tool.ts
  internal/dynamic-forms-zod/src/lib/schemas/containers/factories.ts
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.ts
  packages/dynamic-forms/src/lib/helpers/create-field.spec.ts
  packages/dynamic-forms/src/lib/helpers/create-field.ts
  packages/dynamic-forms/testing/src/integration/form-mapping.integration.spec.ts
Due: lint, format

test(dynamic-forms): add minLength/maxLength to ArrayField type tests
  packages/dynamic-forms/src/lib/definitions/default/array-field.type-test.ts
Due: lint, format

chore(release): bump version to 0.5.1
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

chore(release): publish 0.5.1
  CHANGELOG.md
  package.json
Due: format

chore(release): bump version to 0.5.1 (#212)
  CHANGELOG.md
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

fix(docs): correct broken iframe routes and array example configuration
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/prebuilt/form-rows/index.md
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format

fix(docs): correct broken iframe routes and array example configuration (#213)
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/prebuilt/form-rows/index.md
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format

refactor(dynamic-forms): add UUID-based key suffix system for array items
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/array-field/key-suffix.spec.ts
  packages/dynamic-forms/src/lib/utils/array-field/key-suffix.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
Due: lint, format

feat(material,bootstrap,primeng,ionic): add prependArrayItem and insertArrayItem button types
  apps/examples/bootstrap/src/app/testing/array-fields/scenarios/array-boundary-indices.scenario.ts
  apps/examples/bootstrap/src/app/testing/array-fields/scenarios/array-insert-at-index.scenario.ts
  apps/examples/bootstrap/src/app/testing/array-fields/scenarios/array-prepend.scenario.ts
  apps/examples/ionic/src/app/testing/array-fields/scenarios/array-boundary-indices.scenario.ts
  apps/examples/ionic/src/app/testing/array-fields/scenarios/array-insert-at-index.scenario.ts
  apps/examples/ionic/src/app/testing/array-fields/scenarios/array-prepend.scenario.ts
  apps/examples/primeng/src/app/testing/array-fields/scenarios/array-boundary-indices.scenario.ts
  apps/examples/primeng/src/app/testing/array-fields/scenarios/array-insert-at-index.scenario.ts
  apps/examples/primeng/src/app/testing/array-fields/scenarios/array-prepend.scenario.ts
  packages/dynamic-forms-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/index.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/index.ts
  packages/dynamic-forms-bootstrap/src/lib/types/registry-augmentation.ts
  packages/dynamic-forms-bootstrap/src/lib/types/types.ts
  packages/dynamic-forms-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/index.ts
  packages/dynamic-forms-ionic/src/lib/types/registry-augmentation.ts
  packages/dynamic-forms-ionic/src/lib/types/types.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-material/src/lib/fields/button/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/index.ts
  packages/dynamic-forms-material/src/lib/types/registry-augmentation.ts
  packages/dynamic-forms-material/src/lib/types/types.ts
  packages/dynamic-forms-primeng/src/lib/config/primeng-field-config.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/index.ts
  packages/dynamic-forms-primeng/src/lib/types/registry-augmentation.ts
  packages/dynamic-forms-primeng/src/lib/types/types.ts
Due: lint, format

fix(dynamic-forms): correct array removal and version tracking for differential updates
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
Due: lint, format

test(examples): update E2E selectors for UUID-suffixed array item fields
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/material/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
