Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

fix(config): use development build for E2E to avoid baseHref issues
  scripts/playwright-docker.sh
Due: none

fix(dynamic-forms): convert string dates to Date objects in datepicker mapper
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.ts
Due: lint, format

fix(primeng): correct selectors for calendar and multi-select tests
  apps/examples/primeng/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/primeng-error-announcements-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/primeng-error-announcements-with-error.png
  apps/examples/primeng/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.spec.ts
Due: format

fix(primeng): fix radio and multi-select test selectors
  apps/examples/primeng/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.spec.ts
Due: format

fix(primeng): improve test stability for calendar format and multi-select
  apps/examples/primeng/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.spec.ts
Due: format

test: remove useless tests that don't verify actual behavior
  CLAUDE.md
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.spec.ts
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

refactor(dynamic-forms): use firstValueFrom instead of manual subscription in test
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

refactor(dynamic-forms): improve test patterns with firstValueFrom and take/toArray
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/utils/initialization-tracker/initialization-tracker.spec.ts
Due: lint, format

test(dynamic-forms): remove duplicate and non-library tests
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.spec.ts
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

test(dynamic-forms): remove low-value type-checking tests and fix test names
  apps/examples/ionic/src/app/testing/ionic-components/ionic-components.spec.ts
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

fix(dynamic-forms): comprehensive API fixes for type inference and silent failures
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/registry/ui-adapters.json
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type.ts
  packages/dynamic-forms/integration/src/mappers/button/button-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/index.ts
  packages/dynamic-forms/integration/src/mappers/select/options-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/slider/slider-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/textarea/textarea-field-mapper.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/registry/root-form-registry.service.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
  packages/dynamic-forms/src/lib/core/validation/async-http-validator.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.spec.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
  packages/dynamic-forms/src/lib/utils/submission-handler/submission-handler.ts
Due: lint, format

fix(dynamic-forms): comprehensive API fixes for type inference and silent failures (#206)
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/registry/ui-adapters.json
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type.ts
  packages/dynamic-forms/integration/src/mappers/button/button-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/index.ts
  packages/dynamic-forms/integration/src/mappers/select/options-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/slider/slider-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/textarea/textarea-field-mapper.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/registry/root-form-registry.service.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
  packages/dynamic-forms/src/lib/core/validation/async-http-validator.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.spec.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
  packages/dynamic-forms/src/lib/utils/submission-handler/submission-handler.ts
Due: lint, format

test(dynamic-forms): add path-utils unit tests
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.spec.ts
Due: lint, format

test(dynamic-forms): add submission-handler edge case tests
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

fix(bootstrap): remove cols assertion from field-meta test
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.spec.ts
Due: format

test(bootstrap): add derivation-logic E2E tests
  apps/examples/bootstrap/src/app/testing/derivation-logic/derivation-logic.routes.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/derivation-logic.suite.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/conditional-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/expression-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/function-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/shorthand-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/static-value-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/testing-routes.ts
Due: format

fix(config): increase webServer timeout for Docker E2E tests
  internal/examples-shared-testing/src/lib/playwright-config.ts
Due: format

test(forms): add accessibility screenshot assertions
  apps/examples/bootstrap/src/app/testing/accessibility/accessibility.spec.ts
  apps/examples/material/src/app/testing/accessibility/accessibility.spec.ts
  apps/examples/primeng/src/app/testing/accessibility/accessibility.spec.ts
Due: format

test(ionic): add ionic-components E2E tests
  apps/examples/ionic/src/app/testing/ionic-components/ionic-components.routes.ts
  apps/examples/ionic/src/app/testing/ionic-components/ionic-components.spec.ts
  apps/examples/ionic/src/app/testing/ionic-components/ionic-components.suite.ts
  apps/examples/ionic/src/app/testing/ionic-components/scenarios/checkbox-array-component.scenario.ts
  apps/examples/ionic/src/app/testing/ionic-components/scenarios/datetime-component.scenario.ts
  apps/examples/ionic/src/app/testing/ionic-components/scenarios/range-component.scenario.ts
  apps/examples/ionic/src/app/testing/ionic-components/scenarios/toggle-component.scenario.ts
Due: format

test(ionic): add field-meta E2E tests
  apps/examples/ionic/src/app/testing/field-meta/field-meta.routes.ts
  apps/examples/ionic/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/ionic/src/app/testing/field-meta/field-meta.suite.ts
  apps/examples/ionic/src/app/testing/field-meta/scenarios/meta-native-elements.scenario.ts
  apps/examples/ionic/src/app/testing/field-meta/scenarios/meta-wrapped-components.scenario.ts
  apps/examples/ionic/src/app/testing/testing-routes.ts
Due: format

test(primeng): add field-meta E2E tests
  apps/examples/primeng/src/app/testing/field-meta/field-meta.routes.ts
  apps/examples/primeng/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/primeng/src/app/testing/field-meta/field-meta.suite.ts
  apps/examples/primeng/src/app/testing/field-meta/scenarios/meta-native-elements.scenario.ts
  apps/examples/primeng/src/app/testing/field-meta/scenarios/meta-wrapped-components.scenario.ts
Due: format

test(bootstrap): add field-meta E2E tests
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.routes.ts
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.suite.ts
  apps/examples/bootstrap/src/app/testing/field-meta/scenarios/meta-native-elements.scenario.ts
  apps/examples/bootstrap/src/app/testing/field-meta/scenarios/meta-wrapped-components.scenario.ts
Due: format

test(primeng): add derivation-logic E2E tests
  apps/examples/primeng/src/app/testing/derivation-logic/derivation-logic.routes.ts
  apps/examples/primeng/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/primeng/src/app/testing/derivation-logic/derivation-logic.suite.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/conditional-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/expression-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/function-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/shorthand-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/static-value-derivation.scenario.ts
Due: format

test(primeng): add primeng-components E2E tests
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.routes.ts
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.spec.ts
  apps/examples/primeng/src/app/testing/primeng-components/primeng-components.suite.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-basic.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-button-bar.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-constraints.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-disabled.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-format.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/calendar-initial-value.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/multi-select-basic.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/multi-select-disabled.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/multi-select-filter.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/multi-select-initial-value.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-basic.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-bounds.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-disabled.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-steps.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/slider-value-display.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/toggle-basic.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/toggle-disabled.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/toggle-initial-value.scenario.ts
  apps/examples/primeng/src/app/testing/primeng-components/scenarios/toggle-label.scenario.ts
  apps/examples/primeng/src/app/testing/testing-routes.ts
Due: format

test(ionic): add derivation-logic E2E tests
  apps/examples/ionic/src/app/testing/derivation-logic/derivation-logic.routes.ts
  apps/examples/ionic/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/ionic/src/app/testing/derivation-logic/derivation-logic.suite.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/conditional-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/expression-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/function-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/shorthand-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/static-value-derivation.scenario.ts
Due: format

test(dynamic-forms): add error case tests and fix type casting
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.spec.ts
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

test(dynamic-forms): add array lifecycle and meta persistence tests
  apps/examples/bootstrap/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/bootstrap/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/bootstrap/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/ionic/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/ionic/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/ionic/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/material/src/app/testing/field-meta/field-meta.spec.ts
  apps/examples/primeng/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/primeng/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/primeng/src/app/testing/field-meta/field-meta.spec.ts
Due: format

test(dynamic-forms): add comprehensive edge case coverage
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.spec.ts
  packages/dynamic-forms/src/lib/utils/path-utils/path-utils.ts
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
Due: lint, format

fix(config): increase E2E timeout to 45 minutes for expanded test suite
  .github/workflows/pr-check.yml
Due: none

revert(config): restore original E2E configuration without pre-build
  internal/examples-shared-testing/src/lib/playwright-config.ts
  scripts/playwright-docker.sh
Due: format

perf(config): add 2 parallel workers in CI for faster E2E tests
  internal/examples-shared-testing/src/lib/playwright-config.ts
  packages/dynamic-form-mcp/pnpm-lock.yaml
Due: format

test(forms): add accessibility screenshot baselines for material and bootstrap
  apps/examples/bootstrap/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/bootstrap-error-announcements-empty.png
  apps/examples/bootstrap/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/bootstrap-error-announcements-with-error.png
  apps/examples/material/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/material-error-announcements-empty.png
  apps/examples/material/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/material-error-announcements-with-error.png
Due: none

fix(config): use serve-static in Docker for faster E2E tests
  internal/examples-shared-testing/src/lib/playwright-config.ts
  scripts/playwright-docker.sh
Due: format

fix(ionic): correct checkbox test assertions and select meta propagation
  apps/examples/ionic/src/app/testing/ionic-components/ionic-components.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
Due: lint, format
