Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(dynamic-forms): add ng add schematic + Nx generator for adapter setup (#443)
  apps/docs/public/content/getting-started.md
  apps/docs/src/app/components/cli-command/cli-command.component.html
  apps/docs/src/app/components/cli-command/cli-command.component.scss
  apps/docs/src/app/components/cli-command/cli-command.component.ts
  apps/docs/src/app/components/install-command/install-command.component.html
  apps/docs/src/app/components/install-command/install-command.component.ts
  apps/docs/src/app/directives/content-components.directive.ts
  apps/docs/src/app/directives/tab-keyboard.directive.ts
  apps/docs/src/app/services/uid.service.ts
  internal/styling/src/_command-box.scss
  packages/dynamic-forms/eslint.config.mjs
  packages/dynamic-forms/ng-package.json
  packages/dynamic-forms/package.json
  packages/dynamic-forms/project.json
  packages/dynamic-forms/schematics/collection.json
  packages/dynamic-forms/schematics/generators.json
  packages/dynamic-forms/schematics/ng-add/index.spec.ts
  packages/dynamic-forms/schematics/ng-add/index.ts
  packages/dynamic-forms/schematics/ng-add/nx-wrapper.ts
  packages/dynamic-forms/schematics/ng-add/recipes.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-packages.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-providers.ts
  packages/dynamic-forms/schematics/ng-add/rules/add-styles.ts
  packages/dynamic-forms/schematics/ng-add/schema.d.ts
  packages/dynamic-forms/schematics/ng-add/schema.json
  packages/dynamic-forms/schematics/tsconfig.json
  packages/dynamic-forms/schematics/versions.ts
  packages/dynamic-forms/schematics/vitest.config.ts
  scripts/finalize-dynamic-forms-schematics.mjs
Due: lint, format

fix(dynamic-forms): align primeng schematic + docs to @primeuix/themes
  apps/docs/src/app/components/integration-view/integration-view.component.ts
  packages/dynamic-forms/schematics/ng-add/index.spec.ts
  packages/dynamic-forms/schematics/ng-add/recipes.ts
  packages/dynamic-forms/schematics/versions.ts
  scripts/finalize-dynamic-forms-schematics.mjs
Due: lint, format

ci: run nx affected -t test-schematics in PR check
  .github/workflows/pr-check.yml
Due: none

fix(primeng): scrub remaining @primeng/themes references
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/schematics/ng-add/recipes.ts
Due: lint, format

refactor(docs): redesign landing page typography, copy, motion, and a11y
  apps/docs/src/app/pages/index.page.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

feat(docs): market config generation (AI + OpenAPI) and server-driven values on landing
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

refactor(docs): trim landing sections, compress field types, add schema card
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

fix(dynamic-forms): align primeng to @primeuix/themes + wire test-schematics into CI (#451)
  .github/workflows/pr-check.yml
  apps/docs/src/app/components/integration-view/integration-view.component.ts
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/schematics/ng-add/index.spec.ts
  packages/dynamic-forms/schematics/ng-add/recipes.ts
  packages/dynamic-forms/schematics/versions.ts
  scripts/finalize-dynamic-forms-schematics.mjs
Due: lint, format

fix(docs): self-host adapter icon fonts instead of loading from CDN
  apps/docs/index.html
  apps/docs/src/app/adapters/adapter-registrations.ts
  apps/docs/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: format

feat(docs): redesign landing page with live form demos and ember motion
  apps/docs/src/app/pages/landing/ember-canvas.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/docs/src/app/pages/landing/landing.forms.ts
Due: format

chore(deps): upgrade angular to 22
  apps/docs/src/types.d.ts
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/internal/src/lib/core/derivation/field-state-extractor.ts
  packages/dynamic-forms/internal/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/package.json
  packages/dynamic-forms/schematics/tsconfig.json
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.interfaces.ts
  packages/openapi-generator/src/__tests__/integration/helpers.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: lint, format

fix(docs): self-host adapter icon fonts instead of loading from CDN (#460)
  apps/docs/index.html
  apps/docs/src/app/adapters/adapter-registrations.ts
  apps/docs/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: format

refactor: remove unused internal barrels and dead files
  packages/dynamic-forms-bootstrap/src/lib/shared/index.ts
  packages/dynamic-forms-ionic/src/lib/types/field-types.ts
  packages/dynamic-forms-material/src/lib/shared/index.ts
  packages/dynamic-forms-material/src/lib/testing/minimal-test-builders.ts
  packages/dynamic-forms/src/lib/core/cross-field/index.ts
  packages/dynamic-forms/src/lib/core/derivation/index.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/index.ts
  packages/dynamic-forms/src/lib/core/http/index.ts
  packages/dynamic-forms/src/lib/core/property-derivation/index.ts
  packages/dynamic-forms/src/lib/fields/index.ts
  packages/dynamic-forms/src/lib/providers/features/index.ts
  packages/dynamic-forms/src/lib/state/index.ts
  packages/dynamic-forms/src/lib/utils/container-utils/index.ts
  packages/dynamic-forms/src/lib/utils/form-validation/index.ts
  packages/dynamic-forms/src/lib/utils/frozen-values/index.ts
  packages/dynamic-forms/src/lib/utils/index.ts
  packages/dynamic-forms/src/lib/utils/path-utils/index.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/index.ts
  packages/dynamic-forms/src/lib/wrappers/css/index.ts
  packages/dynamic-forms/src/lib/wrappers/index.ts
  packages/dynamic-forms/src/lib/wrappers/row/index.ts
Due: lint, format

fix(primeng): explicitly mark FieldState touched in FormValueControl wrappers
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
Due: lint, format

refactor: remove unused internal barrels and dead files (#458)
  packages/dynamic-forms-bootstrap/src/lib/shared/index.ts
  packages/dynamic-forms-ionic/src/lib/types/field-types.ts
  packages/dynamic-forms-material/src/lib/shared/index.ts
  packages/dynamic-forms-material/src/lib/testing/minimal-test-builders.ts
  packages/dynamic-forms/src/lib/core/cross-field/index.ts
  packages/dynamic-forms/src/lib/core/derivation/index.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/index.ts
  packages/dynamic-forms/src/lib/core/http/index.ts
  packages/dynamic-forms/src/lib/core/property-derivation/index.ts
  packages/dynamic-forms/src/lib/fields/index.ts
  packages/dynamic-forms/src/lib/providers/features/index.ts
  packages/dynamic-forms/src/lib/state/index.ts
  packages/dynamic-forms/src/lib/utils/container-utils/index.ts
  packages/dynamic-forms/src/lib/utils/form-validation/index.ts
  packages/dynamic-forms/src/lib/utils/frozen-values/index.ts
  packages/dynamic-forms/src/lib/utils/index.ts
  packages/dynamic-forms/src/lib/utils/path-utils/index.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/index.ts
  packages/dynamic-forms/src/lib/wrappers/css/index.ts
  packages/dynamic-forms/src/lib/wrappers/index.ts
  packages/dynamic-forms/src/lib/wrappers/row/index.ts
Due: lint, format

chore(deps): upgrade angular to 22 (#462)
  apps/docs/src/types.d.ts
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms/internal/src/lib/core/derivation/field-state-extractor.ts
  packages/dynamic-forms/internal/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/package.json
  packages/dynamic-forms/schematics/tsconfig.json
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.interfaces.ts
  packages/openapi-generator/src/__tests__/integration/helpers.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: lint, format

style(docs): polish landing headers, footer, demo fit, and code legibility
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/docs/src/app/pages/landing/landing.forms.ts
Due: format

chore(config): drop baseUrl and ignoreDeprecations from tsconfig.base.json
  apps/docs/tsconfig.json
  apps/examples/sandbox/tsconfig.json
  internal/examples-bootstrap/tsconfig.json
  internal/examples-ionic/tsconfig.json
  internal/examples-material/tsconfig.json
  internal/examples-primeng/tsconfig.json
  internal/sandbox-adapter-primeng/tsconfig.json
  packages/dynamic-forms/schematics/tsconfig.json
  packages/openapi-generator/src/__tests__/integration/helpers.ts
  tsconfig.base.json
Due: lint, format

chore(config): drop baseUrl and ignoreDeprecations from tsconfig.base.json (#463)
  apps/docs/tsconfig.json
  apps/examples/sandbox/tsconfig.json
  internal/examples-bootstrap/tsconfig.json
  internal/examples-ionic/tsconfig.json
  internal/examples-material/tsconfig.json
  internal/examples-primeng/tsconfig.json
  internal/sandbox-adapter-primeng/tsconfig.json
  packages/dynamic-forms/schematics/tsconfig.json
  packages/openapi-generator/src/__tests__/integration/helpers.ts
  tsconfig.base.json
Due: lint, format

feat(docs): add serializable-data beat, use-case strip, and zod note to landing
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

perf(dynamic-forms): lazy-load the derivation engine
  packages/dynamic-forms/src/lib/core/derivation/bootstrap-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/config-has-derivations.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-render-gate.ts
  packages/dynamic-forms/src/lib/core/derivation/field-traversal.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
Due: lint, format

style(docs): polish landing marketing beats and restructure generate section
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

style(docs): add 1.0 launch badge and tighten landing marketing copy
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

style(docs): declutter hero to a single 1.0 badge, move zoneless to trust strip
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

style(docs): drop duplicate production-ready signal from trust strip
  apps/docs/src/app/pages/landing/landing.component.html
Due: format

style(docs): render hero 1.0 signal as a label, not a pill, to avoid clashing with the formly pill
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

feat(docs): repurpose landing tail into production-qualities (a11y, i18n, extensibility, perf)
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

style(docs): make production-qualities cards uniform by dropping per-card docs links
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

style(docs): restore hover lift on production-qualities cards
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

refactor(docs): make landing demo a single tabbed window with a roomier form
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.constants.ts
  internal/examples-shared-ui/src/lib/example-scenario.component.scss
Due: format

feat(docs): elevate the landing demo with a segmented toggle, cross-fade, and ember glow
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

style(docs): give the landing demo form more horizontal breathing room
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

style(docs): left-align the demo form with the empty space on the right
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

style(docs): move the trust strip above the install box in the CTA
  apps/docs/src/app/pages/landing/landing.component.html
Due: format

fix(docs): stop clipping the CTA gradient descender and center the trust strip
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

fix(docs): right-align the stackblitz tooltip so it isn't clipped by the demo window
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

fix(dynamic-forms): make lazy derivation engine ssr-safe and failure-tolerant
  guides/08-derivation-system.md
  packages/dynamic-forms/CLAUDE.md
  packages/dynamic-forms/src/lib/core/derivation/config-has-derivations.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/config-has-derivations.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-render-gate.ts
Due: lint, format

refactor(docs): drop dead landing utils, constants, and validation-form leftovers
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/docs/src/app/pages/landing/landing.forms.ts
  apps/docs/src/app/pages/landing/landing.utils.ts
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
