Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "packages/**/*.{ts,js}"
      run: pnpm eslint {staged_files} --fix
    format:
      glob: "*.{ts,js,json,md,html,scss,css}"
      run: pnpm prettier --write {staged_files}

commit-msg:
  commands:
    commitlint:
      run: echo "Commit message format validated"

Fix: Escape Angular template syntax in markdown
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
Due: format

Fix: Remove unsupported disabled logic type
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
Due: format

feat: Implement array field type for dynamic forms
  packages/dynamic-form/src/lib/core/form-mapping.ts
  packages/dynamic-form/src/lib/definitions/default/array-field.ts
  packages/dynamic-form/src/lib/definitions/default/index.ts
  packages/dynamic-form/src/lib/fields/array/array-field.component.scss
  packages/dynamic-form/src/lib/fields/array/array-field.component.ts
  packages/dynamic-form/src/lib/fields/index.ts
  packages/dynamic-form/src/lib/mappers/array/array-field-mapper.ts
  packages/dynamic-form/src/lib/mappers/index.ts
  packages/dynamic-form/src/lib/models/registry/field-registry.ts
  packages/dynamic-form/src/lib/models/types/field-helpers.ts
  packages/dynamic-form/src/lib/models/types/nesting-constraints.ts
  packages/dynamic-form/src/lib/models/types/type-guards.ts
  packages/dynamic-form/src/lib/providers/built-in-fields.ts
  packages/dynamic-form/src/lib/utils/flattener/field-flattener.ts
Due: lint, format

Add: Implement conditional disabled logic functionality
  packages/dynamic-form-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-form/src/lib/core/logic/logic-applicator.ts
  packages/dynamic-form/src/lib/core/registry/disabled-logic-registry.service.ts
  packages/dynamic-form/src/lib/core/registry/index.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/utils/get-disabled-signal.ts
  packages/dynamic-form/src/lib/utils/index.ts
Due: lint, format

chore: Add package-lock.json to .gitignore
  .gitignore
Due: none

fix: update original tests for className bug fixes and skip failing slider tests
  packages/dynamic-form-material/src/lib/fields/select/mat-select.spec.ts
  packages/dynamic-form-material/src/lib/fields/slider/mat-slider.spec.ts
  packages/dynamic-form-material/src/lib/fields/textarea/mat-textarea.spec.ts
Due: lint, format

Fix: Update disabled logic to work with FieldContext
  packages/dynamic-form-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-form-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-form-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-form-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-form/src/lib/core/registry/disabled-logic-registry.service.ts
  packages/dynamic-form/src/lib/utils/get-disabled-signal.ts
Due: lint, format

docs: Add array field documentation and tests
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/docs/src/docs/prebuilt/form-arrays/ng-doc.page.ts
  packages/dynamic-form/src/lib/fields/array/array-field.component.spec.ts
Due: lint, format

feat(validation): Add async and HTTP validation support using Angular resource API
  packages/dynamic-form/src/lib/core/registry/function-registry.service.ts
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
  packages/dynamic-form/src/lib/core/validation/validator-types.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/models/form-config.ts
  packages/dynamic-form/src/lib/models/validation/validator-config.ts
Due: lint, format

test: Add array field integration tests
  packages/dynamic-form/src/lib/testing/integration/form-mapping.integration.spec.ts
Due: lint, format

Implement conditional disabled logic using Angular signal forms
  packages/dynamic-form-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-form-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-form-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-form-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-form/src/lib/core/logic/logic-applicator.ts
  packages/dynamic-form/src/lib/core/registry/disabled-logic-registry.service.ts
  packages/dynamic-form/src/lib/core/registry/index.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/utils/get-disabled-signal.ts
  packages/dynamic-form/src/lib/utils/index.ts
Due: lint, format

fix: format for example
  apps/docs/src/docs/examples/conditional-logic-showcase/ng-doc.page.ts
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
Due: format

docs: Add complete examples to array, group, and row field documentation
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/prebuilt/form-rows/index.md
Due: format

Fix: Add disabled state bindings to Material field components
  packages/dynamic-form-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-form-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-form-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-form-material/src/lib/fields/textarea/mat-textarea.component.ts
Due: lint, format

fix: skip slider interaction tests (pre-existing test issues)
  packages/dynamic-form-material/src/lib/fields/slider/mat-slider.spec.ts
Due: lint, format

test(validation): Add comprehensive test suites for async and HTTP validators
  packages/dynamic-form/src/lib/core/registry/function-registry.service.spec.ts
  packages/dynamic-form/src/lib/core/validation/async-http-validator.spec.ts
  packages/dynamic-form/src/lib/testing/integration/custom-validators.integration.spec.ts
Due: lint, format

fix: unskip slider interaction tests using component.value.set() approach
  packages/dynamic-form-material/src/lib/fields/slider/mat-slider.spec.ts
Due: lint, format

fix: submit
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
Due: format

fix: Remove problematic textFieldMapper that caused component loading failure
  .playwright-mcp/page-2025-11-11T14-15-39-153Z.png
  .playwright-mcp/page-2025-11-11T14-20-36-219Z.png
  .playwright-mcp/page-2025-11-11T14-31-11-077Z.png
  .playwright-mcp/page-2025-11-11T14-39-52-665Z.png
  packages/dynamic-form/src/lib/mappers/index.ts
  packages/dynamic-form/src/lib/mappers/text/text-field-mapper.ts
  packages/dynamic-form/src/lib/providers/built-in-fields.ts
Due: lint, format

fix: rm screenshots
  .playwright-mcp/page-2025-11-11T14-15-39-153Z.png
  .playwright-mcp/page-2025-11-11T14-20-36-219Z.png
  .playwright-mcp/page-2025-11-11T14-31-11-077Z.png
  .playwright-mcp/page-2025-11-11T14-39-52-665Z.png
Due: none

Fix: Update disabled logic tests to verify functionality
  packages/dynamic-form/src/lib/core/logic/logic-applicator.spec.ts
Due: lint, format

feat: Add runnable examples for array, group, and row fields
  apps/docs/src/docs/examples/array-field/array-field-iframe-demo.component.ts
  apps/docs/src/docs/examples/array-field/index.md
  apps/docs/src/docs/examples/array-field/ng-doc.page.ts
  apps/docs/src/docs/examples/group-field/group-field-iframe-demo.component.ts
  apps/docs/src/docs/examples/group-field/index.md
  apps/docs/src/docs/examples/group-field/ng-doc.page.ts
  apps/docs/src/docs/examples/row-field/index.md
  apps/docs/src/docs/examples/row-field/ng-doc.page.ts
  apps/docs/src/docs/examples/row-field/row-field-iframe-demo.component.ts
  apps/examples/material/src/app/app.routes.ts
  apps/examples/material/src/app/examples/array-demo.component.ts
  apps/examples/material/src/app/examples/group-demo.component.ts
  apps/examples/material/src/app/examples/row-demo.component.ts
Due: format

fix: add proper change detection for Bootstrap radio programmatic updates
  packages/dynamic-form-bootstrap/src/lib/fields/radio/bs-radio.spec.ts
Due: lint, format

feat: Add array field events for dynamic add/remove operations
  packages/dynamic-form/src/lib/events/constants/add-array-item.event.ts
  packages/dynamic-form/src/lib/events/constants/index.ts
  packages/dynamic-form/src/lib/events/constants/remove-array-item.event.ts
Due: lint, format

fix(validation): Export validator types and remove duplicate CustomValidator
  packages/dynamic-form/src/lib/core/validation/index.ts
  packages/dynamic-form/src/lib/index.ts
  packages/dynamic-form/src/lib/models/validation-types.ts
Due: lint, format

refactor: Rework array fields for flat array behavior
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/examples/material/src/app/examples/array-demo.component.ts
  packages/dynamic-form/src/lib/core/form-mapping.ts
  packages/dynamic-form/src/lib/definitions/default/array-field.ts
  packages/dynamic-form/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-form/src/lib/fields/array/array-field.component.ts
  packages/dynamic-form/src/lib/testing/integration/form-mapping.integration.spec.ts
Due: lint, format

feat: add custom validators demo with sync and cross-field validation
  apps/docs/src/docs/examples/async-validators/async-validators-iframe-demo.component.ts
  apps/docs/src/docs/examples/async-validators/index.md
  apps/docs/src/docs/examples/async-validators/ng-doc.page.ts
  apps/examples/material/src/app/app.routes.ts
  apps/examples/material/src/app/examples/async-validators-demo.component.ts
Due: format

fix: correct Bootstrap radio ngModel binding to field value
  packages/dynamic-form-bootstrap/src/lib/fields/radio/bs-radio.component.ts
Due: lint, format

fix: update original tests for className bug fixes and skip failing slider tests
  packages/dynamic-form-bootstrap/src/lib/fields/radio/bs-radio.spec.ts
Due: lint, format

fix: add explicit type and range attributes to Bootstrap input and slider components
  packages/dynamic-form-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.component.ts
Due: lint, format

fix: update Bootstrap slider to read min/max/step from props
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.type.ts
Due: lint, format

fix: add min and max bindings to PrimeNG slider component
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.component.ts
Due: lint, format

fix: Add custom field mapper to resolve array notation binding issue
  ARRAY_FIELD_IMPLEMENTATION.md
  packages/dynamic-form/src/lib/fields/array/array-field.component.ts
  packages/dynamic-form/src/lib/mappers/array-item/array-item-field-mapper.ts
  packages/dynamic-form/src/lib/mappers/index.ts
Due: lint, format

refactor: rename async-validators to custom-validators to match actual scope
  apps/docs/src/docs/examples/async-validators/index.md
  apps/docs/src/docs/examples/async-validators/ng-doc.page.ts
  apps/docs/src/docs/examples/custom-validators/custom-validators-iframe-demo.component.ts
  apps/docs/src/docs/examples/custom-validators/index.md
  apps/docs/src/docs/examples/custom-validators/ng-doc.page.ts
  apps/examples/material/src/app/app.routes.ts
  apps/examples/material/src/app/examples/custom-validators-demo.component.ts
Due: format

fix: Add type assertions to resolve TypeScript errors in array field component
  packages/dynamic-form/src/lib/fields/array/array-field.component.ts
Due: lint, format

fix: refactor PrimeNG slider tests to use programmatic updates
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.spec.ts
Due: lint, format

fix: test waits
  apps/demo/material/e2e/src/conditional-fields-test.spec.ts
  apps/demo/material/e2e/src/error-handling.spec.ts
  apps/demo/material/e2e/src/navigation-edge-cases.spec.ts
Due: format

fix: Resolve build errors in material examples
  apps/examples/material/src/app/examples/array-demo.component.ts
  apps/examples/material/src/app/examples/row-demo.component.ts
Due: format
