Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

fix(docs): polish CTA button hover (sweep + icon spring + ember glow)
  apps/docs/src/app/components/feature-overview/feature-overview.component.scss
Due: format

docs(docs): clarify custom-field FAQ — provideDynamicForm is variadic
  apps/docs/src/app/components/feature-overview/feature-overview.component.ts
Due: format

docs(docs): note onBlur gap in debounce FAQ
  apps/docs/src/app/components/feature-overview/feature-overview.component.ts
Due: format

docs(docs): address coderabbit + review fixes
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/components/code-compare/code-compare.component.ts
  apps/docs/src/app/components/feature-overview/feature-overview.component.scss
  apps/docs/src/app/components/feature-overview/feature-overview.component.ts
  apps/docs/src/styles.scss
  internal/styling/src/_tokens.scss
Due: format

feat(docs): polish feature overview + landing CTAs, prerender for crawlers
  apps/docs/public/content/getting-started.md
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/components/feature-overview/feature-overview.component.scss
  apps/docs/src/app/components/feature-overview/feature-overview.component.ts
  apps/docs/src/app/components/feature-overview/feature-overview.data.ts
  apps/docs/src/app/directives/content-components.directive.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

feat(docs): emit BreadcrumbList / FAQPage / HowTo JSON-LD + README CTA
  README.md
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

docs(release): drop 'successor' framing from README — formly's roadmap isn't ours to predict
  README.md
Due: format

docs(docs): note zoneless + OnPush in migration guide performance section
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/public/llms-full.txt
Due: format

fix(docs): dark-mode hero glow now actually visible (was inverted)
  apps/docs/src/app/components/feature-overview/feature-overview.component.scss
Due: format

fix(docs): make feature-overview + migration pages crawlable, fix link/theme bugs
  apps/docs/src/app/components/feature-overview/feature-overview.component.scss
  apps/docs/src/app/components/feature-overview/feature-overview.component.ts
  apps/docs/src/app/directives/content-components.directive.ts
Due: format

feat(primeng): land the 4 deferred review items
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type-test.ts
  packages/dynamic-forms-primeng/src/lib/types/addons.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.ts
  packages/dynamic-forms/src/lib/models/addon/addon-action.ts
  packages/dynamic-forms/src/lib/utils/build-field-inputs/build-field-inputs.ts
  packages/dynamic-forms/src/lib/utils/inject-addon-kind-registry/inject-fields-supporting-addons.ts
  packages/dynamic-forms/src/lib/wrappers/wrapper-field-inputs.ts
Due: lint, format

fix(docs): hero glow renders in dark mode + nav test rename
  apps/docs/src/app/components/feature-overview/feature-overview.component.scss
  apps/docs/src/app/layout/nav.config.spec.ts
  apps/docs/src/styles.scss
Due: format

fix(docs): hero glow renders reliably in dark mode (background-image on element, not z-index pseudo)
  apps/docs/src/app/components/feature-overview/feature-overview.component.scss
  apps/docs/src/styles.scss
Due: format

fix(docs): add migration H1 + og:image:alt + effort estimate
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

fix(docs): point og:image at existing /og-image.png until per-route generation lands
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

ci(release): nightly only fires when packages/ actually changes
  .github/workflows/release.yml
Due: none

feat(primeng): auto-include addon kinds in withPrimeNGFields()
  apps/e2e/primeng/src/app/app.config.ts
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/src/lib/providers/primeng-providers.ts
Due: lint, format

feat(primeng): allow custom addon kinds on prime-input via type-level seam
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/config/primeng-field-config.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
Due: lint, format

feat(primeng): enforce pi-button click-axis XOR at the type level
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type-test.ts
  packages/dynamic-forms-primeng/src/lib/types/addons.ts
Due: lint, format

refactor: remove obsolete readonly + indeterminate dom workarounds
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
Due: lint, format

test(examples): use presence check for readonly attribute
  apps/e2e/core/src/app/testing/expression-based-logic/expression-based-logic.spec.ts
Due: format

refactor(primeng): pilot prime-select migration to NgForgeField
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms/integration/src/directives/index.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

refactor(primeng): migrate prime-checkbox to NgForgeField
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
Due: lint, format

refactor(primeng): migrate remaining value-fields to NgForgeField
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
Due: lint, format

refactor(material): migrate all value-fields to NgForgeField
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
Due: lint, format

refactor(ionic): migrate all value-fields to NgForgeField
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
Due: lint, format

fix(dynamic-forms): NG0950-safe host bindings on NgForgeField
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
Due: lint, format

fix(dynamic-forms): make NgForgeField field/key inputs optional
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
Due: lint, format

fix(dynamic-forms): inline field cast instead of class-field indirection
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
Due: lint, format

fix(dynamic-forms): guard bridging signals against undefined field input
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
Due: lint, format

fix(dynamic-forms): drop dead defaultValidationMessages emission
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/select/options-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/slider/slider-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

refactor(dynamic-forms): share NgForgeField inputs list via NG_FORGE_FIELD_INPUTS
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
  packages/dynamic-forms/integration/src/directives/index.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

test(dynamic-forms): assert mappers no longer emit defaultValidationMessages
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
Due: lint, format

fix(dynamic-forms): restore defaultValidationMessages emission for back-compat
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/select/options-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/slider/slider-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
Due: lint, format

refactor(dynamic-forms): add injectNgForgeField<T>() helper for typed field access
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
  packages/dynamic-forms/integration/src/directives/index.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

test(docs): unbreak vite-plugin-search-index spec
  apps/docs/src/plugins/vite-plugin-search-index.spec.ts
Due: format

fix(dynamic-forms): preserve nested array-item defaults on partial value
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/utils/object-utils.spec.ts
  packages/dynamic-forms/src/lib/utils/object-utils.ts
Due: lint, format

refactor: fix E2E tests
  packages/dynamic-forms/src/lib/utils/object-utils.spec.ts
  packages/dynamic-forms/src/lib/utils/object-utils.ts
Due: lint, format

fix(dynamic-forms): address feedback
  packages/dynamic-forms/src/lib/utils/object-utils.spec.ts
  packages/dynamic-forms/src/lib/utils/object-utils.ts
Due: lint, format
