Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(core): improve openapi-generator UX, quiet mode, and documentation
  packages/openapi-generator/README.md
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/utils/logger.spec.ts
  packages/openapi-generator/src/utils/logger.ts
Due: lint, format

fix(core): fix discriminator support, reverse --editable to --read-only, and UX improvements
  apps/docs/public/llms-full.txt
  packages/openapi-generator/README.md
  packages/openapi-generator/src/cli/commands/generate.command.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/cli/prompts/endpoint-prompt.ts
  packages/openapi-generator/src/config/generator-config.ts
  packages/openapi-generator/src/generator/file-writer.spec.ts
  packages/openapi-generator/src/generator/file-writer.ts
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
  packages/openapi-generator/src/index.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/parser/schema-walker.spec.ts
  packages/openapi-generator/src/parser/schema-walker.ts
Due: lint, format

fix(dynamic-forms): restore mobile row wrapping (#305)
  apps/e2e/material/src/app/testing/row-fields/row-fields.spec.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
Due: format

fix(core): fix openapi-generator config persistence, docs sync, and 0-form messaging
  apps/docs/public/content/openapi-generator.md
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/config/generator-config.spec.ts
  packages/openapi-generator/src/config/generator-config.ts
Due: lint, format

fix(config): suppress baseUrl deprecation error in TypeScript 5.9.3
  tsconfig.base.json
Due: format

fix(config): suppress baseUrl deprecation error in TypeScript 5.9.3 (#306)
  tsconfig.base.json
Due: format

docs: regenerate llms-full.txt for openapi-generator flag changes
  apps/docs/public/llms-full.txt
Due: none

docs(docs): fix openapi-generator --quiet description and add @generated headers to examples
  apps/docs/public/content/openapi-generator.md
  apps/docs/public/llms-full.txt
Due: format

test(core): add integration tests for openapi-generator pipeline
  packages/openapi-generator/src/__tests__/integration/__fixtures__/allof-merge.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/arrays.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/basic-post.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/custom-extensions.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/enums.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/get-endpoints.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/multi-endpoint.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/name-heuristics.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/nested-objects.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/oneof-discriminator.yaml
  packages/openapi-generator/src/__tests__/integration/__fixtures__/validators.yaml
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/__tests__/integration/helpers.ts
Due: lint, format

fix(config): decouple type-test tsconfigs from deprecated baseUrl
  packages/dynamic-forms-bootstrap/tsconfig.typecheck.json
  packages/dynamic-forms-bootstrap/vite.config.ts
  packages/dynamic-forms-ionic/tsconfig.typecheck.json
  packages/dynamic-forms-ionic/vite.config.ts
  packages/dynamic-forms-material/tsconfig.typecheck.json
  packages/dynamic-forms-material/vite.config.ts
  packages/dynamic-forms-primeng/tsconfig.typecheck.json
  packages/dynamic-forms-primeng/vite.config.ts
  tsconfig.base.json
  tsconfig.typecheck-base.json
Due: lint, format

test(config): reproduce baseUrl deprecation failure on CI
  tsconfig.base.json
Due: format

fix(config): decouple type-test tsconfigs from deprecated baseUrl (#308)
  packages/dynamic-forms-bootstrap/tsconfig.typecheck.json
  packages/dynamic-forms-bootstrap/vite.config.ts
  packages/dynamic-forms-ionic/tsconfig.typecheck.json
  packages/dynamic-forms-ionic/vite.config.ts
  packages/dynamic-forms-material/tsconfig.typecheck.json
  packages/dynamic-forms-material/vite.config.ts
  packages/dynamic-forms-primeng/tsconfig.typecheck.json
  packages/dynamic-forms-primeng/vite.config.ts
  tsconfig.base.json
  tsconfig.typecheck-base.json
Due: lint, format

feat(docs): add "Edit in StackBlitz" button to live examples
  apps/docs/src/app/components/live-example/live-example.component.scss
  apps/docs/src/app/components/live-example/live-example.component.ts
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  package.json
  pnpm-lock.yaml
Due: format

refactor(docs): move StackBlitz button from footer to header bar
  apps/docs/src/app/components/live-example/live-example.component.scss
  apps/docs/src/app/components/live-example/live-example.component.ts
Due: format

refactor(docs): move StackBlitz button to overlay alongside adapter badge
  apps/docs/src/app/components/live-example/live-example.component.scss
  apps/docs/src/app/components/live-example/live-example.component.ts
Due: format

style(docs): match StackBlitz button styling to adapter badge
  apps/docs/src/app/components/live-example/live-example.component.scss
  apps/docs/src/app/components/live-example/live-example.component.ts
Due: format

feat(docs): add StackBlitz buttons to landing page demos
  apps/docs/src/app/components/live-example/live-example.component.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
Due: format

fix(docs): extract StackBlitz SVG to assets, fix string escaping, icon-only hero button
  apps/docs/public/assets/icons/stackblitz.svg
  apps/docs/src/app/components/live-example/live-example.component.scss
  apps/docs/src/app/components/live-example/live-example.component.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
Due: format

style(docs): align landing page tabs to the right
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

fix(docs): use official StackBlitz icon, fix button height to match adapter badge
  apps/docs/public/assets/icons/stackblitz.svg
  apps/docs/src/app/components/live-example/live-example.component.scss
Due: format

fix(docs): use as const satisfies FormConfig and InferFormValue in StackBlitz template
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

refactor(docs): address PR review feedback for StackBlitz integration
  apps/docs/src/app/components/live-example/live-example.component.ts
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.ts
Due: format

fix(docs): use node template with full angular.json for StackBlitz compatibility
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): align StackBlitz Angular versions to ~21.2.0, remove unnecessary transitive deps
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): use (submitted) output instead of [(value)] in StackBlitz template
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): revert to icon buttons on landing, add adapter styles and fix StackBlitz errors
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

feat(docs): add CSS tooltips to StackBlitz buttons on hover
  apps/docs/src/app/components/live-example/live-example.component.scss
  apps/docs/src/app/components/live-example/live-example.component.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

fix(docs): add missing adapter providers (provideAnimations, providePrimeNG, provideIonicAngular)
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): use prebuilt CSS themes for Material/Bootstrap in StackBlitz projects
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): add Ionic global CSS bundle to StackBlitz projects
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): use FormConfig type instead of as const satisfies to avoid cross-adapter type errors
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): strip adapter-specific props from StackBlitz configs for cross-adapter compatibility
  apps/docs/src/app/components/live-example/live-example.component.ts
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  apps/docs/src/app/pages/landing/landing.component.ts
Due: format

refactor(docs): remove Material-specific props from example configs, set via adapter defaults
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  apps/docs/src/app/example-configs/age-conditional-form.config.ts
  apps/docs/src/app/example-configs/array.config.ts
  apps/docs/src/app/example-configs/business-account-form.config.ts
  apps/docs/src/app/example-configs/button.config.ts
  apps/docs/src/app/example-configs/complete-form.config.ts
  apps/docs/src/app/example-configs/contact-dynamic-fields.config.ts
  apps/docs/src/app/example-configs/contact.config.ts
  apps/docs/src/app/example-configs/enterprise-features.config.ts
  apps/docs/src/app/example-configs/expression-validators.config.ts
  apps/docs/src/app/example-configs/group.config.ts
  apps/docs/src/app/example-configs/login.config.ts
  apps/docs/src/app/example-configs/paginated-form.config.ts
  apps/docs/src/app/example-configs/row.config.ts
  apps/docs/src/app/example-configs/shipping-billing-address.config.ts
  apps/docs/src/app/example-configs/simplified-array.config.ts
  apps/docs/src/app/example-configs/user-registration.config.ts
  apps/docs/src/app/pages/landing/landing.forms.ts
  internal/sandbox-adapter-material/src/lib/factory.ts
Due: format

fix(docs): add @angular/router dep, update PrimeNG to v21, add skipLibCheck for Ionic types
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): add Aura theme preset for PrimeNG StackBlitz projects
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): set full-width PrimeNG inputs in StackBlitz projects
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): target PrimeNG element selectors for full-width inputs
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(dynamic-forms): defer field rendering until required mapped inputs exist
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/recipes/custom-fields.md
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms/CLAUDE.md
  packages/dynamic-forms/src/lib/core/render-ready-metadata.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-utils.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

fix(docs): broaden PrimeNG full-width selectors to cover all field components
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
