Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix

format:
  run: pnpm prettier --write {staged_files}

fix: resolve TypeScript compilation errors in build
  packages/dynamic-form/src/lib/core/expressions/parser/expression-parser.ts
  packages/dynamic-form/src/lib/core/form-mapping.ts
  packages/dynamic-form/src/lib/core/schema-transformation.spec.ts
  packages/dynamic-form/src/lib/models/types/field-helpers.ts
Due: lint, format

docs: add test coverage review for Angular 21 upgrade
  .claude/test-coverage-review.md
Due: format

perf: optimize memoization, array fields, and validator logic
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/fields/array/array-field.component.ts
  packages/dynamic-form/src/lib/models/types/field-helpers.ts
Due: lint, format

test: enhance Angular 21 tests with proper behavioral validation
  packages/dynamic-form-bootstrap/src/lib/fields/datepicker/bs-datepicker.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/input/bs-input.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.spec.ts
  packages/dynamic-form-material/src/lib/fields/textarea/mat-textarea.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/datepicker/prime-datepicker.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.spec.ts
Due: lint, format

feat: complete Angular 21.0.0-rc.2 upgrade with explicit attribute bindings
  packages/dynamic-form-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-form/src/lib/testing/dynamic-form-test-utils.spec.ts
Due: lint, format

refactor: simplify Bootstrap input template and add behavioral validation tests
  packages/dynamic-form-bootstrap/src/lib/fields/datepicker/bs-datepicker.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.spec.ts
Due: lint, format

fix: resolve flaky test and improve type safety
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/fields/array/array-field.component.ts
  packages/dynamic-form/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-form/src/lib/testing/harnesses/test-button.harness.ts
  packages/dynamic-form/src/lib/testing/harnesses/test-checkbox.harness.ts
  packages/dynamic-form/src/lib/testing/harnesses/test-input.harness.ts
  packages/dynamic-form/src/lib/testing/harnesses/test-select.harness.ts
  packages/dynamic-form/src/lib/utils/default-value/default-value.ts
Due: lint, format

chore: small doc fix
  README.md
  apps/docs/src/docs/installation/index.md
  apps/docs/src/docs/what-is-dynamic-forms/index.md
Due: format

refactor: Dynamic-Form Library Fixes, Consolidation, Optimization (#31)
  README.md
  apps/docs/src/docs/installation/index.md
  apps/docs/src/docs/what-is-dynamic-forms/index.md
  packages/dynamic-form/src/lib/core/expressions/parser/expression-parser.ts
  packages/dynamic-form/src/lib/core/form-mapping.ts
  packages/dynamic-form/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-form/src/lib/core/registry/function-registry.service.ts
  packages/dynamic-form/src/lib/core/schema-application.ts
  packages/dynamic-form/src/lib/core/schema-transformation.spec.ts
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
  packages/dynamic-form/src/lib/definitions/base/base-checked-field.ts
  packages/dynamic-form/src/lib/definitions/default/page-field.ts
  packages/dynamic-form/src/lib/definitions/default/row-field.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/events/event.bus.ts
  packages/dynamic-form/src/lib/fields/array/array-field.component.ts
  packages/dynamic-form/src/lib/fields/group/group-field.component.ts
  packages/dynamic-form/src/lib/fields/page/page-field.component.ts
  packages/dynamic-form/src/lib/fields/row/row-field.component.ts
  packages/dynamic-form/src/lib/mappers/base/base-field-mapper.ts
  packages/dynamic-form/src/lib/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-form/src/lib/mappers/value/value-field.mapper.ts
  packages/dynamic-form/src/lib/models/types/field-helpers.ts
  packages/dynamic-form/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-form/src/lib/testing/harnesses/test-button.harness.ts
  packages/dynamic-form/src/lib/testing/harnesses/test-checkbox.harness.ts
  packages/dynamic-form/src/lib/testing/harnesses/test-input.harness.ts
  packages/dynamic-form/src/lib/testing/harnesses/test-select.harness.ts
  packages/dynamic-form/src/lib/utils/default-value/default-value.ts
  packages/dynamic-form/src/lib/utils/flattener/field-flattener.ts
  packages/dynamic-form/src/lib/utils/object-utils.ts
Due: lint, format

refactor: optimize CI/CD pipeline configuration
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
Due: none

fix: broken build
  packages/dynamic-form-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  pnpm-lock.yaml
Due: lint, format

feat: add example apps build to pr-check workflow
  .github/workflows/pr-check.yml
Due: none

feat: comprehensive PR validation improvements
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix: critical CI improvements and YAML syntax fix
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: resolve Prettier formatting issues
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  apps/demo/material/src/app/scenarios/multi-page/configs/registration-config.ts
  apps/demo/material/src/app/scenarios/multi-page/configs/survey-config.ts
  apps/docs/src/app/components/theme-container/theme-container.component.ts
  lefthook.yml
  packages/dynamic-form-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-form-bootstrap/src/lib/fields/checkbox/bs-checkbox.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/textarea/bs-textarea.spec.ts
  packages/dynamic-form-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-form-ionic/src/lib/fields/button/index.ts
  packages/dynamic-form-ionic/src/lib/types/field-types.ts
  packages/dynamic-form-material/src/lib/fields/button/mat-button.mapper.ts
  packages/dynamic-form/src/lib/definitions/base/base-checked-field.ts
  pnpm-lock.yaml
Due: lint, format

fix: resolve Angular 21 NG8022 error for input constraints with Field directive
  packages/dynamic-form-bootstrap/src/lib/directives/input-constraints.directive.ts
  packages/dynamic-form-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.component.ts
Due: lint, format

refactor: check formatting only on affected files in PRs
  .github/workflows/pr-check.yml
Due: none

style: apply Prettier formatting to merged files
  packages/dynamic-form/src/lib/core/schema-application.ts
  packages/dynamic-form/src/lib/core/schema-transformation.spec.ts
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/fields/array/array-field.component.ts
  packages/dynamic-form/src/lib/fields/group/group-field.component.ts
  packages/dynamic-form/src/lib/fields/page/page-field.component.ts
  packages/dynamic-form/src/lib/fields/row/row-field.component.ts
  packages/dynamic-form/src/lib/models/types/field-helpers.ts
  packages/dynamic-form/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-form/src/lib/utils/flattener/field-flattener.ts
  packages/dynamic-form/src/lib/utils/object-utils.ts
Due: lint, format

chore: add Playwright screenshots to gitignore
  .gitignore
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

style: apply Prettier formatting after dependency reinstall
  apps/demo/material/e2e/src/age-based-logic-test.spec.ts
  apps/demo/material/e2e/src/conditional-fields-test.spec.ts
  apps/demo/material/e2e/src/utils/e2e-test-host.component.ts
  apps/demo/material/src/app/e2e-test/e2e-test-page.component.ts
  apps/demo/material/src/app/e2e-test/simple-e2e-test-page.component.ts
  apps/demo/material/src/app/scenarios/cross-field-validation/cross-field-validation-demo.component.ts
  apps/demo/material/src/app/scenarios/multi-page/multi-page-demo.component.ts
  apps/demo/material/src/app/scenarios/profile-management/profile-management-demo.component.ts
  apps/demo/material/src/app/scenarios/single-page/single-page-demo.component.ts
  apps/demo/material/src/app/scenarios/user-registration/user-registration-demo.component.ts
  apps/demo/material/src/index.html
  apps/docs/src/app/app.config.ts
  apps/docs/src/app/app.ts
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  apps/docs/src/docs/core/events/index.md
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
  apps/docs/src/docs/examples/contact-form/index.md
  apps/docs/src/docs/examples/user-registration/index.md
  apps/docs/src/docs/what-is-dynamic-forms/index.md
  apps/docs/src/index.html
  apps/examples/bootstrap/src/index.html
Due: format

feat: add ng-forge dynamic forms logo
  logo-icon.svg
  logo.svg
Due: none

fix: use inject() in InputConstraintsDirective per Angular best practices
  packages/dynamic-form-bootstrap/src/lib/directives/input-constraints.directive.ts
Due: lint, format

chore: update directive selector usage to match kebab-case format
  packages/dynamic-form-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.component.ts
Due: lint, format

refactor: pipeline parameters and configuration (#32)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  apps/demo/material/src/app/scenarios/multi-page/configs/registration-config.ts
  apps/demo/material/src/app/scenarios/multi-page/configs/survey-config.ts
  apps/docs/src/app/components/theme-container/theme-container.component.ts
  apps/docs/src/docs/what-is-dynamic-forms/index.md
  lefthook.yml
  packages/dynamic-form-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-form-bootstrap/src/lib/fields/checkbox/bs-checkbox.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/textarea/bs-textarea.spec.ts
  packages/dynamic-form-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-form-ionic/src/lib/fields/button/index.ts
  packages/dynamic-form-ionic/src/lib/types/field-types.ts
  packages/dynamic-form-material/src/lib/fields/button/mat-button.mapper.ts
  pnpm-lock.yaml
Due: lint, format

refactor: redesign logos with recognizable anvil and hammer
  logo-icon.svg
  logo.svg
Due: none

feat: complete logo redesign from scratch
  logo-icon.svg
  logo.svg
Due: none

refactor: modernize InputConstraintsDirective and update ESLint config
  packages/dynamic-form-bootstrap/eslint.config.mjs
  packages/dynamic-form-bootstrap/package.json
  packages/dynamic-form-bootstrap/src/lib/directives/input-constraints.directive.ts
  packages/dynamic-form-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  pnpm-lock.yaml
Due: lint, format

refactor: use explicitEffect for InputConstraintsDirective
  packages/dynamic-form-bootstrap/src/lib/directives/input-constraints.directive.ts
Due: lint, format

fix: remove unused effect import from InputConstraintsDirective
  packages/dynamic-form-bootstrap/src/lib/directives/input-constraints.directive.ts
Due: lint, format

fix: correct explicitEffect usage in InputConstraintsDirective
  packages/dynamic-form-bootstrap/src/lib/directives/input-constraints.directive.ts
Due: lint, format

feat: update logos
  logo-icon.svg
  logo.svg
Due: none

fix: add pnpm-lock to prettierignore
  .prettierignore
Due: none

feat: add optimized favicon files for .ico generation
  README-favicon.md
  favicon-16.svg
  favicon-32.svg
  favicon-48.svg
  favicon.svg
  generate-favicon.js
Due: format

feat: add optimized icons for .ico conversion from user's logo
  generate-icon.js
  icon-16.svg
  icon-32.svg
  icon-48.svg
Due: format

update logos
  favicon-16.svg
  favicon-32.svg
  favicon-48.svg
  favicon.svg
  logo-icon.svg
  logo.svg
Due: none

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
