Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix

format:
  run: pnpm prettier --write {staged_files}

fix tests and lint
  apps/examples/material/src/app/testing/advanced-validation/custom-validator-test.component.ts
  packages/dynamic-form/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-form/src/lib/fields/row/row-field.component.scss
Due: lint, format

rm redundant files
  .playwright-mcp/array-demo-complete.png
  .playwright-mcp/array-demo-final.png
  .playwright-mcp/array-demo-scrolled.png
  .playwright-mcp/array-demo-working.png
  scripts/generate-test-components.sh
  scripts/update-test-specs.sh
Due: none

fix imports + eslint
  packages/dynamic-forms-bootstrap/eslint.config.mjs
  packages/dynamic-forms-material/eslint.config.mjs
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-forms/src/lib/testing/simple-test-utils.ts
Due: lint, format

fix component selector for df
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

fix import in testing utils
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.spec.ts
  packages/dynamic-forms/src/lib/testing/index.ts
  packages/dynamic-forms/src/lib/testing/integration/page-orchestration.spec.ts
  packages/dynamic-forms/src/lib/testing/simple-test-utils.ts
Due: lint, format

feat: add [ng-forge: Dynamic Forms] prefix to all error messages
  packages/dynamic-forms/src/lib/core/expressions/parser/evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/expression-parser.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/tokenizer.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-forms/src/lib/testing/simple-test-utils.ts
  packages/dynamic-forms/src/lib/utils/form-validation/form-mode-validator.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.ts
Due: lint, format

refactor: shorten error prefix to [Dynamic Forms]
  packages/dynamic-forms/src/lib/core/expressions/parser/evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/expression-parser.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/tokenizer.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-forms/src/lib/testing/simple-test-utils.ts
  packages/dynamic-forms/src/lib/utils/form-validation/form-mode-validator.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.ts
Due: lint, format

update errors to include [Dynamic Forms]
  packages/dynamic-forms/README.md
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/schema-application.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory.ts
  packages/dynamic-forms/src/lib/core/values/type-predicate-factory.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
Due: lint, format

run prettier
  packages/dynamic-forms/src/lib/core/expressions/parser/evaluator.ts
  packages/dynamic-forms/src/lib/utils/form-validation/form-mode-validator.ts
Due: lint, format

feat: add global config augmentation for all UI frameworks
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-bootstrap/src/lib/models/bootstrap-config.token.ts
  packages/dynamic-forms-bootstrap/src/lib/models/bootstrap-config.ts
  packages/dynamic-forms-bootstrap/src/lib/models/index.ts
  packages/dynamic-forms-bootstrap/src/lib/providers/bootstrap-providers.ts
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-ionic/src/lib/models/index.ts
  packages/dynamic-forms-ionic/src/lib/models/ionic-config.token.ts
  packages/dynamic-forms-ionic/src/lib/models/ionic-config.ts
  packages/dynamic-forms-ionic/src/lib/providers/ionic-providers.ts
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-material/src/lib/models/index.ts
  packages/dynamic-forms-material/src/lib/models/material-config.token.ts
  packages/dynamic-forms-material/src/lib/models/material-config.ts
  packages/dynamic-forms-material/src/lib/providers/material-providers.ts
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/models/index.ts
  packages/dynamic-forms-primeng/src/lib/models/primeng-config.token.ts
  packages/dynamic-forms-primeng/src/lib/models/primeng-config.ts
  packages/dynamic-forms-primeng/src/lib/providers/primeng-providers.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
Due: lint, format

revert accidental changes
  apps/examples/material/src/app/examples/array-demo.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

revert accidental changes
  apps/examples/material/src/app/app.routes.ts
Due: format

fix failing tests
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.spec.ts
  packages/dynamic-forms/src/lib/core/schema-transformation.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/signal-forms-integration.spec.ts
Due: lint, format

fix failing tests
  packages/dynamic-forms/src/lib/testing/integration/signal-forms-adapter-unit.spec.ts
Due: lint, format

feat: add ng error prefix (#51)
  packages/dynamic-forms/README.md
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/expression-parser.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/tokenizer.ts
  packages/dynamic-forms/src/lib/core/schema-application.ts
  packages/dynamic-forms/src/lib/core/schema-transformation.spec.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory.ts
  packages/dynamic-forms/src/lib/core/values/type-predicate-factory.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-forms/src/lib/testing/integration/signal-forms-adapter-unit.spec.ts
  packages/dynamic-forms/src/lib/testing/integration/signal-forms-integration.spec.ts
  packages/dynamic-forms/src/lib/testing/simple-test-utils.ts
  packages/dynamic-forms/src/lib/utils/form-validation/form-mode-validator.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.ts
Due: lint, format

fix build errors
  apps/examples/material/src/app/testing/advanced-validation/conditional-validator-test.component.ts
  apps/examples/material/src/app/testing/advanced-validation/cross-field-validator-test.component.ts
  apps/examples/material/src/app/testing/advanced-validation/custom-validator-test.component.ts
  apps/examples/material/src/app/testing/advanced-validation/multiple-validators-test.component.ts
  apps/examples/material/src/app/testing/advanced-validation/range-validation-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-add-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-initial-values-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-item-validation-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-max-length-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-min-length-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-multiple-ops-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-nested-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-remove-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-values-test.component.ts
  apps/examples/material/src/app/testing/form-reset-clear/reset-nested-test.component.ts
  apps/examples/material/src/app/testing/scenario-list/profile-management-scenario.component.ts
Due: format

fix tests
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.spec.ts
Due: lint, format

fix: update test queries to use queryAll for consistency
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format

chore: remove redundant comments across packages
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.ts
  packages/dynamic-forms/src/lib/definitions/default/select-field.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.ts
  packages/dynamic-forms/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/models/field-option.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/types/dynamic-text.ts
  packages/dynamic-forms/src/lib/models/validation-types.ts
Due: lint, format

fix tests
  packages/dynamic-forms-bootstrap/vite.config.ts
  packages/dynamic-forms-ionic/vite.config.ts
  packages/dynamic-forms-material/vite.config.ts
  packages/dynamic-forms-primeng/vite.config.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-forms/src/lib/testing/integration/page-orchestration.spec.ts
  packages/dynamic-forms/src/lib/utils/form-validation/form-mode-validator.ts
  packages/dynamic-forms/vite.config.ts
Due: lint, format

chore: remove redundant comments from test files
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.spec.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.spec.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.spec.ts
Due: lint, format

feat: form config changes and verify builds (#53)
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-bootstrap/src/lib/models/bootstrap-config.token.ts
  packages/dynamic-forms-bootstrap/src/lib/models/bootstrap-config.ts
  packages/dynamic-forms-bootstrap/src/lib/models/index.ts
  packages/dynamic-forms-bootstrap/src/lib/providers/bootstrap-providers.ts
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-ionic/src/lib/models/index.ts
  packages/dynamic-forms-ionic/src/lib/models/ionic-config.token.ts
  packages/dynamic-forms-ionic/src/lib/models/ionic-config.ts
  packages/dynamic-forms-ionic/src/lib/providers/ionic-providers.ts
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.spec.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-material/src/lib/models/index.ts
  packages/dynamic-forms-material/src/lib/models/material-config.token.ts
  packages/dynamic-forms-material/src/lib/models/material-config.ts
  packages/dynamic-forms-material/src/lib/providers/material-providers.ts
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/models/index.ts
  packages/dynamic-forms-primeng/src/lib/models/primeng-config.token.ts
  packages/dynamic-forms-primeng/src/lib/models/primeng-config.ts
  packages/dynamic-forms-primeng/src/lib/providers/primeng-providers.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
Due: lint, format

style: format test files with prettier
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.spec.ts
Due: lint, format

fix: replace empty arrow functions with void 0
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.spec.ts
Due: lint, format

fix: make AddArrayItemEvent field parameter optional and use fallback template
  packages/dynamic-forms/src/lib/events/constants/add-array-item.event.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

fix: add dark mode support to all example apps
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/bootstrap/src/app/examples/index/index.component.ts
  apps/examples/ionic/src/app/app.ts
  apps/examples/ionic/src/styles.scss
  apps/examples/material/src/app/examples/index/index.component.ts
  apps/examples/material/src/styles.scss
  apps/examples/primeng/src/app/app.ts
Due: format

fix: implement postMessage communication for dark mode across iframes
  apps/docs/src/app/app.ts
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/ionic/src/app/app.ts
  apps/examples/material/src/app/app.ts
  apps/examples/primeng/src/app/app.ts
Due: format

fix: place array add/remove buttons inside array templates
  apps/examples/material/src/app/testing/array-fields/array-add-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-item-validation-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-max-length-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-min-length-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-multiple-ops-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-nested-test.component.ts
  apps/examples/material/src/app/testing/array-fields/array-remove-test.component.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
Due: lint, format

refactor: modernize dark mode implementation with signals and RxJS
  apps/docs/src/app/app.ts
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/ionic/src/app/app.ts
  apps/examples/material/src/app/app.ts
  apps/examples/primeng/src/app/app.ts
Due: format

refactor: simplify dark mode with toSignal
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/ionic/src/app/app.ts
  apps/examples/material/src/app/app.ts
  apps/examples/primeng/src/app/app.ts
Due: format

test: update array field e2e tests for buttons-inside-arrays pattern
  apps/examples/material/e2e/src/array-fields.spec.ts
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
