Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

chore(release): bump version to 1.2.0 (#605)
  CHANGELOG.md
  internal/dynamic-forms-validation/descriptor/generated/bootstrap.json
  internal/dynamic-forms-validation/descriptor/generated/core.json
  internal/dynamic-forms-validation/descriptor/generated/ionic.json
  internal/dynamic-forms-validation/descriptor/generated/material.json
  internal/dynamic-forms-validation/descriptor/generated/primeng.json
  internal/dynamic-forms-validation/package.json
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-cli/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
  skills/dynamic-forms-bootstrap/SKILL.md
  skills/dynamic-forms-bootstrap/references/props.md
  skills/dynamic-forms-ionic/SKILL.md
  skills/dynamic-forms-ionic/references/props.md
  skills/dynamic-forms-material/SKILL.md
  skills/dynamic-forms-material/references/props.md
  skills/dynamic-forms-primeng/SKILL.md
  skills/dynamic-forms-primeng/references/props.md
  skills/dynamic-forms/SKILL.md
Due: format

Revert "chore(release): bump version to 1.2.0 (#605)"
  CHANGELOG.md
  internal/dynamic-forms-validation/descriptor/generated/bootstrap.json
  internal/dynamic-forms-validation/descriptor/generated/core.json
  internal/dynamic-forms-validation/descriptor/generated/ionic.json
  internal/dynamic-forms-validation/descriptor/generated/material.json
  internal/dynamic-forms-validation/descriptor/generated/primeng.json
  internal/dynamic-forms-validation/package.json
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-cli/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
  skills/dynamic-forms-bootstrap/SKILL.md
  skills/dynamic-forms-bootstrap/references/props.md
  skills/dynamic-forms-ionic/SKILL.md
  skills/dynamic-forms-ionic/references/props.md
  skills/dynamic-forms-material/SKILL.md
  skills/dynamic-forms-material/references/props.md
  skills/dynamic-forms-primeng/SKILL.md
  skills/dynamic-forms-primeng/references/props.md
  skills/dynamic-forms/SKILL.md
Due: format

fix(mcp): pin the skill validator command to the released version
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms-cli/README.md
  scripts/generate-skills.ts
  scripts/skill-adapters.ts
  skills/dynamic-forms-bootstrap/SKILL.md
  skills/dynamic-forms-ionic/SKILL.md
  skills/dynamic-forms-material/SKILL.md
  skills/dynamic-forms-primeng/SKILL.md
  skills/dynamic-forms/SKILL.md
  skills/dynamic-forms/references/rules.md
Due: lint, format

fix(dynamic-forms): answer WebMCP calls with MCP content blocks
  apps/docs/public/content/ai-integration/webmcp.md
  apps/e2e/core/src/app/testing/web-mcp/web-mcp.spec.ts
  packages/dynamic-forms/src/lib/core/web-mcp/bootstrap-web-mcp.ts
  packages/dynamic-forms/src/lib/core/web-mcp/eval/bridge.mjs
  packages/dynamic-forms/src/lib/core/web-mcp/model-context.spec.ts
  packages/dynamic-forms/src/lib/core/web-mcp/model-context.ts
  packages/dynamic-forms/src/lib/core/web-mcp/web-mcp.integration.spec.ts
Due: lint, format

ci(release): detect the last stable tag by version, not reachability
  .github/workflows/release.yml
Due: none

ci(release): subtract the stable tag from the gate window instead of ranking it
  .github/workflows/release.yml
Due: none

ci(release): build nightly release notes from the gate's commit window
  .github/workflows/release.yml
Due: none

ci(release): detect the last stable tag by version, not reachability (#620)
  .github/workflows/release.yml
Due: none

fix!: remove duplicate adapter component classes from root entries
  etc/dynamic-forms-bootstrap.api.md
  etc/dynamic-forms-ionic.api.md
  etc/dynamic-forms-material.api.md
  etc/dynamic-forms-primeng.api.md
  packages/dynamic-forms-bootstrap/src/index.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-material/src/index.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  scripts/check-adapter-lazy-entries.mjs
Due: lint, format

test: match lazy component duplicates by selector and document root type aliases
  etc/dynamic-forms-bootstrap.api.md
  etc/dynamic-forms-ionic.api.md
  etc/dynamic-forms-material.api.md
  etc/dynamic-forms-primeng.api.md
  packages/dynamic-forms-bootstrap/src/index.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-material/src/index.ts
  packages/dynamic-forms-primeng/src/index.ts
  scripts/check-adapter-lazy-entries.mjs
Due: lint, format

chore: add ng-native adapter experiment
  .nxignore
  experiments/ng-native-adapter/.gitignore
  experiments/ng-native-adapter/README.md
  experiments/ng-native-adapter/package.json
  experiments/ng-native-adapter/src/adapter/native-button.component.ts
  experiments/ng-native-adapter/src/adapter/native-input.component.ts
  experiments/ng-native-adapter/src/adapter/native-submit.mapper.ts
  experiments/ng-native-adapter/src/adapter/native-text.component.ts
  experiments/ng-native-adapter/src/adapter/native-toggle.component.ts
  experiments/ng-native-adapter/src/adapter/providers.ts
  experiments/ng-native-adapter/src/form.test.ts
  experiments/ng-native-adapter/src/layout.test.ts
  experiments/ng-native-adapter/src/test-host.ts
  experiments/ng-native-adapter/tsconfig.json
  experiments/ng-native-adapter/vitest.config.mts
  vitest.config.ts
Due: format

fix!: remove duplicate adapter component classes from root entries (#626)
  etc/dynamic-forms-bootstrap.api.md
  etc/dynamic-forms-ionic.api.md
  etc/dynamic-forms-material.api.md
  etc/dynamic-forms-primeng.api.md
  packages/dynamic-forms-bootstrap/src/index.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-material/src/index.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  scripts/check-adapter-lazy-entries.mjs
Due: lint, format

fix(examples): stop expo applying tsconfig paths in the native e2e bundle
  apps/e2e/native/app.json
Due: format

docs(docs): add native mobile adapter page
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/public/content/native-adapter.md
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/layout/nav.config.ts
Due: format

feat(dynamic-forms): add native row layout and field-errors wrapper
  .github/workflows/e2e-native.yml
  apps/docs/public/content/native-adapter.md
  apps/e2e/native/README.md
  apps/e2e/native/e2e/flows/layout/array-container-validator.yaml
  apps/e2e/native/e2e/flows/layout/row-columns.yaml
  apps/e2e/native/package-lock.json
  apps/e2e/native/src/app/scenarios/index.ts
  apps/e2e/native/src/app/scenarios/layout.ts
  apps/e2e/native/src/test/field-errors.test.ts
  apps/e2e/native/src/test/layout.test.ts
  apps/e2e/native/src/test/render-form.ts
  packages/dynamic-forms-native/README.md
  packages/dynamic-forms-native/src/index.ts
  packages/dynamic-forms-native/src/lib/providers/native-providers.ts
  packages/dynamic-forms-native/src/lib/styles/field.css
  packages/dynamic-forms-native/src/lib/wrappers/native-field-errors-wrapper.component.ts
  packages/dynamic-forms-native/src/lib/wrappers/native-row-wrapper.component.css
  packages/dynamic-forms-native/src/lib/wrappers/native-row-wrapper.component.ts
Due: lint, format

fix(dynamic-forms): avoid direct DOM calls in the field outlet
  apps/e2e/native/src/test/layout.test.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

fix(examples): register the native layout suite and guard flow links
  apps/e2e/native/src/app/scenarios/index.ts
  apps/e2e/native/src/test/scenarios.test.ts
Due: format

ci(examples): print device logs when native e2e flows fail
  .github/workflows/e2e-native.yml
  apps/e2e/native/src/test/app.test.ts
Due: format

ci(examples): dump the view hierarchy when native e2e flows fail
  .github/workflows/e2e-native.yml
  apps/e2e/native/e2e/diagnose.sh
Due: none

build(deps): update ng-native to 0.4.0
  apps/docs/public/content/native-adapter.md
  apps/e2e/native/metro.config.js
  apps/e2e/native/package-lock.json
  apps/e2e/native/package.json
  package.json
  packages/dynamic-forms-native/README.md
  packages/dynamic-forms-native/package.json
  pnpm-lock.yaml
Due: format

fix(dynamic-forms): skip dom-only observers when the host is not an element
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/form-id-prefix.service.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.ts
Due: lint, format

test(examples): run the native scenarios in a browser with playwright
  .github/workflows/e2e-native.yml
  apps/e2e/native/README.md
  apps/e2e/native/e2e-web/array-fields.spec.ts
  apps/e2e/native/e2e-web/conditional-logic.spec.ts
  apps/e2e/native/e2e-web/group-fields.spec.ts
  apps/e2e/native/e2e-web/layout.spec.ts
  apps/e2e/native/e2e-web/scenario.ts
  apps/e2e/native/e2e-web/selection-fields.spec.ts
  apps/e2e/native/e2e-web/submission-behavior.spec.ts
  apps/e2e/native/index.html
  apps/e2e/native/package-lock.json
  apps/e2e/native/package.json
  apps/e2e/native/playwright.config.ts
  apps/e2e/native/project.json
  apps/e2e/native/src/app/app.ts
  apps/e2e/native/src/app/deep-link.ts
  apps/e2e/native/src/hosts/native-links.ts
  apps/e2e/native/src/hosts/web-links.ts
  apps/e2e/native/src/main.ts
  apps/e2e/native/src/main.web.ts
  apps/e2e/native/src/test/app.test.ts
  apps/e2e/native/vite.web.config.mts
  packages/dynamic-forms-native/README.md
Due: format

build(deps): patch @ng-native/web to handle islands in a shadow root
  package.json
  patches/@ng-native__web@0.4.0.patch
  pnpm-lock.yaml
Due: format

feat(docs): show ng-native as an experimental adapter
  apps/docs/public/content/native-adapter.md
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/components/adapter-props/adapter-props.component.html
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.scss
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.ts
  apps/docs/src/app/components/addon-info/addon-info.component.ts
  apps/docs/src/app/components/configuration-view/configuration-view.component.ts
  apps/docs/src/app/components/integration-view/integration-view.component.html
  apps/docs/src/app/components/integration-view/integration-view.component.scss
  apps/docs/src/app/components/integration-view/integration-view.component.ts
  apps/docs/src/app/guards/content-redirect.guard.ts
  apps/docs/src/app/layout/docs-layout.component.ts
  apps/docs/src/app/layout/nav.config.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/docs/src/app/services/active-adapter.service.ts
  apps/docs/src/styles.scss
  internal/sandbox-adapter-native/src/lib/native-form-host.component.ts
  internal/sandbox-adapter-native/src/lib/not-on-native.component.ts
Due: format

ci(examples): hide android error dialogs during native e2e
  .github/workflows/e2e-native.yml
Due: none
