Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

fix(docs): apply text-size-adjust to install command pre and code elements
  apps/docs/src/app/components/install-command/install-command.component.scss
Due: format

fix(docs): disable Chrome mobile font boosting in install command
  apps/docs/src/app/components/install-command/install-command.component.scss
Due: format

fix(docs): scope link click handler to doc-page-content only
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

fix(docs): prevent adapter props table code names from breaking on mobile
  apps/docs/src/app/components/integration-view/integration-view.component.scss
Due: format

fix(docs): remove min-width: max-content from install command pre
  apps/docs/src/app/components/install-command/install-command.component.scss
Due: format

fix(dynamic-forms): remove eval/Function literals from comments to avoid false positives
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/values/type-predicate-factory.ts
Due: lint, format

fix(docs): address PR review feedback for requestIdleCallback, PrimeNG caches, and race conditions
  apps/docs/src/app/adapters/adapter-registrations.ts
  apps/docs/src/app/layout/docs-layout.component.ts
  apps/docs/src/app/pages/api-detail/api-detail.component.ts
  apps/docs/src/app/pages/landing/landing.component.ts
  internal/sandbox-adapter-primeng/src/lib/factory.ts
  internal/sandbox-harness/src/lib/primeng-style-cache.ts
  internal/sandbox-harness/src/lib/sandbox-harness.service.ts
Due: format

docs(config): add verification guidelines and /verify skill from usage insights
  .claude/skills/verify.md
  CLAUDE.md
Due: format

fix(docs): replace null-byte regex placeholders with zero-width spaces
  apps/docs/src/app/pages/api-detail/api-detail.component.ts
Due: format

fix(dynamic-forms): remove eval/Function literals from comments to avoid false positives (#298)
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/values/type-predicate-factory.ts
Due: lint, format

fix(docs): post-migration improvements and PrimeNG style cache fix (#297)
  apps/docs/plugins/vite-plugin-api-docs.ts
  apps/docs/src/app/adapters/adapter-registrations.ts
  apps/docs/src/app/components/adapter-props/adapter-props.component.scss
  apps/docs/src/app/components/configuration-view/configuration-view.component.scss
  apps/docs/src/app/components/install-command/install-command.component.scss
  apps/docs/src/app/components/integration-view/integration-view.component.scss
  apps/docs/src/app/components/not-found/not-found.component.html
  apps/docs/src/app/components/not-found/not-found.component.scss
  apps/docs/src/app/layout/docs-layout.component.spec.ts
  apps/docs/src/app/layout/docs-layout.component.ts
  apps/docs/src/app/layout/nav.config.ts
  apps/docs/src/app/pages/api-detail/api-detail.component.scss
  apps/docs/src/app/pages/api-detail/api-detail.component.ts
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/styles.scss
  internal/sandbox-adapter-primeng/src/index.ts
  internal/sandbox-adapter-primeng/src/lib/factory.ts
  internal/sandbox-harness/src/lib/sandbox-harness.service.ts
  internal/sandbox-harness/src/lib/types.ts
  package.json
  pnpm-lock.yaml
Due: format

fix(docs): pre-render landing page content for LLM crawlers
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
Due: format

fix(docs): pre-render landing page content for LLM crawlers (#299)
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
Due: format

docs(docs): regenerate llms-full.txt after deprecation removal
  apps/docs/public/llms-full.txt
Due: none

fix(dynamic-forms): address PR review feedback
  apps/e2e/core/src/app/testing/multi-page-navigation/scenarios/page-conditional-visibility.scenario.ts
  internal/dynamic-forms-zod/src/lib/schemas/validation/http-validator.schema.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-types.ts
Due: lint, format

feat(dynamic-forms): add exhaustive switch guards for compile-time safety
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/text/text-field.component.ts
Due: lint, format

fix(dynamic-forms): use DynamicFormError in exhaustive switch guard
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
Due: lint, format

feat(dynamic-forms): add exhaustive switch guards for compile-time safety (#301)
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/text/text-field.component.ts
Due: lint, format

chore(examples): add explicit OnPush to all remaining components
  apps/e2e/bootstrap/src/app/app.ts
  apps/e2e/bootstrap/src/app/testing/test-index.component.ts
  apps/e2e/core/src/app/app.ts
  apps/e2e/core/src/app/testing/test-index.component.ts
  apps/e2e/ionic/src/app/app.ts
  apps/e2e/ionic/src/app/testing/test-index.component.ts
  apps/e2e/material/src/app/app.ts
  apps/e2e/material/src/app/testing/test-index.component.ts
  apps/e2e/primeng/src/app/app.ts
  apps/e2e/primeng/src/app/testing/test-index.component.ts
  apps/examples/sandbox/src/app/adapters/create-sandbox-app.ts
  apps/examples/sandbox/src/app/adapters/ionic-adapter.ts
  internal/examples-bootstrap/src/docs-app-factory.ts
  internal/examples-bootstrap/src/examples/index/index.component.ts
  internal/examples-ionic/src/docs-app-factory.ts
  internal/examples-ionic/src/examples/index/index.component.ts
  internal/examples-material/src/docs-app-factory.ts
  internal/examples-material/src/examples/index/index.component.ts
  internal/examples-primeng/src/docs-app-factory.ts
  internal/examples-primeng/src/examples/index/index.component.ts
  internal/sandbox-adapter-bootstrap/src/lib/factory.ts
  internal/sandbox-adapter-ionic/src/lib/factory.ts
  internal/sandbox-adapter-material/src/lib/factory.ts
  internal/sandbox-adapter-primeng/src/lib/factory.ts
  packages/dynamic-forms/src/lib/fields/text/text-field.component.spec.ts
  packages/dynamic-forms/src/lib/state/side-effect-scheduler.spec.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.spec.ts
  packages/dynamic-forms/testing/src/integration/signal-forms-integration.spec.ts
  packages/dynamic-forms/testing/src/simple-test-utils.ts
Due: lint, format

chore(examples): add explicit OnPush to all remaining components (#302)
  apps/e2e/bootstrap/src/app/app.ts
  apps/e2e/bootstrap/src/app/testing/test-index.component.ts
  apps/e2e/core/src/app/app.ts
  apps/e2e/core/src/app/testing/test-index.component.ts
  apps/e2e/ionic/src/app/app.ts
  apps/e2e/ionic/src/app/testing/test-index.component.ts
  apps/e2e/material/src/app/app.ts
  apps/e2e/material/src/app/testing/test-index.component.ts
  apps/e2e/primeng/src/app/app.ts
  apps/e2e/primeng/src/app/testing/test-index.component.ts
  apps/examples/sandbox/src/app/adapters/create-sandbox-app.ts
  apps/examples/sandbox/src/app/adapters/ionic-adapter.ts
  internal/examples-bootstrap/src/docs-app-factory.ts
  internal/examples-bootstrap/src/examples/index/index.component.ts
  internal/examples-ionic/src/docs-app-factory.ts
  internal/examples-ionic/src/examples/index/index.component.ts
  internal/examples-material/src/docs-app-factory.ts
  internal/examples-material/src/examples/index/index.component.ts
  internal/examples-primeng/src/docs-app-factory.ts
  internal/examples-primeng/src/examples/index/index.component.ts
  internal/sandbox-adapter-bootstrap/src/lib/factory.ts
  internal/sandbox-adapter-ionic/src/lib/factory.ts
  internal/sandbox-adapter-material/src/lib/factory.ts
  internal/sandbox-adapter-primeng/src/lib/factory.ts
  packages/dynamic-forms/src/lib/fields/text/text-field.component.spec.ts
  packages/dynamic-forms/src/lib/state/side-effect-scheduler.spec.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.spec.ts
  packages/dynamic-forms/testing/src/integration/signal-forms-integration.spec.ts
  packages/dynamic-forms/testing/src/simple-test-utils.ts
Due: lint, format

feat(dynamic-forms): adopt resource snapshot composition for async conditions
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/utils/index.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/index.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/with-previous-value.spec.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/with-previous-value.ts
Due: lint, format

fix(dynamic-forms): address review findings for resource snapshot composition
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/with-previous-value.spec.ts
Due: lint, format

fix(dynamic-forms): normalize Observable|Promise return in async condition loader
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
Due: lint, format

refactor(dynamic-forms): use derivedFromDeferred for debounced signal creation
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
Due: lint, format

refactor(dynamic-forms): use rxResource instead of resource with Promise wrappers
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
Due: lint, format

feat(dynamic-forms): adopt resource snapshot composition for async conditions (#303)
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/utils/index.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/index.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/with-previous-value.spec.ts
  packages/dynamic-forms/src/lib/utils/resource-composition/with-previous-value.ts
Due: lint, format

fix(docs): improve openapi-generator sidebar link and install section
  apps/docs/public/content/openapi-generator.md
  apps/docs/src/app/layout/docs-layout.component.html
  apps/docs/src/app/layout/nav.config.ts
  apps/docs/src/styles.scss
Due: format

fix(core): fix openapi-generator CLI build and remove DO NOT EDIT from generated headers
  packages/openapi-generator/project.json
  packages/openapi-generator/src/cli/cli.ts
  packages/openapi-generator/src/generator/barrel-generator.spec.ts
  packages/openapi-generator/src/generator/barrel-generator.ts
  packages/openapi-generator/src/generator/form-config-generator.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.ts
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
Due: lint, format

fix(config): ignore CLI-only deps in openapi-generator dependency checks
  packages/openapi-generator/eslint.config.mjs
Due: none

docs(docs): regenerate llms-full.txt
  apps/docs/public/llms-full.txt
Due: none

fix(dynamic-forms): restore mobile row wrapping
  apps/e2e/material/src/app/testing/row-fields/row-fields.spec.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
Due: format

style(docs): refine openapi-generator sidebar icon and badge styling
  apps/docs/src/styles.scss
Due: format

feat(core): add simplified array support and UX improvements to openapi-generator
  packages/openapi-generator/bin/ng-forge-generator.ts
  packages/openapi-generator/src/cli/commands/generate.command.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/generator/barrel-generator.spec.ts
  packages/openapi-generator/src/generator/barrel-generator.ts
  packages/openapi-generator/src/generator/form-config-generator.spec.ts
  packages/openapi-generator/src/generator/form-config-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/mapper/type-mapping.spec.ts
  packages/openapi-generator/src/mapper/type-mapping.ts
  packages/openapi-generator/src/utils/logger.spec.ts
  packages/openapi-generator/src/utils/logger.ts
  packages/openapi-generator/src/utils/naming.spec.ts
  packages/openapi-generator/src/utils/naming.ts
Due: lint, format

fix(core): fix config persistence and default command in openapi-generator
  packages/openapi-generator/src/cli/cli.ts
  packages/openapi-generator/src/cli/commands/generate.command.ts
Due: lint, format

fix(core): improve openapi-generator UX and edge case handling
  packages/openapi-generator/README.md
  packages/openapi-generator/src/cli/commands/generate.command.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/utils/logger.spec.ts
  packages/openapi-generator/src/utils/logger.ts
Due: lint, format

fix(core): improve openapi-generator CLI ergonomics and pre-release hardening
  packages/openapi-generator/README.md
  packages/openapi-generator/src/cli/cli.ts
  packages/openapi-generator/src/cli/commands/generate.command.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  packages/openapi-generator/src/utils/naming.spec.ts
  packages/openapi-generator/src/utils/naming.ts
Due: lint, format

fix(core): fix interface generation for allOf/discriminator schemas and docs inaccuracies
  apps/docs/public/content/openapi-generator.md
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
Due: lint, format
