Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix

format:
  run: pnpm prettier --write {staged_files}

fix: properly support vitest browser mode with global TestBed management
  packages/dynamic-form-bootstrap/src/test-setup.ts
  packages/dynamic-form-ionic/src/test-setup.ts
  packages/dynamic-form-material/src/test-setup.ts
  packages/dynamic-form-primeng/src/test-setup.ts
  packages/dynamic-form/src/test-setup.ts
Due: lint, format

feat: configure all packages for vitest browser mode with stability improvements
  packages/dynamic-form-bootstrap/vite.config.mts
  packages/dynamic-form-ionic/vite.config.mts
  packages/dynamic-form-material/vite.config.ts
  packages/dynamic-form-primeng/vite.config.ts
  packages/dynamic-form/vite.config.ts
Due: lint, format

refactor: make --no-sandbox conditional for better security in vitest browser mode
  packages/dynamic-form-bootstrap/vite.config.mts
  packages/dynamic-form-ionic/vite.config.mts
  packages/dynamic-form-material/vite.config.ts
  packages/dynamic-form-primeng/vite.config.ts
  packages/dynamic-form/vite.config.ts
Due: lint, format

fix: use istanbul coverage provider for browser mode compatibility
  package.json
  packages/dynamic-form-bootstrap/vite.config.mts
  packages/dynamic-form-ionic/vite.config.mts
  packages/dynamic-form-material/vite.config.ts
  packages/dynamic-form-primeng/vite.config.ts
  packages/dynamic-form/vite.config.ts
Due: lint, format

chore: update pnpm-lock.yaml after installing @vitest/coverage-istanbul
  pnpm-lock.yaml
Due: none

fix: pin vitest packages to exact versions and auto-install playwright browsers
  package.json
  pnpm-lock.yaml
  scripts/postinstall.sh
Due: format

fix: disable coverage in browser mode to fix CI failures
  packages/dynamic-form-bootstrap/vite.config.mts
  packages/dynamic-form-ionic/vite.config.mts
  packages/dynamic-form-material/vite.config.ts
  packages/dynamic-form-primeng/vite.config.ts
  packages/dynamic-form/vite.config.ts
Due: lint, format

fix: re-enable coverage with proper config and add missing devDependencies
  packages/dynamic-form-bootstrap/package.json
  packages/dynamic-form-bootstrap/vite.config.mts
  packages/dynamic-form-ionic/package.json
  packages/dynamic-form-ionic/vite.config.mts
  packages/dynamic-form-material/package.json
  packages/dynamic-form-material/vite.config.ts
  packages/dynamic-form-primeng/package.json
  packages/dynamic-form-primeng/vite.config.ts
  packages/dynamic-form/package.json
  packages/dynamic-form/vite.config.ts
Due: lint, format

fix: disable coverage and move browser-playwright to peerDependencies
  packages/dynamic-form-bootstrap/package.json
  packages/dynamic-form-bootstrap/vite.config.mts
  packages/dynamic-form-ionic/package.json
  packages/dynamic-form-ionic/vite.config.mts
  packages/dynamic-form-material/package.json
  packages/dynamic-form-material/vite.config.ts
  packages/dynamic-form-primeng/package.json
  packages/dynamic-form-primeng/vite.config.ts
  packages/dynamic-form/package.json
  packages/dynamic-form/vite.config.ts
Due: lint, format

fix: remove --coverage flag from CI test command
  package.json
Due: format

feat: enable coverage in browser mode with optimizeDeps fix
  packages/dynamic-form-bootstrap/vite.config.mts
  packages/dynamic-form-ionic/vite.config.mts
  packages/dynamic-form-material/vite.config.ts
  packages/dynamic-form-primeng/vite.config.ts
  packages/dynamic-form/vite.config.ts
Due: lint, format

fix a bunch of failing tests
  apps/examples/material/e2e/src/debug-validation.spec.ts
  apps/examples/material/e2e/src/scenario-list.spec.ts
  apps/examples/material/src/app/app.config.ts
  apps/examples/material/src/app/app.routes.ts
  apps/examples/material/src/app/examples/expression-validators-demo.component.ts
  apps/examples/material/src/app/testing/advanced-validation/cross-field-validator-test.component.ts
  apps/examples/material/src/app/testing/advanced-validation/custom-validator-test.component.ts
  apps/examples/material/src/app/testing/advanced-validation/multiple-validators-test.component.ts
  apps/examples/material/src/app/testing/advanced-validation/range-validation-test.component.ts
  apps/examples/material/src/app/testing/async-validation/async-resource-validator.component.ts
  apps/examples/material/src/app/testing/async-validation/http-error-handling.component.ts
  apps/examples/material/src/app/testing/async-validation/http-get-validator.component.ts
  apps/examples/material/src/app/testing/async-validation/http-post-validator.component.ts
  apps/examples/material/src/app/testing/async-validation/multiple-validators.component.ts
  apps/examples/material/src/app/testing/multi-page-navigation/backward-navigation.component.ts
  apps/examples/material/src/app/testing/multi-page-navigation/direct-navigation.component.ts
  apps/examples/material/src/app/testing/multi-page-navigation/multi-page-registration.component.ts
  apps/examples/material/src/app/testing/multi-page-navigation/page-transitions.component.ts
  apps/examples/material/src/app/testing/multi-page-navigation/validation-navigation.component.ts
  apps/examples/material/src/app/testing/scenario-list/scenario-list-index.component.ts
  apps/examples/material/src/app/testing/user-journey-flows/checkout-journey-test.component.ts
  apps/examples/material/src/app/testing/user-journey-flows/registration-journey-test.component.ts
  apps/examples/material/src/app/testing/user-journey-flows/survey-journey-test.component.ts
  apps/examples/material/src/app/validators/custom-validators.ts
  packages/dynamic-form/src/lib/core/validation/validator-factory.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
  packages/dynamic-form/src/lib/models/form-config.ts
Due: lint, format

refactor: unit tests with Vitest browser mode (#49)
  package.json
  packages/dynamic-form-bootstrap/package.json
  packages/dynamic-form-bootstrap/src/test-setup.ts
  packages/dynamic-form-bootstrap/vite.config.mts
  packages/dynamic-form-ionic/package.json
  packages/dynamic-form-ionic/src/test-setup.ts
  packages/dynamic-form-ionic/vite.config.mts
  packages/dynamic-form-material/package.json
  packages/dynamic-form-material/src/test-setup.ts
  packages/dynamic-form-material/vite.config.ts
  packages/dynamic-form-primeng/package.json
  packages/dynamic-form-primeng/src/test-setup.ts
  packages/dynamic-form-primeng/vite.config.ts
  packages/dynamic-form/package.json
  packages/dynamic-form/src/test-setup.ts
  packages/dynamic-form/vite.config.ts
  pnpm-lock.yaml
  scripts/postinstall.sh
Due: lint, format

test: complete Phase 5 event classes and provider testing (165 new tests)
  packages/dynamic-form/src/lib/events/constants/add-array-item.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/component-initialized.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/next-page.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/page-change.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/page-navigation-state-change.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/previous-page.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/remove-array-item.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/submit.event.spec.ts
  packages/dynamic-form/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-form/src/lib/providers/dynamic-form-providers.spec.ts
Due: lint, format

refactor: streamline Phase 5 tests by removing redundancy (59 tests removed)
  packages/dynamic-form/src/lib/events/constants/component-initialized.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/next-page.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/page-change.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/page-navigation-state-change.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/previous-page.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/remove-array-item.event.spec.ts
  packages/dynamic-form/src/lib/events/constants/submit.event.spec.ts
  packages/dynamic-form/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-form/src/lib/providers/dynamic-form-providers.spec.ts
Due: lint, format

fix advanced validation specs
  apps/examples/material/e2e/src/advanced-validation.spec.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
Due: lint, format

fix validation tests
  apps/examples/material/src/app/testing/advanced-validation/custom-validator-test.component.ts
  apps/examples/material/src/app/testing/advanced-validation/range-validation-test.component.ts
Due: format

refactor: streamline mapper test suite by removing massive redundancy
  packages/dynamic-form/src/lib/mappers/array/array-field-mapper.spec.ts
  packages/dynamic-form/src/lib/mappers/base/base-field-mapper.spec.ts
  packages/dynamic-form/src/lib/mappers/checkbox/checkbox-field-mapper.spec.ts
  packages/dynamic-form/src/lib/mappers/group/group-field-mapper.spec.ts
  packages/dynamic-form/src/lib/mappers/page/page-field-mapper.spec.ts
  packages/dynamic-form/src/lib/mappers/row/row-field-mapper.spec.ts
  packages/dynamic-form/src/lib/mappers/value/value-field.mapper.spec.ts
Due: lint, format

fix: resolve test failures after main branch merge (Angular 21, Vitest 4)
  packages/dynamic-form/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-form/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-form/src/lib/providers/dynamic-form-providers.spec.ts
  packages/dynamic-form/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-form/src/lib/utils/form-validation/form-mode-validator.spec.ts
  packages/dynamic-form/vite.config.ts
Due: lint, format

feat: add opt-in browser mode testing with Playwright
  packages/dynamic-form/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-form/vite.config.ts
Due: lint, format

improve pass rate to 77%
  apps/examples/material/e2e/src/cross-page-validation.spec.ts
  apps/examples/material/e2e/src/multi-page-navigation.spec.ts
  apps/examples/material/e2e/src/navigation-edge-cases.spec.ts
  apps/examples/material/src/app/testing/cross-page-validation/business-flow.component.ts
  apps/examples/material/src/app/testing/cross-page-validation/cascade-dependencies.component.ts
  apps/examples/material/src/app/testing/cross-page-validation/conditional-pages.component.ts
  apps/examples/material/src/app/testing/cross-page-validation/email-verification.component.ts
  apps/examples/material/src/app/testing/cross-page-validation/progressive-validation.component.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/browser-navigation.component.ts
  apps/examples/material/src/app/testing/scenario-list/multi-page-scenario.component.ts
  apps/examples/material/src/app/testing/testing-routes.ts
Due: format

feat: prepare release flow (#37)
  .github/RELEASE_CHECKLIST.md
  .github/workflows/release.yml
  guides/06-release-process.md
  guides/README.md
  nx.json
  package.json
  scripts/create-release-branch.sh
Due: format

fix errors
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  pnpm-lock.yaml
Due: format

fix: resolve auto theme to light/dark for example iframes
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
Due: format

style: format vite config files with prettier
  packages/dynamic-form-bootstrap/vite.config.ts
  packages/dynamic-form-ionic/vite.config.ts
Due: lint, format

fix: use CSS to hide ng-doc code viewer instead of tabs parameter
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  apps/docs/src/docs/core/validation/custom-validators.md
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
  apps/docs/src/docs/examples/contact-form/index.md
  apps/docs/src/docs/examples/login-form/index.md
  apps/docs/src/docs/examples/paginated-form/index.md
  apps/docs/src/docs/examples/user-registration/index.md
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/prebuilt/form-rows/index.md
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/material/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
  apps/docs/src/docs/what-is-dynamic-forms/index.md
  apps/docs/src/styles.scss
Due: format

fix: find inconsistencies in ui libraries (#44)
  packages/dynamic-form-bootstrap/eslint.config.mjs
  packages/dynamic-form-bootstrap/project.json
  packages/dynamic-form-bootstrap/src/lib/directives/input-constraints.directive.ts
  packages/dynamic-form-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-form-bootstrap/src/lib/shared/index.ts
  packages/dynamic-form-bootstrap/vite.config.ts
  packages/dynamic-form-ionic/eslint.config.mjs
  packages/dynamic-form-ionic/ng-package.json
  packages/dynamic-form-ionic/package.json
  packages/dynamic-form-ionic/project.json
  packages/dynamic-form-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-form-ionic/src/lib/fields/button/ionic-button.type.ts
  packages/dynamic-form-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-form-ionic/vite.config.ts
  packages/dynamic-form-material/src/lib/fields/index.ts
  packages/dynamic-form-material/src/lib/index.ts
  packages/dynamic-form-primeng/eslint.config.mjs
  packages/dynamic-form-primeng/ng-package.json
  packages/dynamic-form-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-form-primeng/src/lib/index.ts
  packages/dynamic-form-primeng/src/lib/types/types.ts
  packages/dynamic-form-primeng/vite.config.mts
  tsconfig.base.json
Due: lint, format

fix: enable browser mode as default and fix async test timing issues
  packages/dynamic-form/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-form/vite.config.ts
Due: lint, format

fix: resolve TypeScript compilation errors in test utilities and type definitions
  packages/dynamic-form-bootstrap/src/lib/shared/index.ts
  packages/dynamic-form-ionic/src/lib/testing/ionic-test-utils.ts
  packages/dynamic-form-material/src/lib/testing/material-test-utils.ts
  packages/dynamic-form-primeng/src/lib/fields/select/prime-select.type.ts
  packages/dynamic-form-primeng/src/lib/fields/textarea/prime-textarea.type.ts
Due: lint, format

refactor: simplify config API by passing config directly to withXxxFields functions
  apps/demo/material/src/app/scenarios/cross-field-validation/components/dependent-validation-form.component.ts
  apps/demo/material/src/app/scenarios/cross-field-validation/components/password-matching-form.component.ts
  apps/demo/material/src/app/scenarios/user-registration/components/account-setup-form.component.ts
  apps/demo/material/src/app/scenarios/user-registration/components/personal-info-form.component.ts
  apps/examples/bootstrap/src/app/examples/complete-form-demo.component.ts
  apps/examples/bootstrap/src/app/examples/user-registration-demo.component.ts
  apps/examples/ionic/src/app/app.config.ts
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
  packages/dynamic-form-bootstrap/src/lib/providers/bootstrap-providers.ts
  packages/dynamic-form-ionic/src/lib/providers/ionic-providers.ts
  packages/dynamic-form-material/src/lib/providers/material-providers.ts
  packages/dynamic-form-primeng/src/lib/providers/primeng-providers.ts
  packages/dynamic-form/src/lib/providers/dynamic-form-providers.ts
Due: lint, format

refactor: remove obsolete withXxxConfig functions
  apps/demo/material/src/app/scenarios/cross-field-validation/components/conditional-fields-form.component.ts
  apps/examples/primeng/src/app/examples/complete-prime-form.component.ts
  packages/dynamic-form-bootstrap/src/lib/index.ts
  packages/dynamic-form-ionic/src/lib/index.ts
  packages/dynamic-form-ionic/src/lib/providers/ionic-providers.ts
  packages/dynamic-form-material/src/lib/index.ts
  packages/dynamic-form-primeng/src/lib/index.ts
Due: lint, format

fix remaining old provisions
  apps/examples/bootstrap/src/app/examples/complete-form-demo.component.ts
  apps/examples/bootstrap/src/app/examples/user-registration-demo.component.ts
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
  apps/examples/primeng/src/app/examples/complete-prime-form.component.ts
Due: format

docs: fix remaining withXxxConfig references in docs
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
Due: format

docs: update global configuration examples for simplified API
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/material/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
Due: format

docs: update README files and JSDoc to use simplified config API
  packages/dynamic-form-bootstrap/README.md
  packages/dynamic-form-bootstrap/src/lib/models/bootstrap-config.token.ts
  packages/dynamic-form-ionic/README.md
  packages/dynamic-form-ionic/src/lib/models/ionic-config.token.ts
  packages/dynamic-form-material/README.md
  packages/dynamic-form-material/src/lib/models/material-config.token.ts
  packages/dynamic-form-primeng/README.md
  packages/dynamic-form-primeng/src/lib/models/primeng-config.token.ts
Due: lint, format

fix all tests
  apps/examples/material/e2e/src/advanced-validation.spec.ts
  apps/examples/material/e2e/src/age-based-logic-test.spec.ts
  apps/examples/material/e2e/src/array-fields.spec.ts
  apps/examples/material/e2e/src/cross-field-validation.spec.ts
  apps/examples/material/e2e/src/cross-page-validation.spec.ts
  apps/examples/material/e2e/src/debug-validation.spec.ts
  apps/examples/material/e2e/src/demo-scenarios-test.spec.ts
  apps/examples/material/e2e/src/navigation-edge-cases.spec.ts
  apps/examples/material/e2e/src/user-journey-flows.spec.ts
  apps/examples/material/src/app/testing/cross-page-validation/conditional-pages.component.ts
  apps/examples/material/src/app/testing/error-handling/invalid-config.component.ts
  apps/examples/material/src/app/testing/multi-page-navigation/index.ts
  apps/examples/material/src/app/testing/multi-page-navigation/multi-page-navigation-index.component.ts
  apps/examples/material/src/app/testing/multi-page-navigation/multi-page-navigation.routes.ts
  apps/examples/material/src/app/testing/multi-page-navigation/multi-page-registration.component.ts
  apps/examples/material/src/app/testing/multi-page-navigation/page-transitions.component.ts
  apps/examples/material/src/app/testing/multi-page-navigation/validation-navigation.component.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/browser-navigation.component.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/destruction-test.component.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/index.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/invalid-navigation.component.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/navigation-edge-cases-index.component.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/navigation-edge-cases.routes.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/network-interruption.component.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/rapid-navigation.component.ts
  apps/examples/material/src/app/testing/navigation-edge-cases/refresh-test.component.ts
  apps/examples/material/src/app/testing/test-index.component.ts
  apps/examples/material/src/app/testing/testing-routes.ts
  guides/07-roadmap.md
Due: format

refactor: remove module mocking for browser mode compatibility
  packages/dynamic-form/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-form/src/lib/utils/form-validation/form-mode-validator.spec.ts
Due: lint, format

comment unsupported test part
  apps/examples/material/src/app/testing/cross-page-validation/conditional-pages.component.ts
Due: format

format
  CODING_STANDARDS.md
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
