Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "packages/**/*.{ts,js}"
      run: pnpm eslint {staged_files} --fix
    format:
      glob: "*.{ts,js,json,md,html,scss,css}"
      run: pnpm prettier --write {staged_files}

commit-msg:
  commands:
    commitlint:
      run: echo "Commit message format validated"

style(docs): add container: false to all demo components
  apps/docs/src/docs/examples/contact-form/index.md
  apps/docs/src/docs/examples/login-form/index.md
  apps/docs/src/docs/examples/user-registration/index.md
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/prebuilt/form-rows/index.md
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/material/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
  apps/docs/src/docs/what-is-dynamic-forms/index.md
Due: format

feat(docs): add GitHub link and dynamic iframe height sizing
  .gitignore
  apps/docs/public/assets/icons/github.svg
  apps/docs/src/app/app.html
  apps/docs/src/app/app.scss
  apps/docs/src/app/app.ts
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/ionic/src/app/app.ts
  apps/examples/ionic/src/app/examples/shared/example-scenario.component.ts
  apps/examples/ionic/src/styles.scss
  apps/examples/material/src/app/app.ts
  apps/examples/primeng/src/app/app.ts
Due: format

fix: update test specs to align with current API implementations
  packages/dynamic-forms/src/lib/core/registry/field-context-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/schema-application.spec.ts
  packages/dynamic-forms/src/lib/core/schema-builder.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
Due: lint, format

fix(docs): guard window access for SSR compatibility
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
Due: format

fix(docs): resolve lint warnings in app component
  apps/docs/src/app/app.ts
Due: format

perf(docs): cache ApplicationRef per remote for better performance
  apps/docs/src/app/components/remote-example/remote-example.component.ts
  apps/examples/bootstrap/src/app/remote-entry.ts
  apps/examples/ionic/src/app/remote-entry.ts
  apps/examples/material/src/app/remote-entry.ts
  apps/examples/primeng/src/app/remote-entry.ts
Due: format

feat(docs): use @defer for viewport-based lazy loading of demos
  apps/docs/src/app/components/remote-example/remote-example.component.ts
Due: format

refactor(docs): use rxResource for remote example loading
  apps/docs/src/app/components/remote-example/remote-example.component.ts
  apps/examples/bootstrap/tsconfig.federation.json
  apps/examples/ionic/tsconfig.federation.json
  apps/examples/material/tsconfig.federation.json
  apps/examples/primeng/tsconfig.federation.json
Due: format

fix: resolve flaky tests in CI by improving timing stability
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.spec.ts
Due: lint, format

refactor: add Observable support to submission actions and update docs
  apps/docs/src/docs/core/conditional-logic/index.md
  apps/docs/src/docs/core/events/index.md
  apps/docs/src/docs/core/submission/index.md
  apps/docs/src/docs/core/validation/reference.md
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
  apps/docs/src/docs/examples/contact-form/index.md
  apps/docs/src/docs/examples/login-form/index.md
  apps/docs/src/docs/examples/user-registration/index.md
  apps/docs/src/docs/installation/index.md
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/prebuilt/form-rows/index.md
  apps/docs/src/docs/what-is-dynamic-forms/index.md
  apps/examples/material/src/app/testing/shared/test-scenario.component.ts
  apps/examples/material/src/app/testing/shared/types.ts
  packages/dynamic-forms-bootstrap/eslint.config.mjs
  packages/dynamic-forms-bootstrap/ng-package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/utils/is-equal.ts
  packages/dynamic-forms-ionic/eslint.config.mjs
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/utils/is-equal.ts
  packages/dynamic-forms-material/eslint.config.mjs
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/utils/is-equal.ts
  packages/dynamic-forms-primeng/eslint.config.mjs
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/utils/is-equal.ts
  packages/dynamic-forms/eslint.config.mjs
  packages/dynamic-forms/package.json
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/submission-config.ts
  packages/dynamic-forms/src/lib/testing/integration/submission.integration.spec.ts
  scripts/serve-with-examples.sh
Due: lint, format

feat(e2e): add expression-based validators and schema system tests
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.routes.ts
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.suite.ts
  apps/examples/material/src/app/testing/advanced-validation/scenarios/expression-based-min-max.scenario.ts
  apps/examples/material/src/app/testing/schema-system/scenarios/apply-schema.scenario.ts
  apps/examples/material/src/app/testing/schema-system/scenarios/apply-when-schema.scenario.ts
  apps/examples/material/src/app/testing/schema-system/schema-system.routes.ts
  apps/examples/material/src/app/testing/schema-system/schema-system.spec.ts
  apps/examples/material/src/app/testing/schema-system/schema-system.suite.ts
  apps/examples/material/src/app/testing/shared/test-suite.registry.ts
  apps/examples/material/src/app/testing/testing-routes.ts
Due: format

fix: resolve flaky tests by improving assertion timing
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.spec.ts
Due: lint, format

feat: update LoginComponent template and remove onSubmit
  README.md
Due: format

fix: add TestBed context to DynamicTextPipe tests
  packages/dynamic-forms/src/lib/pipes/dynamic-text/dynamic-text.pipe.spec.ts
Due: lint, format

chore: add __screenshots__ to gitignore
  .gitignore
Due: none

fix: wrap signal() calls in injection context for CI compatibility
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
  packages/dynamic-forms/src/lib/pipes/dynamic-text/dynamic-text.pipe.spec.ts
Due: lint, format

chore: remove unused vi import
  packages/dynamic-forms/src/lib/core/form-mapping.spec.ts
Due: lint, format

fix(dynamic-forms): register schemas from FormConfig and exclude from component bindings
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.ts
Due: lint, format

refactor: use RxJS firstValueFrom/lastValueFrom in DynamicTextPipe tests
  packages/dynamic-forms/src/lib/pipes/dynamic-text/dynamic-text.pipe.spec.ts
Due: lint, format

fix: update DynamicTextPipe tests for toObservable implementation
  packages/dynamic-forms/src/lib/pipes/dynamic-text/dynamic-text.pipe.spec.ts
Due: lint, format

fix(dynamic-forms): use ctx.field for cross-field validator error targeting
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format

fix: resolve flaky tests in CI by improving timing stability
  packages/dynamic-forms/src/lib/testing/integration/form-mapping.integration.spec.ts
Due: lint, format

refactor: rewrite schema-application tests as integration tests
  packages/dynamic-forms/src/lib/testing/integration/form-mapping.integration.spec.ts
Due: lint, format

fix(docs): resolve infinite redirect loop on GitHub Pages deployment
  apps/docs/src/app/app.routes.server.ts
  scripts/prepare-deploy.js
Due: format

fix: revert form-mapping integration tests to main version
  packages/dynamic-forms/src/lib/testing/integration/form-mapping.integration.spec.ts
Due: lint, format

fix: disable file parallelism to fix CI test failures
  packages/dynamic-forms/vite.config.ts
Due: lint, format

fix(docs): resolve infinite redirect loop on GitHub Pages deployment (#70)
  apps/docs/src/app/app.routes.server.ts
  scripts/prepare-deploy.js
Due: format

feat(e2e): add comprehensive validation and logic operator tests
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.routes.ts
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.suite.ts
  apps/examples/material/src/app/testing/advanced-validation/scenarios/cross-field-error-targeting.scenario.ts
  apps/examples/material/src/app/testing/advanced-validation/scenarios/when-with-and-or.scenario.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.routes.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.spec.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.suite.ts
  apps/examples/material/src/app/testing/expression-based-logic/scenarios/comparison-operators.scenario.ts
  apps/examples/material/src/app/testing/expression-based-logic/scenarios/string-operators.scenario.ts
Due: format

feat(e2e): add error message verification and additional validation test scenarios
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.routes.ts
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.suite.ts
  apps/examples/material/src/app/testing/advanced-validation/scenarios/array-cross-validation.scenario.ts
  apps/examples/material/src/app/testing/advanced-validation/scenarios/nested-field-paths.scenario.ts
  apps/examples/material/src/app/testing/shared/fixtures.ts
Due: format

fix(e2e): update scenarios for expression parser compatibility
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/advanced-validation/scenarios/array-cross-validation.scenario.ts
  apps/examples/material/src/app/testing/advanced-validation/scenarios/nested-field-paths.scenario.ts
Due: format

fix(e2e): simplify nested field paths expressions and fix array validation tests
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/advanced-validation/scenarios/nested-field-paths.scenario.ts
Due: format

fix(e2e): fix failing expression and validation tests
  apps/examples/material/src/app/testing/advanced-validation/advanced-validation.spec.ts
  apps/examples/material/src/app/testing/advanced-validation/scenarios/when-with-and-or.scenario.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.spec.ts
  apps/examples/material/src/app/testing/expression-based-logic/scenarios/string-operators.scenario.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format
