Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

feat(dynamic-forms): add zod integration infrastructure
  .verdaccio/config.yml
  nx.json
  package.json
  packages/dynamic-forms-zod/bootstrap/index.ts
  packages/dynamic-forms-zod/bootstrap/src/index.ts
  packages/dynamic-forms-zod/eslint.config.mjs
  packages/dynamic-forms-zod/ionic/index.ts
  packages/dynamic-forms-zod/ionic/src/index.ts
  packages/dynamic-forms-zod/material/index.ts
  packages/dynamic-forms-zod/material/src/index.ts
  packages/dynamic-forms-zod/mcp/index.ts
  packages/dynamic-forms-zod/mcp/src/index.ts
  packages/dynamic-forms-zod/package.json
  packages/dynamic-forms-zod/primeng/index.ts
  packages/dynamic-forms-zod/primeng/src/index.ts
  packages/dynamic-forms-zod/project.json
  packages/dynamic-forms-zod/src/index.ts
  packages/dynamic-forms-zod/src/lib/dynamic-forms-zod.ts
  packages/dynamic-forms-zod/tsconfig.json
  packages/dynamic-forms-zod/tsconfig.lib.json
  packages/dynamic-forms-zod/tsconfig.spec.json
  packages/dynamic-forms-zod/vite.config.ts
  packages/dynamic-forms-zod/vitest.config.mts
  packages/dynamic-forms/ng-package.json
  packages/dynamic-forms/package.json
  packages/dynamic-forms/schema/index.ts
  packages/dynamic-forms/schema/ng-package.json
  packages/dynamic-forms/schema/src/public_api.ts
  packages/dynamic-forms/schema/src/standard-schema-marker.ts
  pnpm-lock.yaml
  project.json
  tsconfig.base.json
Due: lint, format

feat(dynamic-forms): add formConfig() helper for type-safe schemas
  apps/docs/src/docs/core/schema-validation/zod/index.md
  packages/dynamic-forms/src/lib/helpers/form-config.ts
  packages/dynamic-forms/src/lib/helpers/index.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

fix(ionic): use aria-disabled for Zod validation tests
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.suite.ts
Due: format

docs(dynamic-forms): add schema validation documentation and demos (#182)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  apps/docs/src/docs/core/schema-validation/angular-schema/index.md
  apps/docs/src/docs/core/schema-validation/angular-schema/ng-doc.page.ts
  apps/docs/src/docs/core/schema-validation/ng-doc.category.ts
  apps/docs/src/docs/core/schema-validation/overview/index.md
  apps/docs/src/docs/core/schema-validation/overview/ng-doc.page.ts
  apps/docs/src/docs/core/schema-validation/zod/index.md
  apps/docs/src/docs/core/schema-validation/zod/ng-doc.page.ts
  apps/docs/src/docs/core/schema-validation/zod/zod-iframe-demo.component.ts
  apps/examples/bootstrap/src/app/testing/shared/test-suite.registry.ts
  apps/examples/bootstrap/src/app/testing/testing-routes.ts
  apps/examples/bootstrap/src/app/testing/zod-schema-validation/scenarios/password-confirmation.scenario.ts
  apps/examples/bootstrap/src/app/testing/zod-schema-validation/zod-schema-validation.routes.ts
  apps/examples/bootstrap/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/bootstrap/src/app/testing/zod-schema-validation/zod-schema-validation.suite.ts
  apps/examples/ionic/src/app/testing/shared/test-suite.registry.ts
  apps/examples/ionic/src/app/testing/testing-routes.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/scenarios/password-confirmation.scenario.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.routes.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.suite.ts
  apps/examples/material/src/app/testing/shared/test-suite.registry.ts
  apps/examples/material/src/app/testing/testing-routes.ts
  apps/examples/material/src/app/testing/zod-schema-validation/scenarios/password-confirmation.scenario.ts
  apps/examples/material/src/app/testing/zod-schema-validation/zod-schema-validation.routes.ts
  apps/examples/material/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/material/src/app/testing/zod-schema-validation/zod-schema-validation.suite.ts
  apps/examples/primeng/src/app/testing/shared/test-suite.registry.ts
  apps/examples/primeng/src/app/testing/testing-routes.ts
  apps/examples/primeng/src/app/testing/zod-schema-validation/scenarios/password-confirmation.scenario.ts
  apps/examples/primeng/src/app/testing/zod-schema-validation/zod-schema-validation.routes.ts
  apps/examples/primeng/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/primeng/src/app/testing/zod-schema-validation/zod-schema-validation.suite.ts
  package.json
  packages/dynamic-forms/schema/src/public_api.ts
  packages/dynamic-forms/schema/src/standard-schema-marker.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
Due: lint, format

chore: remove verdaccio local registry setup
  .verdaccio/config.yml
  package.json
  pnpm-lock.yaml
  project.json
Due: format

feat(dynamic-forms): support schema validation error messages
  apps/examples/material/src/app/examples/scenarios/zod-schema-validation.scenario.ts
  packages/dynamic-forms/integration/src/utils/create-resolved-errors-signal.ts
Due: lint, format

feat(dynamic-forms): add standard schema support for form-level validation (#181)
  .claude/plans/zod-integration.md
  packages/dynamic-forms/schema/src/standard-schema-marker.ts
  packages/dynamic-forms/src/lib/core/form-schema-merger.spec.ts
  packages/dynamic-forms/src/lib/core/form-schema-merger.ts
  packages/dynamic-forms/src/lib/core/index.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
Due: lint, format

refactor(dynamic-forms): remove any type usage in schema merger
  packages/dynamic-forms/src/lib/core/form-schema-merger.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format

feat(dynamic-forms): add Angular schema callback support
  apps/docs/src/docs/schema-validation/angular-schema/index.md
  apps/docs/src/docs/schema-validation/overview/index.md
  apps/examples/bootstrap/src/app/testing/angular-schema-validation/angular-schema-validation.routes.ts
  apps/examples/bootstrap/src/app/testing/angular-schema-validation/angular-schema-validation.spec.ts
  apps/examples/bootstrap/src/app/testing/angular-schema-validation/angular-schema-validation.suite.ts
  apps/examples/bootstrap/src/app/testing/angular-schema-validation/scenarios/password-confirmation.scenario.ts
  apps/examples/bootstrap/src/app/testing/shared/test-suite.registry.ts
  apps/examples/bootstrap/src/app/testing/testing-routes.ts
  apps/examples/ionic/src/app/testing/angular-schema-validation/angular-schema-validation.routes.ts
  apps/examples/ionic/src/app/testing/angular-schema-validation/angular-schema-validation.spec.ts
  apps/examples/ionic/src/app/testing/angular-schema-validation/angular-schema-validation.suite.ts
  apps/examples/ionic/src/app/testing/angular-schema-validation/scenarios/password-confirmation.scenario.ts
  apps/examples/ionic/src/app/testing/shared/test-suite.registry.ts
  apps/examples/ionic/src/app/testing/testing-routes.ts
  apps/examples/material/src/app/testing/angular-schema-validation/angular-schema-validation.routes.ts
  apps/examples/material/src/app/testing/angular-schema-validation/angular-schema-validation.spec.ts
  apps/examples/material/src/app/testing/angular-schema-validation/angular-schema-validation.suite.ts
  apps/examples/material/src/app/testing/angular-schema-validation/scenarios/password-confirmation.scenario.ts
  apps/examples/material/src/app/testing/shared/test-suite.registry.ts
  apps/examples/material/src/app/testing/testing-routes.ts
  apps/examples/material/src/app/testing/zod-schema-validation/scenarios/comprehensive-validation.scenario.ts
  apps/examples/material/src/app/testing/zod-schema-validation/zod-schema-validation.routes.ts
  apps/examples/material/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/material/src/app/testing/zod-schema-validation/zod-schema-validation.suite.ts
  apps/examples/primeng/src/app/testing/angular-schema-validation/angular-schema-validation.routes.ts
  apps/examples/primeng/src/app/testing/angular-schema-validation/angular-schema-validation.spec.ts
  apps/examples/primeng/src/app/testing/angular-schema-validation/angular-schema-validation.suite.ts
  apps/examples/primeng/src/app/testing/angular-schema-validation/scenarios/password-confirmation.scenario.ts
  apps/examples/primeng/src/app/testing/shared/test-suite.registry.ts
  apps/examples/primeng/src/app/testing/testing-routes.ts
  package.json
  packages/dynamic-forms/schema/src/public_api.ts
  packages/dynamic-forms/schema/src/standard-schema-marker.ts
  packages/dynamic-forms/src/lib/core/form-schema-merger.spec.ts
  packages/dynamic-forms/src/lib/core/form-schema-merger.ts
  pnpm-lock.yaml
Due: lint, format

refactor(dynamic-forms): move @standard-schema/spec to peerDependencies
  package.json
  packages/dynamic-forms/package.json
  pnpm-lock.yaml
Due: format

fix(dynamic-forms): improve error message resolution and fix Ionic E2E routes
  apps/examples/ionic/src/app/testing/angular-schema-validation/angular-schema-validation.spec.ts
  packages/dynamic-forms/integration/src/utils/create-resolved-errors-signal.ts
Due: lint, format

chore(dynamic-forms): remove @standard-schema/spec from allowedNonPeerDependencies
  packages/dynamic-forms/ng-package.json
Due: format

chore: remove unused @nx/js:tsc target defaults from nx.json
  nx.json
Due: format

test(dynamic-forms): add formLevelSchema unit tests and comprehensive validation E2E tests
  apps/examples/bootstrap/src/app/testing/zod-schema-validation/scenarios/comprehensive-validation.scenario.ts
  apps/examples/bootstrap/src/app/testing/zod-schema-validation/zod-schema-validation.routes.ts
  apps/examples/bootstrap/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/bootstrap/src/app/testing/zod-schema-validation/zod-schema-validation.suite.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/scenarios/comprehensive-validation.scenario.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.routes.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.suite.ts
  apps/examples/primeng/src/app/testing/zod-schema-validation/scenarios/comprehensive-validation.scenario.ts
  apps/examples/primeng/src/app/testing/zod-schema-validation/zod-schema-validation.routes.ts
  apps/examples/primeng/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/primeng/src/app/testing/zod-schema-validation/zod-schema-validation.suite.ts
  packages/dynamic-forms/src/lib/core/schema-builder.spec.ts
Due: lint, format

fix(ionic): use attribute check for ion-button disabled state
  apps/examples/ionic/src/app/testing/angular-schema-validation/angular-schema-validation.spec.ts
Due: format

fix(ionic): correct Zod validation E2E tests
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
Due: format

fix(docs): improve Shiki syntax highlighting and code formatting
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  apps/docs/src/docs/examples/contact-form/contact-form-iframe-demo.component.ts
  apps/docs/src/docs/examples/login-form/login-form-iframe-demo.component.ts
  apps/docs/src/docs/examples/paginated-form/paginated-form-iframe-demo.component.ts
  apps/docs/src/docs/examples/user-registration/user-registration-iframe-demo.component.ts
  apps/docs/src/docs/examples/value-derivation/value-derivation-iframe-demo.component.ts
  apps/docs/src/styles.scss
Due: format

fix(docs): resolve TypeScript errors in conditional example scenarios
  apps/examples/material/src/app/examples/scenarios/age-conditional-form.scenario.ts
  apps/examples/material/src/app/examples/scenarios/business-account-form.scenario.ts
  apps/examples/material/src/app/examples/scenarios/enterprise-features.scenario.ts
  apps/examples/material/src/app/examples/scenarios/shipping-billing-address.scenario.ts
Due: format

feat(examples): add shared ExampleScenarioComponent library
  apps/docs/src/docs/validation/custom-validators/custom-validators-iframe-demo.component.ts
  apps/docs/src/styles.scss
  apps/examples/bootstrap/src/app/examples/shared/example-scenario.component.ts
  apps/examples/bootstrap/src/app/examples/shared/types.ts
  apps/examples/ionic/src/app/examples/shared/example-scenario.component.ts
  apps/examples/ionic/src/app/examples/shared/types.ts
  apps/examples/material/src/app/examples/shared/example-scenario.component.ts
  apps/examples/material/src/app/examples/shared/types.ts
  apps/examples/primeng/src/app/examples/shared/example-scenario.component.ts
  apps/examples/primeng/src/app/examples/shared/types.ts
  internal/examples-shared-ui/eslint.config.mjs
  internal/examples-shared-ui/project.json
  internal/examples-shared-ui/src/index.ts
  internal/examples-shared-ui/src/lib/example-scenario.component.ts
  internal/examples-shared-ui/src/lib/index.ts
  internal/examples-shared-ui/src/lib/types.ts
  internal/examples-shared-ui/tsconfig.json
  internal/examples-shared-ui/tsconfig.lib.json
  tsconfig.base.json
Due: format

feat(docs): add vercel speed insights integration
  apps/docs/src/main.ts
  package.json
  pnpm-lock.yaml
Due: format

feat(docs): add vercel speed insights integration (#189)
  apps/docs/src/main.ts
  package.json
  pnpm-lock.yaml
Due: format

ci: add gate jobs, timeouts, and deployment improvements
  .github/workflows/ci.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/pr-check.yml
  CLAUDE.md
  package.json
  scripts/clean-e2e-cache.sh
  scripts/playwright-docker.sh
  scripts/serve-with-examples.sh
Due: format

refactor(ci): remove redundant steps and placebo caches
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

ci: add setup job pattern to share node_modules across jobs
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix(examples): force dark theme for landing page iframe embeds
  internal/examples-shared-ui/src/lib/example-scenario.component.ts
Due: format

ci: add composite action and dynamic E2E matrix
  .github/actions/setup-node-restore/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix(docs): resolve broken links, validation layout, and light mode syntax highlighting
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/docs/examples/contact-form/index.md
  apps/docs/src/docs/examples/login-form/index.md
  apps/docs/src/docs/examples/paginated-form/index.md
  apps/docs/src/docs/examples/user-registration/index.md
  apps/docs/src/styles.scss
Due: format

ci: add gate jobs, timeouts, and deployment improvements (#190)
  .github/actions/setup-node-restore/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/pr-check.yml
  CLAUDE.md
  package.json
  scripts/clean-e2e-cache.sh
  scripts/playwright-docker.sh
  scripts/serve-with-examples.sh
Due: format

fix(examples): add contact scenario and align user-registration with docs
  apps/docs/src/styles.scss
  apps/examples/material/src/app/examples/examples.routes.ts
  apps/examples/material/src/app/examples/scenarios/contact.scenario.ts
  apps/examples/material/src/app/examples/scenarios/index.ts
  apps/examples/material/src/app/examples/scenarios/user-registration.scenario.ts
  internal/examples-shared-ui/src/lib/example-scenario.component.scss
Due: format

fix(ci): cache playwright browsers for unit tests
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix(docs): improve landing page iframe rendering and theme sync
  apps/docs/src/app/app.ts
  apps/docs/src/app/pages/landing/landing.component.scss
  internal/examples-shared-ui/src/lib/example-scenario.component.ts
Due: format

fix: cache playwright browsers for unit tests in CI (#192)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix(docs): sync landing page demo containers with iframe content
  apps/docs/src/app/app.ts
  apps/docs/src/app/pages/landing/landing.component.scss
  internal/examples-shared-ui/src/lib/example-scenario.component.ts
Due: format
