Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

fix(mcp): make container discoverable and stop equating it with a group
  internal/dynamic-forms-validation/src/lib/schemas/containers/container-field.spec.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/tools/container-discovery.spec.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/search.tool.ts
  skills/dynamic-forms/references/field-types.md
Due: lint, format

test(dynamic-forms): settle on rendering stopping, not on two fixed passes
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format

ci: give the test step the heap the build steps already get
  .github/workflows/_build-test.yml
Due: none

ci: stream test output so a failing project reports why
  .github/workflows/_build-test.yml
Due: none

fix(dynamic-forms): align container validation with the type system (#584)
  internal/dynamic-forms-validation/descriptor/golden-corpus.json
  internal/dynamic-forms-validation/descriptor/golden-corpus.spec.ts
  internal/dynamic-forms-validation/material/src/mat-field.schema.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/container-field.spec.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/container-validation.spec.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  internal/dynamic-forms-validation/vitest.config.mts
  packages/dynamic-form-mcp/src/registry/field-types.spec.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/tools/container-discovery.spec.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/search.tool.ts
  packages/dynamic-forms-bootstrap/src/lib/container-field-support.spec.ts
  packages/dynamic-forms-ionic/src/lib/container-field-support.spec.ts
  packages/dynamic-forms-material/src/lib/container-field-support.spec.ts
  packages/dynamic-forms-primeng/src/lib/container-field-support.spec.ts
  skills/dynamic-forms/references/field-types.md
Due: lint, format

fix(dynamic-forms): reject simplified-array properties on the full array API
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/field-dispatch.spec.ts
Due: format

perf(dynamic-forms): discriminate the recursive field union on type (#594)
  internal/dynamic-forms-validation/eslint.config.mjs
  internal/dynamic-forms-validation/package.json
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/field-dispatch.spec.ts
  internal/dynamic-forms-validation/src/lib/schemas/field-type-names.ts
  internal/dynamic-forms-validation/validate/src/json-schema/field-type-json-schemas.ts
  internal/dynamic-forms-validation/validate/src/json-schema/form-config-json-schema.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  package.json
  packages/dynamic-form-mcp/eslint.config.mjs
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/src/tools/validate.tool.spec.ts
  packages/dynamic-forms-cli/eslint.config.mjs
  packages/dynamic-forms-cli/package.json
  packages/dynamic-forms-cli/project.json
  pnpm-lock.yaml
  skills/eval/setup-workspaces.ts
Due: lint, format

fix(mcp): make every named rule genuinely disableable
  internal/dynamic-forms-validation/descriptor/extract-registry.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-registry.ts
  internal/dynamic-forms-validation/discovery/validate-file.ts
  internal/dynamic-forms-validation/index.ts
  internal/dynamic-forms-validation/project.json
  internal/dynamic-forms-validation/reporting/report.ts
  internal/dynamic-forms-validation/rules/catalogue.spec.ts
  internal/dynamic-forms-validation/rules/catalogue.ts
  internal/dynamic-forms-validation/rules/disabled-rules.spec.ts
  internal/dynamic-forms-validation/rules/project-rules.spec.ts
  internal/dynamic-forms-validation/rules/project-rules.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
  packages/dynamic-forms-cli/src/cli.ts
  packages/dynamic-forms-cli/src/run-validate.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  scripts/generate-descriptors.ts
  scripts/generate-skills.ts
  skills/dynamic-forms/references/rules.md
Due: lint, format

fix(mcp): compile the descriptor schema against zod 4
  internal/dynamic-forms-validation/descriptor/compile-schema.ts
Due: format

fix(dynamic-forms): make --tsconfig select the project, and pin the documented npx command
  apps/docs/public/content/ai-integration/skills.md
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms-cli/README.md
  packages/dynamic-forms-cli/src/discover-project.spec.ts
  packages/dynamic-forms-cli/src/discover-project.ts
  packages/dynamic-forms-cli/src/run-validate.ts
  scripts/generate-skills.ts
  scripts/skill-adapters.ts
  skills/dynamic-forms-bootstrap/SKILL.md
  skills/dynamic-forms-ionic/SKILL.md
  skills/dynamic-forms-material/SKILL.md
  skills/dynamic-forms-primeng/SKILL.md
  skills/dynamic-forms/SKILL.md
  skills/dynamic-forms/references/rules.md
Due: lint, format

fix(mcp): treat an unreadable rules file, and a warning, as what they are
  internal/dynamic-forms-validation/discovery/validate-file.spec.ts
  internal/dynamic-forms-validation/reporting/report.ts
  internal/dynamic-forms-validation/rules/project-rules.spec.ts
  internal/dynamic-forms-validation/rules/project-rules.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
  packages/dynamic-forms-cli/src/run-validate.ts
Due: lint, format

docs(dynamic-forms): use as const satisfies in the WebMCP config examples
  apps/docs/public/content/ai-integration/webmcp.md
  packages/dynamic-forms/src/lib/core/web-mcp/web-mcp.integration.spec.ts
  packages/dynamic-forms/src/lib/providers/features/web-mcp/with-web-mcp.ts
Due: lint, format

test(examples): cover WebMCP config swaps in a real browser
  apps/e2e/core/src/app/testing/web-mcp/scenarios/agent-config-swap.component.ts
  apps/e2e/core/src/app/testing/web-mcp/scenarios/agent-config-swap.scenario.ts
  apps/e2e/core/src/app/testing/web-mcp/web-mcp.routes.ts
  apps/e2e/core/src/app/testing/web-mcp/web-mcp.spec.ts
  apps/e2e/core/src/app/testing/web-mcp/web-mcp.suite.ts
Due: format

test(dynamic-forms): cover the WebMCP plan and parser branches
  packages/dynamic-forms/src/lib/core/web-mcp/field-plan.spec.ts
  packages/dynamic-forms/src/lib/core/web-mcp/parse-agent-input.spec.ts
Due: lint, format

chore(deps): update angular to 22.1.x and bump low-risk majors
  package.json
  packages/dynamic-forms-cli/package.json
  packages/openapi-generator/package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump @oxc-project/runtime to 0.148.0
  package.json
  pnpm-lock.yaml
Due: format

fix(dynamic-forms): correct two WebMCP responses an agent read wrongly
  packages/dynamic-forms/src/lib/core/web-mcp/bootstrap-web-mcp.ts
  packages/dynamic-forms/src/lib/core/web-mcp/format-report.spec.ts
  packages/dynamic-forms/src/lib/core/web-mcp/format-report.ts
  packages/dynamic-forms/src/lib/core/web-mcp/web-mcp.integration.spec.ts
Due: lint, format

chore(deps): pin qs and fflate out of their advisory ranges
  package.json
  pnpm-lock.yaml
Due: format

test(dynamic-forms): wait on the page index instead of a fixed cycle count
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-index-ownership.spec.ts
Due: lint, format

docs(dynamic-forms): warn up front when a submit tool cannot report its outcome
  packages/dynamic-forms/src/lib/core/web-mcp/bootstrap-web-mcp.ts
  packages/dynamic-forms/src/lib/core/web-mcp/eval/README.md
  packages/dynamic-forms/src/lib/core/web-mcp/eval/bridge.mjs
  packages/dynamic-forms/src/lib/core/web-mcp/web-mcp.integration.spec.ts
Due: lint, format

ci(dynamic-forms): exclude web-mcp eval harness from dependency checks
  packages/dynamic-forms/eslint.config.mjs
Due: none

fix(dynamic-forms): stop the eval bridge echoing error details in responses
  packages/dynamic-forms/src/lib/core/web-mcp/eval/bridge.mjs
Due: none

chore(deps): update dependencies, migrate to nx 23, vite 8 and eslint 10 (#603)
  .gitignore
  apps/docs/src/app/components/code-compare/code-compare.component.ts
  internal/dynamic-forms-validation/vitest.config.mts
  package.json
  packages/dynamic-forms-bootstrap/vite.config.typecheck.ts
  packages/dynamic-forms-cli/package.json
  packages/dynamic-forms-ionic/vite.config.typecheck.ts
  packages/dynamic-forms-material/vite.config.typecheck.ts
  packages/dynamic-forms-primeng/vite.config.typecheck.ts
  packages/dynamic-forms/tsconfig.spec.json
  packages/dynamic-forms/vite.config.typecheck-definitions.ts
  packages/dynamic-forms/vite.config.typecheck-inference.ts
  packages/dynamic-forms/vite.config.typecheck.ts
  packages/openapi-generator/package.json
  pnpm-lock.yaml
  skills/vitest.config.mts
  vitest.config.ts
  vitest.workspace.ts
Due: lint, format

fix(dynamic-forms): close the WebMCP data-loss and lifecycle gaps
  apps/docs/public/content/ai-integration/webmcp.md
  internal/dynamic-forms-validation/src/lib/schemas/__tests__/field-web-mcp.spec.ts
  internal/dynamic-forms-validation/src/lib/schemas/field/field-def.schema.ts
  internal/dynamic-forms-validation/src/lib/schemas/field/field-web-mcp.schema.ts
  internal/dynamic-forms-validation/src/lib/schemas/field/index.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/src/lib/core/web-mcp/bootstrap-web-mcp.ts
  packages/dynamic-forms/src/lib/core/web-mcp/eval/bridge.mjs
  packages/dynamic-forms/src/lib/core/web-mcp/model-context.ts
  packages/dynamic-forms/src/lib/core/web-mcp/parse-agent-input.spec.ts
  packages/dynamic-forms/src/lib/core/web-mcp/parse-agent-input.ts
  packages/dynamic-forms/src/lib/core/web-mcp/web-mcp.integration.spec.ts
  skills/dynamic-forms/references/rules.md
Due: lint, format

fix(config): make the /internal import guard exempt core under any eslint base path
  eslint.config.mjs
  packages/dynamic-forms/eslint.config.mjs
Due: none

fix(dynamic-forms): enforce the WebMCP invariants, not just their examples
  packages/dynamic-forms/src/lib/core/web-mcp/bootstrap-web-mcp.ts
  packages/dynamic-forms/src/lib/core/web-mcp/parse-agent-input.spec.ts
  packages/dynamic-forms/src/lib/core/web-mcp/parse-agent-input.ts
  packages/dynamic-forms/src/lib/core/web-mcp/web-mcp.integration.spec.ts
Due: lint, format

fix(config): make the /internal import guard exempt core under any eslint base path (#604)
  eslint.config.mjs
  packages/dynamic-forms/eslint.config.mjs
Due: none

fix(dynamic-forms): stop double-prefixing WebMCP log messages
  packages/dynamic-forms/src/lib/core/web-mcp/bootstrap-web-mcp.ts
  packages/dynamic-forms/src/lib/core/web-mcp/field-plan.ts
  packages/dynamic-forms/src/lib/core/web-mcp/web-mcp-gate.ts
Due: lint, format

fix(dynamic-forms): stop double-prefixing the remaining log messages
  packages/dynamic-forms/src/lib/core/derivation/derivation-render-gate.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

docs(dynamic-forms): correct the WebMCP claims a real browser disproves
  apps/docs/public/content/ai-integration/webmcp.md
  packages/dynamic-forms/src/lib/core/web-mcp/bootstrap-web-mcp.ts
  packages/dynamic-forms/src/lib/core/web-mcp/model-context.ts
  packages/dynamic-forms/src/lib/core/web-mcp/web-mcp.integration.spec.ts
Due: lint, format

fix(core): preserve boolean literals in generated descriptors
  internal/dynamic-forms-validation/descriptor/extract-shape.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/generated/core.json
Due: format

fix(docs): point the sitemap at the split ai-integration pages
  apps/docs/scripts/generate-sitemap.spec.ts
  apps/docs/scripts/generate-sitemap.ts
Due: format

fix(docs): point the sitemap at the split ai-integration pages (#606)
  apps/docs/scripts/generate-sitemap.spec.ts
  apps/docs/scripts/generate-sitemap.ts
Due: format

chore(release): bump version to 1.2.0
  internal/dynamic-forms-validation/descriptor/generated/bootstrap.json
  internal/dynamic-forms-validation/descriptor/generated/core.json
  internal/dynamic-forms-validation/descriptor/generated/ionic.json
  internal/dynamic-forms-validation/descriptor/generated/material.json
  internal/dynamic-forms-validation/descriptor/generated/primeng.json
  internal/dynamic-forms-validation/package.json
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-cli/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
  skills/dynamic-forms-bootstrap/SKILL.md
  skills/dynamic-forms-bootstrap/references/props.md
  skills/dynamic-forms-ionic/SKILL.md
  skills/dynamic-forms-ionic/references/props.md
  skills/dynamic-forms-material/SKILL.md
  skills/dynamic-forms-material/references/props.md
  skills/dynamic-forms-primeng/SKILL.md
  skills/dynamic-forms-primeng/references/props.md
  skills/dynamic-forms/SKILL.md
Due: format

docs(release): add 1.2.0 changelog
  CHANGELOG.md
Due: format
