Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

fix(dynamic-forms): hide wrapper chrome when field hides post-mount
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.spec.ts
  packages/dynamic-forms/src/lib/mappers/apply-hidden-logic.spec.ts
  packages/dynamic-forms/src/lib/mappers/apply-hidden-logic.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.bench.spec.ts
Due: lint, format

chore(docs): wire sitemap regen into CI, fix canonical alignment, redirect migration url
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  apps/docs/project.json
  apps/docs/public/sitemap.xml
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/vercel.json
Due: format

feat(docs): emit FAQ + TechArticle JSON-LD on migration guide
  apps/docs/src/app/components/feature-overview/feature-overview.data.ts
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

docs(docs): sharpen migration guide meta description for SEO
  apps/docs/public/content/migrating-from-ngx-formly.md
Due: format

chore(docs): regen sitemap after migration guide content edit
  apps/docs/public/sitemap.xml
Due: none

docs(docs): cross-link migration guide from getting-started, configuration, feature-overview
  apps/docs/public/content/configuration.md
  apps/docs/public/content/feature-overview.md
  apps/docs/public/content/getting-started.md
Due: format

docs(docs): promote signal forms framing and decision table in migration guide
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/src/app/components/feature-overview/feature-overview.data.ts
Due: format

chore(docs): regen llms-full and sitemap after migration content edits
  apps/docs/public/llms-full.txt
  apps/docs/public/sitemap.xml
Due: none

chore(release): bump version to 0.9.0
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
Due: format

chore(release): publish 0.9.0
  CHANGELOG.md
Due: format

docs(release): add 0.9.x row to README version compatibility tables
  README.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
Due: format

ci: fetch full git history in docs-freshness check
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

chore(release): bump version to 0.9.0 (#424)
  CHANGELOG.md
  README.md
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
Due: format

fix(docs): omit api-reference lastmod and drop unused og image scaffolding
  apps/docs/public/sitemap.xml
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

build(docs): generate sitemap.xml and llms-full.txt as build artifacts
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .gitignore
  apps/docs/plugins/vite-plugin-docs-meta.ts
  apps/docs/project.json
  apps/docs/public/llms-full.txt
  apps/docs/public/sitemap.xml
  apps/docs/scripts/generate-llms-full.ts
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/vite.config.ts
  vercel.json
Due: format

chore(docs): polish docs-meta plugin per review
  .gitignore
  apps/docs/plugins/vite-plugin-docs-meta.ts
  apps/docs/scripts/generate-sitemap.spec.ts
  apps/docs/scripts/generate-sitemap.ts
Due: format

refactor(docs): auto-derive migration dateModified + extract JSON-LD builders
  apps/docs/plugins/vite-plugin-docs-meta.ts
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/components/feature-overview/feature-overview.data.ts
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
  apps/docs/src/app/utils/jsonld-builders.spec.ts
  apps/docs/src/app/utils/jsonld-builders.ts
  apps/docs/src/types.d.ts
Due: format

chore(docs): docs-meta plugin polish per review round 4
  apps/docs/plugins/vite-plugin-docs-meta.spec.ts
  apps/docs/plugins/vite-plugin-docs-meta.ts
  apps/docs/scripts/generate-sitemap.spec.ts
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/components/feature-overview/feature-overview.data.ts
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
  apps/docs/src/app/utils/jsonld-builders.spec.ts
  apps/docs/src/app/utils/jsonld-builders.ts
Due: format

fix(docs): kill command-injection surface, align JSON-LD url with canonical
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/components/feature-overview/feature-overview.data.ts
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

feat(docs): seo foundation — sitemap CI, schema enrichment, migration page polish (#423)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .gitignore
  apps/docs/plugins/vite-plugin-docs-meta.spec.ts
  apps/docs/plugins/vite-plugin-docs-meta.ts
  apps/docs/project.json
  apps/docs/public/content/configuration.md
  apps/docs/public/content/feature-overview.md
  apps/docs/public/content/getting-started.md
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/public/llms-full.txt
  apps/docs/public/sitemap.xml
  apps/docs/scripts/generate-llms-full.ts
  apps/docs/scripts/generate-sitemap.spec.ts
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/components/feature-overview/feature-overview.data.ts
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
  apps/docs/src/app/utils/jsonld-builders.spec.ts
  apps/docs/src/app/utils/jsonld-builders.ts
  apps/docs/src/types.d.ts
  apps/docs/vercel.json
  apps/docs/vite.config.ts
  vercel.json
Due: format

fix: drop description hint on container field types in openapi-generator (#425)
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

build(docs): bump Node old-space to 8GB for Vercel docs build
  vercel.json
Due: format

test(openapi-generator): cover all container types + lock recovery message
  commitlint.config.js
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

fix(openapi-generator): drop description hint on container field types (#426)
  commitlint.config.js
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
  vercel.json
Due: lint, format

feat(dynamic-forms): support HTTP/async property derivations and extend expression parser
  apps/docs/public/content/dynamic-behavior/derivation/property.md
  apps/docs/public/content/recipes/expression-parser.md
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/entry-set-utils.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/entry-set-utils.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/expression-parser.security.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/expression-parser.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/tokenizer.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/types.ts
  packages/dynamic-forms/src/lib/core/property-derivation/async-property-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/async-property-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/property-derivation/http-property-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/http-property-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-types.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory.spec.ts
  packages/dynamic-forms/src/lib/core/values/type-predicate-factory.spec.ts
  scripts/audit-doc-expressions.mts
Due: lint, format

fix(dynamic-forms): address CodeRabbit review on PR #431
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/entry-set-utils.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/entry-set-utils.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
Due: lint, format

refactor(dynamic-forms): address round-2 review feedback on PR #431
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/entry-set-utils.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/entry-set-utils.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/expression-parser.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/async-property-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/http-property-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
Due: lint, format

build(docs): export NODE_OPTIONS via wrapper script for Vercel build
  scripts/vercel-build.sh
  vercel.json
Due: format

test(dynamic-forms): add issue #422 reproduction spec
  packages/dynamic-forms/src/lib/core/property-derivation/issue-422-repro.spec.ts
Due: lint, format

test(dynamic-forms): drop issue #422 repro spec
  packages/dynamic-forms/src/lib/core/property-derivation/issue-422-repro.spec.ts
Due: lint, format

build(docs): export NODE_OPTIONS via wrapper script for Vercel build (#432)
  scripts/vercel-build.sh
  vercel.json
Due: format

test(material): add E2E for HTTP-driven select.options
  apps/e2e/material/src/app/testing/property-derivation-http/property-derivation-http.routes.ts
  apps/e2e/material/src/app/testing/property-derivation-http/property-derivation-http.spec.ts
  apps/e2e/material/src/app/testing/property-derivation-http/property-derivation-http.suite.ts
  apps/e2e/material/src/app/testing/property-derivation-http/scenarios/http-driven-select-options.scenario.ts
  apps/e2e/material/src/app/testing/testing-routes.ts
Due: format

test(ionic): refresh grid-layout snapshots after Playwright 1.60 bump
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
Due: none

docs: add default behavioral rules to CLAUDE.md
  CLAUDE.md
Due: format

chore(config): add pre-push hook to block direct push to main
  .claude/hooks/block-push-to-main.sh
  .claude/settings.json
Due: format

fix(config): tighten push-to-main hook to avoid false positives
  .claude/hooks/block-push-to-main.sh
Due: none

feat(dynamic-forms): support HTTP/async property derivations and extend expression parser (#431)
  apps/docs/public/content/dynamic-behavior/derivation/property.md
  apps/docs/public/content/recipes/expression-parser.md
  apps/e2e/material/src/app/testing/property-derivation-http/property-derivation-http.routes.ts
  apps/e2e/material/src/app/testing/property-derivation-http/property-derivation-http.spec.ts
  apps/e2e/material/src/app/testing/property-derivation-http/property-derivation-http.suite.ts
  apps/e2e/material/src/app/testing/property-derivation-http/scenarios/http-driven-select-options.scenario.ts
  apps/e2e/material/src/app/testing/testing-routes.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/entry-set-utils.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/entry-set-utils.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/expression-parser.security.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/expression-parser.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/parser.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/tokenizer.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/types.ts
  packages/dynamic-forms/src/lib/core/property-derivation/async-property-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/async-property-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/property-derivation/http-property-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/http-property-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-types.ts
  packages/dynamic-forms/src/lib/core/values/dynamic-value-factory.spec.ts
  packages/dynamic-forms/src/lib/core/values/type-predicate-factory.spec.ts
  scripts/audit-doc-expressions.mts
Due: lint, format

chore(config): drop playwright + angular-cli MCPs, add /verify-e2e skill
  .claude/skills/verify-e2e.md
  .claude/skills/verify.md
  .mcp.json
Due: format

fix(config): address PR #434 review feedback
  .claude/hooks/block-push-to-main.sh
  .claude/skills/verify.md
  CLAUDE.md
Due: format
