Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(dynamic-forms): add async custom functions for derivations and conditions
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-detector.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-function-cache.service.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/async-custom-function-types.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/index.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.ts
  packages/dynamic-forms/src/lib/core/registry/function-registry.service.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.type-test.ts
  packages/dynamic-forms/src/lib/models/expressions/index.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

test(dynamic-forms): add E2E and unit tests for async custom functions
  apps/examples/core/src/app/testing/async-conditions/async-conditions.routes.ts
  apps/examples/core/src/app/testing/async-conditions/async-conditions.spec.ts
  apps/examples/core/src/app/testing/async-conditions/async-conditions.suite.ts
  apps/examples/core/src/app/testing/async-conditions/scenarios/async-error-fallback.scenario.ts
  apps/examples/core/src/app/testing/async-conditions/scenarios/async-pending-value.scenario.ts
  apps/examples/core/src/app/testing/async-conditions/scenarios/disabled-async.scenario.ts
  apps/examples/core/src/app/testing/async-conditions/scenarios/hidden-async.scenario.ts
  apps/examples/core/src/app/testing/async-conditions/scenarios/readonly-async.scenario.ts
  apps/examples/core/src/app/testing/async-conditions/scenarios/required-async.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/derivation-logic.routes.ts
  apps/examples/core/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/core/src/app/testing/derivation-logic/derivation-logic.suite.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-condition.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-error.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-re-engage.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-stop-override.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation.scenario.ts
  apps/examples/core/src/app/testing/shared/test-suite.registry.ts
  apps/examples/core/src/app/testing/testing-routes.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.spec.ts
Due: lint, format

fix(dynamic-forms): address self-review feedback for async custom functions
  apps/examples/core/src/app/testing/async-conditions/async-conditions.routes.ts
  apps/examples/core/src/app/testing/async-conditions/async-conditions.spec.ts
  apps/examples/core/src/app/testing/async-conditions/async-conditions.suite.ts
  apps/examples/core/src/app/testing/async-conditions/scenarios/composite-async.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/derivation-logic.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.ts
Due: lint, format

test(dynamic-forms): add async condition nested composite validation tests
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.spec.ts
Due: lint, format

fix(dynamic-forms): address code review feedback for async custom functions
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/registry/function-registry.service.ts
Due: lint, format

refactor(dynamic-forms): improve async/HTTP API ergonomics with source discriminant
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-condition.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-error.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-re-engage.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-stop-override.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation-condition.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation-error.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation-re-engage.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation-stop-override.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation.scenario.ts
  apps/examples/core/src/app/testing/http-conditions/scenarios/debounce-coalescing.scenario.ts
  apps/examples/core/src/app/testing/http-conditions/scenarios/pending-value.scenario.ts
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-detector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.type-test.ts
  packages/dynamic-forms/src/lib/models/http/http-config.type-test.ts
  packages/dynamic-forms/src/lib/models/http/http-request-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

refactor(dynamic-forms): remove source discriminant from sync derivation modes
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

refactor(dynamic-forms): fix stale mutual exclusivity comments in sync derivation bases
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
Due: lint, format

refactor(dynamic-forms): remove unused DerivationSource type
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
Due: lint, format

refactor(dynamic-forms): remove dead exports for CustomConditionNew and CustomConditionDeprecated
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.ts
Due: lint, format

refactor(dynamic-forms): improve async/HTTP API ergonomics with source discriminant (#258)
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-condition.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-error.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-re-engage.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation-stop-override.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/async-derivation.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation-condition.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation-error.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation-re-engage.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation-stop-override.scenario.ts
  apps/examples/core/src/app/testing/derivation-logic/scenarios/http-derivation.scenario.ts
  apps/examples/core/src/app/testing/http-conditions/scenarios/debounce-coalescing.scenario.ts
  apps/examples/core/src/app/testing/http-conditions/scenarios/pending-value.scenario.ts
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-detector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.type-test.ts
  packages/dynamic-forms/src/lib/models/http/http-config.type-test.ts
  packages/dynamic-forms/src/lib/models/http/http-request-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

fix(dynamic-forms): fix cross-field validators silently failing on fields inside groups
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.spec.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format

fix(dynamic-forms): clean up lint warnings in collector and spec
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.spec.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.ts
Due: lint, format

chore(release): switch to OIDC provenance and exclude internal zod package
  .github/workflows/release.yml
  internal/dynamic-forms-zod/package.json
  nx.json
Due: format

fix(dynamic-forms): address review feedback on cross-field group fix
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format

fix(dynamic-forms): fix cross-field validators silently failing on fields inside groups (#260)
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.spec.ts
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-collector.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format

chore(release): switch to OIDC provenance and exclude internal zod package (#261)
  .github/workflows/release.yml
  internal/dynamic-forms-zod/package.json
  nx.json
Due: format

fix(dynamic-forms): fix cross-field validators not routing errors for fields inside groups
  apps/examples/material/src/app/testing/group-fields/group-fields.routes.ts
  apps/examples/material/src/app/testing/group-fields/group-fields.spec.ts
  apps/examples/material/src/app/testing/group-fields/group-fields.suite.ts
  apps/examples/material/src/app/testing/group-fields/scenarios/group-cross-field-validation.scenario.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format

feat(dynamic-forms): add URL path parameter interpolation to HttpRequestConfig
  apps/examples/core/src/app/testing/http-path-params/http-path-params.routes.ts
  apps/examples/core/src/app/testing/http-path-params/http-path-params.spec.ts
  apps/examples/core/src/app/testing/http-path-params/http-path-params.suite.ts
  apps/examples/core/src/app/testing/http-path-params/scenarios/condition-path-params.scenario.ts
  apps/examples/core/src/app/testing/http-path-params/scenarios/derivation-path-params.scenario.ts
  apps/examples/core/src/app/testing/http-path-params/scenarios/validator-path-params.scenario.ts
  apps/examples/core/src/app/testing/testing-routes.ts
  packages/dynamic-forms/src/lib/core/http/http-request-resolver.spec.ts
  packages/dynamic-forms/src/lib/core/http/http-request-resolver.ts
  packages/dynamic-forms/src/lib/models/http/http-config.type-test.ts
  packages/dynamic-forms/src/lib/models/http/http-request-config.ts
Due: lint, format

fix(dynamic-forms): fix cross-field validators not routing errors for fields inside groups (#262)
  apps/examples/material/src/app/testing/group-fields/group-fields.routes.ts
  apps/examples/material/src/app/testing/group-fields/group-fields.spec.ts
  apps/examples/material/src/app/testing/group-fields/group-fields.suite.ts
  apps/examples/material/src/app/testing/group-fields/scenarios/group-cross-field-validation.scenario.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format

feat(dynamic-forms): add URL path parameter interpolation to HttpRequestConfig (#263)
  apps/examples/core/src/app/testing/http-path-params/http-path-params.routes.ts
  apps/examples/core/src/app/testing/http-path-params/http-path-params.spec.ts
  apps/examples/core/src/app/testing/http-path-params/http-path-params.suite.ts
  apps/examples/core/src/app/testing/http-path-params/scenarios/condition-path-params.scenario.ts
  apps/examples/core/src/app/testing/http-path-params/scenarios/derivation-path-params.scenario.ts
  apps/examples/core/src/app/testing/http-path-params/scenarios/validator-path-params.scenario.ts
  apps/examples/core/src/app/testing/testing-routes.ts
  packages/dynamic-forms/src/lib/core/http/http-request-resolver.spec.ts
  packages/dynamic-forms/src/lib/core/http/http-request-resolver.ts
  packages/dynamic-forms/src/lib/models/http/http-config.type-test.ts
  packages/dynamic-forms/src/lib/models/http/http-request-config.ts
Due: lint, format

docs(examples): add missing minLength validation message to expression-validators scenario
  apps/examples/material/src/app/examples/scenarios/expression-validators.scenario.ts
Due: format

docs(docs): document async features, HTTP validators, and container logic
  apps/docs/src/docs/dynamic-behavior/conditional-logic/overview/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/async-derivation.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/ng-doc.page.ts
  apps/docs/src/docs/prebuilt/form-arrays/complete/index.md
  apps/docs/src/docs/prebuilt/form-arrays/simplified/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/prebuilt/form-pages/index.md
  apps/docs/src/docs/prebuilt/form-rows/index.md
  apps/docs/src/docs/validation/custom-validators/index.md
  apps/examples/material/src/app/examples/examples.routes.ts
  apps/examples/material/src/app/examples/scenarios/expression-validators.scenario.ts
  apps/examples/material/src/app/examples/scenarios/index.ts
Due: format

chore(mcp): regenerate MCP registry for new async docs topics
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

docs(docs): address review feedback on conditional logic and async docs
  apps/docs/src/docs/dynamic-behavior/conditional-logic/overview/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/async-derivation.md
  apps/docs/src/docs/prebuilt/form-pages/index.md
Due: format

docs(docs): document HttpRequestConfig params for URL path parameter interpolation
  apps/docs/src/docs/dynamic-behavior/conditional-logic/overview/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/async-derivation.md
  apps/docs/src/docs/validation/custom-validators/index.md
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

chore(mcp): regenerate MCP registry after rebase
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

ci(config): consolidate CI pipeline jobs to reduce runner overhead
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

docs(config): add CI pipeline optimization plan
  plan.md
Due: format

chore(config): remove plan.md
  plan.md
Due: format

docs(docs): document async features, HTTP validators, and container logic (#259)
  apps/docs/src/docs/dynamic-behavior/conditional-logic/overview/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/async-derivation.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/index.md
  apps/docs/src/docs/dynamic-behavior/value-derivation/basics/ng-doc.page.ts
  apps/docs/src/docs/prebuilt/form-arrays/complete/index.md
  apps/docs/src/docs/prebuilt/form-arrays/simplified/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/prebuilt/form-pages/index.md
  apps/docs/src/docs/prebuilt/form-rows/index.md
  apps/docs/src/docs/validation/custom-validators/index.md
  apps/examples/material/src/app/examples/examples.routes.ts
  apps/examples/material/src/app/examples/scenarios/expression-validators.scenario.ts
  apps/examples/material/src/app/examples/scenarios/index.ts
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

ci(config): consolidate CI pipeline jobs to reduce runner overhead (#264)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

chore(release): bump version to 0.6.0
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format

chore(release): publish 0.6.0
  CHANGELOG.md
Due: format

ci(config): run core e2e natively with sharding and persist nx cache across runs
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

chore(release): bump version to 0.6.0 (#265)
  CHANGELOG.md
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format

ci(config): fix npm publish auth by removing registry-url to enable OIDC trusted publisher
  .github/workflows/release.yml
Due: none

ci(config): run core e2e natively with sharding and persist nx cache across runs (#266)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

ci(config): use npm publish for OIDC trusted publisher support
  .github/workflows/release.yml
Due: none

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
