Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

refactor(dynamic-forms): extract addon plumbing into NgForgeAddons directive
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/integration/src/directives/index.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addons.directive.spec.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addons.directive.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

fix(primeng): clean up radio-group and multi-checkbox (#399)
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
Due: lint, format

refactor(dynamic-forms): NgForgeAddons wrapper + NgForgeAddonAction directive
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/addons/pi-button-addon.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/tokens/input-value-writer.token.ts
  packages/dynamic-forms/integration/src/directives/addon-preset-handler.token.ts
  packages/dynamic-forms/integration/src/directives/index.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addon-action.directive.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addons.directive.spec.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addons.directive.ts
  packages/dynamic-forms/integration/src/public_api.ts
  packages/dynamic-forms/src/lib/utils/build-field-inputs/build-field-inputs.ts
  packages/dynamic-forms/src/lib/wrappers/wrapper-field-inputs.ts
Due: lint, format

feat(dynamic-forms): inline fn alternative for custom and async conditions
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.type-test.ts
Due: lint, format

feat(dynamic-forms): extend addon support to Material, Bootstrap, and Ionic adapters
  packages/dynamic-forms-bootstrap/src/index.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/bs-button-addon.component.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/bs-icon-addon.component.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/preset-actions.ts
  packages/dynamic-forms-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.type.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-bootstrap/src/lib/providers/bootstrap-providers.ts
  packages/dynamic-forms-bootstrap/src/lib/tokens/input-type-override.token.ts
  packages/dynamic-forms-bootstrap/src/lib/types/addons.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-ionic/src/lib/addons/ion-button-addon.component.ts
  packages/dynamic-forms-ionic/src/lib/addons/ion-icon-addon.component.ts
  packages/dynamic-forms-ionic/src/lib/addons/preset-actions.ts
  packages/dynamic-forms-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-ionic/src/lib/providers/ionic-providers.ts
  packages/dynamic-forms-ionic/src/lib/tokens/input-type-override.token.ts
  packages/dynamic-forms-ionic/src/lib/types/addons.ts
  packages/dynamic-forms-material/src/index.ts
  packages/dynamic-forms-material/src/lib/addons/mat-button-addon.component.ts
  packages/dynamic-forms-material/src/lib/addons/mat-icon-addon.component.ts
  packages/dynamic-forms-material/src/lib/addons/preset-actions.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.type.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-material/src/lib/providers/material-providers.ts
  packages/dynamic-forms-material/src/lib/tokens/input-type-override.token.ts
  packages/dynamic-forms-material/src/lib/types/addons.ts
Due: lint, format

feat(dynamic-forms): inline fn alternative for function and async function derivations
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/derivation/compute-derived-value.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-entry-base.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.ts
  packages/dynamic-forms/src/lib/core/derivation/extract-dependencies.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

feat(dynamic-forms): inline fn alternative for custom, async, and function http validators
  apps/docs/public/content/dynamic-behavior/conditional-logic.md
  apps/docs/public/content/dynamic-behavior/derivation/async.md
  apps/docs/public/content/dynamic-behavior/derivation/values.md
  apps/docs/public/content/validation/custom-validators.md
  packages/dynamic-forms/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/models/validation/validator-config.ts
  packages/dynamic-forms/src/lib/models/validation/validator-config.type-test.ts
Due: lint, format

fix(material): render input directly inside mat-form-field
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
Due: lint, format

docs(dynamic-forms): add addons section + 3 examples + migration coverage
  apps/docs/public/content/addons/custom-kinds.md
  apps/docs/public/content/addons/overview.md
  apps/docs/public/content/addons/presets-and-actions.md
  apps/docs/public/content/examples/addon-clear-button.md
  apps/docs/public/content/examples/addon-currency.md
  apps/docs/public/content/examples/addon-password-toggle.md
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/src/app/components/feature-overview/feature-overview.data.ts
  apps/docs/src/app/components/live-example/live-example.component.ts
  apps/docs/src/app/example-configs/addon-clear-button.config.ts
  apps/docs/src/app/example-configs/addon-currency.config.ts
  apps/docs/src/app/example-configs/addon-password-toggle.config.ts
  apps/docs/src/app/example-configs/index.ts
  apps/docs/src/app/layout/nav.config.ts
  apps/docs/src/app/pages/examples-index/examples.registry.ts
  packages/dynamic-forms-primeng/README.md
Due: format

test(bootstrap): load bootstrap-icons CDN in e2e app
  apps/e2e/bootstrap/src/index.html
Due: format

test(dynamic-forms): bake addon e2e screenshot baselines for Material + Bootstrap
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/action-ref.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/clear-button-after-clear.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/clear-button-with-value.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/decorative-button.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/disabled-addon.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/icon-prefix.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/inline-action.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/labelled-button.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/multi-addons.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/password-toggle-hidden.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/password-toggle-visible.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/reset-preset-modified.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/reset-preset-restored.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/severity-variants.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/text-currency.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/action-ref.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/clear-button-after-clear.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/clear-button-with-value.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/decorative-button.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/disabled-addon.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/icon-prefix.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/inline-action.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/labelled-button.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/multi-addons.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/password-toggle-hidden.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/password-toggle-visible.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/reset-preset-modified.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/reset-preset-restored.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/severity-variants.png
  apps/e2e/material/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/text-currency.png
Due: none

test(ionic): mark interactive addon e2e tests as fixme
  apps/e2e/ionic/src/app/testing/addons/addons.spec.ts
Due: format

docs(dynamic-forms): address coderabbit feedback + regenerate llms-full
  apps/docs/public/content/dynamic-behavior/conditional-logic.md
  apps/docs/public/content/dynamic-behavior/derivation/async.md
  apps/docs/public/content/dynamic-behavior/derivation/values.md
  apps/docs/public/llms-full.txt
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/models/validation/validator-config.ts
Due: lint, format

fix(deps): adapter vite configs use istanbul coverage + regenerate llms-full
  apps/docs/public/llms-full.txt
  packages/dynamic-forms-bootstrap/vite.config.ts
  packages/dynamic-forms-ionic/vite.config.ts
  packages/dynamic-forms-material/vite.config.ts
  packages/dynamic-forms-primeng/vite.config.ts
Due: lint, format

feat(docs): adapter-scoped addon docs + render icons across all 4 adapters
  apps/docs/index.html
  apps/docs/public/content/addons/custom-kinds.md
  apps/docs/public/content/addons/overview.md
  apps/docs/public/content/addons/presets-and-actions.md
  apps/docs/public/content/examples/addon-clear-button.md
  apps/docs/public/content/examples/addon-password-toggle.md
  apps/docs/src/app/adapters/adapter-registrations.ts
  apps/docs/src/app/components/addon-info/addon-info.component.scss
  apps/docs/src/app/components/addon-info/addon-info.component.ts
  apps/docs/src/app/directives/content-components.directive.ts
  apps/docs/src/app/pages/examples-index/examples.registry.ts
  internal/sandbox-adapter-ionic/package.json
  internal/sandbox-adapter-ionic/src/lib/factory.ts
  internal/sandbox-harness/src/lib/sandbox-harness.service.ts
  internal/sandbox-harness/src/lib/types.ts
  package.json
  pnpm-lock.yaml
Due: format

chore(docs): regenerate llms-full.txt after addon docs refactor
  apps/docs/public/llms-full.txt
Due: none

fix(forms): adapter-switch losing addons + dark mode + Material icon spacing
  internal/sandbox-harness/src/lib/sandbox-harness.service.ts
  internal/sandbox-harness/src/lib/sandbox-mount.directive.ts
  internal/sandbox-harness/src/lib/sandbox-slot.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
Due: lint, format

refactor(dynamic-forms): address review feedback for inline-fn alternatives
  apps/docs/public/content/dynamic-behavior/conditional-logic.md
  apps/docs/public/content/dynamic-behavior/derivation/async.md
  apps/docs/public/content/dynamic-behavior/derivation/values.md
  apps/docs/public/content/validation/custom-validators.md
  apps/docs/public/llms-full.txt
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/models/validation/validator-config.type-test.ts
Due: lint, format

feat(dynamic-forms)!: allow overlapping leaf keys in different groups
  apps/e2e/bootstrap/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/e2e/core/src/app/testing/cascading-validation/cascading-validation.spec.ts
  apps/e2e/core/src/app/testing/container-conditional-visibility/container-conditional-visibility.spec.ts
  apps/e2e/core/src/app/testing/container-nesting/container-nesting.spec.ts
  apps/e2e/core/src/app/testing/form-reset-clear/form-reset-clear.spec.ts
  apps/e2e/core/src/app/testing/multi-page-navigation/multi-page-navigation.routes.ts
  apps/e2e/core/src/app/testing/multi-page-navigation/multi-page-navigation.spec.ts
  apps/e2e/core/src/app/testing/multi-page-navigation/multi-page-navigation.suite.ts
  apps/e2e/core/src/app/testing/multi-page-navigation/scenarios/overlapping-group-keys.scenario.ts
  apps/e2e/core/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/e2e/ionic/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/e2e/material/src/app/testing/array-fields/array-fields.spec.ts
  apps/e2e/material/src/app/testing/group-fields/group-fields.spec.ts
  apps/e2e/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/e2e/primeng/src/app/testing/submission-behavior/submission-behavior.spec.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.spec.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

refactor(dynamic-forms): throw descriptive error for missing GROUP_CONTEXT
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
Due: lint, format

refactor(dynamic-forms): make GroupContext.groupPath a reactive Signal
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

fix(dynamic-forms): revert GROUP_CONTEXT throwing factory (fires even when optional)
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
Due: lint, format

fix(dynamic-forms): detect DOM-id collisions in validator + tighten value-handling skip
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.spec.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

ci(release): fix spurious nightly failures and missing discord pings
  .github/workflows/release.yml
Due: none

refactor(dynamic-forms): apply second-round review feedback
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/registry/validators.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/extract-inline-fn.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
  packages/dynamic-forms/src/lib/models/validation/validator-config.ts
Due: lint, format

fix(dynamic-forms): scope property-derivation override keys by group path
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-override-key.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-override-key.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

ci(release): fix spurious nightly failures and missing discord pings (#405)
  .github/workflows/release.yml
Due: none

ci(release): address review — gate notify on success, drop dead listener
  .github/workflows/discord-release-notify.yml
  .github/workflows/release.yml
Due: none

feat(dynamic-forms): inline function alternatives for conditions, derivations, validators (#400)
  apps/docs/public/content/dynamic-behavior/conditional-logic.md
  apps/docs/public/content/dynamic-behavior/derivation/async.md
  apps/docs/public/content/dynamic-behavior/derivation/values.md
  apps/docs/public/content/validation/custom-validators.md
  apps/docs/public/llms-full.txt
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/registry/validators.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/derivation/compute-derived-value.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-entry-base.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.ts
  packages/dynamic-forms/src/lib/core/derivation/extract-dependencies.ts
  packages/dynamic-forms/src/lib/core/derivation/extract-inline-fn.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/condition-evaluator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.ts
  packages/dynamic-forms/src/lib/models/expressions/conditional-expression.type-test.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
  packages/dynamic-forms/src/lib/models/validation/validator-config.ts
  packages/dynamic-forms/src/lib/models/validation/validator-config.type-test.ts
Due: lint, format

ci(release): address review — gate notify on success, drop dead listener (#406)
  .github/workflows/discord-release-notify.yml
  .github/workflows/release.yml
Due: none

fix(forms): addon styling regressions — Material projection, Ionic gap + dark-mode contrast
  packages/dynamic-forms-ionic/src/lib/addons/ion-button-addon.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
Due: lint, format

feat(dynamic-forms)!: allow overlapping leaf keys in different groups (#401) (#403)
  apps/e2e/bootstrap/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/e2e/core/src/app/testing/cascading-validation/cascading-validation.spec.ts
  apps/e2e/core/src/app/testing/container-conditional-visibility/container-conditional-visibility.spec.ts
  apps/e2e/core/src/app/testing/container-nesting/container-nesting.spec.ts
  apps/e2e/core/src/app/testing/form-reset-clear/form-reset-clear.spec.ts
  apps/e2e/core/src/app/testing/multi-page-navigation/multi-page-navigation.routes.ts
  apps/e2e/core/src/app/testing/multi-page-navigation/multi-page-navigation.spec.ts
  apps/e2e/core/src/app/testing/multi-page-navigation/multi-page-navigation.suite.ts
  apps/e2e/core/src/app/testing/multi-page-navigation/scenarios/overlapping-group-keys.scenario.ts
  apps/e2e/core/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/e2e/ionic/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/e2e/material/src/app/testing/array-fields/array-fields.spec.ts
  apps/e2e/material/src/app/testing/group-fields/group-fields.spec.ts
  apps/e2e/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/e2e/primeng/src/app/testing/submission-behavior/submission-behavior.spec.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-override-key.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-override-key.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.spec.ts
  packages/dynamic-forms/src/lib/utils/config-validation/config-validator.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

fix(forms): adapter visual parity — Ionic stacked labels + PrimeNG button-addon placement
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
Due: lint, format

fix(forms): addon padding visibility — variable-driven, correct selectors
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
Due: lint, format

refactor(dynamic-forms): extract css variable defaults to publishable partials
  apps/docs/src/styles/adapter-bootstrap.scss
  apps/docs/src/styles/adapter-ionic.scss
  apps/docs/src/styles/adapter-material.scss
  apps/docs/src/styles/adapter-primeng.scss
  apps/docs/vite.config.ts
  apps/examples/sandbox/project.json
  apps/examples/sandbox/src/styles/adapter-bootstrap.scss
  apps/examples/sandbox/src/styles/adapter-ionic.scss
  apps/examples/sandbox/src/styles/adapter-material.scss
  apps/examples/sandbox/src/styles/adapter-primeng.scss
  packages/dynamic-forms-bootstrap/ng-package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-bootstrap/src/lib/styles/_form-field.scss
  packages/dynamic-forms-bootstrap/styles/_defaults.scss
  packages/dynamic-forms-ionic/ng-package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-forms-ionic/styles/_defaults.scss
  packages/dynamic-forms-material/ng-package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-material/src/lib/styles/_form-field.scss
  packages/dynamic-forms-material/styles/_defaults.scss
  packages/dynamic-forms-primeng/ng-package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/styles/_defaults.scss
  packages/dynamic-forms/src/lib/dynamic-form.component.scss
  packages/dynamic-forms/src/lib/fields/page/page-field.component.scss
  packages/dynamic-forms/src/lib/styles/grid-system.scss
  packages/dynamic-forms/src/lib/wrappers/row/row-wrapper.component.scss
Due: format

feat(dynamic-forms)!: make signal forms legacy status classes opt-in
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/providers/features/dynamic-form-feature.ts
  packages/dynamic-forms/src/lib/providers/features/index.ts
  packages/dynamic-forms/src/lib/providers/features/legacy-status-classes/index.ts
  packages/dynamic-forms/src/lib/providers/features/legacy-status-classes/with-legacy-status-classes.spec.ts
  packages/dynamic-forms/src/lib/providers/features/legacy-status-classes/with-legacy-status-classes.ts
Due: lint, format

refactor(dynamic-forms)!: drop adapter ng-touched override blocks
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
Due: format

chore(examples): opt sandbox + docs adapters into legacy status classes
  apps/examples/sandbox/src/app/adapters/bootstrap-adapter.ts
  apps/examples/sandbox/src/app/adapters/ionic-adapter.ts
  apps/examples/sandbox/src/app/adapters/material-adapter.ts
  apps/examples/sandbox/src/app/adapters/primeng-adapter.ts
  internal/sandbox-adapter-bootstrap/src/lib/factory.ts
  internal/sandbox-adapter-ionic/src/lib/factory.ts
  internal/sandbox-adapter-material/src/lib/factory.ts
  internal/sandbox-adapter-primeng/src/lib/factory.ts
Due: format
