Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(forms): addon styling — bootstrap parity, primeng layout, ionic align, material padding
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
Due: lint, format

fix(dynamic-forms): add explicit '.' entry to adapter package exports
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
Due: format

fix(forms): addon styling — per-side CSS vars, primeng multi-sandbox race fix
  internal/sandbox-adapter-primeng/src/lib/factory.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
Due: lint, format

test(ionic): update ion-button default-color assertion after WCAG fix
  packages/dynamic-forms-ionic/src/lib/addons/ion-button-addon.component.spec.ts
Due: lint, format

style(dynamic-forms): address coderabbit scss lint feedback
  apps/docs/src/styles/adapter-bootstrap.scss
  apps/docs/src/styles/adapter-ionic.scss
  apps/docs/src/styles/adapter-material.scss
  apps/docs/src/styles/adapter-primeng.scss
  apps/examples/sandbox/src/styles/adapter-bootstrap.scss
  apps/examples/sandbox/src/styles/adapter-ionic.scss
  apps/examples/sandbox/src/styles/adapter-material.scss
  apps/examples/sandbox/src/styles/adapter-primeng.scss
  packages/dynamic-forms-bootstrap/styles/_defaults.scss
  packages/dynamic-forms-ionic/styles/_defaults.scss
  packages/dynamic-forms-material/styles/_defaults.scss
  packages/dynamic-forms-primeng/styles/_defaults.scss
  packages/dynamic-forms/src/lib/styles/grid-system.scss
Due: format

test(dynamic-forms): update provider-count after ADDON_KIND_COMPONENT_CACHE was added
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
Due: lint, format

refactor(dynamic-forms): direct import in providers — addresses coderabbit barrel-import note
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
Due: lint, format

test(primeng): update validation-with-errors baseline
  apps/e2e/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-with-errors.png
Due: none

fix(forms): toSignal leaks + clean up casts + rebaked screenshots
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/action-ref.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/clear-button-after-clear.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/clear-button-with-value.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/decorative-button.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/disabled-addon.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/inline-action.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/labelled-button.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/multi-addons.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/password-toggle-hidden.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/password-toggle-visible.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/reset-preset-modified.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/reset-preset-restored.png
  apps/e2e/bootstrap/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/severity-variants.png
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
  apps/e2e/primeng/src/app/testing/__snapshots__/addons/addons.spec.ts-snapshots/severity-variants.png
  packages/dynamic-forms/integration/src/directives/ng-forge-addons.directive.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-field-addons.ts
Due: lint, format

fix(forms): revert orphan-guard discriminant in run-preset-action
  packages/dynamic-forms/src/lib/addons/run-preset-action.ts
Due: lint, format

test(ionic): rebake grid-layout snapshots on clean docker cache
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/e2e/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
Due: none

refactor(dynamic-forms)!: address review feedback on per-adapter style defaults
  apps/docs/src/styles/adapter-ionic.scss
  apps/examples/sandbox/src/styles/adapter-ionic.scss
  packages/dynamic-forms-bootstrap/styles/_defaults.scss
  packages/dynamic-forms-ionic/styles/_defaults.scss
  packages/dynamic-forms-material/styles/_defaults.scss
  packages/dynamic-forms-primeng/styles/_defaults.scss
  packages/dynamic-forms/src/lib/dynamic-form.component.scss
  packages/dynamic-forms/src/lib/providers/features/legacy-status-classes/with-legacy-status-classes.spec.ts
  packages/dynamic-forms/src/lib/wrappers/row/row-wrapper.component.scss
Due: lint, format

docs(ionic): link issue #411 from test.fixme limitation note
  apps/e2e/ionic/src/app/testing/addons/addons.spec.ts
Due: format

Revert "docs(ionic): link issue #411 from test.fixme limitation note"
  apps/e2e/ionic/src/app/testing/addons/addons.spec.ts
Due: format

fix(ionic): render ion-button addons outside ion-input to restore interactivity
  apps/e2e/ionic/src/app/testing/addons/addons.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
Due: lint, format

docs(dynamic-forms): clarify ionic mixin scope + add ion-color fallbacks
  packages/dynamic-forms-ionic/styles/_defaults.scss
  packages/dynamic-forms/src/lib/providers/features/legacy-status-classes/with-legacy-status-classes.spec.ts
Due: lint, format

test(ionic): align addon spec with new outside-of-ion-input button rendering
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input-with-addons.component.spec.ts
Due: lint, format

fix(dynamic-forms): remove hidden fields from DOM via @if (closes #410)
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.hidden-warning.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

refactor(dynamic-forms): address review — isSignal() detection + stable spec waits
  packages/dynamic-forms/src/lib/dynamic-form.hidden-warning.spec.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

fix(dynamic-forms): address review feedback on addon system
  apps/docs/public/content/addons/custom-kinds.md
  apps/docs/public/content/addons/overview.md
  apps/docs/public/content/addons/presets-and-actions.md
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/bs-button-addon.component.ts
  packages/dynamic-forms-bootstrap/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-ionic/src/lib/addons/ion-button-addon.component.ts
  packages/dynamic-forms-material/src/lib/addons/mat-button-addon.component.ts
  packages/dynamic-forms-material/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-primeng/src/lib/addons/prime-button-addon.component.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.spec.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.ts
  packages/dynamic-forms/src/lib/models/addon/addon-action.spec.ts
  packages/dynamic-forms/src/lib/models/addon/addon-def.ts
  packages/dynamic-forms/src/lib/utils/inject-addon-kind-registry/inject-addon-kind-registry.ts
  packages/dynamic-forms/src/lib/utils/validate-form-config/validate-field-addons.ts
Due: lint, format

test(forms): drop unused makeOrphanCtx helpers from preset specs
  packages/dynamic-forms-material/src/lib/addons/preset-actions.spec.ts
  packages/dynamic-forms-primeng/src/lib/addons/preset-actions.spec.ts
Due: lint, format

docs(dynamic-forms): regenerate llms-full after addon docs review fixes
  apps/docs/public/llms-full.txt
Due: none

fix(dynamic-forms): only gate value-bearing leaves with @if, not containers
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

refactor(dynamic-forms): extract ArrayItemRegistry as form-scoped service
  packages/dynamic-forms/src/lib/core/registry/array-item-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/array-item-registry.service.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/testing/src/simple-test-utils.ts
Due: lint, format

refactor(dynamic-forms): introduce ArrayFieldStateMachine
  packages/dynamic-forms/src/lib/fields/array/array-field-state-machine.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field-state-machine.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

fix(dynamic-forms): gate all field outlets uniformly (closes #410)
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

refactor(dynamic-forms): encapsulate DfFieldOutlet's imperative slot state
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
Due: lint, format

refactor(dynamic-forms): split df-field-outlet into its own folder
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
Due: lint, format

refactor(dynamic-forms)!: drop ARRAY_TEMPLATE_REGISTRY + ARRAY_ITEM_ID_GENERATOR tokens
  packages/dynamic-forms/src/lib/core/registry/array-item-registry.service.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
Due: lint, format

refactor(dynamic-forms): freeze FieldComponentSlot state, lift lastInputs cache out
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
Due: lint, format

refactor(dynamic-forms): address review — inline templateRegistry, harden hidden spec, dev-mode warn
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.hidden-warning.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

refactor(dynamic-forms)!: remove hidden fields from DOM + array state machine + registry (closes #410) (#413)
  packages/dynamic-forms/src/lib/core/registry/array-item-registry.service.spec.ts
  packages/dynamic-forms/src/lib/core/registry/array-item-registry.service.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.hidden-warning.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field-state-machine.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field-state-machine.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
  packages/dynamic-forms/testing/src/simple-test-utils.ts
Due: lint, format

feat(dynamic-forms)!: make signal forms legacy status classes opt-in
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/providers/features/dynamic-form-feature.ts
  packages/dynamic-forms/src/lib/providers/features/index.ts
  packages/dynamic-forms/src/lib/providers/features/legacy-status-classes/index.ts
  packages/dynamic-forms/src/lib/providers/features/legacy-status-classes/with-legacy-status-classes.spec.ts
  packages/dynamic-forms/src/lib/providers/features/legacy-status-classes/with-legacy-status-classes.ts
Due: lint, format

refactor(dynamic-forms): extract css variable defaults to publishable partials
  apps/docs/src/styles/adapter-bootstrap.scss
  apps/docs/src/styles/adapter-ionic.scss
  apps/docs/src/styles/adapter-material.scss
  apps/docs/src/styles/adapter-primeng.scss
  apps/docs/vite.config.ts
  apps/examples/sandbox/project.json
  apps/examples/sandbox/src/styles/adapter-bootstrap.scss
  apps/examples/sandbox/src/styles/adapter-ionic.scss
  apps/examples/sandbox/src/styles/adapter-material.scss
  apps/examples/sandbox/src/styles/adapter-primeng.scss
  packages/dynamic-forms-bootstrap/ng-package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-bootstrap/src/lib/styles/_form-field.scss
  packages/dynamic-forms-bootstrap/styles/_defaults.scss
  packages/dynamic-forms-ionic/ng-package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-forms-ionic/styles/_defaults.scss
  packages/dynamic-forms-material/ng-package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-material/src/lib/styles/_form-field.scss
  packages/dynamic-forms-material/styles/_defaults.scss
  packages/dynamic-forms-primeng/ng-package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/styles/_defaults.scss
  packages/dynamic-forms/src/lib/dynamic-form.component.scss
  packages/dynamic-forms/src/lib/fields/page/page-field.component.scss
  packages/dynamic-forms/src/lib/styles/grid-system.scss
  packages/dynamic-forms/src/lib/wrappers/row/row-wrapper.component.scss
Due: format

chore(examples): opt sandbox + docs adapters into legacy status classes
  apps/examples/sandbox/src/app/adapters/bootstrap-adapter.ts
  apps/examples/sandbox/src/app/adapters/ionic-adapter.ts
  apps/examples/sandbox/src/app/adapters/material-adapter.ts
  apps/examples/sandbox/src/app/adapters/primeng-adapter.ts
  internal/sandbox-adapter-bootstrap/src/lib/factory.ts
  internal/sandbox-adapter-ionic/src/lib/factory.ts
  internal/sandbox-adapter-material/src/lib/factory.ts
  internal/sandbox-adapter-primeng/src/lib/factory.ts
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
