Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

feat(docs): add theme switching and improve landing page ux
  apps/docs/public/assets/icons/monitor.svg
  apps/docs/public/assets/icons/moon.svg
  apps/docs/public/assets/icons/sun.svg
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/styles.scss
  apps/examples/bootstrap/project.json
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/bootstrap/src/styles.scss
  apps/examples/ionic/project.json
  apps/examples/ionic/src/app/app.ts
  apps/examples/ionic/src/styles.scss
  apps/examples/material/project.json
  apps/examples/material/src/app/app.ts
  apps/examples/material/src/app/examples/scenarios/validation-showcase.scenario.ts
  apps/examples/material/src/styles.scss
  apps/examples/primeng/project.json
  apps/examples/primeng/src/app/app.config.ts
  apps/examples/primeng/src/app/app.ts
  apps/examples/primeng/src/styles.scss
  libs/styling/src/_ember-bs.scss
  libs/styling/src/_examples.scss
  libs/styling/src/_icons.scss
  libs/styling/src/_ionic.scss
  libs/styling/src/_material.scss
  libs/styling/src/index.scss
  libs/styling/src/index.ts
  libs/styling/src/primeng.ts
  tsconfig.base.json
Due: format

fix(docs): improve theme handling and landing page styling
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/styles.scss
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/bootstrap/src/styles.scss
  apps/examples/ionic/src/app/app.ts
  apps/examples/ionic/src/styles.scss
  apps/examples/material/src/app/app.ts
  apps/examples/material/src/styles.scss
  apps/examples/primeng/src/app/app.ts
  apps/examples/primeng/src/styles.scss
  libs/styling/src/_examples.scss
Due: format

fix(docs): correct light mode background in docs app
  apps/docs/src/styles.scss
Due: format

fix(docs): improve dark mode styling across all example apps
  apps/docs/src/app/app.html
  apps/docs/src/app/app.ts
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  apps/docs/src/styles.scss
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/bootstrap/src/styles.scss
  apps/examples/ionic/src/app/app.ts
  apps/examples/ionic/src/styles.scss
  apps/examples/material/src/app/app.ts
  apps/examples/material/src/styles.scss
  apps/examples/primeng/src/app/app.ts
  apps/examples/primeng/src/styles.scss
  libs/styling/src/_examples.scss
  libs/styling/src/_ionic.scss
  libs/styling/src/primeng.ts
Due: format

refactor(ionic): move app-specific styles from library to example app
  apps/examples/ionic/src/styles.scss
  libs/styling/src/_ionic.scss
Due: format

fix(docs): add ember hover color to header icons and style search button
  apps/docs/src/styles.scss
Due: format

feat(docs): add framework integration styles and improve header controls
  apps/docs/src/styles.scss
  apps/examples/ionic/src/styles.scss
  apps/examples/primeng/src/styles.scss
  libs/styling/src/_examples.scss
  libs/styling/src/_ionic.scss
  libs/styling/src/index.scss
  libs/styling/src/primeng.ts
Due: format

fix(docs): make github icon white in dark mode
  apps/docs/src/styles.scss
Due: format

refactor(examples): move framework themes to respective packages
  apps/examples/ionic/project.json
  apps/examples/material/src/styles.scss
  libs/styling/src/index.scss
  packages/dynamic-forms-ionic/src/styles/_ionic.scss
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/primeng-theme.ts
Due: lint, format

feat(docs): add logo component and improve search styling
  README.md
  apps/docs/public/llms.txt
  apps/docs/public/logo-dark.svg
  apps/docs/public/logo-light.svg
  apps/docs/public/logo.svg
  apps/docs/public/robots.txt
  apps/docs/public/sitemap.xml
  apps/docs/src/app/app.html
  apps/docs/src/app/app.scss
  apps/docs/src/app/app.ts
  apps/docs/src/app/components/logo/index.ts
  apps/docs/src/app/components/logo/logo.component.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/docs/core/conditional-logic/index.md
  apps/docs/src/docs/core/i18n/index.md
  apps/docs/src/docs/core/type-safety/basics.md
  apps/docs/src/docs/core/validation/basics.md
  apps/docs/src/docs/examples/paginated-form/index.md
  apps/docs/src/docs/installation/index.md
  apps/docs/src/index.html
  apps/docs/src/styles.scss
  apps/examples/bootstrap/src/styles.scss
  logo-dark.svg
  logo-light.svg
  logo.svg
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
Due: format

feat(examples): add framework-specific theme integrations to styling library
  apps/examples/bootstrap/project.json
  apps/examples/bootstrap/src/styles.scss
  apps/examples/material/project.json
  apps/examples/material/src/styles.scss
  apps/examples/primeng/project.json
  apps/examples/primeng/src/app/app.config.ts
  libs/styling/src/_ember-bs.scss
  libs/styling/src/_ionic.scss
  libs/styling/src/_material.scss
  libs/styling/src/index.ts
  libs/styling/src/primeng.ts
  tsconfig.base.json
Due: format

fix(examples): add auto mode support and material datepicker theming
  apps/examples/bootstrap/src/styles.scss
  apps/examples/ionic/src/styles.scss
  apps/examples/material/src/styles.scss
  apps/examples/primeng/src/styles.scss
  libs/styling/src/_examples.scss
Due: format

fix(material): style datepicker toggle icon with ember colors
  apps/examples/material/src/styles.scss
Due: format

fix(docs): use local logo in package readmes and add ionic padding
  apps/examples/ionic/src/styles.scss
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/logo.svg
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/logo.svg
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/logo.svg
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/logo.svg
  packages/dynamic-forms/README.md
  packages/dynamic-forms/logo.svg
Due: format

fix(docs): update favicon with new ember gradient colors
  apps/docs/public/favicon.ico
  apps/docs/public/icon.svg
  apps/examples/bootstrap/public/favicon.ico
  apps/examples/material/public/favicon.ico
Due: none

fix(docs): update favicon with ember gradient and transparent background
  apps/docs/public/favicon.ico
  apps/docs/public/icon.svg
  apps/docs/public/logo.svg
  apps/examples/bootstrap/public/favicon.ico
  apps/examples/material/public/favicon.ico
Due: none

docs: update seo files for new url structure
  apps/docs/public/404.html
  apps/docs/public/llms.txt
  apps/docs/public/robots.txt
  apps/docs/public/sitemap.xml
Due: format

docs: remove misleading tree-shakeable claim from landing page
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

fix(docs): restore correct /dynamic-forms/ url prefix in sitemap
  apps/docs/public/sitemap.xml
Due: none

fix(docs): restore correct /dynamic-forms/ url prefix in seo files
  apps/docs/public/404.html
  apps/docs/public/llms.txt
  apps/docs/public/robots.txt
Due: format

chore: remove duplicate theme files from packages
  packages/dynamic-forms-ionic/src/styles/_ionic.scss
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/primeng-theme.ts
Due: lint, format

fix(examples): add input text color overrides for material theme
  apps/examples/material/src/styles.scss
Due: format

fix(examples): material text inputs color
  apps/examples/material/src/styles.scss
Due: format

fix(core): add unique ids to form field inner elements
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
Due: lint, format

fix(dynamic-forms): bind classname to container field components
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/mappers/group/group-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/group/group-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/page/page-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/page/page-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.ts
Due: lint, format

fix(core): add classname support to array field and fix host bindings
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/mappers/array/array-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/array/array-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/group/group-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/page/page-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/src/lib/utils/grid-classes/grid-classes.ts
  packages/dynamic-forms/src/lib/utils/grid-classes/index.ts
  packages/dynamic-forms/src/lib/utils/index.ts
Due: lint, format

refactor(core): use hostclasses computed for container field class binding
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
Due: lint, format

fix(dynamic-forms): bind classname to container field components (#137)
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/mappers/array/array-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/array/array-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/group/group-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/group/group-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/page/page-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/page/page-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/src/lib/utils/grid-classes/grid-classes.ts
  packages/dynamic-forms/src/lib/utils/grid-classes/index.ts
  packages/dynamic-forms/src/lib/utils/index.ts
Due: lint, format

fix(core): add unique ids to form field inner elements (#136)
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
Due: lint, format

feat(docs): add link title attributes and improve example input theming
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/examples/bootstrap/src/styles.scss
  apps/examples/material/src/styles.scss
Due: format

chore(docs): add light variant logo
  logo-light.svg
Due: none

chore(config): make root redirect permanent
  vercel.json
Due: format

feat(docs): add link title attributes and improve example input theming (#138)
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/examples/bootstrap/src/styles.scss
  apps/examples/material/src/styles.scss
  logo-light.svg
  vercel.json
Due: format

chore(release): release v0.3.1
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

chore(release): publish 0.3.1
  CHANGELOG.md
Due: format

chore(release): bump version to 0.3.1 (#139)
  CHANGELOG.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

chore: add security policy, dependabot, and codeowners
  .github/CODEOWNERS
  .github/dependabot.yml
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: format

docs: add changelog with all releases from v0.1.0 to v0.3.1
  CHANGELOG.md
Due: format
