Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

refactor(dynamic-forms): implement direct root form binding for array items (WIP)
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/select/options-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/slider/slider-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/textarea/textarea-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/integration/src/utils/should-show-errors.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

test(dynamic-forms): add array readonly state investigation tests
  packages/dynamic-forms/src/lib/utils/array-field/array-readonly-investigation.spec.ts
Due: lint, format

fix(dynamic-forms): correct schema path resolution for array item fields
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
Due: lint, format

test(examples): update E2E selectors for index-suffixed array item fields
  apps/examples/bootstrap/src/app/testing/array-fields/array-fields.spec.ts
  apps/examples/ionic/src/app/testing/array-fields/array-fields.spec.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.spec.ts
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/material/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/primeng/src/app/testing/array-fields/array-fields.spec.ts
Due: format

test(examples): update array-fields screenshots for UUID-suffix changes
  apps/examples/material/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/material-array-add-initial.png
  apps/examples/material/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/material-array-add-three-items.png
Due: none

docs: update array documentation with new button types
  apps/docs/src/docs/ai-integration/index.md
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
  apps/examples/material/src/app/examples/scenarios/index.ts
Due: format

refactor(dynamic-forms): extract array button mappers to integration package
  apps/docs/src/docs/ai-integration/index.md
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-forms-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.type.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-bootstrap/src/lib/types/types.ts
  packages/dynamic-forms-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/types/types.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/types/types.ts
  packages/dynamic-forms-primeng/src/lib/config/primeng-field-config.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/types/types.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.utils.ts
  packages/dynamic-forms/integration/src/mappers/button/index.ts
  packages/dynamic-forms/integration/src/mappers/index.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

chore(dynamic-forms): remove investigation spec and document type cast
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-readonly-investigation.spec.ts
Due: lint, format

refactor(dynamic-forms): extract navigation button mappers to integration package
  packages/dynamic-forms-bootstrap/src/index.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.type.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/index.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/index.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-bootstrap/src/lib/types/registry-augmentation.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/index.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-ionic/src/lib/types/registry-augmentation.ts
  packages/dynamic-forms-material/src/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/index.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-material/src/lib/types/registry-augmentation.ts
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/types/registry-augmentation.ts
  packages/dynamic-forms/integration/src/definitions/button-field.ts
  packages/dynamic-forms/integration/src/mappers/button/index.ts
  packages/dynamic-forms/integration/src/mappers/button/navigation-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/index.ts
  packages/dynamic-forms/integration/src/public_api.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/index.ts
Due: lint, format

fix(dynamic-forms): wrap group template values under group key when adding array items
  apps/examples/bootstrap/src/app/testing/array-fields/scenarios/array-focus-after-remove.scenario.ts
  apps/examples/bootstrap/src/app/testing/array-fields/scenarios/array-shift.scenario.ts
  apps/examples/ionic/src/app/testing/array-fields/scenarios/array-focus-after-remove.scenario.ts
  apps/examples/ionic/src/app/testing/array-fields/scenarios/array-shift.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-focus-after-remove.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-shift.scenario.ts
  apps/examples/primeng/src/app/testing/array-fields/scenarios/array-focus-after-remove.scenario.ts
  apps/examples/primeng/src/app/testing/array-fields/scenarios/array-shift.scenario.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

fix(examples): update E2E selectors for UUID-suffixed array item fields
  apps/examples/bootstrap/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/bootstrap/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/ionic/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/ionic/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
  apps/examples/primeng/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/primeng/src/app/testing/zod-schema-validation/zod-schema-validation.spec.ts
Due: format

refactor(examples): simplify array example by removing group wrapper
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
Due: format

test(ionic): fix array field E2E test selectors for UUID suffixes
  apps/examples/ionic/src/app/testing/array-fields/array-fields.spec.ts
Due: format

refactor(dynamic-forms): improve row layout and array example styling
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
  internal/styling/src/_examples.scss
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/styles/grid-system.scss
Due: lint, format

fix(dynamic-forms): update type tests for ArrayItemTemplate[] structure
  packages/dynamic-forms/src/lib/definitions/default/array-field.type-test.ts
Due: lint, format

chore(mcp): regenerate registry with updated array docs
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

revert(dynamic-forms): restore original row and grid styling
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
  packages/dynamic-forms/src/lib/styles/grid-system.scss
Due: format

refactor(examples): move row styling overrides to example-specific styles
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
  internal/styling/src/_examples.scss
Due: format

fix(examples): correct row field selector to [row-field]
  internal/styling/src/_examples.scss
Due: format

fix(dynamic-forms): address array field review concerns
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format

refactor(dynamic-forms): simplify array item ID generation to counter
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
Due: lint, format

refactor(dynamic-forms): remove dead key-suffix code
  packages/dynamic-forms/src/lib/utils/array-field/key-suffix.spec.ts
  packages/dynamic-forms/src/lib/utils/array-field/key-suffix.ts
Due: lint, format

perf(dynamic-forms): optimize array remove operations to avoid recreates
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
Due: lint, format

chore(dynamic-forms): remove unused ArrayTemplateRegistry type import
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
Due: lint, format

refactor(dynamic-forms): remove unused fieldTree and explicitDefaultValue parameters
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
Due: lint, format

perf(dynamic-forms): optimize array item index lookup from O(n) to O(1)
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
Due: lint, format

fix(dynamic-forms): scope array item ID generator to component for SSR compatibility
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
Due: lint, format

feat(dynamic-forms): support primitive arrays alongside object arrays
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.type.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.type.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.utils.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/events/array-event.ts
  packages/dynamic-forms/src/lib/events/constants/append-array-item.event.ts
  packages/dynamic-forms/src/lib/events/constants/index.ts
  packages/dynamic-forms/src/lib/events/constants/insert-array-item.event.ts
  packages/dynamic-forms/src/lib/events/constants/prepend-array-item.event.ts
  packages/dynamic-forms/src/lib/events/index.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-event-handler.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.spec.ts
  packages/dynamic-forms/src/lib/utils/default-value/default-value.ts
Due: lint, format

docs(dynamic-forms): update array documentation for primitive array support
  apps/docs/src/docs/prebuilt/form-arrays/index.md
Due: format

docs(dynamic-forms): update events documentation for required array templates
  apps/docs/src/docs/advanced/events/index.md
  packages/dynamic-form-mcp/src/registry/docs.json
Due: format

fix(dynamic-forms): use core package field types in array type tests
  packages/dynamic-forms/src/lib/definitions/default/array-field.type-test.ts
Due: lint, format

fix(dynamic-forms): correct array derivation traversal for primitive/object items
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
  internal/examples-shared-ui/src/lib/example-scenario.component.html
  internal/examples-shared-ui/src/lib/types.ts
  internal/styling/src/_examples.scss
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
Due: lint, format

ci: add custom CodeQL workflow excluding test files
  .github/workflows/codeql.yml
Due: none

ci: add custom CodeQL workflow excluding test files (#221)
  .github/workflows/codeql.yml
Due: none

feat(dynamic-forms): add generalized non-field logic resolvers for hidden and disabled states
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/navigation-button.mapper.ts
  packages/dynamic-forms/src/lib/core/logic/button-logic-resolver.ts
  packages/dynamic-forms/src/lib/core/logic/index.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.ts
Due: lint, format

test(dynamic-forms): add tests for non-field logic resolvers
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.spec.ts
  packages/dynamic-forms/src/lib/core/logic/button-logic-resolver.spec.ts
Due: lint, format

refactor(dynamic-forms): rename button-logic-resolver to non-field-logic-resolver
  apps/examples/material/src/app/testing/array-fields/array-fields.spec.ts
  apps/examples/material/src/app/testing/array-fields/array-fields.suite.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-button-disabled-logic.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-button-hidden-logic.scenario.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.spec.ts
  packages/dynamic-forms/integration/src/public_api.ts
  packages/dynamic-forms/src/lib/core/logic/index.ts
  packages/dynamic-forms/src/lib/core/logic/non-field-logic-resolver.spec.ts
  packages/dynamic-forms/src/lib/core/logic/non-field-logic-resolver.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.ts
Due: lint, format

refactor(dynamic-forms): add hidden/disabled logic support to generic button mapper
  packages/dynamic-forms/integration/src/mappers/button/button-field-mapper.ts
Due: lint, format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
