Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "packages/**/*.{ts,js}"
      run: pnpm eslint {staged_files} --fix
    format:
      glob: "*.{ts,js,json,md,html,scss,css}"
      run: pnpm prettier --write {staged_files}

commit-msg:
  commands:
    commitlint:
      run: echo "Commit message format validated"

experiment: try PrimeNG config with ripple disabled
  packages/dynamic-form-primeng/src/lib/testing/primeng-test-utils.ts
Due: lint, format

fix: use label input property instead of content projection for PrimeNG Checkbox
  packages/dynamic-form-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-form-primeng/src/lib/fields/checkbox/prime-checkbox.spec.ts
Due: lint, format

fix: use separate label element for PrimeNG checkbox with inputId/for pattern
  packages/dynamic-form-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-form-primeng/src/lib/fields/checkbox/prime-checkbox.spec.ts
Due: lint, format

fix: use separate label elements for multi-checkbox option labels
  packages/dynamic-form-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
Due: lint, format

fix: update multi-checkbox tests to check label elements
  packages/dynamic-form-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.spec.ts
Due: lint, format

fix: add default trueValue/falseValue to checkbox to prevent null values
  packages/dynamic-form-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
Due: lint, format

fix(dynamic-form-material): poll for async field component rendering in tests
  packages/dynamic-form-material/src/lib/testing/wait-for-df.ts
Due: lint, format

fix: add missing type attribute to input field component
  packages/dynamic-form-primeng/src/lib/fields/input/prime-input.component.ts
Due: lint, format

fix: add missing value and disabled attributes to radio button component
  packages/dynamic-form-primeng/src/lib/fields/radio/prime-radio.component.ts
Due: lint, format

fix: add missing min and max bindings to slider component
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.component.ts
Due: lint, format

fix(dynamic-form-material): improve async component loading in tests
  packages/dynamic-form-material/src/lib/fields/button/mat-button.spec.ts
  packages/dynamic-form-material/src/lib/fields/checkbox/mat-checkbox.spec.ts
  packages/dynamic-form-material/src/lib/fields/datepicker/mat-datepicker.spec.ts
  packages/dynamic-form-material/src/lib/fields/input/mat-input.spec.ts
  packages/dynamic-form-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.spec.ts
  packages/dynamic-form-material/src/lib/fields/radio/mat-radio.spec.ts
  packages/dynamic-form-material/src/lib/fields/select/mat-select.spec.ts
  packages/dynamic-form-material/src/lib/fields/slider/mat-slider.spec.ts
  packages/dynamic-form-material/src/lib/fields/toggle/mat-toggle.spec.ts
  packages/dynamic-form-material/src/lib/testing/wait-for-df.ts
Due: lint, format

chore(dynamic-form-material): remove unused Material component imports from test files
  packages/dynamic-form-material/src/lib/fields/button/mat-button.spec.ts
  packages/dynamic-form-material/src/lib/fields/checkbox/mat-checkbox.spec.ts
  packages/dynamic-form-material/src/lib/fields/input/mat-input.spec.ts
  packages/dynamic-form-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.spec.ts
  packages/dynamic-form-material/src/lib/fields/radio/mat-radio.spec.ts
  packages/dynamic-form-material/src/lib/fields/select/mat-select.spec.ts
  packages/dynamic-form-material/src/lib/fields/slider/mat-slider.spec.ts
  packages/dynamic-form-material/src/lib/fields/toggle/mat-toggle.spec.ts
Due: lint, format

Claude/fix failing tests (#12)
  packages/dynamic-form-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-form-primeng/src/lib/fields/checkbox/prime-checkbox.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-form-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-form-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-form-primeng/src/lib/testing/primeng-test-utils.ts
Due: lint, format

chore: remove task documentation files
  CORE_TRANSFORMATION_PIPELINE_ASSESSMENT.md
  CRITICAL_TEST_REASSESSMENT.md
  DYNAMIC_FORM_SPECS_ASSESSMENT.md
  SIGNAL_FORMS_ARCHITECTURE.md
  SIGNAL_FORMS_INTEGRATION_ANALYSIS.md
  TEST_STATUS.md
Due: format

feat(bootstrap): apply standardization template for UI library integrations
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/button-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/checkbox-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/complete-form-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/datepicker-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/input-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/multi-checkbox-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/radio-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/select-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/slider-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/textarea-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/examples/toggle-demo.component.ts
  apps/docs/src/docs/custom-integrations/reference/bootstrap/index.md
  apps/docs/src/docs/custom-integrations/reference/bootstrap/ng-doc.page.ts
  packages/dynamic-form-bootstrap/README.md
  packages/dynamic-form-bootstrap/eslint.config.mjs
  packages/dynamic-form-bootstrap/src/lib/fields/button/bs-button.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/button/bs-button.mapper.ts
  packages/dynamic-form-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/input/bs-input.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type.ts
  packages/dynamic-form-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/radio/bs-radio.type.ts
  packages/dynamic-form-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/slider/bs-slider.spec.ts
  packages/dynamic-form-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-form-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
  packages/dynamic-form-bootstrap/src/lib/styles/_form-field.scss
  packages/dynamic-form-bootstrap/src/lib/testing/bootstrap-test-utils.ts
  packages/dynamic-form-bootstrap/src/lib/testing/wait-for-df.ts
  packages/dynamic-form-bootstrap/src/no-augmentation/index.ts
  packages/dynamic-form-bootstrap/src/no-augmentation/package.json
  tsconfig.base.json
Due: lint, format

fix: skip broken tests
  packages/dynamic-form-material/src/lib/fields/input/mat-input.spec.ts
  packages/dynamic-form-material/src/lib/fields/textarea/mat-textarea.spec.ts
  packages/dynamic-form-material/src/lib/testing/material-test-utils.ts
  packages/dynamic-form-primeng/no-augmentation/package.json
  packages/dynamic-form-primeng/package.json
  packages/dynamic-form-primeng/src/lib/fields/datepicker/prime-datepicker.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-form-primeng/src/lib/fields/input/prime-input.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-form-primeng/src/lib/fields/radio/prime-radio.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/select/prime-select.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/textarea/prime-textarea.spec.ts
Due: lint, format

refactor: apply UI library template improvements to Ionic
  packages/dynamic-form-ionic/README.md
  packages/dynamic-form-ionic/eslint.config.mjs
  packages/dynamic-form-ionic/package.json
  packages/dynamic-form-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-form-ionic/src/lib/types/field-types.ts
  packages/dynamic-form-ionic/src/no-augmentation/index.ts
Due: lint, format

refactor: simplify Ionic styles to match PrimeNG pattern
  packages/dynamic-form-ionic/src/lib/styles/_form-field.scss
  pnpm-lock.yaml
Due: format

fix: provisionally remove binding to elements
  packages/dynamic-form-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-form-primeng/src/lib/fields/textarea/prime-textarea.component.ts
Due: lint, format

fix: resolve lint errors and merge conflicts from main
  packages/dynamic-form-material/package.json
  packages/dynamic-form-primeng/no-augmentation/package.json
  packages/dynamic-form-primeng/package.json
  packages/dynamic-form/package.json
  packages/dynamic-form/src/lib/core/form-mapping.spec.ts
  packages/dynamic-form/src/lib/core/logic/logic-applicator.spec.ts
  packages/dynamic-form/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-form/src/lib/directives/dynamic-form.directive.ts
  packages/dynamic-form/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-form/src/lib/dynamic-form.component.ts
Due: lint, format

fix: remove legacy PrimeNG CSS imports
  apps/docs/src/styles.scss
Due: format

fix: compile errors
  packages/dynamic-form/src/lib/dynamic-form.component.ts
Due: lint, format

fix: add vite to package.json
  packages/dynamic-form-material/package.json
  packages/dynamic-form-primeng/no-augmentation/package.json
  packages/dynamic-form-primeng/package.json
  packages/dynamic-form/package.json
Due: format

fix: improve testing in primeng lib + provisionally use ngModel on broken components
  packages/dynamic-form-primeng/src/lib/fields/button/prime-button.component.ts
  packages/dynamic-form-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-form-primeng/src/lib/fields/input/prime-input.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-form-primeng/src/lib/fields/radio/prime-radio.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/select/prime-select.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.spec.ts
  packages/dynamic-form-primeng/src/lib/testing/primeng-test-utils.ts
Due: lint, format

chore: wrap-up and fix tests
  docs/architecture/demo-apps-isolation.md
  docs/architecture/e2e-and-deployment.md
  docs/architecture/implementation-plan.md
  packages/dynamic-form-ionic/src/lib/ionic-placeholder.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/button/prime-button.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/checkbox/prime-checkbox.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/datepicker/prime-datepicker.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-form-primeng/src/lib/fields/input/prime-input.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-form-primeng/src/lib/fields/radio/prime-radio.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-form-primeng/src/lib/fields/select/prime-select.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/slider/prime-slider.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/textarea/prime-textarea.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/toggle/prime-toggle.spec.ts
  packages/dynamic-form-primeng/src/lib/testing/primeng-test-utils.ts
  packages/dynamic-form-primeng/src/test-setup.ts
  scripts/serve-with-examples.sh
Due: lint, format

fix: lint
  apps/demo/material/e2e/src/age-based-logic-test.spec.ts
  apps/demo/material/e2e/src/conditional-fields-test.spec.ts
  apps/demo/material/e2e/src/cross-field-validation.spec.ts
  apps/demo/material/e2e/src/cross-page-validation.spec.ts
  apps/demo/material/e2e/src/demo-scenarios-test.spec.ts
  apps/demo/material/e2e/src/error-handling.spec.ts
  apps/demo/material/e2e/src/essential-tests.spec.ts
  apps/demo/material/e2e/src/form-orchestration.spec.ts
  apps/demo/material/e2e/src/multi-page-navigation.spec.ts
  apps/demo/material/e2e/src/navigation-edge-cases.spec.ts
  apps/demo/material/e2e/src/scenario-list.spec.ts
  apps/demo/material/e2e/src/user-journey-flows.spec.ts
  apps/docs/eslint.config.mjs
  apps/examples/ionic/eslint.config.mjs
  apps/examples/primeng/eslint.config.mjs
Due: format

feat: add tests for ionic components
  packages/dynamic-form-ionic/src/lib/fields/button/ionic-button.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/checkbox/ionic-checkbox.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/datepicker/ionic-datepicker.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/input/ionic-input.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/radio/ionic-radio.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/select/ionic-select.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/slider/ionic-slider.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/textarea/ionic-textarea.spec.ts
  packages/dynamic-form-ionic/src/lib/fields/toggle/ionic-toggle.spec.ts
  packages/dynamic-form-ionic/src/lib/testing/ionic-test-utils.ts
  packages/dynamic-form-ionic/vite.config.mts
Due: lint, format

fix: primeng test files
  packages/dynamic-form-primeng/src/lib/fields/button/prime-button.spec.ts
  packages/dynamic-form-primeng/src/lib/fields/toggle/prime-toggle.spec.ts
  packages/dynamic-form-primeng/src/lib/testing/primeng-test-utils.ts
Due: lint, format

fix: small CI fixes
  .github/workflows/deploy.yml
  apps/docs/project.json
  apps/docs/src/app/config/environment.ts
  apps/docs/src/types.d.ts
Due: format

fix: build variables
  .github/workflows/deploy.yml
  apps/docs/project.json
Due: format

fix: improve ci
  .github/workflows/deploy.yml
Due: none

fix: improve budgets
  apps/examples/ionic/project.json
  apps/examples/material/project.json
Due: format
