Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(docs): enable dynamic height syncing for landing page iframe demos
  apps/docs/src/app/app.ts
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

fix(docs): sync validation section code panel height with form panel
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
Due: format

refactor(docs): replace landing page iframe demos with direct form embedding
  apps/docs/src/app/app.config.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.forms.ts
  apps/docs/src/styles.scss
  internal/examples-shared-ui/src/lib/example-scenario.component.scss
Due: format

docs: sync compatibility matrix across all READMEs
  README.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
Due: format

chore(release): bump version to 0.5.0
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

build(config): add parallel docker support for E2E tests
  scripts/clean-e2e-cache.sh
  scripts/playwright-docker.sh
Due: none

test(primeng): update E2E snapshots
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
  apps/examples/primeng/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/primeng-array-add-initial.png
  apps/examples/primeng/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/primeng-array-add-three-items.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-comprehensive-fields-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-comprehensive-fields-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-grid-layout-desktop.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-grid-layout-mobile.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-valid.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-with-errors.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-and-logic-both-true.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-and-logic-initial.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-disabled-logic-disabled.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-disabled-logic-enabled.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-hidden-logic-free.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-hidden-logic-premium.png
  apps/examples/primeng/src/app/testing/__snapshots__/group-fields/group-fields.spec.ts-snapshots/primeng-group-value-propagation-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/group-fields/group-fields.spec.ts-snapshots/primeng-group-value-propagation-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-back-to-page1.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-back-to-page2.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-page1.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-page2.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-page3.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-filled.png
Due: none

chore(release): publish 0.5.0
  CHANGELOG.md
  packages/dynamic-forms-primeng/README.md
Due: format

chore(release): bump version to 0.5.0 (#193)
  CHANGELOG.md
  README.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format

docs: improve Zod validation page with practical examples
  apps/docs/src/docs/schema-validation/zod/index.md
  apps/docs/src/docs/schema-validation/zod/ng-doc.page.ts
Due: format

fix(config): allow production deploys from any branch and skip smoke test on preview
  .github/workflows/deploy-vercel.yml
Due: none

test(ionic): update grid layout snapshots
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
Due: none

fix(config): allow production deploys from any branch and skip smoke test on preview (#198)
  .github/workflows/deploy-vercel.yml
Due: none

chore(config): improve claude code setup with hooks, skills, and documentation
  .claude/settings.json
  .claude/skills/e2e-update.md
  .claude/skills/mcp-builder/LICENSE.txt
  .claude/skills/mcp-builder/SKILL.md
  .claude/skills/mcp-builder/reference/evaluation.md
  .claude/skills/mcp-builder/reference/mcp_best_practices.md
  .claude/skills/mcp-builder/reference/node_mcp_server.md
  .claude/skills/new-field.md
  .mcp.json
  CLAUDE.md
Due: format

chore(config): improve claude code setup with hooks, skills, and documentation (#199)
  .claude/settings.json
  .claude/skills/e2e-update.md
  .claude/skills/mcp-builder/LICENSE.txt
  .claude/skills/mcp-builder/SKILL.md
  .claude/skills/mcp-builder/reference/evaluation.md
  .claude/skills/mcp-builder/reference/mcp_best_practices.md
  .claude/skills/mcp-builder/reference/node_mcp_server.md
  .claude/skills/new-field.md
  .mcp.json
  CLAUDE.md
Due: format

fix(dynamic-forms): add missing search input type and fix vitest lint error
  internal/dynamic-forms-zod/eslint.config.mjs
  internal/dynamic-forms-zod/material/src/props/mat-input-props.schema.ts
Due: format

feat(dynamic-forms): replace procedural validation with zod schemas in MCP
  packages/dynamic-form-mcp/eslint.config.mjs
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/project.json
  packages/dynamic-form-mcp/src/core/index.ts
  packages/dynamic-form-mcp/src/core/types.ts
  packages/dynamic-form-mcp/src/core/validate-form-config.ts
  packages/dynamic-form-mcp/src/index.ts
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/resources/index.ts
  packages/dynamic-form-mcp/src/resources/schemas.resource.ts
  packages/dynamic-form-mcp/src/tools/get-field-schema.tool.ts
  packages/dynamic-form-mcp/src/tools/index.ts
  packages/dynamic-form-mcp/src/tools/validate-form-config.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate-form-config.tool.ts
  packages/dynamic-form-mcp/tsconfig.json
Due: lint, format

feat(dynamic-forms): add per-field-type schema lookup to reduce context size
  internal/dynamic-forms-zod/mcp/src/json-schema/field-type-json-schemas.ts
  packages/dynamic-form-mcp/src/resources/schemas.resource.ts
  packages/dynamic-form-mcp/src/tools/get-field-schema.tool.ts
Due: lint, format

feat(dynamic-forms): add human-readable MCP tools for field info and examples
  packages/dynamic-form-mcp/src/tools/explain-feature.tool.ts
  packages/dynamic-form-mcp/src/tools/get-example.tool.ts
  packages/dynamic-form-mcp/src/tools/get-field-info.tool.ts
  packages/dynamic-form-mcp/src/tools/index.ts
Due: lint, format

refactor(dynamic-forms): replace large schema resources with lightweight tool index
  packages/dynamic-form-mcp/src/resources/schemas.resource.ts
Due: lint, format

fix(dynamic-forms): correct field type definitions to match actual TypeScript types
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/tools/explain-feature.tool.ts
  packages/dynamic-form-mcp/src/tools/get-field-info.tool.ts
Due: lint, format

fix(dynamic-forms): make Zod schemas reject invalid properties on container fields
  internal/dynamic-forms-zod/material/src/__tests__/mat-form-config.spec.ts
  internal/dynamic-forms-zod/src/lib/schemas/containers/factories.ts
Due: format

refactor(dynamic-forms): consolidate MCP tools from 6 to 4
  internal/dynamic-forms-zod/mcp/src/tools/validate-config.tool.ts
  internal/dynamic-forms-zod/src/lib/schemas/containers/factories.ts
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/resources/schemas.resource.ts
  packages/dynamic-form-mcp/src/tools/explain-feature.tool.ts
  packages/dynamic-form-mcp/src/tools/get-cheatsheet.tool.ts
  packages/dynamic-form-mcp/src/tools/get-example.tool.ts
  packages/dynamic-form-mcp/src/tools/get-field-info.tool.ts
  packages/dynamic-form-mcp/src/tools/index.ts
  packages/dynamic-form-mcp/src/tools/validate-form-config.tool.spec.ts
Due: lint, format

feat(dynamic-forms): add mega example, nested paths, and error guidance to MCP
  packages/dynamic-form-mcp/src/tools/get-cheatsheet.tool.ts
  packages/dynamic-form-mcp/src/tools/get-example.tool.ts
Due: lint, format

feat(dynamic-forms): add validation workflow guidance and fix suggestions
  packages/dynamic-form-mcp/src/tools/get-cheatsheet.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-form-config.tool.ts
Due: lint, format

feat(dynamic-forms): add file validation, quick lookup, and field validation tools
  packages/dynamic-form-mcp/src/tools/index.ts
  packages/dynamic-form-mcp/src/tools/quick-lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-field.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-file.tool.ts
Due: lint, format

fix(dynamic-forms): improve file validation and add "did you mean" suggestions
  internal/dynamic-forms-zod/mcp/src/tools/validate-config.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-file.tool.ts
Due: lint, format

fix(dynamic-forms): correct button, hidden field, and validator documentation
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/registry/validators.json
  packages/dynamic-form-mcp/src/tools/quick-lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-file.tool.ts
Due: lint, format

feat(dynamic-forms): add api reference tool and createField helper
  internal/dynamic-forms-zod/mcp/src/tools/validate-config.tool.ts
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/registry/api-reference.json
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/registry/index.ts
  packages/dynamic-form-mcp/src/tools/get-api-reference.tool.ts
  packages/dynamic-form-mcp/src/tools/get-cheatsheet.tool.ts
  packages/dynamic-form-mcp/src/tools/get-example.tool.ts
  packages/dynamic-form-mcp/src/tools/get-field-info.tool.ts
  packages/dynamic-form-mcp/src/tools/index.ts
  packages/dynamic-form-mcp/src/tools/quick-lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-file.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-form-config.tool.ts
  packages/dynamic-form-mcp/src/utils/ast-extractor.ts
  packages/dynamic-forms/src/lib/helpers/create-field.spec.ts
  packages/dynamic-forms/src/lib/helpers/create-field.ts
  packages/dynamic-forms/src/lib/helpers/index.ts
  packages/dynamic-forms/src/lib/index.ts
  pnpm-lock.yaml
Due: lint, format

refactor(dynamic-forms): consolidate MCP tools from 11 to 4
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
  packages/dynamic-form-mcp/src/tools/explain-feature.tool.ts
  packages/dynamic-form-mcp/src/tools/get-api-reference.tool.ts
  packages/dynamic-form-mcp/src/tools/get-cheatsheet.tool.ts
  packages/dynamic-form-mcp/src/tools/get-example.tool.ts
  packages/dynamic-form-mcp/src/tools/get-field-info.tool.ts
  packages/dynamic-form-mcp/src/tools/get-field-schema.tool.ts
  packages/dynamic-form-mcp/src/tools/index.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/quick-lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/scaffold.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-field.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-file.tool.ts
  packages/dynamic-form-mcp/src/tools/validate-form-config.tool.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate.tool.ts
Due: lint, format

docs: update AI integration page with consolidated MCP tools
  apps/docs/src/docs/ai-integration/index.md
  apps/docs/src/docs/ai-integration/ng-doc.page.ts
Due: format

refactor(dynamic-forms): add MCP tool tests and extract lookup data
  apps/docs/src/docs/ai-integration/index.md
  apps/docs/src/styles.scss
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-form-mcp/src/registry/index.ts
  packages/dynamic-form-mcp/src/server.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
  packages/dynamic-form-mcp/src/tools/scaffold.tool.spec.ts
Due: lint, format

style(docs): improve AI Integration icon with color-shifting glow
  apps/docs/src/styles.scss
Due: format

style(docs): add overlapping stars to AI Integration icon
  apps/docs/src/styles.scss
Due: format

style(docs): add three-star sparkle icon for AI Integration
  apps/docs/src/styles.scss
Due: format

chore(mcp): setup local MCP server and sync versions
  .claude/skills/release.md
  .mcp.json
  CLAUDE.md
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/src/registry/docs.json
  scripts/postinstall.sh
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
