Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(docs): repaint static ember canvas on resize and correct landing ARIA roles
  apps/docs/src/app/pages/landing/ember-canvas.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.ts
Due: format

docs(mcp): reconcile stale component references after alias removal
  guides/02-type-system-deep-dive.md
  packages/dynamic-form-mcp/src/registry/ui-adapters.ts
Due: lint, format

style(docs): vary landing copy to break repetitive cadence and filler
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.constants.ts
Due: format

fix(docs): correct Angular version claim to 22+ to match peer deps, fix scss comment lint
  apps/docs/src/app/pages/landing/landing.component.html
  internal/examples-shared-ui/src/lib/example-scenario.component.scss
Due: format

perf(dynamic-forms): lazy-load the derivation engine (#464)
  guides/08-derivation-system.md
  packages/dynamic-forms/CLAUDE.md
  packages/dynamic-forms/src/lib/core/derivation/bootstrap-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/config-has-derivations.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/config-has-derivations.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-render-gate.ts
  packages/dynamic-forms/src/lib/core/derivation/field-traversal.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
Due: lint, format

feat(docs): redesign landing page with live form demos and ember motion (#453)
  apps/docs/src/app/pages/landing/ember-canvas.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/docs/src/app/pages/landing/landing.forms.ts
  apps/docs/src/app/pages/landing/landing.utils.ts
  internal/examples-shared-ui/src/lib/example-scenario.component.scss
Due: format

ci: make release and nightly pipeline rc-aware
  .github/workflows/discord-release-notify.yml
  .github/workflows/release.yml
Due: none

refactor(forms): deprecate per-adapter button directive-access aliases
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.type.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.type.ts
Due: lint, format

ci: drive rc cycle as a prerelease channel via dispatch input
  .github/workflows/release.yml
Due: none

ci: validate rc target input and fix stable changelog base
  .github/workflows/release.yml
Due: none

ci: support an rc prerelease channel in the release pipeline (#466)
  .github/workflows/discord-release-notify.yml
  .github/workflows/release.yml
Due: none

ci: title rc prereleases as release candidate
  .github/workflows/release.yml
Due: none

fix(config): remove inverted ignoreCommand that skipped production builds
  vercel.json
Due: format

fix(docs): render OG images with sharp instead of resvg-js
  apps/docs/plugins/vite-plugin-og-images.ts
  package.json
  pnpm-lock.yaml
Due: format

style(docs): silence vendored Sass deprecation warnings with quietDeps
  apps/docs/vite.config.ts
Due: format

fix(docs): serialize prerender to avoid OOM on the Vercel build container
  apps/docs/vite.config.ts
Due: format

perf(docs): cap build heap and prerender concurrency to fit the builder
  apps/docs/vite.config.ts
  scripts/vercel-build.sh
Due: format

fix(config): remove inverted ignoreCommand that skipped production builds (#468)
  apps/docs/plugins/vite-plugin-og-images.ts
  apps/docs/vite.config.ts
  package.json
  pnpm-lock.yaml
  scripts/vercel-build.sh
  vercel.json
Due: format

ci: title rc prereleases as release candidate (#467)
  .github/workflows/release.yml
Due: none

perf(docs): client-render API-reference symbol pages instead of prerendering
  apps/docs/vite.config.ts
Due: format

fix(docs): add redirects for legacy URLs reported as 404 in Search Console
  vercel.json
Due: format

perf(docs): client-render API reference and add legacy URL redirects (#470)
  apps/docs/vite.config.ts
  vercel.json
Due: format

docs(dynamic-forms): document /internal as unsupported (no semver guarantee)
  packages/dynamic-forms/README.md
Due: format

docs(dynamic-forms): document /internal as unsupported (no semver guarantee) (#471)
  packages/dynamic-forms/README.md
Due: format

refactor(dynamic-forms)!: rename provideAddonActions to withAddonActions
  apps/docs/public/content/addons/overview.md
  apps/docs/public/content/addons/presets-and-actions.md
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/src/app/components/addon-info/addon-info.component.ts
  apps/e2e/bootstrap/src/app/app.config.ts
  apps/e2e/bootstrap/src/app/testing/addons/scenarios/action-ref.scenario.ts
  apps/e2e/ionic/src/app/app.config.ts
  apps/e2e/ionic/src/app/testing/addons/scenarios/action-ref.scenario.ts
  apps/e2e/material/src/app/app.config.ts
  apps/e2e/material/src/app/testing/addons/scenarios/action-ref.scenario.ts
  apps/e2e/primeng/src/app/app.config.ts
  apps/e2e/primeng/src/app/testing/addons/scenarios/action-ref.scenario.ts
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-form-mcp/src/tools/lookup.tool.ts
  packages/dynamic-forms-bootstrap/src/lib/types/addons.ts
  packages/dynamic-forms-ionic/src/lib/types/addons.ts
  packages/dynamic-forms-material/src/lib/types/addons.ts
  packages/dynamic-forms-primeng/src/lib/types/addons.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-addon-action.directive.ts
  packages/dynamic-forms/internal/src/lib/models/addon/addon-action-registry.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/providers/features/addons/with-addon-actions.ts
Due: lint, format

refactor(dynamic-forms)!: move adapter-author addon surface to /integration
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/integration/src/public_api.ts
  packages/dynamic-forms/internal/src/lib/addons/addon-type-definitions.token.ts
  packages/dynamic-forms/internal/src/lib/addons/df-addon-slot.component.ts
  packages/dynamic-forms/internal/src/lib/addons/inject-addon-type-registry.ts
  packages/dynamic-forms/internal/src/lib/addons/inject-fields-supporting-addons.ts
  packages/dynamic-forms/internal/src/lib/addons/run-preset-action.ts
  packages/dynamic-forms/internal/src/public_api.ts
  packages/dynamic-forms/src/lib/addons/run-preset-action.spec.ts
  packages/dynamic-forms/src/lib/components/df-addon-slot.component.spec.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/providers/features/addons/with-custom-addon.ts
  packages/dynamic-forms/src/lib/utils/inject-addon-type-registry/inject-addon-type-registry.spec.ts
Due: lint, format

docs(docs): rename addon custom-kinds page and section slugs to types
  apps/docs/public/content/addons/custom-types.md
  apps/docs/public/content/addons/overview.md
  apps/docs/public/content/addons/presets-and-actions.md
  apps/docs/src/app/components/addon-info/addon-info.component.ts
  apps/docs/src/app/layout/nav.config.ts
Due: format

test(dynamic-forms): run internal entry-point specs and co-locate relocated addon specs
  packages/dynamic-forms/internal/src/lib/addons/df-addon-slot.component.spec.ts
  packages/dynamic-forms/internal/src/lib/addons/inject-addon-type-registry.spec.ts
  packages/dynamic-forms/internal/src/lib/addons/run-preset-action.spec.ts
  packages/dynamic-forms/internal/src/lib/core/expressions/async-condition-logic-function.spec.ts
  packages/dynamic-forms/internal/src/lib/core/expressions/condition-evaluator.spec.ts
  packages/dynamic-forms/internal/src/lib/core/expressions/http-condition-logic-function.spec.ts
  packages/dynamic-forms/internal/src/lib/core/expressions/logic-function-factory.spec.ts
  packages/dynamic-forms/internal/src/lib/core/registry/function-registry.service.spec.ts
  packages/dynamic-forms/internal/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-forms/internal/src/lib/core/values/dynamic-value-factory.spec.ts
  packages/dynamic-forms/internal/src/lib/events/event.bus.spec.ts
  packages/dynamic-forms/vite.config.ts
Due: lint, format

ci(config): add api-extractor public surface guard
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .prettierignore
  config/api-extractor.base.json
  etc/README.md
  etc/dynamic-form-mcp.api.md
  etc/dynamic-forms-bootstrap.api.md
  etc/dynamic-forms-integration.api.md
  etc/dynamic-forms-ionic.api.md
  etc/dynamic-forms-material.api.md
  etc/dynamic-forms-primeng.api.md
  etc/dynamic-forms.api.md
  package.json
  packages/dynamic-form-mcp/api-extractor.json
  packages/dynamic-form-mcp/project.json
  packages/dynamic-forms-bootstrap/api-extractor.json
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/api-extractor.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/api-extractor.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/api-extractor.json
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms/api-extractor.integration.json
  packages/dynamic-forms/api-extractor.json
  packages/dynamic-forms/project.json
  pnpm-lock.yaml
Due: format

ci(config): make api-extractor baselines platform-independent
  config/api-extractor.base.json
  etc/dynamic-forms-bootstrap.api.md
  etc/dynamic-forms-integration.api.md
  etc/dynamic-forms-ionic.api.md
  etc/dynamic-forms-material.api.md
  etc/dynamic-forms-primeng.api.md
  etc/dynamic-forms.api.md
Due: format

ci(config): refresh api baselines after addon kind-to-type refactor
  etc/dynamic-form-mcp.api.md
  etc/dynamic-forms-bootstrap.api.md
  etc/dynamic-forms-integration.api.md
  etc/dynamic-forms-ionic.api.md
  etc/dynamic-forms-material.api.md
  etc/dynamic-forms-primeng.api.md
  etc/dynamic-forms.api.md
Due: format

docs(config): document api guard determinism and coverage trade-offs
  etc/README.md
Due: format

fix(dynamic-forms): regenerate internal public_api after addon refactor
  packages/dynamic-forms/internal/src/public_api.ts
Due: lint, format

ci: run /internal public_api drift check on PRs
  .github/workflows/pr-check.yml
Due: none

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
