Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

fix(dynamic-forms): use deep equality for meta change detection
  packages/dynamic-forms/integration/src/utils/setup-meta-tracking.ts
Due: lint, format

fix(dynamic-forms): wire specific meta types to field definitions
  packages/dynamic-forms/integration/src/definitions/input-field.ts
  packages/dynamic-forms/integration/src/definitions/textarea-field.ts
Due: lint, format

fix(material): use boolean for spellcheck in test scenario
  apps/examples/material/src/app/testing/field-meta/scenarios/meta-native-elements.scenario.ts
Due: format

fix(dynamic-forms): disable browser validation to fix ionic hidden field issues
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

fix(primeng,ionic): correct validation styling and error display
  apps/examples/ionic/src/app/testing/accessibility/accessibility.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
Due: lint, format

fix(ionic,primeng): handle angular 21.0.7 auto-propagation of invalid state
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
Due: lint, format

test(config): add docker-based playwright setup for consistent visual testing
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  apps/examples/bootstrap/playwright.config.ts
  apps/examples/bootstrap/src/app/testing/shared/fixtures.ts
  apps/examples/ionic/playwright.config.ts
  apps/examples/ionic/src/app/testing/accessibility/accessibility.spec.ts
  apps/examples/ionic/src/app/testing/shared/fixtures.ts
  apps/examples/material/playwright.config.ts
  apps/examples/material/src/app/testing/shared/fixtures.ts
  apps/examples/primeng/playwright.config.ts
  apps/examples/primeng/src/app/testing/shared/fixtures.ts
  docker-compose.playwright.yml
  package.json
  packages/dynamic-forms-bootstrap/src/lib/styles/_form-field.scss
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/styles/_form-field-base.scss
  scripts/playwright-docker.sh
Due: lint, format

test(examples): add visual regression screenshots to comprehensive field tests
  apps/examples/bootstrap/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/examples/ionic/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/examples/material/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/examples/primeng/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
Due: format

docs: update testing documentation with e2e strategy and type tests
  guides/03-creating-ui-adapter.md
  guides/05-testing-guide.md
  guides/README.md
Due: format

refactor(examples): extract shared e2e testing utilities
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  CONTRIBUTING.md
  apps/examples/bootstrap/playwright.config.ts
  apps/examples/bootstrap/src/app/testing/shared/fixtures.ts
  apps/examples/bootstrap/src/app/testing/shared/test-utils.ts
  apps/examples/bootstrap/src/app/testing/shared/types.ts
  apps/examples/ionic/playwright.config.ts
  apps/examples/ionic/src/app/testing/shared/fixtures.ts
  apps/examples/ionic/src/app/testing/shared/test-utils.ts
  apps/examples/ionic/src/app/testing/shared/types.ts
  apps/examples/material/playwright.config.ts
  apps/examples/material/src/app/testing/shared/fixtures.ts
  apps/examples/material/src/app/testing/shared/test-utils.ts
  apps/examples/material/src/app/testing/shared/types.ts
  apps/examples/primeng/playwright.config.ts
  apps/examples/primeng/src/app/testing/shared/fixtures.ts
  apps/examples/primeng/src/app/testing/shared/test-utils.ts
  apps/examples/primeng/src/app/testing/shared/types.ts
  apps/examples/shared/testing/base-fixtures.ts
  apps/examples/shared/testing/index.ts
  apps/examples/shared/testing/types.ts
  package.json
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
  packages/dynamic-forms-material/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
  scripts/playwright-docker.sh
Due: lint, format

fix(examples): use path alias for shared testing imports
  apps/examples/bootstrap/src/app/testing/shared/fixtures.ts
  apps/examples/bootstrap/src/app/testing/shared/test-utils.ts
  apps/examples/bootstrap/src/app/testing/shared/types.ts
  apps/examples/ionic/src/app/testing/shared/fixtures.ts
  apps/examples/ionic/src/app/testing/shared/test-utils.ts
  apps/examples/ionic/src/app/testing/shared/types.ts
  apps/examples/material/src/app/testing/shared/fixtures.ts
  apps/examples/material/src/app/testing/shared/test-utils.ts
  apps/examples/material/src/app/testing/shared/types.ts
  apps/examples/primeng/src/app/testing/shared/fixtures.ts
  apps/examples/primeng/src/app/testing/shared/test-utils.ts
  apps/examples/primeng/src/app/testing/shared/types.ts
  tsconfig.base.json
Due: format

feat(mcp): add dynamic-form-mcp package
  commitlint.config.js
  package.json
  packages/dynamic-form-mcp/README.md
  packages/dynamic-form-mcp/bin/ng-forge-mcp.ts
  packages/dynamic-form-mcp/eslint.config.mjs
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/project.json
  packages/dynamic-form-mcp/scripts/generate-registry.ts
  packages/dynamic-form-mcp/src/index.ts
  packages/dynamic-form-mcp/src/registry/docs.json
  packages/dynamic-form-mcp/src/registry/examples.json
  packages/dynamic-form-mcp/src/registry/field-types.json
  packages/dynamic-form-mcp/src/registry/index.spec.ts
  packages/dynamic-form-mcp/src/registry/index.ts
  packages/dynamic-form-mcp/src/registry/instructions.md
  packages/dynamic-form-mcp/src/registry/ui-adapters.json
  packages/dynamic-form-mcp/src/registry/validators.json
  packages/dynamic-form-mcp/src/resources/documentation.resource.ts
  packages/dynamic-form-mcp/src/resources/examples.resource.ts
  packages/dynamic-form-mcp/src/resources/field-types.resource.ts
  packages/dynamic-form-mcp/src/resources/index.ts
  packages/dynamic-form-mcp/src/resources/instructions.resource.ts
  packages/dynamic-form-mcp/src/resources/ui-adapters.resource.ts
  packages/dynamic-form-mcp/src/resources/validators.resource.ts
  packages/dynamic-form-mcp/src/server.ts
  packages/dynamic-form-mcp/src/tools/index.ts
  packages/dynamic-form-mcp/src/tools/validate-form-config.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/validate-form-config.tool.ts
  packages/dynamic-form-mcp/tsconfig.json
  packages/dynamic-form-mcp/tsconfig.lib.json
  packages/dynamic-form-mcp/tsconfig.spec.json
  packages/dynamic-form-mcp/vite.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: lint, format

fix(config): ensure base branch is fetched for affected detection
  .github/workflows/pr-check.yml
  docker-compose.playwright.yml
  scripts/playwright-docker.sh
Due: none

docs(mcp): add ai integration documentation
  apps/docs/src/docs/ai-integration/index.md
  apps/docs/src/docs/ai-integration/ng-doc.page.ts
  package.json
Due: format

refactor(ionic): standardize css class and variable naming
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/styles/_form-field.scss
  packages/dynamic-forms-ionic/src/lib/testing/ionic-test-utils.ts
  packages/dynamic-forms-ionic/src/lib/testing/wait-for-df.ts
  packages/dynamic-forms-material/src/lib/styles/_form-field.scss
  packages/dynamic-forms-primeng/src/lib/styles/_form-field.scss
Due: lint, format

refactor(config): extract shared playwright configuration
  apps/examples/bootstrap/playwright.config.ts
  apps/examples/ionic/playwright.config.ts
  apps/examples/material/playwright.config.ts
  apps/examples/primeng/playwright.config.ts
  apps/examples/shared/testing/index.ts
  apps/examples/shared/testing/playwright-config.ts
Due: format

fix(config): separate playwright config from angular compilation
  apps/examples/bootstrap/playwright.config.ts
  apps/examples/ionic/playwright.config.ts
  apps/examples/material/playwright.config.ts
  apps/examples/primeng/playwright.config.ts
  apps/examples/shared/testing/index.ts
Due: format

fix(ionic): update eslint selector prefix to df-ion
  packages/dynamic-forms-ionic/eslint.config.mjs
Due: none

ci(config): add debugging for e2e affected detection
  .github/workflows/pr-check.yml
Due: none

fix(config): install pnpm in playwright docker container
  docker-compose.playwright.yml
Due: none

perf(config): run playwright directly in ci instead of docker
  .github/workflows/pr-check.yml
Due: none

Revert "perf(config): run playwright directly in ci instead of docker"
  .github/workflows/pr-check.yml
Due: none

perf(config): skip pnpm install in e2e job, use npx for affected check
  .github/workflows/pr-check.yml
Due: none

chore(config): remove debugging from e2e affected check
  .github/workflows/pr-check.yml
Due: none

fix(config): restore pnpm install for nx affected detection
  .github/workflows/pr-check.yml
Due: none

ci(config): add debugging for affected check
  .github/workflows/pr-check.yml
Due: none

fix(config): use npm/npx instead of pnpm in docker container
  docker-compose.playwright.yml
  scripts/playwright-docker.sh
Due: none

fix(config): add pnpm to path after global install in docker
  docker-compose.playwright.yml
  scripts/playwright-docker.sh
Due: none

fix(config): escape shell variables in docker-compose for container execution
  docker-compose.playwright.yml
Due: none

fix(config): escape path variable for docker-compose
  docker-compose.playwright.yml
Due: none

refactor(config): use dockerfile for playwright with pnpm support
  Dockerfile.playwright
  docker-compose.playwright.yml
  scripts/playwright-docker.sh
Due: none

style(config): fix yaml formatting
  docker-compose.playwright.yml
Due: none

chore(config): simplify ci workflows and consolidate artifact uploads
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix(mcp): correct resource api params and json loading for bundled code
  packages/dynamic-form-mcp/src/registry/index.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/resources/documentation.resource.ts
  packages/dynamic-form-mcp/src/resources/examples.resource.ts
  packages/dynamic-form-mcp/src/resources/field-types.resource.ts
  packages/dynamic-form-mcp/src/resources/instructions.resource.ts
  packages/dynamic-form-mcp/src/resources/ui-adapters.resource.ts
  packages/dynamic-form-mcp/src/resources/validators.resource.ts
Due: lint, format
