Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(forms): handle openapi 3.1 type:[T,null] + filter null from enum options
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

test(forms): cover submission, composite 3.1, and derivation with nullable
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/testing/src/integration/submission.integration.spec.ts
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
  packages/openapi-generator/src/mapper/schema-to-fields.spec.ts
  packages/openapi-generator/src/mapper/schema-to-fields.ts
Due: lint, format

test(forms): cover discriminator + nullable + document allOf behavior
  packages/openapi-generator/src/generator/interface-generator.spec.ts
Due: lint, format

fix(forms): parenthesise union branches in allOf for strict intersection
  packages/openapi-generator/src/generator/interface-generator.spec.ts
  packages/openapi-generator/src/generator/interface-generator.ts
Due: lint, format

chore(config): add CodeRabbit config tuned for low-noise reviews
  .coderabbit.yaml
Due: none

ci(release): add nightly publish workflow
  .github/workflows/nightly.yml
Due: none

ci(release): make release.yml callable, route nightly through it
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci(release): address code review feedback on nightly workflow
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

ci(release): consolidate nightly into release.yml as @next path
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

fix(release): pin release checkout to immutable github.sha
  .github/workflows/release.yml
Due: none

fix(release): address CodeRabbit feedback on next-gate
  .github/workflows/release.yml
Due: none

feat(release): add tag-based idempotency for @next publishes
  .github/workflows/release.yml
Due: none

fix(release): harden release flow per post-review assessment
  .github/workflows/release.yml
Due: none

build(deps): upgrade Node.js to 24
  .github/actions/setup-node-restore/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .nvmrc
  CLAUDE.md
  package.json
  packages/openapi-generator/package.json
Due: format

fix: declare openapi-generator test->build deps on dynamic-forms + material
  packages/openapi-generator/project.json
Due: format

docs: bump Node.js prerequisite to >=24.0.0 in CONTRIBUTING
  CONTRIBUTING.md
Due: format

chore(deps): bump Dockerfile.playwright default ARG to 1.59.1
  Dockerfile.playwright
Due: none

chore(config): add graphify knowledge graph for dynamic-forms core
  .claude/settings.json
  .gitignore
  .graphifyignore
  CLAUDE.md
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: format

chore(config): extend graphify graph to UI adapters and MCP server
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: format

chore(config): include openapi-generator in graphify graph
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: format

chore(config): sanitize absolute paths from graphify outputs
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  lefthook.yml
Due: format

feat: omit .js extensions in openapi-generator barrel exports by default
  packages/openapi-generator/README.md
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.ts
  packages/openapi-generator/src/config/generator-config.ts
  packages/openapi-generator/src/generator/barrel-generator.spec.ts
  packages/openapi-generator/src/generator/barrel-generator.ts
  packages/openapi-generator/src/index.ts
Due: lint, format

refactor: address PR #356 review — barrelExtension persistence and validation
  packages/openapi-generator/README.md
  packages/openapi-generator/src/__tests__/integration/generate-pipeline.integration.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.spec.ts
  packages/openapi-generator/src/cli/commands/generate.command.ts
Due: lint, format

chore(config): allow breaking-change exclamation mark in commit subjects
  commitlint.config.js
Due: format

refactor(dynamic-forms): remove dead simpleStringHash utility
  packages/dynamic-forms/src/lib/utils/object-utils.ts
Due: lint, format

perf(dynamic-forms): gate dev warnings with ngDevMode for prod DCE
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/apply-property-overrides.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/utils/deprecation-warnings.ts
  packages/dynamic-forms/src/lib/utils/dev-mode.ts
Due: lint, format

refactor(dynamic-forms): consolidate warning trackers and prune dead init tracker
  packages/dynamic-forms/src/lib/core/derivation/derivation-warning-tracker.ts
  packages/dynamic-forms/src/lib/core/derivation/field-value-utils.ts
  packages/dynamic-forms/src/lib/utils/deprecation-warning-tracker.ts
  packages/dynamic-forms/src/lib/utils/initialization-tracker/initialization-tracker.spec.ts
  packages/dynamic-forms/src/lib/utils/initialization-tracker/initialization-tracker.ts
  packages/dynamic-forms/src/lib/utils/warning-tracker.ts
Due: lint, format

refactor(dynamic-forms): collapse three formValue regex patterns into one
  packages/dynamic-forms/src/lib/core/cross-field/cross-field-detector.ts
Due: lint, format

perf(dynamic-forms): promote dev warnings to top-level fns for full DCE
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/field-value-utils.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/events/event.bus.ts
  packages/dynamic-forms/src/lib/utils/deprecation-warnings.spec.ts
  packages/dynamic-forms/src/lib/utils/deprecation-warnings.ts
Due: lint, format

refactor(dynamic-forms): mark warning trackers @internal and tighten log strings
  packages/dynamic-forms/src/lib/core/derivation/async-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-warning-tracker.ts
  packages/dynamic-forms/src/lib/core/derivation/field-value-utils.ts
  packages/dynamic-forms/src/lib/core/derivation/http-derivation-stream.ts
  packages/dynamic-forms/src/lib/core/derivation/index.ts
  packages/dynamic-forms/src/lib/core/expressions/async-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/http-condition-logic-function.spec.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-collector.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-orchestrator.ts
  packages/dynamic-forms/src/lib/core/validation/async-http-validator.spec.ts
  packages/dynamic-forms/src/lib/core/validation/validator-factory.spec.ts
  packages/dynamic-forms/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/utils/deprecation-warning-tracker.ts
  packages/dynamic-forms/src/lib/utils/deprecation-warnings.spec.ts
  packages/dynamic-forms/src/lib/utils/deprecation-warnings.ts
  packages/dynamic-forms/src/lib/utils/dev-mode.ts
  packages/dynamic-forms/src/lib/utils/warning-tracker.ts
Due: lint, format

fix(dynamic-forms): wire slider range consistently across adapters
  apps/e2e/bootstrap/src/app/testing/bootstrap-components/bootstrap-components.spec.ts
  apps/e2e/ionic/src/app/testing/ionic-components/ionic-components.spec.ts
  apps/e2e/ionic/src/app/testing/ionic-components/scenarios/range-component.scenario.ts
  apps/e2e/material/src/app/testing/material-components/material-components.spec.ts
  apps/e2e/primeng/src/app/testing/primeng-components/primeng-components.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.type.ts
Due: lint, format

perf(dynamic-forms): lazy-split array/group/container field components
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

refactor(dynamic-forms): decompose provideDynamicFormDI into feature groups
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
Due: lint, format

refactor(dynamic-forms): decouple DynamicForm from orchestrator imports
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/providers/form-initializer.token.ts
Due: lint, format

test(dynamic-forms): cover FORM_INITIALIZER contract; restore bootstrap order
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/providers/form-initializer.token.spec.ts
Due: lint, format

fix(docs): normalize section paths in llms-full.txt to forward slashes
  apps/docs/public/llms-full.txt
  apps/docs/scripts/generate-llms-full.ts
Due: format

docs: correct integration mapper references and import paths
  guides/03-creating-ui-adapter.md
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
Due: lint, format

fix(dynamic-forms): skip keyless fields in property-derivation mapper guard
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

fix(dynamic-forms): resolve leaf fieldValue and groupValue for array-item property derivations
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
Due: lint, format

docs(dynamic-forms): explain fieldState omission in property derivation context
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
Due: lint, format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
