Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

fix(docs): prevent StackBlitz tooltip clipping on landing page hero container
  apps/docs/src/app/pages/landing/landing.component.scss
Due: format

fix(docs): remove leftover StackBlitz text link from validation section
  apps/docs/src/app/pages/landing/landing.component.html
Due: format

fix(docs): wrap Ionic StackBlitz in IonApp/IonContent, remove leftover text link
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): add Ionic color CSS variables for button styling in StackBlitz
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

feat(dynamic-forms): auto-wait for field input when mapper is present
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/recipes/custom-fields.md
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms/CLAUDE.md
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

fix(docs): fix Ionic button color variables and body scroll in StackBlitz
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

fix(docs): set Ionic color base CSS variables for button styling in StackBlitz
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

feat(docs): add StackBlitz button to live examples (#310)
  apps/docs/public/assets/icons/stackblitz.svg
  apps/docs/src/app/components/live-example/live-example.component.scss
  apps/docs/src/app/components/live-example/live-example.component.ts
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  apps/docs/src/app/example-configs/age-conditional-form.config.ts
  apps/docs/src/app/example-configs/array.config.ts
  apps/docs/src/app/example-configs/business-account-form.config.ts
  apps/docs/src/app/example-configs/button.config.ts
  apps/docs/src/app/example-configs/complete-form.config.ts
  apps/docs/src/app/example-configs/contact-dynamic-fields.config.ts
  apps/docs/src/app/example-configs/contact.config.ts
  apps/docs/src/app/example-configs/enterprise-features.config.ts
  apps/docs/src/app/example-configs/expression-validators.config.ts
  apps/docs/src/app/example-configs/group.config.ts
  apps/docs/src/app/example-configs/login.config.ts
  apps/docs/src/app/example-configs/paginated-form.config.ts
  apps/docs/src/app/example-configs/row.config.ts
  apps/docs/src/app/example-configs/shipping-billing-address.config.ts
  apps/docs/src/app/example-configs/simplified-array.config.ts
  apps/docs/src/app/example-configs/user-registration.config.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.forms.ts
  internal/sandbox-adapter-material/src/lib/factory.ts
  package.json
  pnpm-lock.yaml
Due: format

fix(deps): bump Angular packages to address security vulnerabilities
  package.json
  pnpm-lock.yaml
Due: format

fix(deps): bump Angular packages to address security vulnerabilities (#312)
  package.json
  pnpm-lock.yaml
Due: format

chore(release): bump version to 0.7.0
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
Due: format

chore(release): publish 0.7.0
  CHANGELOG.md
Due: format

chore(release): bump version to 0.7.0 (#311)
  CHANGELOG.md
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
Due: format

ci(release): add openapi-generator to release workflow
  .github/workflows/release.yml
Due: none

ci(release): add openapi-generator to release workflow (#313)
  .github/workflows/release.yml
Due: none

feat(dynamic-forms): auto-wait for field input when mapper is present
  apps/docs/public/content/building-an-adapter.md
  packages/dynamic-forms/CLAUDE.md
  packages/dynamic-forms/src/lib/core/render-ready-metadata.spec.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

fix(dynamic-forms): add renderReadyWhen: [] to button and text field types
  packages/dynamic-forms-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-forms-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-primeng/src/lib/config/primeng-field-config.ts
  packages/dynamic-forms/CLAUDE.md
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
Due: lint, format

docs: update llms-full.txt with renderReadyWhen changes
  apps/docs/public/llms-full.txt
Due: none

fix(docs): prevent adapter props table from being clipped on wide screens
  apps/docs/src/app/components/integration-view/integration-view.component.scss
Due: format

fix(docs): prevent adapter props table from being clipped on wide screens (#315)
  apps/docs/src/app/components/integration-view/integration-view.component.scss
Due: format

perf(docs): improve landing page performance and add per-route OG images
  apps/docs/index.html
  apps/docs/plugins/vite-plugin-og-images.ts
  apps/docs/public/fonts/JetBrainsMono-Bold.ttf
  apps/docs/public/fonts/JetBrainsMono-Regular.ttf
  apps/docs/public/fonts/jetbrains-mono-v24-latin-500.woff2
  apps/docs/public/fonts/jetbrains-mono-v24-latin-regular.woff2
  apps/docs/public/fonts/logo-88.png
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/docs/src/main.ts
  apps/docs/src/styles.scss
  apps/docs/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: format

perf(docs): improve landing page performance and add per-route OG images (#317)
  apps/docs/index.html
  apps/docs/plugins/vite-plugin-og-images.ts
  apps/docs/public/fonts/JetBrainsMono-Bold.ttf
  apps/docs/public/fonts/JetBrainsMono-Regular.ttf
  apps/docs/public/fonts/jetbrains-mono-v24-latin-500.woff2
  apps/docs/public/fonts/jetbrains-mono-v24-latin-regular.woff2
  apps/docs/public/fonts/logo-88.png
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/docs/src/main.ts
  apps/docs/src/styles.scss
  apps/docs/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: format

docs(docs): add API-Driven Forms documentation page
  apps/docs/public/content/api-driven-forms.md
  apps/docs/public/content/recipes/type-safety.md
  apps/docs/public/sitemap.xml
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/layout/nav.config.ts
Due: format

fix(docs): render human-readable placeholder for schema objects in config viewer
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  internal/examples-shared-ui/src/lib/example-scenario.component.ts
Due: format

fix(docs): show readable Zod schema source in config viewer
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  apps/docs/src/app/example-configs/zod-schema-validation.config.ts
  internal/examples-shared-ui/src/lib/example-scenario.component.ts
Due: format

chore(docs): regenerate llms-full.txt
  apps/docs/public/llms-full.txt
Due: none

docs(docs): improve API-Driven Forms page SEO with keyword-rich description
  apps/docs/public/content/api-driven-forms.md
  apps/docs/public/llms-full.txt
Due: format

docs(docs): add API-Driven Forms documentation page (#320)
  apps/docs/public/content/api-driven-forms.md
  apps/docs/public/content/recipes/type-safety.md
  apps/docs/public/llms-full.txt
  apps/docs/public/sitemap.xml
  apps/docs/scripts/generate-sitemap.ts
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  apps/docs/src/app/example-configs/zod-schema-validation.config.ts
  apps/docs/src/app/layout/nav.config.ts
  internal/examples-shared-ui/src/lib/example-scenario.component.ts
Due: format

fix: share renderReady logic, fix effect dependency, preserve type autocomplete
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-utils.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

ci(deps): add @oxc-project/runtime dependency
  package.json
  pnpm-lock.yaml
Due: format

feat(wrapper): added wrapper type and registration
  packages/dynamic-forms/src/lib/core/expressions/parser/evaluator.spec.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/definitions/default/wrapper-field.ts
  packages/dynamic-forms/src/lib/definitions/default/wrapper-field.type-test.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/events/constants/component-initialized.event.spec.ts
  packages/dynamic-forms/src/lib/events/constants/component-initialized.event.ts
  packages/dynamic-forms/src/lib/fields/index.ts
  packages/dynamic-forms/src/lib/fields/wrapper/wrapper-field.component.scss
  packages/dynamic-forms/src/lib/fields/wrapper/wrapper-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/wrapper/wrapper-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/mappers/wrapper/wrapper-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/wrapper/wrapper-field-mapper.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.type-test.ts
  packages/dynamic-forms/src/lib/models/registry/index.ts
  packages/dynamic-forms/src/lib/models/types/index.ts
  packages/dynamic-forms/src/lib/models/types/nesting-constraints.ts
  packages/dynamic-forms/src/lib/models/types/type-guards.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/providers/features/dynamic-form-feature.ts
  packages/dynamic-forms/src/lib/providers/features/index.ts
  packages/dynamic-forms/src/lib/providers/features/wrappers/index.ts
  packages/dynamic-forms/src/lib/providers/features/wrappers/with-wrappers.ts
  packages/dynamic-forms/src/lib/utils/emit-initialization/emit-initialization.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.spec.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.ts
Due: lint, format

feat(dynamic-forms): auto-wait for field input when mapper is present (#314)
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/recipes/custom-fields.md
  apps/docs/public/llms-full.txt
  packages/dynamic-forms-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-forms-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-primeng/src/lib/config/primeng-field-config.ts
  packages/dynamic-forms/CLAUDE.md
  packages/dynamic-forms/src/lib/core/render-ready-metadata.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-utils.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

ci(deps): add @oxc-project/runtime dependency (#330)
  package.json
  pnpm-lock.yaml
Due: format

chore(forms): added CssWrapper, updated providers
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/definitions/default/wrapper-field.ts
  packages/dynamic-forms/src/lib/definitions/default/wrapper-field.type-test.ts
  packages/dynamic-forms/src/lib/fields/wrapper/wrapper-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/wrapper/wrapper-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.type-test.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/providers/features/dynamic-form-feature.ts
  packages/dynamic-forms/src/lib/providers/features/index.ts
  packages/dynamic-forms/src/lib/providers/features/wrappers/index.ts
  packages/dynamic-forms/src/lib/providers/features/wrappers/with-wrappers.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.component.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.type-test.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.type.ts
  packages/dynamic-forms/src/lib/wrappers/css/index.ts
  packages/dynamic-forms/src/lib/wrappers/index.ts
Due: lint, format

chore(deps): bump playwright to 1.59.1 and vitest to 4.1.4
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump playwright to 1.59.1 and vitest to 4.1.4 (#336)
  package.json
  pnpm-lock.yaml
Due: format

docs(docs): add Discord community link to README and docs site
  README.md
  apps/docs/public/assets/icons/discord.svg
  apps/docs/src/app/layout/docs-layout.component.html
  apps/docs/src/app/pages/landing/landing.component.html
  internal/styling/src/_icons.scss
Due: format

docs(docs): add Discord community link to README and docs site
  apps/docs/public/content/getting-started.md
  apps/docs/src/app/layout/docs-layout.component.html
  apps/docs/src/app/layout/docs-layout.component.scss
  apps/docs/src/app/pages/landing/landing.component.html
Due: format

docs(docs): regenerate llms-full.txt
  apps/docs/public/llms-full.txt
Due: none

docs(docs): fix Discord badge server ID
  README.md
Due: format
