Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "packages/**/*.{ts,js}"
      run: pnpm eslint {staged_files} --fix
    format:
      glob: "*.{ts,js,json,md,html,scss,css}"
      run: pnpm prettier --write {staged_files}

commit-msg:
  commands:
    commitlint:
      run: echo "Commit message format validated"

feat(dynamic-forms): add conditional page visibility support
  apps/examples/material/src/app/testing/cross-page-validation/cross-page-validation.spec.ts
  apps/examples/material/src/app/testing/cross-page-validation/scenarios/conditional-pages.scenario.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.ts
Due: lint, format

docs: simplify documentation and remove helper functions
  apps/docs/src/docs/core/field-types/index.md
  apps/docs/src/docs/core/type-safety/advanced-types.md
  apps/docs/src/docs/core/type-safety/basics.md
  apps/docs/src/docs/core/type-safety/containers.md
  apps/docs/src/docs/core/type-safety/custom-types.md
  apps/docs/src/docs/core/type-safety/ng-doc.page.ts
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.function.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/index.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/index.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.function.ts
  packages/dynamic-forms-ionic/src/lib/fields/index.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.function.ts
  packages/dynamic-forms-material/src/lib/fields/index.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.function.ts
  packages/dynamic-forms-primeng/src/lib/fields/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
Due: lint, format

rm remaining submitButton instances
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
  apps/examples/material/src/app/examples/scenarios/group.scenario.ts
  apps/examples/material/src/app/examples/scenarios/login.scenario.ts
  apps/examples/material/src/app/examples/scenarios/row.scenario.ts
  apps/examples/material/src/app/examples/scenarios/user-registration.scenario.ts
  apps/examples/primeng/src/app/examples/scenarios/complete-form.scenario.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
Due: lint, format

refactor: simplify docs (#71)
  apps/docs/src/docs/core/field-types/index.md
  apps/docs/src/docs/core/type-safety/advanced-types.md
  apps/docs/src/docs/core/type-safety/basics.md
  apps/docs/src/docs/core/type-safety/containers.md
  apps/docs/src/docs/core/type-safety/custom-types.md
  apps/docs/src/docs/core/type-safety/ng-doc.page.ts
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
  apps/examples/material/src/app/examples/scenarios/array.scenario.ts
  apps/examples/material/src/app/examples/scenarios/group.scenario.ts
  apps/examples/material/src/app/examples/scenarios/login.scenario.ts
  apps/examples/material/src/app/examples/scenarios/row.scenario.ts
  apps/examples/material/src/app/examples/scenarios/user-registration.scenario.ts
  apps/examples/primeng/src/app/examples/scenarios/complete-form.scenario.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.function.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/index.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/index.ts
  packages/dynamic-forms-bootstrap/src/lib/index.ts
  packages/dynamic-forms-ionic/src/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/index.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.function.ts
  packages/dynamic-forms-ionic/src/lib/fields/index.ts
  packages/dynamic-forms-ionic/src/lib/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/index.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.function.ts
  packages/dynamic-forms-material/src/lib/fields/index.ts
  packages/dynamic-forms-material/src/lib/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/index.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.function.ts
  packages/dynamic-forms-primeng/src/lib/fields/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
Due: lint, format

refactor: extract array-field utilities and improve container components
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/testing/dynamic-form-test-utils.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
Due: lint, format

refactor: clean up dynamic-form component and fix ionic tests
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/mappers/types.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
Due: lint, format

feat: add Vercel deployment configuration
  .github/workflows/deploy-vercel.yml
  apps/docs/project.json
  apps/examples/bootstrap/project.json
  apps/examples/ionic/project.json
  apps/examples/material/project.json
  apps/examples/primeng/project.json
  scripts/prepare-deploy.js
  vercel.json
Due: format

refactor: flatten container component DOM structure
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.scss
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.scss
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.scss
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.scss
  packages/dynamic-forms/src/lib/fields/group/group-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.scss
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
Due: lint, format

fix: use ionBlur event for ionic checkbox test with shadow DOM
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.spec.ts
Due: lint, format

small issue fixes
  apps/docs/src/docs/examples/user-registration/user-registration-iframe-demo.component.ts
  apps/docs/src/docs/ui-libs-integrations/ionic/examples/complete-form-iframe-demo.component.ts
  apps/docs/src/docs/ui-libs-integrations/primeng/examples/complete-form-iframe-demo.component.ts
  apps/examples/bootstrap/src/app/examples/scenarios/complete-form.scenario.ts
  apps/examples/bootstrap/src/app/examples/scenarios/input.scenario.ts
  apps/examples/bootstrap/src/app/examples/scenarios/user-registration.scenario.ts
  apps/examples/ionic/src/app/examples/scenarios/complete-form.scenario.ts
  apps/examples/ionic/src/app/examples/scenarios/input.scenario.ts
  apps/examples/material/src/app/examples/scenarios/input.scenario.ts
  apps/examples/material/src/app/examples/scenarios/user-registration.scenario.ts
  apps/examples/primeng/src/app/examples/scenarios/complete-form.scenario.ts
  apps/examples/primeng/src/app/examples/scenarios/input.scenario.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
Due: lint, format

test: skip flaky ionic multi-checkbox test in CI
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.spec.ts
Due: lint, format

test: skip flaky ionic multi-checkbox test in CI
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.spec.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.ts
Due: lint, format

test: skip all flaky ionic multi-checkbox tests in CI
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.spec.ts
Due: lint, format

chore: remove test configurations from dynamic-forms integration libs
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-bootstrap/src/test-setup.ts
  packages/dynamic-forms-bootstrap/tsconfig.spec.json
  packages/dynamic-forms-bootstrap/vite.config.ts
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-ionic/src/test-setup.ts
  packages/dynamic-forms-ionic/tsconfig.spec.json
  packages/dynamic-forms-ionic/vite.config.ts
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-material/src/test-setup.ts
  packages/dynamic-forms-material/tsconfig.spec.json
  packages/dynamic-forms-material/vite.config.ts
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms-primeng/src/test-setup.ts
  packages/dynamic-forms-primeng/tsconfig.spec.json
  packages/dynamic-forms-primeng/vite.config.ts
Due: lint, format

test(mappers): improve mapper tests for inclusion-based property mapping
  packages/dynamic-forms/src/lib/mappers/checkbox/checkbox-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.spec.ts
Due: lint, format

fix(dynamic-forms): use parent form's nested FieldTree for groups and arrays
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format

test(material-examples): add group-fields E2E test suite
  apps/examples/material/src/app/testing/group-fields/group-fields.routes.ts
  apps/examples/material/src/app/testing/group-fields/group-fields.spec.ts
  apps/examples/material/src/app/testing/group-fields/group-fields.suite.ts
  apps/examples/material/src/app/testing/group-fields/scenarios/group-initial-values.scenario.ts
  apps/examples/material/src/app/testing/group-fields/scenarios/group-nested.scenario.ts
  apps/examples/material/src/app/testing/group-fields/scenarios/group-value-propagation.scenario.ts
  apps/examples/material/src/app/testing/testing-routes.ts
Due: format

fix(dynamic-forms): use flexbox for row field to properly distribute child items
  apps/examples/material/src/app/examples/scenarios/paginated-form.scenario.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
Due: format

change gitignore
  .gitignore
Due: none

disable autodeploys
  vercel.json
Due: format

feat: add root redirect and disable auto-deploys
  vercel.json
Due: format

chore: setup vercel deployment (#76)
  .github/workflows/deploy-vercel.yml
  .gitignore
  apps/docs/project.json
  apps/examples/bootstrap/project.json
  apps/examples/ionic/project.json
  apps/examples/material/project.json
  apps/examples/primeng/project.json
  scripts/prepare-deploy.js
  vercel.json
Due: format

feat: add Vercel Analytics to docs app
  apps/docs/src/main.ts
  package.json
  pnpm-lock.yaml
Due: format

feat: add Vercel Analytics to docs app (#77)
  apps/docs/src/main.ts
  package.json
  pnpm-lock.yaml
Due: format

chore: migrate from GitHub Pages to Vercel deployment
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/deploy.yml
  README.md
  apps/docs/public/llms.txt
  apps/docs/public/robots.txt
  apps/docs/public/sitemap.xml
  apps/docs/src/docs/core/validation/custom-validators.md
  apps/docs/src/index.html
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format

fix: support minValue/maxValue properties and bind datepicker constraints
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
Due: lint, format

fix(dynamic-forms): call form() to get FieldTree for nested groups and arrays
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format

fix: remove min/max/step from valueFieldMapper inputs
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.ts
Due: lint, format

fix(dynamic-forms): sync array item form changes back to parent form
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format
