Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(docs): add custom adapter to adapter picker and rename UI label to Adapter
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.ts
  apps/docs/src/app/services/active-adapter.service.ts
Due: format

fix(docs): preserve scroll position when switching adapters
  apps/docs/src/app/services/active-adapter.service.ts
Due: format

docs: improve per-adapter getting-started and configuration documentation
  apps/docs/src/app/components/configuration-view/configuration-view.component.ts
  apps/docs/src/app/components/integration-view/integration-view.component.html
  apps/docs/src/app/components/integration-view/integration-view.component.ts
  apps/docs/src/docs/installation/index.md
  apps/docs/src/docs/ui-libs-integrations/index.md
Due: format

fix(docs): fix page navigation @Input() types for ng-doc skeleton interface
  apps/docs/src/app/components/page-navigation/page-navigation.component.ts
Due: format

fix(docs): register integration-view and configuration-view as ng-doc page processors
  apps/docs/src/app/app.config.ts
Due: format

feat(docs): add building an adapter nav, custom adapter field guides, and configuration cleanup
  apps/docs/src/app/app.routes.ts
  apps/docs/src/app/app.ts
  apps/docs/src/app/components/adapter-props/adapter-props.component.html
  apps/docs/src/app/components/adapter-props/adapter-props.component.scss
  apps/docs/src/app/components/adapter-props/adapter-props.component.ts
  apps/docs/src/app/components/breadcrumb/breadcrumb.component.html
  apps/docs/src/app/components/breadcrumb/breadcrumb.component.scss
  apps/docs/src/app/components/breadcrumb/breadcrumb.component.ts
  apps/docs/src/app/components/configuration-view/configuration-view.component.scss
  apps/docs/src/app/components/configuration-view/configuration-view.component.ts
  apps/docs/src/app/components/install-command/install-command.component.html
  apps/docs/src/app/components/install-command/install-command.component.scss
  apps/docs/src/app/components/install-command/install-command.component.ts
  apps/docs/src/app/components/integration-view/integration-view.component.html
  apps/docs/src/app/components/integration-view/integration-view.component.scss
  apps/docs/src/app/components/integration-view/integration-view.component.ts
  apps/docs/src/app/components/live-example/live-example.component.ts
  apps/docs/src/app/directives/code-highlight.directive.ts
  apps/docs/src/app/services/package-manager.service.ts
  apps/docs/src/docs/advanced/custom-fields/index.md
  apps/docs/src/docs/advanced/custom-fields/ng-doc.page.ts
  apps/docs/src/docs/advanced/custom-integrations/ng-doc.page.ts
  apps/docs/src/docs/examples/index/ng-doc.page.ts
  apps/docs/src/docs/schema-fields/field-types/advanced-controls/index.md
  apps/docs/src/docs/schema-fields/field-types/buttons/index.md
  apps/docs/src/docs/schema-fields/field-types/buttons/ng-doc.page.ts
  apps/docs/src/docs/schema-fields/field-types/selection/index.md
  apps/docs/src/docs/schema-fields/field-types/text-inputs/index.md
  apps/docs/src/docs/ui-libs-integrations/index.md
  apps/docs/src/docs/ui-libs-integrations/ng-doc.page.ts
  apps/docs/src/styles.scss
  apps/docs/vercel.json
Due: format

chore(docs): update llms-full.txt
  apps/docs/public/llms-full.txt
Due: none

refactor(docs): use router signal APIs instead of toSignal+events pipe
  apps/docs/src/app/components/page-navigation/page-navigation.component.ts
  apps/docs/src/app/services/active-adapter.service.ts
Due: format

fix(docs): use Server render mode for adapter routes to fix refresh navigation
  apps/docs/src/app/app.routes.server.ts
Due: format

refactor(docs): replace NavigationStart interceptor and DOM hacks with AdapterAwareUrlSerializer
  apps/docs/src/app/app.config.ts
  apps/docs/src/app/app.ts
  apps/docs/src/app/serializers/adapter-url-serializer.ts
Due: format

refactor(examples): address sandbox audit findings
  apps/examples/sandbox/playwright.sandbox-config.ts
  apps/examples/sandbox/src/app/adapter-registrations.ts
  apps/examples/sandbox/src/app/adapters/adapter-config.ts
  apps/examples/sandbox/src/app/adapters/adapter-routes.ts
  apps/examples/sandbox/src/app/adapters/bootstrap-adapter.ts
  apps/examples/sandbox/src/app/adapters/core-adapter.ts
  apps/examples/sandbox/src/app/adapters/create-sandbox-app.ts
  apps/examples/sandbox/src/app/adapters/ionic-adapter.ts
  apps/examples/sandbox/src/app/adapters/material-adapter.ts
  apps/examples/sandbox/src/app/adapters/primeng-adapter.ts
  apps/examples/sandbox/src/app/demo/demo-form.component.ts
  apps/examples/sandbox/src/app/host.component.ts
Due: format

fix(examples): resolve sandbox build errors and MCP test flakiness
  apps/examples/sandbox/src/app/host.component.ts
  apps/examples/sandbox/src/app/testing/bootstrap/shared/suite-index.component.ts
  apps/examples/sandbox/src/app/testing/bootstrap/shared/test-scenario.component.ts
  apps/examples/sandbox/src/app/testing/core/shared/suite-index.component.ts
  apps/examples/sandbox/src/app/testing/core/shared/test-scenario.component.ts
  apps/examples/sandbox/src/app/testing/ionic/shared/suite-index.component.ts
  apps/examples/sandbox/src/app/testing/ionic/shared/test-scenario.component.ts
  apps/examples/sandbox/src/app/testing/material/shared/suite-index.component.ts
  apps/examples/sandbox/src/app/testing/material/shared/test-scenario.component.ts
  apps/examples/sandbox/src/app/testing/primeng/shared/suite-index.component.ts
  apps/examples/sandbox/src/app/testing/primeng/shared/test-scenario.component.ts
  apps/examples/sandbox/tsconfig.app.json
  apps/examples/sandbox/tsconfig.json
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
Due: lint, format

fix(docs): apply sidebar active links on initial render for direct URL navigation
  apps/docs/src/app/app.ts
Due: format

fix(examples): remove unresolvable workspace subpath import from playwright config
  apps/examples/sandbox/playwright.sandbox-config.ts
Due: format

ci: update E2E workflows to use sandbox-examples
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix(examples): cache and restore dist/internal for E2E Docker jobs
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

ci: restore dist/packages in e2e jobs for docker adapter resolution
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix(examples): fix sandbox harness bugs, CI e2e setup, and readability
  apps/examples/sandbox/src/app/host.component.ts
  internal/sandbox-harness/src/index.ts
  internal/sandbox-harness/src/lib/adapter-registry.ts
  internal/sandbox-harness/src/lib/document-proxy.ts
  internal/sandbox-harness/src/lib/memory-location-strategy.ts
  internal/sandbox-harness/src/lib/sandbox-harness.service.ts
  internal/sandbox-harness/src/lib/sandbox-mount.directive.ts
  internal/sandbox-harness/src/lib/sandbox-slot.ts
  internal/sandbox-harness/src/lib/types.ts
Due: format

fix(examples): replace APP_PORTS lookup with hardcoded ports in e2e fixture files
  apps/e2e/bootstrap/src/app/testing/shared/fixtures.ts
  apps/e2e/core/src/app/testing/shared/fixtures.ts
  apps/e2e/ionic/src/app/testing/shared/fixtures.ts
  apps/e2e/material/src/app/testing/shared/fixtures.ts
  apps/e2e/primeng/src/app/testing/shared/fixtures.ts
Due: format

fix(mcp): preserve clearCache export in doc-fetcher mock
  packages/dynamic-form-mcp/src/tools/lookup.tool.spec.ts
Due: lint, format

fix(examples): rewrite legacy page.goto routes in sandbox fixtures
  apps/examples/sandbox/src/app/testing/bootstrap/shared/fixtures.ts
  apps/examples/sandbox/src/app/testing/core/shared/fixtures.ts
  apps/examples/sandbox/src/app/testing/ionic/shared/fixtures.ts
  apps/examples/sandbox/src/app/testing/material/shared/fixtures.ts
  apps/examples/sandbox/src/app/testing/primeng/shared/fixtures.ts
Due: format

fix(examples): correct slice offset in page.goto adapter prefix rewrite
  apps/examples/sandbox/src/app/testing/bootstrap/shared/fixtures.ts
  apps/examples/sandbox/src/app/testing/core/shared/fixtures.ts
  apps/examples/sandbox/src/app/testing/material/shared/fixtures.ts
  apps/examples/sandbox/src/app/testing/primeng/shared/fixtures.ts
Due: format

fix(examples): update ionic snapshot baselines after URL unification
  apps/examples/sandbox/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/ionic-error-announcements-empty.png
  apps/examples/sandbox/src/app/testing/__snapshots__/accessibility/accessibility.spec.ts-snapshots/ionic-error-announcements-with-error.png
  apps/examples/sandbox/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/ionic-array-add-initial.png
  apps/examples/sandbox/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/ionic-array-add-three-items.png
  apps/examples/sandbox/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/examples/sandbox/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-validation-valid.png
  apps/examples/sandbox/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-validation-with-errors.png
  apps/examples/sandbox/src/app/testing/__snapshots__/group-fields/group-fields.spec.ts-snapshots/ionic-group-value-propagation-empty.png
  apps/examples/sandbox/src/app/testing/__snapshots__/group-fields/group-fields.spec.ts-snapshots/ionic-group-value-propagation-filled.png
Due: none

fix(examples): restore examples-shared-testing build target and package.json
  internal/examples-shared-testing/package.json
  internal/examples-shared-testing/project.json
Due: format

fix(docs): repair broken links, custom adapter routing, and adapter root redirects
  apps/docs/public/llms-full.txt
  apps/docs/src/app/app.routes.ts
  apps/docs/src/app/components/adapter-props/adapter-props.component.ts
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.ts
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.constants.ts
  apps/docs/src/app/serializers/adapter-url-serializer.ts
  apps/docs/src/app/services/active-adapter.service.ts
  apps/docs/src/docs/advanced/custom-integrations/index.md
  apps/docs/src/docs/ai-integration/ng-doc.page.ts
  apps/docs/src/docs/examples/contact-form/index.md
  apps/docs/src/docs/examples/index/index.md
  apps/docs/src/docs/examples/login-form/index.md
  apps/docs/src/docs/examples/paginated-form/index.md
  apps/docs/src/docs/examples/user-registration/index.md
  apps/docs/src/docs/installation/index.md
  apps/docs/src/docs/ui-libs-integrations/index.md
  internal/sandbox-harness/src/lib/sandbox-harness.service.ts
Due: format

fix(docs): add sidebar active-link highlighting on initial page load
  apps/docs/src/app/app.html
  apps/docs/src/app/app.ts
  apps/docs/src/app/directives/sidebar-active-link.directive.ts
Due: format

fix(docs): update sidebar active link on SPA navigation
  apps/docs/src/app/directives/sidebar-active-link.directive.ts
Due: format

fix(docs): reduce code block padding in integration view
  apps/docs/src/app/components/integration-view/integration-view.component.scss
Due: format

fix(docs): use ng-deep to pierce encapsulation for code block pre margin
  apps/docs/src/app/components/integration-view/integration-view.component.scss
Due: format

fix(docs): theme-aware code blocks and proper table for adapter props
  apps/docs/src/app/components/integration-view/integration-view.component.html
  apps/docs/src/app/components/integration-view/integration-view.component.scss
Due: format

fix(docs): intercept sidebar link clicks for correct adapter-prefixed navigation
  apps/docs/src/app/directives/sidebar-active-link.directive.ts
Due: format

fix(docs): compact code blocks and theme-aware styling in configuration view
  apps/docs/src/app/components/configuration-view/configuration-view.component.scss
Due: format

fix(docs): orange PREVIEW badges in adapter dropdown, remove from Custom
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.scss
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.ts
Due: format

fix(docs): intercept all internal link clicks for adapter-prefixed navigation
  apps/docs/src/app/app.html
  apps/docs/src/app/app.ts
  apps/docs/src/app/directives/adapter-link-interceptor.directive.ts
  apps/docs/src/app/directives/sidebar-active-link.directive.ts
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
