Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

docs: add changelog formatting guidelines to release skill
  .claude/skills/release.md
Due: format

chore: add oss documentation and automation (#142)
  .claude/skills/release.md
  .github/CODEOWNERS
  .github/dependabot.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: format

chore(deps): update node to 22 and pnpm to 10
  .github/workflows/ci.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .nvmrc
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  pnpm-lock.yaml
Due: format

fix(deps): use node >=20 for published libraries
  CONTRIBUTING.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

fix(deps): use tilde for angular peerdependencies
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

chore(deps): update node to 22 and pnpm to 10 (#152)
  .github/workflows/ci.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
  .nvmrc
  CONTRIBUTING.md
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  pnpm-lock.yaml
Due: format

chore(deps): ignore angular packages in dependabot
  .github/dependabot.yml
Due: none

chore(deps): ignore angular packages in dependabot (#154)
  .github/dependabot.yml
Due: none

refactor(material,bootstrap,primeng,ionic): remove generics from field components
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.type.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.type.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.type.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type.ts
Due: lint, format

fix(primeng): add missing formfield import and update e2e snapshots
  apps/examples/primeng/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/primeng-array-add-initial.png
  apps/examples/primeng/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/primeng-array-add-three-items.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-comprehensive-fields-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-comprehensive-fields-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-grid-layout-desktop.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-grid-layout-mobile.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-valid.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-with-errors.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-and-logic-both-true.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-and-logic-initial.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-disabled-logic-disabled.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-disabled-logic-enabled.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-hidden-logic-free.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-hidden-logic-premium.png
  apps/examples/primeng/src/app/testing/__snapshots__/group-fields/group-fields.spec.ts-snapshots/primeng-group-value-propagation-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/group-fields/group-fields.spec.ts-snapshots/primeng-group-value-propagation-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-back-to-page1.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-back-to-page2.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-page1.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-page2.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-page3.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-filled.png
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
Due: lint, format

revert: remove unnecessary e2e snapshot updates
  apps/examples/primeng/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/primeng-array-add-initial.png
  apps/examples/primeng/src/app/testing/__snapshots__/array-fields/array-fields.spec.ts-snapshots/primeng-array-add-three-items.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-comprehensive-fields-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-comprehensive-fields-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-grid-layout-desktop.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-grid-layout-mobile.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-valid.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-with-errors.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-and-logic-both-true.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-and-logic-initial.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-disabled-logic-disabled.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-disabled-logic-enabled.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-hidden-logic-free.png
  apps/examples/primeng/src/app/testing/__snapshots__/expression-based-logic/expression-based-logic.spec.ts-snapshots/primeng-hidden-logic-premium.png
  apps/examples/primeng/src/app/testing/__snapshots__/group-fields/group-fields.spec.ts-snapshots/primeng-group-value-propagation-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/group-fields/group-fields.spec.ts-snapshots/primeng-group-value-propagation-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-back-to-page1.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-back-to-page2.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-page1.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-page2.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-backward-nav-page3.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-filled.png
Due: none

refactor(primeng,bootstrap): remove generics from radio group components
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
Due: lint, format

fix(primeng): correct multi-checkbox selector in e2e test
  apps/examples/primeng/src/app/testing/user-journey-flows/user-journey-flows.spec.ts
Due: format

refactor(material,bootstrap,primeng,ionic): remove generics from field components (#158)
  apps/examples/primeng/src/app/testing/user-journey-flows/user-journey-flows.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.type.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.type.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.type.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.type.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type.ts
Due: lint, format

chore(deps): update angular to 21.1.0
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms/ng-package.json
  packages/dynamic-forms/package.json
  pnpm-lock.yaml
Due: lint, format

chore(deps): update angular to 21.1.0 (#159)
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms/ng-package.json
  packages/dynamic-forms/package.json
  pnpm-lock.yaml
Due: lint, format

fix(material,bootstrap,primeng,ionic): set side-effects to true for module augmentation
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/material/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
Due: format

fix(material,bootstrap,primeng,ionic): set side-effects to true for module augmentation (#161)
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/material/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
Due: format

fix(dynamic-forms): use root form validity for submit buttons in nested contexts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/submit-inside-group.scenario.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.suite.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

test(examples): add submit-inside-group e2e tests for all ui libraries
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/submit-inside-group.scenario.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/submit-inside-group.scenario.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/submit-inside-group.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.suite.ts
Due: format

docs(material,bootstrap,primeng,ionic): add comment explaining rootformregistry usage
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
Due: lint, format

fix(dynamic-forms): use root form validity for submit buttons in nested contexts (#162)
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/submit-inside-group.scenario.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/submit-inside-group.scenario.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/submit-inside-group.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/submit-inside-group.scenario.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.suite.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-specific-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-specific-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-specific-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-specific-button.mapper.ts
  packages/dynamic-forms/src/lib/index.ts
Due: lint, format

feat(dynamic-forms): add comprehensive html input type support
  packages/dynamic-forms/integration/src/definitions/index.ts
  packages/dynamic-forms/integration/src/definitions/input-field.ts
  packages/dynamic-forms/integration/src/public_api.ts
Due: lint, format

refactor(material): clean up component templates and effects
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
Due: lint, format

refactor(ionic): standardize accessibility signal naming and add aria-describedby
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
Due: lint, format

refactor(material): clean up component templates and effects (#164)
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
Due: lint, format

refactor(primeng): clean up signal forms integration
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
Due: lint, format

refactor(bootstrap): clean up component templates and effects
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
Due: lint, format

refactor(primeng): standardize control wrappers to use ngmodel
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
Due: lint, format

refactor(bootstrap): clean up component templates and effects (#168)
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
Due: lint, format

fix(ionic): add aria-describedby to toggle for screen reader error announcements
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
Due: lint, format

fix(primeng): improve aria-invalid and touch handling in control wrappers
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
Due: lint, format

fix(primeng): handle typed input in datepicker control wrapper
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-valid.png
  apps/examples/primeng/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/primeng-validation-with-errors.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page1-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page2-filled.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-empty.png
  apps/examples/primeng/src/app/testing/__snapshots__/multi-page-navigation/multi-page-navigation.spec.ts-snapshots/primeng-multi-page-registration-page3-filled.png
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
Due: lint, format

refactor(ionic): standardize accessibility signal naming and add aria-describedby (#165)
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
Due: lint, format

refactor(ionic): integrate helper text into existing test scenarios
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-comprehensive-fields-empty.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-comprehensive-fields-filled.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-desktop.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-grid-layout-mobile.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-validation-valid.png
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-validation-with-errors.png
  apps/examples/ionic/src/app/testing/__snapshots__/helper-text/helper-text.spec.ts-snapshots/ionic-helper-text-after-interactions.png
  apps/examples/ionic/src/app/testing/__snapshots__/helper-text/helper-text.spec.ts-snapshots/ionic-helper-text-all-fields.png
  apps/examples/ionic/src/app/testing/comprehensive-field-tests/scenarios/comprehensive-fields.scenario.ts
  apps/examples/ionic/src/app/testing/helper-text/helper-text.routes.ts
  apps/examples/ionic/src/app/testing/helper-text/helper-text.spec.ts
  apps/examples/ionic/src/app/testing/helper-text/helper-text.suite.ts
  apps/examples/ionic/src/app/testing/helper-text/scenarios/helper-text-fields.scenario.ts
  apps/examples/ionic/src/app/testing/shared/test-suite.registry.ts
  apps/examples/ionic/src/app/testing/testing-routes.ts
Due: format

feat(ionic): add helper text support to all form field components
  apps/examples/ionic/src/app/testing/__snapshots__/helper-text/helper-text.spec.ts-snapshots/ionic-helper-text-after-interactions.png
  apps/examples/ionic/src/app/testing/__snapshots__/helper-text/helper-text.spec.ts-snapshots/ionic-helper-text-all-fields.png
  apps/examples/ionic/src/app/testing/helper-text/helper-text.routes.ts
  apps/examples/ionic/src/app/testing/helper-text/helper-text.spec.ts
  apps/examples/ionic/src/app/testing/helper-text/helper-text.suite.ts
  apps/examples/ionic/src/app/testing/helper-text/scenarios/helper-text-fields.scenario.ts
  apps/examples/ionic/src/app/testing/shared/test-suite.registry.ts
  apps/examples/ionic/src/app/testing/testing-routes.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type.ts
Due: lint, format

refactor(ionic): clean up templates and add button hidden handling
  apps/examples/ionic/src/app/testing/__snapshots__/comprehensive-field-tests/comprehensive-field-tests.spec.ts-snapshots/ionic-comprehensive-fields-filled.png
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
Due: lint, format

fix(ionic): remove duplicate styles property in button component
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.component.ts
Due: lint, format

test: increase screenshot diff tolerance for cross-platform rendering
  libs/examples-shared-testing/src/lib/base-fixtures.ts
Due: format

test(ionic): add helper text to type test expected keys
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type-test.ts
Due: lint, format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
