Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "packages/**/*.{ts,js}"
      run: pnpm eslint {staged_files} --fix
    format:
      glob: "*.{ts,js,json,md,html,scss,css}"
      run: pnpm prettier --write {staged_files}

commit-msg:
  commands:
    commitlint:
      run: echo "Commit message format validated"

ci: add ionic-examples to E2E test matrix
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix: remove invalid eslint-disable comments
  apps/examples/ionic/eslint.config.mjs
  apps/examples/ionic/src/app/examples/shared/example-scenario.component.ts
Due: format

fix: update ionic toggle control component
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
Due: lint, format

ci: consolidate e2e browser tests into single job per app
  .github/workflows/ci.yml
Due: none

ci: consolidate e2e browser tests into single job per app (#88)
  .github/workflows/ci.yml
Due: none

chore: add Claude Code release skill
  .claude/skills/release.md
Due: format

chore: add Claude Code release skill (#89)
  .claude/skills/release.md
Due: format

chore(release): bump version to 0.1.0
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

chore(release): publish 0.1.0
  CHANGELOG.md
Due: format

chore: simplify release workflow to use workflow_dispatch only
  .claude/skills/release.md
  .github/workflows/release.yml
Due: format

chore(release): v0.1.0 (#91)
  .claude/skills/release.md
  .github/workflows/release.yml
  CHANGELOG.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

chore: simplify release workflow
  .claude/skills/release.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format

chore: use dropdown for release mode
  .github/workflows/release.yml
Due: none

chore: trigger release workflow on push to show in PR
  .github/workflows/release.yml
Due: none

chore: simplify release workflow (#92)
  .claude/skills/release.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format

chore(config): enforce angular-style commit format
  .github/workflows/pr-check.yml
  CONTRIBUTING.md
  commitlint.config.js
  lefthook.yml
  nx.json
  package.json
  pnpm-lock.yaml
Due: format

docs: add commit format guidelines to documentation
  CLAUDE.md
  CODING_STANDARDS.md
Due: format

ci: consolidate workflow jobs and add ai attribution rule
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  CLAUDE.md
Due: format

chore(config): enforce angular-style commit format (#94)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  CLAUDE.md
  CODING_STANDARDS.md
  CONTRIBUTING.md
  commitlint.config.js
  lefthook.yml
  nx.json
  package.json
  pnpm-lock.yaml
Due: format

fix(dynamic-forms): update form-internals for angular 21.0.5 signal forms api
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/dynamic-forms/src/lib/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/utils/create-resolved-errors-signal.spec.ts
  packages/dynamic-forms/src/lib/utils/form-internals/form-internals.ts
  pnpm-lock.yaml
Due: lint, format

fix(dynamic-forms): update form-internals for angular 21.0.5 signal forms api (#95)
  package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/dynamic-forms/src/lib/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.ts
  packages/dynamic-forms/src/lib/utils/create-resolved-errors-signal.spec.ts
  packages/dynamic-forms/src/lib/utils/form-internals/form-internals.ts
  pnpm-lock.yaml
Due: lint, format

chore(release): bump version to 0.1.1
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

docs(release): clarify workflow behavior and version updates
  .claude/skills/release.md
  CONTRIBUTING.md
Due: format

ci: skip pr check workflow for release branches
  .github/workflows/pr-check.yml
Due: none

chore(release): bump version to 0.1.1 (#97)
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

fix(dynamic-forms): widen literal types in form value inference
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
Due: lint, format

ci: validate pr title instead of all commits
  .github/workflows/pr-check.yml
  CLAUDE.md
  CONTRIBUTING.md
Due: format

chore(config): enforce angular-style commit format and consolidate ci (#98)
  .claude/skills/release.md
  .github/workflows/pr-check.yml
  CLAUDE.md
  CONTRIBUTING.md
Due: format

feat(dynamic-forms): add field type extraction and narrowing helpers
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/models/registry/index.ts
Due: lint, format

refactor(dynamic-forms): simplify form value inference api
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/models/registry/index.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
Due: lint, format

fix(dynamic-forms): fix documentation and export new type utilities
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/index.ts
Due: lint, format

refactor(dynamic-forms): use explicit exports in ui library entry points
  packages/dynamic-forms-bootstrap/src/index.ts
  packages/dynamic-forms-material/src/index.ts
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
Due: lint, format

fix(dynamic-forms): support both readonly and mutable arrays in formconfig
  packages/dynamic-forms/src/lib/models/form-config.ts
Due: lint, format

feat(dynamic-forms): improve form value type inference and add field type utilities (#99)
  packages/dynamic-forms-bootstrap/src/index.ts
  packages/dynamic-forms-material/src/index.ts
  packages/dynamic-forms-primeng/src/index.ts
  packages/dynamic-forms-primeng/src/lib/index.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/models/registry/index.ts
  packages/dynamic-forms/src/lib/models/types/form-value-inference.ts
Due: lint, format

docs: improve package readmes and metadata
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format

docs: improve package readmes and metadata (#100)
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format
