Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

build(dynamic-forms): replace public_api generation with an nx sync generator
  .github/workflows/_build-test.yml
  packages/dynamic-forms/internal/src/public_api.ts
  packages/dynamic-forms/project.json
  scripts/refactor/gen-public-api.mjs
  tools/workspace-plugin/generators.json
  tools/workspace-plugin/package.json
  tools/workspace-plugin/project.json
  tools/workspace-plugin/src/generators/gen-public-api/generator.ts
  tools/workspace-plugin/src/generators/gen-public-api/schema.json
  tools/workspace-plugin/src/index.ts
  tsconfig.base.json
Due: lint, format

test(config): cover the gen-public-api sync generator
  tools/workspace-plugin/project.json
  tools/workspace-plugin/src/generators/gen-public-api/generator.spec.ts
  tools/workspace-plugin/tsconfig.json
  tools/workspace-plugin/vite.config.ts
Due: format

feat(dynamic-forms): graduate core and ui adapters to stable
  README.md
  apps/docs/public/content/dynamic-behavior/derivation/property.md
  apps/docs/public/content/dynamic-behavior/derivation/values.md
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.scss
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.ts
  apps/e2e/bootstrap/src/app/testing/accessibility/accessibility.spec.ts
  apps/e2e/core/src/app/testing/container-nesting/container-nesting.spec.ts
  apps/e2e/core/src/app/testing/derivation-logic/derivation-logic.spec.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format

fix(dynamic-forms): address code review findings on group derivation scoping
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
Due: lint, format

test(dynamic-forms): enforce internal and integration definition type-tests in CI (#487)
  packages/dynamic-forms/integration/src/definitions/datepicker-field.type-test.ts
  packages/dynamic-forms/integration/src/definitions/input-field.type-test.ts
  packages/dynamic-forms/integration/src/definitions/select-field.type-test.ts
  packages/dynamic-forms/project.json
  packages/dynamic-forms/tsconfig.typecheck-definitions.json
  packages/dynamic-forms/vite.config.typecheck-definitions.ts
Due: lint, format

docs(mcp): correct expression scoping notes and align readme prose
  README.md
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
  packages/dynamic-forms/internal/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
Due: lint, format

style(docs): tighten adapter dropdown width after preview badge removal
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.scss
Due: format

feat(dynamic-forms): graduate core and ui adapters to stable (#488)
  apps/docs/public/content/dynamic-behavior/derivation/property.md
  apps/docs/public/content/dynamic-behavior/derivation/values.md
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.scss
  apps/docs/src/app/components/adapter-sub-bar/adapter-sub-bar.component.ts
  apps/e2e/bootstrap/src/app/testing/accessibility/accessibility.spec.ts
  apps/e2e/core/src/app/testing/container-nesting/container-nesting.spec.ts
  apps/e2e/core/src/app/testing/derivation-logic/derivation-logic.spec.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/internal/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-sorter.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/property-derivation/property-derivation-applicator.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format

docs: address review feedback on addon and adapter contract wording
  apps/docs/public/content/addons/overview.md
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/examples/user-registration.md
Due: format

docs: fix SEO inconsistencies in sitemap and llms.txt
  apps/docs/plugins/vite-plugin-docs-meta.spec.ts
  apps/docs/public/llms.txt
  apps/docs/scripts/generate-llms-full.ts
  apps/docs/scripts/generate-sitemap.spec.ts
  apps/docs/scripts/generate-sitemap.ts
Due: format

fix(dynamic-forms): widen Angular peer ranges to ^22.0.0 and reconcile README matrices
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format

refactor(dynamic-forms): shrink and gate the /internal entrypoint surface
  etc/dynamic-forms-internal.api.md
  packages/dynamic-forms/api-extractor.internal.json
  packages/dynamic-forms/internal/src/public_api.ts
  packages/dynamic-forms/project.json
  tools/workspace-plugin/src/generators/gen-public-api/generator.ts
Due: lint, format

fix(mcp): declare zod-to-json-schema, bump ts-morph to ^28, add publish smoke test
  package.json
  packages/dynamic-form-mcp/eslint.config.mjs
  packages/dynamic-form-mcp/package.json
  scripts/mcp-smoke-test.mjs
Due: format

fix(mcp): sync zod schemas and registry with kebab array-action types and add the 4 missing types
  internal/dynamic-forms-zod/bootstrap/src/bs-leaf-field.schema.ts
  internal/dynamic-forms-zod/bootstrap/src/fields/index.ts
  internal/dynamic-forms-zod/ionic/src/fields/index.ts
  internal/dynamic-forms-zod/ionic/src/ionic-leaf-field.schema.ts
  internal/dynamic-forms-zod/material/src/fields/mat-button-field.schema.ts
  internal/dynamic-forms-zod/material/src/mat-field.schema.ts
  internal/dynamic-forms-zod/material/src/mat-leaf-field.schema.ts
  internal/dynamic-forms-zod/mcp/src/tools/validate-config.tool.ts
  internal/dynamic-forms-zod/primeng/src/fields/index.ts
  internal/dynamic-forms-zod/primeng/src/prime-leaf-field.schema.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/registry/wrappers.ts
  packages/dynamic-form-mcp/src/tools/array-action-parity.spec.ts
  packages/dynamic-form-mcp/src/tools/data/lookup-topics.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.spec.ts
  packages/dynamic-form-mcp/src/tools/examples.tool.ts
Due: lint, format

docs(dynamic-forms): fix stale README documentation links to adapter-scoped routes
  README.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
Due: format

ci: key node_modules and playwright caches by lockfile hash
  .github/actions/setup-node-restore/action.yml
  .github/workflows/_build-test.yml
Due: none

ci: key node_modules and playwright caches by lockfile hash (#494)
  .github/actions/setup-node-restore/action.yml
  .github/workflows/_build-test.yml
Due: none

docs(dynamic-forms): correct README accuracy across openapi, mcp, core, and root
  README.md
  packages/dynamic-form-mcp/README.md
  packages/dynamic-forms/README.md
  packages/openapi-generator/README.md
Due: format

docs(dynamic-forms): link the feature overview page from package READMEs
  README.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
Due: format

ci(mcp): run the publish smoke test in CI via an nx smoke target
  .github/workflows/_build-test.yml
  package.json
  packages/dynamic-form-mcp/project.json
Due: format

refactor(ionic): rename internal addon helper types to Ionic* for consistency
  packages/dynamic-forms-ionic/src/lib/types/addons.ts
Due: lint, format

fix(deps): remediate dependabot security advisories
  package.json
  pnpm-lock.yaml
Due: format

chore(dynamic-forms): refresh API goldens after merging main (TS 6 union ordering, ionic helpers)
  etc/dynamic-forms-ionic.api.md
  etc/dynamic-forms-material.api.md
  etc/dynamic-forms-primeng.api.md
  etc/dynamic-forms.api.md
Due: format

ci: pin GitHub Actions to commit SHAs
  .github/actions/setup-node-restore/action.yml
  .github/workflows/_build-test.yml
  .github/workflows/_vercel-deploy.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/pr-check.yml
  .github/workflows/release.yml
Due: none

docs(dynamic-forms): shrink package README compatibility matrices to match the root README
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
Due: format

fix(dynamic-forms): exclude all 6 array-action button types from InferFormValue
  etc/dynamic-forms.api.md
  packages/dynamic-forms/internal/src/lib/models/types/form-value-inference.ts
  packages/dynamic-forms/src/lib/form-value-inference.test-registry.type-test.ts
  packages/dynamic-forms/src/lib/form-value-inference.type-test.ts
Due: lint, format

fix(docs): sync StackBlitz template Angular versions to 22.0.1
  apps/docs/src/app/components/live-example/stackblitz-project.ts
Due: format

refactor(primeng): convert PrimeField enum to an as-const object for adapter consistency
  etc/dynamic-forms-primeng.api.md
  packages/dynamic-forms-primeng/src/lib/types/types.ts
Due: lint, format

ci(release): add an api-extractor golden gate for openapi-generator
  etc/openapi-generator.api.md
  packages/openapi-generator/api-extractor.json
  packages/openapi-generator/project.json
Due: format

fix(dynamic-forms): declare the ngxtension dependency in all 4 UI adapters
  packages/dynamic-forms-bootstrap/ng-package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/ng-package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/ng-package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/ng-package.json
  packages/dynamic-forms-primeng/package.json
Due: format

build(release): rewrite inter-package peer ranges on stable version bump
  nx.json
Due: format

fix(deps): remediate dependabot security advisories (#497)
  apps/docs/src/app/components/live-example/stackblitz-project.ts
  package.json
  pnpm-lock.yaml
Due: format

fix(mcp): bundle internal zod types into the published .d.ts
  etc/dynamic-form-mcp.api.md
  packages/dynamic-form-mcp/api-extractor.dts.json
  packages/dynamic-form-mcp/api-extractor.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/project.json
Due: format

ci: correct stale api-check comment now that openapi-generator has a golden
  .github/workflows/_build-test.yml
Due: none

chore(dynamic-forms): refresh api goldens for clean-build union ordering
  etc/dynamic-forms-primeng.api.md
  etc/dynamic-forms.api.md
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
