Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(dynamic-forms): preserve nested array-item defaults on partial value (#389)
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/utils/object-utils.spec.ts
  packages/dynamic-forms/src/lib/utils/object-utils.ts
Due: lint, format

refactor: added new tests
  apps/e2e/core/src/app/testing/cascading-validation/cascading-validation.routes.ts
  apps/e2e/core/src/app/testing/cascading-validation/cascading-validation.spec.ts
  apps/e2e/core/src/app/testing/cascading-validation/cascading-validation.suite.ts
  apps/e2e/core/src/app/testing/cascading-validation/scenarios/array-nested-hidden-required.scenario.ts
  apps/e2e/core/src/app/testing/cascading-validation/scenarios/basic-hidden-required.scenario.ts
  apps/e2e/core/src/app/testing/cascading-validation/scenarios/cascade-middle-override.scenario.ts
  apps/e2e/core/src/app/testing/cascading-validation/scenarios/field-validate-when-hidden.scenario.ts
  apps/e2e/core/src/app/testing/cascading-validation/scenarios/form-validate-when-hidden.scenario.ts
  apps/e2e/core/src/app/testing/cascading-validation/scenarios/group-cascade-hidden.scenario.ts
  apps/e2e/core/src/app/testing/cascading-validation/scenarios/toggle-hidden-required.scenario.ts
  apps/e2e/core/src/app/testing/shared/test-suite.registry.ts
  apps/e2e/core/src/app/testing/testing-routes.ts
Due: format

refactor: coderabbit review changes
  apps/e2e/core/src/app/testing/cascading-validation/scenarios/cascade-middle-override.scenario.ts
  internal/dynamic-forms-zod/src/lib/schemas/form/form-options.schema.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.type-test.ts
  packages/dynamic-forms/src/lib/providers/features/validation-execution/with-validation-execution-defaults.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

test(dynamic-forms): wire integration mapper specs into the test sweep
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/checkbox/checkbox-field-mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/datepicker/datepicker-field-mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/select/options-field-mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.spec.ts
  packages/dynamic-forms/tsconfig.spec.json
  packages/dynamic-forms/vite.config.ts
Due: lint, format

fix(dynamic-forms): refresh field props on same-key config changes
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-field-processors.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.spec.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

refactor(dynamic-forms): clarify regression test comment from coderabbit feedback
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format

fix(dynamic-forms): refresh field props on same-key config changes (#393)
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-field-processors.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.spec.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

fix(docs): prevent double adapter prefix on routerLink-resolved hrefs
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

fix(docs): prevent double adapter prefix on routerLink-resolved hrefs (#395)
  apps/docs/src/app/pages/doc-page/doc-page.component.ts
Due: format

ci(release): reattribute deploy commit author to bypass vercel seat check
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-vercel.yml
Due: none

ci(release): read deploy author identity from repo secrets
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-vercel.yml
Due: none

ci(release): reattribute deploy commit author to bypass vercel seat check (#396)
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-vercel.yml
Due: none

ci(release): read RELEASE_APP_ID from secrets, not vars
  .github/workflows/release.yml
Due: none

refactor(dynamic-forms): swap runtime ɵdir peek for compile-time lockstep
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.spec.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
Due: lint, format

ci(release): generate App token up-front so a broken token can't publish
  .github/workflows/release.yml
Due: none

refactor(dynamic-forms): rename injected NgForgeField from field to ngf
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
Due: lint, format

ci(release): post Discord alert when release workflow fails
  .github/workflows/discord-release-notify.yml
Due: none

fix(dynamic-forms): stop excludeValueIfHidden from leaking defaults into bound value
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
Due: lint, format

ci(release): make nightly publish self-correcting (#397)
  .github/workflows/discord-release-notify.yml
  .github/workflows/release.yml
Due: none

docs: rewrite custom-integration + custom-fields pages around NgForgeField
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/recipes/custom-fields.md
Due: format

fix(dynamic-forms): preserve nested-field values across hide/show; address review feedback
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

fix(dynamic-forms): apply static exclusion to componentless fields
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
Due: lint, format

fix(dynamic-forms): scope value-exclusion bound-sync to explicit opt-in only
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

fix(dynamic-forms): tighten saved-store + document bound-sync asymmetry
  apps/docs/public/content/recipes/value-exclusion.md
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

docs: regenerate llms-full.txt after value-exclusion update
  apps/docs/public/llms-full.txt
Due: none

fix(dynamic-forms): extend saved-value store to disabled/readonly cycles
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

feat(dynamic-forms): support descendant selector on NgForgeControl
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-controls.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.spec.ts
Due: lint, format

fix(docs): adapter switcher escape route + sidebar/heading rendering
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/guards/content-redirect.guard.ts
  apps/docs/src/app/services/active-adapter.service.ts
Due: format

fix(dynamic-forms): stop excludeValueIfHidden from leaking defaults into bound value (#398)
  apps/docs/public/content/recipes/value-exclusion.md
  apps/docs/public/llms-full.txt
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
  packages/dynamic-forms/src/lib/utils/value-filter/value-filter.ts
Due: lint, format

fix(bootstrap): wire ngf.meta() into bs-radio-group so meta lands on inputs
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
Due: lint, format

refactor(dynamic-forms): drop redundant detectChanges in field outlet mount
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
Due: lint, format

docs(dynamic-forms): clarify defaultValidationMessages + author caveats
  apps/docs/public/content/building-an-adapter.md
  apps/docs/public/content/recipes/custom-fields.md
  apps/docs/public/llms-full.txt
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
Due: lint, format

feat(dynamic-forms): markers absorb aria attribute forwarding
  packages/dynamic-forms/integration/src/directives/ng-forge-controls.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.spec.ts
Due: lint, format

refactor(dynamic-forms): drop redundant aria bindings now absorbed by markers
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.component.ts
Due: lint, format

refactor(dynamic-forms): sub-components consume ambient NgForgeField meta
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
Due: lint, format

feat(dynamic-forms): warn in dev when NgForgeField meta is unclaimed
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio-group.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio-group.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-controls.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.spec.ts
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
Due: lint, format

chore(dynamic-forms): deprecate defaultValidationMessages input
  packages/dynamic-forms/integration/src/directives/ng-forge-field.directive.ts
  packages/dynamic-forms/integration/src/mappers/value/value-field.mapper.ts
Due: lint, format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
