Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix

format:
  run: pnpm prettier --write {staged_files}

fix: remove extra /docs/ segment from documentation URLs
  README.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
Due: format

fix: correct Material Design route in sitemap and package.json
  apps/docs/public/sitemap.xml
  packages/dynamic-forms-material/package.json
Due: format

fix(dynamic-forms): prevent array item recreation on value changes
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
Due: lint, format

fix: use /material route instead of /material-design
  apps/docs/public/sitemap.xml
  apps/docs/src/docs/ui-libs-integrations/material/ng-doc.page.ts
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
Due: format

fix(dynamic-forms): use natural size for row items without col
  apps/docs/src/docs/examples/paginated-form/index.md
  apps/docs/src/docs/examples/user-registration/index.md
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
Due: format

feat: complete migration to Vercel and update domain links (#78)
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/deploy.yml
  README.md
  apps/docs/public/llms.txt
  apps/docs/public/robots.txt
  apps/docs/public/sitemap.xml
  apps/docs/src/docs/core/validation/custom-validators.md
  apps/docs/src/docs/ui-libs-integrations/material/ng-doc.page.ts
  apps/docs/src/index.html
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/dynamic-forms/package.json
Due: format

feat(dynamic-forms): use native form element as host
  README.md
  apps/docs/src/docs/core/conditional-logic/examples.md
  apps/docs/src/docs/core/events/index.md
  apps/docs/src/docs/core/i18n/index.md
  apps/docs/src/docs/core/submission/index.md
  apps/docs/src/docs/examples/conditional-logic-showcase/index.md
  apps/docs/src/docs/examples/contact-form/index.md
  apps/docs/src/docs/examples/login-form/index.md
  apps/docs/src/docs/examples/paginated-form/index.md
  apps/docs/src/docs/examples/user-registration/index.md
  apps/docs/src/docs/installation/index.md
  apps/docs/src/docs/prebuilt/form-arrays/index.md
  apps/docs/src/docs/prebuilt/form-groups/index.md
  apps/docs/src/docs/prebuilt/form-rows/index.md
  apps/docs/src/docs/ui-libs-integrations/bootstrap/index.md
  apps/docs/src/docs/ui-libs-integrations/ionic/index.md
  apps/docs/src/docs/ui-libs-integrations/material/index.md
  apps/docs/src/docs/ui-libs-integrations/primeng/index.md
  apps/docs/src/docs/what-is-dynamic-forms/index.md
  apps/examples/bootstrap/src/app/examples/shared/example-scenario.component.ts
  apps/examples/ionic/src/app/examples/shared/example-scenario.component.ts
  apps/examples/material/src/app/examples/conditional-logic-showcase-demo.component.ts
  apps/examples/material/src/app/examples/expression-validators-demo.component.ts
  apps/examples/material/src/app/examples/shared/example-scenario.component.ts
  apps/examples/material/src/app/testing/shared/suite-index.component.ts
  apps/examples/material/src/app/testing/shared/test-scenario.component.ts
  apps/examples/primeng/src/app/examples/shared/example-scenario.component.ts
  guides/01-architecture-overview.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

fix(dynamic-forms-material): sync readonly attribute to DOM for input/textarea
  apps/examples/material/src/app/testing/array-fields/scenarios/array-add.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-max-length.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-min-length.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-remove.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-values.scenario.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.spec.ts
  apps/examples/material/src/app/testing/expression-based-logic/scenarios/readonly-logic.scenario.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
Due: lint, format

fix: group array value propagation (#74)
  apps/docs/src/docs/examples/paginated-form/index.md
  apps/docs/src/docs/examples/user-registration/index.md
  apps/examples/material/src/app/examples/scenarios/paginated-form.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-add.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-max-length.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-min-length.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-remove.scenario.ts
  apps/examples/material/src/app/testing/array-fields/scenarios/array-values.scenario.ts
  apps/examples/material/src/app/testing/expression-based-logic/expression-based-logic.spec.ts
  apps/examples/material/src/app/testing/expression-based-logic/scenarios/readonly-logic.scenario.ts
  apps/examples/material/src/app/testing/group-fields/group-fields.routes.ts
  apps/examples/material/src/app/testing/group-fields/group-fields.spec.ts
  apps/examples/material/src/app/testing/group-fields/group-fields.suite.ts
  apps/examples/material/src/app/testing/group-fields/scenarios/group-initial-values.scenario.ts
  apps/examples/material/src/app/testing/group-fields/scenarios/group-nested.scenario.ts
  apps/examples/material/src/app/testing/group-fields/scenarios/group-value-propagation.scenario.ts
  apps/examples/material/src/app/testing/testing-routes.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
Due: lint, format

fix: update navigation links from /ng-forge/ to /dynamic-forms/
  apps/docs/public/404.html
  apps/docs/src/app/app.html
Due: format

fix: update Vercel rewrites to exclude static assets
  vercel.json
Due: format

fix(docs): improve iframe auto-sizing with URL-based message filtering
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  apps/docs/src/docs/examples/array-field/array-field-iframe-demo.component.ts
  apps/docs/src/docs/examples/group-field/group-field-iframe-demo.component.ts
  apps/docs/src/docs/examples/row-field/row-field-iframe-demo.component.ts
  apps/docs/src/docs/ui-libs-integrations/ionic/examples/complete-form-iframe-demo.component.ts
  apps/docs/src/docs/ui-libs-integrations/material/examples/complete-form-iframe-demo.component.ts
  apps/docs/src/docs/ui-libs-integrations/primeng/examples/complete-form-iframe-demo.component.ts
  apps/docs/src/docs/what-is-dynamic-forms/demo-form-playground.component.ts
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/bootstrap/src/main.ts
  apps/examples/bootstrap/src/styles.scss
  apps/examples/ionic/src/app/app.ts
  apps/examples/ionic/src/main.ts
  apps/examples/ionic/src/styles.scss
  apps/examples/material/src/app/app.ts
  apps/examples/material/src/main.ts
  apps/examples/material/src/styles.scss
  apps/examples/primeng/src/app/app.ts
  apps/examples/primeng/src/main.ts
  apps/examples/primeng/src/styles.scss
Due: format

fix: enable git deployments for Vercel previews
  vercel.json
Due: format

fix: skip Vercel auto-deploys for main branch
  vercel.json
Due: format

fix(docs): Vercel preview white screen issue (#79)
  apps/docs/public/404.html
  apps/docs/src/app/app.html
  vercel.json
Due: format

fix(docs): improve iframe auto-sizing with URL-based message filtering (#80)
  apps/docs/src/app/components/example-iframe/example-iframe.component.ts
  apps/docs/src/docs/examples/array-field/array-field-iframe-demo.component.ts
  apps/docs/src/docs/examples/group-field/group-field-iframe-demo.component.ts
  apps/docs/src/docs/examples/row-field/row-field-iframe-demo.component.ts
  apps/docs/src/docs/ui-libs-integrations/ionic/examples/complete-form-iframe-demo.component.ts
  apps/docs/src/docs/ui-libs-integrations/material/examples/complete-form-iframe-demo.component.ts
  apps/docs/src/docs/ui-libs-integrations/primeng/examples/complete-form-iframe-demo.component.ts
  apps/docs/src/docs/what-is-dynamic-forms/demo-form-playground.component.ts
  apps/examples/bootstrap/src/app/app.ts
  apps/examples/bootstrap/src/main.ts
  apps/examples/bootstrap/src/styles.scss
  apps/examples/ionic/src/app/app.ts
  apps/examples/ionic/src/main.ts
  apps/examples/ionic/src/styles.scss
  apps/examples/material/src/app/app.ts
  apps/examples/material/src/main.ts
  apps/examples/material/src/styles.scss
  apps/examples/primeng/src/app/app.ts
  apps/examples/primeng/src/main.ts
  apps/examples/primeng/src/styles.scss
Due: format

feat(mappers): add datepicker and options field mappers
  packages/dynamic-forms-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-forms-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-primeng/src/lib/config/primeng-field-config.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/datepicker/datepicker-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/datepicker/datepicker-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/mappers/select/options-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/select/options-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.ts
Due: lint, format

fix(tests): improve flaky e2e test reliability
  apps/examples/material/src/app/testing/error-handling/error-handling.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
Due: format

refactor(dynamic-forms): research mapper inclusion (#75)
  apps/examples/material/src/app/testing/error-handling/error-handling.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/config/bootstrap-field-config.ts
  packages/dynamic-forms-ionic/src/lib/config/ionic-field-config.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-primeng/src/lib/config/primeng-field-config.ts
  packages/dynamic-forms/src/lib/core/form-mapping.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/base/base-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/checkbox/checkbox-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/checkbox/checkbox-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/datepicker/datepicker-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/datepicker/datepicker-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/mappers/select/options-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/select/options-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/text/text-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/value/value-field.mapper.ts
Due: lint, format

upgrade versions for bootstrap, ionic, etc.
  package.json
  pnpm-lock.yaml
Due: format

chore: upgrade packages (#81)
  package.json
  pnpm-lock.yaml
Due: format

fix(e2e): resolve failing multi-page navigation and submission tests
  CLAUDE.md
  apps/examples/material/src/app/testing/multi-page-navigation/multi-page-navigation.spec.ts
  apps/examples/material/src/app/testing/shared/fixtures.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
Due: format

ci: use nx affected for selective e2e tests
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

ci: add matrix strategy for E2E tests with sharding per app
  .github/workflows/pr-check.yml
Due: none

fix lint
  apps/examples/primeng/eslint.config.mjs
Due: none

ci: run E2E tests with chromium only on PRs
  .github/workflows/pr-check.yml
Due: none

fix(primeng-examples): correct component selectors to use generic prefixes
  apps/examples/primeng/src/app/examples/shared/example-scenario.component.ts
  apps/examples/primeng/src/app/testing/shared/suite-index.component.ts
  apps/examples/primeng/src/app/testing/shared/test-scenario.component.ts
  apps/examples/primeng/src/app/testing/test-index.component.ts
Due: format

fix(primeng): re-integrate tabIndex support for textarea component
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea-control.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.component.ts
Due: lint, format

fix: update E2E tests and improve ionic input component
  apps/examples/ionic/src/app/testing/comprehensive-field-tests/comprehensive-field-tests.spec.ts
  apps/examples/ionic/src/app/testing/cross-field-validation/cross-field-validation.spec.ts
  apps/examples/ionic/src/app/testing/demo-scenarios/demo-scenarios-test.spec.ts
  apps/examples/ionic/src/app/testing/user-journey-flows/scenarios/checkout-journey.scenario.ts
  apps/examples/ionic/src/app/testing/user-journey-flows/user-journey-flows.spec.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.component.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle-control.component.ts
Due: lint, format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
