Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(dynamic-forms): park scrolled-away fields out of change detection
  etc/dynamic-forms-internal.api.md
  etc/dynamic-forms.api.md
  packages/dynamic-forms/internal/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/parking-mechanism.spec.ts
  packages/dynamic-forms/src/lib/field-parking.integration.spec.ts
  packages/dynamic-forms/src/lib/field-windowing.integration.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/field-windowing.token.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/with-field-windowing.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/with-field-windowing.ts
Due: lint, format

fix(dynamic-forms): keep a park-only override from switching mounting strategy
  packages/dynamic-forms/src/lib/field-parking.integration.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.ts
Due: lint, format

fix(dynamic-forms): stop parking fields on forms that never asked for it
  packages/dynamic-forms/internal/src/lib/models/form-config.ts
  packages/dynamic-forms/src/lib/field-parking.integration.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/field-windowing.token.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/with-field-windowing.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/with-field-windowing.ts
Due: lint, format

perf(dynamic-forms): preload field and wrapper chunks in parallel
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/utils/preload-form-components/preload-form-components.spec.ts
  packages/dynamic-forms/src/lib/utils/preload-form-components/preload-form-components.ts
Due: lint, format

fix(dynamic-forms): address field parking review findings
  apps/docs/public/content/configuration.md
  etc/dynamic-forms.api.md
  packages/dynamic-form-mcp/src/registry/instructions.spec.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.spec.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/field-parking.integration.spec.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.ts
  packages/dynamic-forms/src/lib/utils/preload-form-components/preload-form-components.spec.ts
  packages/dynamic-forms/src/lib/utils/preload-form-components/preload-form-components.ts
Due: lint, format

docs(dynamic-forms): refresh generated skill reference
  skills/dynamic-forms/references/rules.md
Due: format

test(dynamic-forms): use OnPush parking host
  packages/dynamic-forms/src/lib/field-parking.integration.spec.ts
Due: lint, format

fix(material): isolate select addon clicks and clarify preset support
  apps/docs/public/content/addons/overview.md
  apps/docs/public/content/addons/presets-and-actions.md
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker-with-addons.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select-with-addons.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea-with-addons.component.spec.ts
Due: lint, format

test(dynamic-forms): make cache-path regression deterministic
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format

fix(dynamic-forms): harden field parking and preloading
  apps/docs/public/content/configuration.md
  etc/dynamic-forms-internal.api.md
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.json
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/internal/src/lib/models/form-config.ts
  packages/dynamic-forms/internal/src/lib/models/index.ts
  packages/dynamic-forms/internal/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.ts
  packages/dynamic-forms/src/lib/field-parking.integration.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/field-parking-margin.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.ts
  packages/dynamic-forms/src/lib/utils/preload-form-components/preload-form-components.spec.ts
  packages/dynamic-forms/src/lib/utils/preload-form-components/preload-form-components.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
  skills/dynamic-forms/references/rules.md
Due: lint, format

fix(mcp): stabilize generated skill output
  scripts/generate-skills.ts
  skills/tests/generate-skills.spec.ts
Due: format

refactor(dynamic-forms): stream viewport visibility
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.json
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-parking-state.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.ts
  packages/dynamic-forms/src/lib/field-parking.integration.spec.ts
Due: lint, format

feat(dynamic-forms): park scrolled-away fields out of change detection (#593)
  apps/docs/public/content/configuration.md
  etc/dynamic-forms-internal.api.md
  etc/dynamic-forms.api.md
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.json
  packages/dynamic-form-mcp/src/registry/instructions.spec.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/internal/src/lib/models/form-config.ts
  packages/dynamic-forms/internal/src/lib/models/index.ts
  packages/dynamic-forms/internal/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.spec.ts
  packages/dynamic-forms/src/lib/core/page-orchestrator/page-orchestrator.component.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-component-slot.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-parking-state.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/field-viewport-observer.service.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/parking-mechanism.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/field-parking.integration.spec.ts
  packages/dynamic-forms/src/lib/field-windowing.integration.spec.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/field-parking-margin.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/field-windowing.token.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/resolve-field-windowing.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/with-field-windowing.spec.ts
  packages/dynamic-forms/src/lib/providers/features/field-windowing/with-field-windowing.ts
  packages/dynamic-forms/src/lib/utils/preload-form-components/preload-form-components.spec.ts
  packages/dynamic-forms/src/lib/utils/preload-form-components/preload-form-components.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
  scripts/generate-skills.ts
  skills/dynamic-forms/references/rules.md
  skills/tests/generate-skills.spec.ts
Due: lint, format

feat(material): add prefix/suffix addon support to select, textarea, … (#592)
  apps/docs/public/content/addons/overview.md
  apps/docs/public/content/addons/presets-and-actions.md
  etc/dynamic-forms-material.api.md
  packages/dynamic-form-mcp/src/registry/addons.ts
  packages/dynamic-forms-material/src/lib/config/material-field-config.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker-with-addons.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select-with-addons.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea-with-addons.component.spec.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/styles/_form-field.scss
Due: lint, format

fix(dynamic-forms): preserve container validation contracts
  internal/dynamic-forms-validation/descriptor/golden-corpus.json
  internal/dynamic-forms-validation/src/lib/schemas/containers/container-field.spec.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/container-validation.spec.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  packages/dynamic-form-mcp/src/registry/field-types.spec.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  skills/dynamic-forms/references/field-types.md
Due: lint, format

fix(mcp): align container placement metadata
  packages/dynamic-form-mcp/src/registry/field-types.spec.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  skills/dynamic-forms/references/field-types.md
Due: lint, format

test(forms): update container support comments
  packages/dynamic-forms-bootstrap/src/lib/container-field-support.spec.ts
  packages/dynamic-forms-ionic/src/lib/container-field-support.spec.ts
  packages/dynamic-forms-material/src/lib/container-field-support.spec.ts
  packages/dynamic-forms-primeng/src/lib/container-field-support.spec.ts
Due: lint, format

fix(dynamic-forms): name the missing property in container errors
  internal/dynamic-forms-validation/src/lib/schemas/containers/container-field.spec.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
Due: format

refactor(dynamic-forms): drop the unread nesting allowlist
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
Due: format

test(dynamic-forms): collect specs without an enumerated directory list
  internal/dynamic-forms-validation/descriptor/golden-corpus.spec.ts
  internal/dynamic-forms-validation/vitest.config.mts
Due: format

fix(config): typecheck the descriptor directory and close the cache holes
  internal/dynamic-forms-validation/descriptor/build-descriptor.spec.ts
  internal/dynamic-forms-validation/descriptor/compile-schema.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/project.json
  internal/dynamic-forms-validation/tsconfig.lib.json
  internal/dynamic-forms-validation/tsconfig.spec.json
Due: format

test(mcp): mark illustrative examples instead of inferring them from a throw
  packages/dynamic-form-mcp/src/registry/allowed-in.spec.ts
  packages/dynamic-form-mcp/src/registry/examples-validate.spec.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
  packages/dynamic-form-mcp/src/registry/index.ts
Due: lint, format

refactor(dynamic-forms): close the gaps the descriptor review found
  internal/dynamic-forms-validation/descriptor/compile-schema.ts
  internal/dynamic-forms-validation/descriptor/differential.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-shape.ts
  internal/dynamic-forms-validation/descriptor/generated/core.json
  internal/dynamic-forms-validation/descriptor/golden-corpus.json
  internal/dynamic-forms-validation/descriptor/narrowing.ts
  internal/dynamic-forms-validation/descriptor/serialize.ts
  internal/dynamic-forms-validation/descriptor/split.ts
  packages/dynamic-forms-cli/src/discover-project.spec.ts
  packages/dynamic-forms-cli/src/discover-project.ts
Due: lint, format

fix(dynamic-forms): match a package at a path boundary, not as a substring
  internal/dynamic-forms-validation/descriptor/extract-registry.spec.ts
  internal/dynamic-forms-validation/descriptor/extract-registry.ts
Due: format

fix(dynamic-forms): forbid a page inside a container
  internal/dynamic-forms-validation/descriptor/golden-corpus.json
  internal/dynamic-forms-validation/project.json
  internal/dynamic-forms-validation/src/lib/schemas/containers/container-field.spec.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
Due: lint, format

fix(config): report a missing skill and a skill that is no longer generated
  scripts/check-version-consistency.ts
  scripts/generate-skills.ts
Due: format

build(deps): upgrade zod to 4 and drop zod-to-json-schema
  internal/dynamic-forms-validation/eslint.config.mjs
  internal/dynamic-forms-validation/package.json
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-validation/src/lib/schemas/field-type-names.ts
  internal/dynamic-forms-validation/validate/src/json-schema/field-type-json-schemas.ts
  internal/dynamic-forms-validation/validate/src/json-schema/form-config-json-schema.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
  package.json
  packages/dynamic-form-mcp/eslint.config.mjs
  packages/dynamic-form-mcp/package.json
  packages/dynamic-form-mcp/src/tools/validate.tool.spec.ts
  packages/dynamic-forms-cli/eslint.config.mjs
  packages/dynamic-forms-cli/package.json
  packages/dynamic-forms-cli/project.json
  pnpm-lock.yaml
  skills/eval/setup-workspaces.ts
Due: lint, format

perf(dynamic-forms): discriminate the recursive field union on type
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/field-dispatch.spec.ts
  internal/dynamic-forms-validation/validate/src/tools/validate-config.tool.ts
Due: format

fix(dynamic-forms): publish the array fields/template rule in JSON Schema
  internal/dynamic-forms-validation/src/lib/schemas/containers/factories.ts
  internal/dynamic-forms-validation/src/lib/schemas/containers/field-dispatch.spec.ts
Due: format

fix(examples): drop the unsupported label from the WebMCP group scenario
  apps/e2e/core/src/app/testing/web-mcp/scenarios/agent-fill-only.scenario.ts
Due: format

fix(dynamic-forms): report server errors returned after an agent submission
  packages/dynamic-forms/src/lib/core/web-mcp/bootstrap-web-mcp.ts
  packages/dynamic-forms/src/lib/core/web-mcp/web-mcp.integration.spec.ts
Due: lint, format

test(dynamic-forms): add a WebMCP agent eval set and cover the response surface
  apps/docs/public/content/ai-integration/webmcp.md
  apps/e2e/core/src/app/testing/web-mcp/scenarios/agent-fill-only.scenario.ts
  apps/e2e/core/src/app/testing/web-mcp/web-mcp.spec.ts
  packages/dynamic-forms/src/lib/core/web-mcp/eval/README.md
  packages/dynamic-forms/src/lib/core/web-mcp/eval/grade.spec.ts
  packages/dynamic-forms/src/lib/core/web-mcp/eval/grade.ts
  packages/dynamic-forms/src/lib/core/web-mcp/eval/tasks.ts
  packages/dynamic-forms/src/lib/core/web-mcp/format-report.spec.ts
  packages/dynamic-forms/src/lib/core/web-mcp/model-context.spec.ts
Due: lint, format

fix(config): restore the module-boundary directives the merge stripped
  packages/dynamic-forms-bootstrap/src/lib/providers/bootstrap-providers.ts
  packages/dynamic-forms-ionic/src/lib/providers/ionic-providers.ts
  packages/dynamic-forms-material/src/lib/providers/material-providers.ts
  packages/dynamic-forms-primeng/src/lib/providers/primeng-providers.ts
Due: lint, format

ci(deps): bump github/codeql-action to 4.37.9 and group its updates
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

fix(mcp): refresh the public API report for the additions this branch makes
  etc/dynamic-form-mcp.api.md
Due: format

ci(deps): bump github/codeql-action to 4.37.9 and group its updates (#600)
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

test(dynamic-forms): resolve each registry once instead of once per assertion
  internal/dynamic-forms-validation/descriptor/extract-registry.spec.ts
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
