Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: 'packages/**/*.{ts,js}'
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    format:
      glob: '*.{ts,js,json,md,html,scss,css}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

chore(config): update release skill to skip tag and release creation
  .claude/skills/release.md
Due: format

chore(release): bump version to 0.2.0 (#119)
  CHANGELOG.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms/package.json
  packages/dynamic-forms/project.json
Due: format

chore(config): update release skill to skip tag and release creation (#120)
  .claude/skills/release.md
Due: format

test(material): add exhaustive type tests for all field types
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/checkbox/mat-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/multi-checkbox/mat-multi-checkbox.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/radio/mat-radio.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/slider/mat-slider.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/toggle/mat-toggle.type-test.ts
  packages/dynamic-forms-material/tsconfig.spec.json
  packages/dynamic-forms-material/vite.config.ts
  packages/dynamic-forms/integration/src/definitions/multi-checkbox-field.ts
  packages/dynamic-forms/integration/src/definitions/radio-field.ts
Due: lint, format

test(bootstrap): add exhaustive type tests for all field types
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/checkbox/bs-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/datepicker/bs-datepicker.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/multi-checkbox/bs-multi-checkbox.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/radio/bs-radio.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/slider/bs-slider.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/textarea/bs-textarea.type-test.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/toggle/bs-toggle.type-test.ts
  packages/dynamic-forms-bootstrap/tsconfig.spec.json
  packages/dynamic-forms-bootstrap/vite.config.ts
Due: lint, format

test(ionic): add exhaustive type tests for all field types
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/checkbox/ionic-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/datepicker/ionic-datepicker.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/input/ionic-input.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/multi-checkbox/ionic-multi-checkbox.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/radio/ionic-radio.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/select/ionic-select.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/slider/ionic-slider.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/textarea/ionic-textarea.type-test.ts
  packages/dynamic-forms-ionic/src/lib/fields/toggle/ionic-toggle.type-test.ts
  packages/dynamic-forms-ionic/tsconfig.spec.json
  packages/dynamic-forms-ionic/vite.config.ts
Due: lint, format

test(primeng): add exhaustive type tests for all field types
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms-primeng/src/lib/fields/checkbox/prime-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/datepicker/prime-datepicker.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/multi-checkbox/prime-multi-checkbox.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/radio/prime-radio.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/select/prime-select.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/slider/prime-slider.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/textarea/prime-textarea.type-test.ts
  packages/dynamic-forms-primeng/src/lib/fields/toggle/prime-toggle.type-test.ts
  packages/dynamic-forms-primeng/tsconfig.spec.json
  packages/dynamic-forms-primeng/vite.config.ts
Due: lint, format

test(dynamic-forms): add exhaustive type tests for core types
  packages/dynamic-forms/project.json
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.type-test.ts
  packages/dynamic-forms/src/lib/definitions/base/field-with-validation.type-test.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
  packages/dynamic-forms/src/lib/models/schemas/schema-definition.type-test.ts
  packages/dynamic-forms/src/lib/models/validation-types.type-test.ts
  packages/dynamic-forms/src/lib/models/validation/validator-config.type-test.ts
  packages/dynamic-forms/tsconfig.spec.json
  packages/dynamic-forms/tsconfig.typecheck.json
  packages/dynamic-forms/vite.config.typecheck.ts
Due: lint, format

chore(deps): add vitest to devdependencies for type tests
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
Due: format

chore(config): add vitest to ignoreddependencies in eslint configs
  packages/dynamic-forms-bootstrap/eslint.config.mjs
  packages/dynamic-forms-ionic/eslint.config.mjs
  packages/dynamic-forms-material/eslint.config.mjs
  packages/dynamic-forms-primeng/eslint.config.mjs
Due: none

test(dynamic-forms): add type tests for built-in container types
  packages/dynamic-forms/src/lib/definitions/default/array-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/text-field.type-test.ts
Due: lint, format

chore(config): simplify vitest typecheck configuration
  packages/dynamic-forms-bootstrap/tsconfig.spec.json
  packages/dynamic-forms-bootstrap/vite.config.ts
  packages/dynamic-forms-ionic/tsconfig.spec.json
  packages/dynamic-forms-ionic/vite.config.ts
  packages/dynamic-forms-material/tsconfig.spec.json
  packages/dynamic-forms-material/vite.config.ts
  packages/dynamic-forms-primeng/tsconfig.spec.json
  packages/dynamic-forms-primeng/vite.config.ts
  packages/dynamic-forms/tsconfig.typecheck.json
  packages/dynamic-forms/vite.config.typecheck.ts
Due: lint, format

test(material): add union type narrowing tests for input field
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.type-test.ts
Due: lint, format

chore(config): rename test to type-test for ui library type checking
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/project.json
Due: format

feat(dynamic-forms): add hidden field type for storing non-rendered values
  apps/docs/src/docs/prebuilt/hidden-fields/index.md
  apps/docs/src/docs/prebuilt/hidden-fields/ng-doc.page.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.suite.ts
  packages/dynamic-forms/src/lib/definitions/default/hidden-field.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/fields/hidden/hidden-field.spec.ts
  packages/dynamic-forms/src/lib/mappers/hidden/hidden-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.spec.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

docs: streamline hidden fields documentation to match other pages
  apps/docs/src/docs/prebuilt/hidden-fields/index.md
Due: format

refactor(dynamic-forms): make mapper optional and add row validation for hidden fields
  apps/docs/src/docs/prebuilt/hidden-fields/index.md
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.ts
  packages/dynamic-forms/src/lib/fields/hidden/hidden-field.spec.ts
  packages/dynamic-forms/src/lib/mappers/hidden/hidden-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/models/types/nesting-constraints.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/utils/form-validation/form-mode-validator.ts
Due: lint, format

test(examples): add e2e tests for hidden fields inside arrays
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
Due: format

test(examples): fix hidden field e2e tests for group containers
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
Due: format

docs(examples): update hidden field scenario descriptions
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
Due: format

test(examples): add metadata group assertions to hidden field tests
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.spec.ts
Due: format

test(examples): fix dom element count assertions for hidden field tests
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.spec.ts
Due: format

docs(dynamic-forms): add value modification implementation plan
  PLAN-value-modification.md
Due: format

fix(dynamic-forms): return empty signal for componentless fields in mapper
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
Due: lint, format

docs(dynamic-forms): use formValue.* syntax in setValue expressions
  PLAN-value-modification.md
Due: format

fix(dynamic-forms): return undefined for componentless fields in mapper
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

feat(dynamic-forms): add hidden field type for storing non-rendered values (#122)
  apps/docs/src/docs/prebuilt/hidden-fields/index.md
  apps/docs/src/docs/prebuilt/hidden-fields/ng-doc.page.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/bootstrap/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/ionic/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/ionic/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/material/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/material/src/app/testing/submission-behavior/submission-behavior.suite.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/hidden-field.scenario.ts
  apps/examples/primeng/src/app/testing/submission-behavior/scenarios/index.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.routes.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.spec.ts
  apps/examples/primeng/src/app/testing/submission-behavior/submission-behavior.suite.ts
  packages/dynamic-forms/src/lib/definitions/default/hidden-field.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.ts
  packages/dynamic-forms/src/lib/fields/hidden/hidden-field.spec.ts
  packages/dynamic-forms/src/lib/models/field-type.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/models/types/nesting-constraints.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/utils/array-field/create-array-item-injector.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.spec.ts
  packages/dynamic-forms/src/lib/utils/field-mapper/field-mapper.ts
  packages/dynamic-forms/src/lib/utils/form-validation/form-mode-validator.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.spec.ts
  packages/dynamic-forms/src/lib/utils/inject-field-registry/inject-field-registry.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
Due: lint, format

docs(dynamic-forms): rename setValue to derivation throughout plan
  PLAN-value-modification.md
Due: format

test(material): add e2e tests for derivation logic and fix applicator
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.routes.ts
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.suite.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/array-field-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/conditional-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/expression-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/function-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/shorthand-derivation.scenario.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/static-value-derivation.scenario.ts
  apps/examples/material/src/app/testing/shared/test-suite.registry.ts
  apps/examples/material/src/app/testing/testing-routes.ts
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
Due: lint, format

fix(dynamic-forms): allow self-referential derivations and fix e2e tests
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/chain-derivation.scenario.ts
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.spec.ts
  packages/dynamic-forms/src/lib/core/derivation/cycle-detector.ts
Due: lint, format

test(material): re-enable derivation logic e2e tests
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/material/src/app/testing/shared/fixtures.ts
Due: format

feat(dynamic-forms): add debounced derivations and array field derivations
  apps/examples/material/src/app/testing/derivation-logic/derivation-logic.spec.ts
  apps/examples/material/src/app/testing/derivation-logic/scenarios/self-transform.scenario.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-applicator.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-collector.ts
  packages/dynamic-forms/src/lib/core/derivation/derivation-types.ts
  packages/dynamic-forms/src/lib/core/derivation/index.ts
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.ts
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/models/expressions/evaluation-context.ts
  packages/dynamic-forms/src/lib/models/logic/logic-config.ts
  packages/dynamic-forms/src/lib/utils/debounce/debounce.ts
  packages/dynamic-forms/src/lib/utils/index.ts
Due: lint, format

refactor(dynamic-forms): clean up unused imports and add trigger docs
  packages/dynamic-forms/README.md
  packages/dynamic-forms/src/lib/core/expressions/logic-function-factory.ts
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
Due: lint, format

test(dynamic-forms): update type tests for trigger discriminated unions
  packages/dynamic-forms/src/lib/models/logic/logic-config.type-test.ts
Due: lint, format

fix(dynamic-forms): restore type binding and optimize meta tracking
  packages/dynamic-forms-bootstrap/src/lib/fields/input/bs-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-primeng/src/lib/fields/input/prime-input.component.ts
  packages/dynamic-forms/integration/src/utils/setup-meta-tracking.ts
  packages/dynamic-forms/src/lib/utils/apply-meta.spec.ts
  packages/dynamic-forms/src/lib/utils/apply-meta.ts
Due: lint, format
