Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

build(mcp): point dependency-checks at the renamed bundle target
  packages/dynamic-form-mcp/eslint.config.mjs
Due: none

build(config): regenerate api goldens from a clean build
  packages/dynamic-form-mcp/project.json
  packages/dynamic-forms-bootstrap/project.json
  packages/dynamic-forms-ionic/project.json
  packages/dynamic-forms-material/project.json
  packages/dynamic-forms-primeng/project.json
  packages/dynamic-forms/project.json
  packages/openapi-generator/project.json
Due: format

docs: restore original Angular compatibility matrix and set LICENSE year
  LICENSE
  README.md
  apps/docs/public/content/getting-started.md
  apps/docs/public/content/openapi-generator.md
  apps/docs/src/app/pages/landing/landing.constants.ts
  packages/dynamic-form-mcp/LICENSE
  packages/dynamic-forms-bootstrap/LICENSE
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/LICENSE
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/LICENSE
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/LICENSE
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/LICENSE
  packages/dynamic-forms/README.md
  packages/openapi-generator/LICENSE
  packages/openapi-generator/README.md
Due: format

fix(mcp): require arrayKey for pop/shift and index for insert in array-button schemas
  internal/dynamic-forms-zod/bootstrap/src/fields/index.ts
  internal/dynamic-forms-zod/ionic/src/fields/index.ts
  internal/dynamic-forms-zod/material/src/fields/mat-button-field.schema.ts
  internal/dynamic-forms-zod/primeng/src/fields/index.ts
  packages/dynamic-form-mcp/src/registry/field-types.ts
Due: lint, format

docs: restore Quick Start onSubmit example and versioning/browser sections
  README.md
  packages/dynamic-forms/README.md
Due: format

docs: drop redundant versioning and tested-browsers sections from core README
  packages/dynamic-forms/README.md
Due: format

docs: use ^22.0.0 for the documented Angular peer range
  apps/docs/public/content/getting-started.md
  apps/docs/public/content/migrating-from-ngx-formly.md
  apps/docs/src/app/components/feature-overview/feature-overview.data.ts
Due: format

docs(mcp): clarify the npx launch uses the package name, not the bin
  packages/dynamic-form-mcp/README.md
Due: format

chore(release): bump version to 1.0.0
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
Due: format

docs(release): add 1.0.0 changelog and migration guide
  CHANGELOG.md
Due: format

chore(release): bump version to 1.0.0 (#499)
  CHANGELOG.md
  package.json
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/package.json
  packages/openapi-generator/package.json
Due: format

docs: fix package homepage and README doc links to /dynamic-forms base path
  packages/dynamic-form-mcp/package.json
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
  packages/dynamic-forms/README.md
  packages/openapi-generator/package.json
Due: format

docs: point adapter package links at getting-started instead of configuration
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-bootstrap/package.json
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-ionic/package.json
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-material/package.json
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms-primeng/package.json
Due: format

docs(primeng): align addon link text with Custom Types page title
  packages/dynamic-forms-primeng/README.md
Due: format

fix(dynamic-forms): evaluate container/button logic with externalData and custom functions
  apps/e2e/core/src/app/testing/external-data/container-external-data.spec.ts
  apps/e2e/core/src/app/testing/external-data/external-data.routes.ts
  apps/e2e/core/src/app/testing/external-data/scenarios/container-external-data.scenario.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/button-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/navigation-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/non-field-logic.utils.ts
  packages/dynamic-forms/internal/src/lib/core/logic/non-field-logic-resolver.spec.ts
  packages/dynamic-forms/internal/src/lib/core/logic/non-field-logic-resolver.ts
  packages/dynamic-forms/internal/src/lib/mappers/apply-hidden-logic.ts
  packages/dynamic-forms/internal/src/lib/mappers/array/array-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/array/array-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/container/container-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/container/container-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/group/group-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/group/group-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/row/row-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/text/text-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/text/text-field-mapper.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
Due: lint, format

chore(dynamic-forms): regenerate api reports for evaluationContext field
  etc/dynamic-forms-integration.api.md
  etc/dynamic-forms-internal.api.md
Due: format

fix(forms): evaluate hidden/disabled logic on generic adapter buttons
  apps/e2e/core/src/app/testing/external-data/container-external-data.spec.ts
  apps/e2e/core/src/app/testing/external-data/scenarios/container-external-data.scenario.ts
  etc/dynamic-forms-integration.api.md
  etc/dynamic-forms-internal.api.md
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/button/button-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/index.ts
  packages/dynamic-forms/integration/src/mappers/button/non-field-logic.utils.ts
  packages/dynamic-forms/integration/src/mappers/index.ts
  packages/dynamic-forms/integration/src/public_api.ts
  packages/dynamic-forms/internal/src/lib/core/logic/non-field-logic-resolver.ts
  packages/dynamic-forms/internal/src/lib/mappers/apply-hidden-logic.ts
  packages/dynamic-forms/internal/src/lib/mappers/array/array-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/container/container-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/group/group-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/text/text-field-mapper.ts
Due: lint, format

fix(dynamic-forms): scope non-field-element conditions to the enclosing array item
  etc/dynamic-forms-internal.api.md
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/core/logic/non-field-logic-resolver.ts
  packages/dynamic-forms/internal/src/lib/core/registry/field-context-registry.service.spec.ts
  packages/dynamic-forms/internal/src/lib/core/registry/field-context-registry.service.ts
Due: lint, format

fix(dynamic-forms): keep buttons at root scope for array-item conditions
  etc/dynamic-forms-internal.api.md
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/core/logic/non-field-logic-resolver.ts
  packages/dynamic-forms/internal/src/lib/mappers/array/array-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/container/container-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/container/container-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/group/group-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/text/text-field-mapper.ts
Due: lint, format

fix(dynamic-forms): evaluate container/button logic with externalData and custom functions (#508)
  apps/e2e/core/src/app/testing/external-data/container-external-data.spec.ts
  apps/e2e/core/src/app/testing/external-data/external-data.routes.ts
  apps/e2e/core/src/app/testing/external-data/scenarios/container-external-data.scenario.ts
  etc/dynamic-forms-integration.api.md
  etc/dynamic-forms-internal.api.md
  packages/dynamic-forms-bootstrap/src/lib/fields/button/bs-button.mapper.ts
  packages/dynamic-forms-ionic/src/lib/fields/button/ionic-button.mapper.ts
  packages/dynamic-forms-material/src/lib/fields/button/mat-button.mapper.ts
  packages/dynamic-forms-primeng/src/lib/fields/button/prime-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.spec.ts
  packages/dynamic-forms/integration/src/mappers/button/array-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/button-field-mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/index.ts
  packages/dynamic-forms/integration/src/mappers/button/navigation-button.mapper.ts
  packages/dynamic-forms/integration/src/mappers/button/non-field-logic.utils.ts
  packages/dynamic-forms/integration/src/mappers/index.ts
  packages/dynamic-forms/integration/src/public_api.ts
  packages/dynamic-forms/internal/src/lib/core/logic/non-field-logic-resolver.spec.ts
  packages/dynamic-forms/internal/src/lib/core/logic/non-field-logic-resolver.ts
  packages/dynamic-forms/internal/src/lib/core/registry/field-context-registry.service.spec.ts
  packages/dynamic-forms/internal/src/lib/core/registry/field-context-registry.service.ts
  packages/dynamic-forms/internal/src/lib/mappers/apply-hidden-logic.ts
  packages/dynamic-forms/internal/src/lib/mappers/array/array-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/array/array-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/container/container-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/container/container-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/group/group-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/group/group-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/row/row-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/internal/src/lib/mappers/text/text-field-mapper.spec.ts
  packages/dynamic-forms/internal/src/lib/mappers/text/text-field-mapper.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
Due: lint, format

fix(dynamic-forms): support formSubmitting logic on value fields
  etc/dynamic-forms-internal.api.md
  packages/dynamic-forms/internal/src/lib/core/expressions/logic-function-factory.ts
  packages/dynamic-forms/internal/src/lib/core/logic/form-state-condition.spec.ts
  packages/dynamic-forms/internal/src/lib/core/logic/form-state-condition.ts
  packages/dynamic-forms/internal/src/lib/core/logic/non-field-logic-resolver.ts
  packages/dynamic-forms/internal/src/public_api.ts
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.spec.ts
  packages/dynamic-forms/src/lib/core/logic/logic-applicator.ts
Due: lint, format

fix(bootstrap): drop stray size attribute on select when htmlSize is unset
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
Due: lint, format

fix(dynamic-forms): clear interaction state on form reset and clear events
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
  packages/dynamic-forms/src/lib/state/form-state-manager.ts
Due: lint, format

fix(dynamic-forms): skip logic function cache for inline custom conditions
  packages/dynamic-forms/internal/src/lib/core/expressions/logic-function-factory.spec.ts
  packages/dynamic-forms/internal/src/lib/core/expressions/logic-function-factory.ts
Due: lint, format

fix(dynamic-forms): include constraint value in cross-field validation errors
  packages/dynamic-forms/src/lib/core/schema-builder.spec.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format

fix(dynamic-forms): resolve signal dynamic text without NG0602 in reactive contexts
  packages/dynamic-forms/internal/src/lib/pipes/dynamic-text/dynamic-text.pipe.spec.ts
  packages/dynamic-forms/internal/src/lib/pipes/dynamic-text/dynamic-text.pipe.ts
  packages/dynamic-forms/internal/src/lib/utils/dynamic-text-to-observable.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.component.ts
Due: lint, format

fix(dynamic-forms): add actionable error for uninitialized TestBed in fixtures
  apps/docs/public/content/recipes/custom-fields.md
  packages/dynamic-forms/integration/src/testing/create-field-fixture.spec.ts
  packages/dynamic-forms/integration/src/testing/create-field-fixture.ts
Due: lint, format

fix(dynamic-forms): apply grid column class to outermost wrapper host
  apps/e2e/material/src/app/testing/row-fields/row-fields.routes.ts
  apps/e2e/material/src/app/testing/row-fields/row-fields.spec.ts
  apps/e2e/material/src/app/testing/row-fields/row-fields.suite.ts
  apps/e2e/material/src/app/testing/row-fields/scenarios/row-wrapped-col.scenario.ts
  packages/dynamic-forms/internal/src/public_api.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain-controller.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
  tools/workspace-plugin/src/generators/gen-public-api/generator.ts
Due: lint, format

test(examples): add row wrapped column screenshot baseline
  apps/e2e/material/src/app/testing/__snapshots__/row-fields/row-fields.spec.ts-snapshots/material-row-wrapped-col.png
  apps/e2e/material/src/app/testing/row-fields/row-fields.spec.ts
Due: format

feat(dynamic-forms): support error-aware validation message functions
  apps/docs/public/content/dynamic-behavior/i18n.md
  apps/docs/public/content/validation/basics.md
  etc/dynamic-forms-integration.api.md
  etc/dynamic-forms-internal.api.md
  etc/dynamic-forms.api.md
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-forms/integration/src/utils/create-resolved-errors-signal.ts
  packages/dynamic-forms/internal/src/lib/models/index.ts
  packages/dynamic-forms/internal/src/lib/models/validation-types.ts
  packages/dynamic-forms/internal/src/lib/models/validation-types.type-test.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/utils/create-resolved-errors-signal.spec.ts
Due: lint, format

fix(bootstrap): drop stray size attribute on select when htmlSize is unset (#522)
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.spec.ts
  packages/dynamic-forms-bootstrap/src/lib/fields/select/bs-select.component.ts
Due: lint, format

feat(dynamic-forms): guard error message resolvers against throws and empty returns
  apps/docs/public/content/dynamic-behavior/i18n.md
  packages/dynamic-forms/integration/src/utils/create-resolved-errors-signal.ts
  packages/dynamic-forms/src/lib/utils/create-resolved-errors-signal.spec.ts
Due: lint, format

fix(dynamic-forms): cover non-vitest runners in testbed guard message
  apps/docs/public/content/recipes/custom-fields.md
  packages/dynamic-forms/integration/src/testing/create-field-fixture.ts
Due: lint, format

fix(dynamic-forms): update internal api baseline and document wrapper class timing
  etc/dynamic-forms-internal.api.md
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

test(dynamic-forms): cover nested field interaction state on reset and clear
  packages/dynamic-forms/src/lib/state/form-state-manager.spec.ts
Due: lint, format

fix(dynamic-forms): fix conditional validator cache collisions and error params (#525)
  packages/dynamic-forms/internal/src/lib/core/expressions/logic-function-factory.spec.ts
  packages/dynamic-forms/internal/src/lib/core/expressions/logic-function-factory.ts
  packages/dynamic-forms/src/lib/core/schema-builder.spec.ts
  packages/dynamic-forms/src/lib/core/schema-builder.ts
Due: lint, format

fix(dynamic-forms): resolve signal dynamic text without NG0602 in reactive contexts (#524)
  packages/dynamic-forms/internal/src/lib/pipes/dynamic-text/dynamic-text.pipe.spec.ts
  packages/dynamic-forms/internal/src/lib/pipes/dynamic-text/dynamic-text.pipe.ts
  packages/dynamic-forms/internal/src/lib/utils/dynamic-text-to-observable.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.component.ts
Due: lint, format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
