Repository ng-forge/ng-forge: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

docs(docs): add CI, downloads, bundle size, stars, and Discord badges
  README.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
Due: format

docs(docs): remove broken bundlephobia badges, add badges to mcp and openapi-generator
  README.md
  packages/dynamic-form-mcp/README.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
  packages/openapi-generator/README.md
Due: format

refactor(forms): updated WrapperAllowedChildren to allow RowField
  internal/utils/src/lib/type-guards/field-type-guards.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/helpers/create-field.ts
  packages/dynamic-forms/src/lib/models/types/nesting-constraints.ts
Due: lint, format

docs(docs): add Discord community link to README and docs site (#337)
  README.md
  apps/docs/public/assets/icons/discord.svg
  apps/docs/public/content/getting-started.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/layout/docs-layout.component.html
  apps/docs/src/app/layout/docs-layout.component.scss
  apps/docs/src/app/pages/landing/landing.component.html
  internal/styling/src/_icons.scss
  packages/dynamic-form-mcp/README.md
  packages/dynamic-forms-bootstrap/README.md
  packages/dynamic-forms-ionic/README.md
  packages/dynamic-forms-material/README.md
  packages/dynamic-forms-primeng/README.md
  packages/dynamic-forms/README.md
  packages/openapi-generator/README.md
Due: format

refactor(forms): renamed 'wrapper' type to 'container'
  packages/dynamic-forms/src/lib/definitions/default/container-field.ts
  packages/dynamic-forms/src/lib/definitions/default/container-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/events/constants/component-initialized.event.spec.ts
  packages/dynamic-forms/src/lib/events/constants/component-initialized.event.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.scss
  packages/dynamic-forms/src/lib/fields/container/container-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/fields/index.ts
  packages/dynamic-forms/src/lib/helpers/create-field.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/container/container-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/container/container-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.type-test.ts
  packages/dynamic-forms/src/lib/models/types/index.ts
  packages/dynamic-forms/src/lib/models/types/nesting-constraints.ts
  packages/dynamic-forms/src/lib/models/types/type-guards.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/utils/emit-initialization/emit-initialization.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.spec.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.component.ts
Due: lint, format

chore(forms): cleanup
  packages/dynamic-forms/src/lib/fields/container/container-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.component.ts
Due: lint, format

chore(forms): added container can contain row test
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
Due: lint, format

feat(forms): wrappers (#335)
  internal/utils/src/lib/type-guards/field-type-guards.ts
  packages/dynamic-forms/src/lib/core/expressions/parser/evaluator.spec.ts
  packages/dynamic-forms/src/lib/definitions/default/container-field.ts
  packages/dynamic-forms/src/lib/definitions/default/container-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/events/constants/component-initialized.event.spec.ts
  packages/dynamic-forms/src/lib/events/constants/component-initialized.event.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.scss
  packages/dynamic-forms/src/lib/fields/container/container-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/fields/index.ts
  packages/dynamic-forms/src/lib/helpers/create-field.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/container/container-field-mapper.spec.ts
  packages/dynamic-forms/src/lib/mappers/container/container-field-mapper.ts
  packages/dynamic-forms/src/lib/mappers/index.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.type-test.ts
  packages/dynamic-forms/src/lib/models/registry/index.ts
  packages/dynamic-forms/src/lib/models/types/index.ts
  packages/dynamic-forms/src/lib/models/types/nesting-constraints.ts
  packages/dynamic-forms/src/lib/models/types/type-guards.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/utils/emit-initialization/emit-initialization.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.spec.ts
  packages/dynamic-forms/src/lib/utils/flattener/field-flattener.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.component.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.type-test.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.type.ts
  packages/dynamic-forms/src/lib/wrappers/css/index.ts
  packages/dynamic-forms/src/lib/wrappers/index.ts
Due: lint, format

fix(config): prevent docs SSR build OOM in CI
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

fix(config): prevent docs SSR build OOM in CI (#338)
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
Due: none

refactor(dynamic-forms): make row a virtual field backed by a wrapper
  packages/dynamic-forms/src/lib/definitions/default/index.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.spec.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/fields/index.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.scss
  packages/dynamic-forms/src/lib/fields/row/row-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/row/row-field.component.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.spec.ts
  packages/dynamic-forms/src/lib/providers/built-in-fields.ts
  packages/dynamic-forms/src/lib/wrappers/index.ts
  packages/dynamic-forms/src/lib/wrappers/row/index.ts
  packages/dynamic-forms/src/lib/wrappers/row/row-wrapper.component.scss
  packages/dynamic-forms/src/lib/wrappers/row/row-wrapper.component.ts
  packages/dynamic-forms/src/lib/wrappers/row/row-wrapper.type-test.ts
  packages/dynamic-forms/src/lib/wrappers/row/row-wrapper.type.ts
Due: lint, format

feat(dynamic-forms): add createWrappers bundle DX for wrapper registration
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/wrappers/create-wrappers.ts
  packages/dynamic-forms/src/lib/wrappers/create-wrappers.type-test.ts
  packages/dynamic-forms/src/lib/wrappers/index.ts
  packages/dynamic-forms/src/lib/wrappers/wrapper-props.ts
Due: lint, format

feat(dynamic-forms): add ReadonlyFieldTree, toReadonlyFieldTree, WrapperFieldInputs
  packages/dynamic-forms/src/lib/core/field-tree-utils.spec.ts
  packages/dynamic-forms/src/lib/core/field-tree-utils.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/wrappers/index.ts
  packages/dynamic-forms/src/lib/wrappers/wrapper-field-inputs.ts
Due: lint, format

refactor(dynamic-forms): wrappers receive config via Angular inputs
  packages/dynamic-forms/src/lib/fields/container/container-field.component.spec.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/wrappers/css/css-wrapper.component.ts
  packages/dynamic-forms/src/lib/wrappers/row/row-wrapper.component.ts
Due: lint, format

feat(dynamic-forms): introduce DfFieldOutlet and migrate all outlet sites
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/dynamic-form.component.ts
  packages/dynamic-forms/src/lib/fields/array/array-field.component.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/fields/group/group-field.component.ts
  packages/dynamic-forms/src/lib/fields/page/page-field.component.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-di.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/array-field/resolve-array-item.ts
  packages/dynamic-forms/src/lib/utils/resolve-field/resolve-field.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

refactor(dynamic-forms): retire WRAPPER_CONTEXT injection token
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.spec.ts
  packages/dynamic-forms/src/lib/index.ts
  packages/dynamic-forms/src/lib/models/field-signal-context.token.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
Due: lint, format

fix(dynamic-forms): tolerate wrappers that omit the fieldInputs input
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

docs(docs): add Field Wrappers section with live example
  apps/docs/public/content/wrappers/overview.md
  apps/docs/public/content/wrappers/registering-and-applying.md
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/docs/src/app/example-configs/index.ts
  apps/docs/src/app/example-configs/wrapper-section.config.ts
  apps/docs/src/app/layout/nav.config.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/index.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/section-wrapper.component.scss
  internal/examples-shared-ui/src/lib/demo-wrappers/section-wrapper.component.ts
  internal/examples-shared-ui/src/lib/index.ts
  internal/sandbox-adapter-bootstrap/src/lib/factory.ts
  internal/sandbox-adapter-ionic/src/lib/factory.ts
  internal/sandbox-adapter-material/src/lib/factory.ts
  internal/sandbox-adapter-primeng/src/lib/factory.ts
Due: format

fix(examples): eagerly resolve demo section wrapper
  internal/examples-shared-ui/src/lib/demo-wrappers/index.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/section-wrapper.component.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/section-wrapper.registration.ts
Due: format

fix(dynamic-forms): update type-tests for wrappers field + refresh llms-full
  apps/docs/public/llms-full.txt
  packages/dynamic-forms/src/lib/definitions/base/base-value-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/array-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/container-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/group-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/page-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/row-field.type-test.ts
  packages/dynamic-forms/src/lib/definitions/default/text-field.type-test.ts
  packages/dynamic-forms/src/lib/models/registry/field-registry.type-test.ts
  packages/dynamic-forms/src/lib/wrappers/create-wrappers.type-test.ts
Due: lint, format

fix(dynamic-forms): row disabled logic + container defaults + cleanup cascade
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/mappers/row/row-field-mapper.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

refactor(dynamic-forms): public API + perf + defensive wrapper loading
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/models/index.ts
  packages/dynamic-forms/src/lib/models/wrapper-type.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.spec.ts
  packages/dynamic-forms/src/lib/providers/dynamic-form-providers.ts
  packages/dynamic-forms/src/lib/utils/resolve-effective-wrappers/resolve-effective-wrappers.spec.ts
  packages/dynamic-forms/src/lib/utils/resolve-effective-wrappers/resolve-effective-wrappers.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

refactor(dynamic-forms): DfFieldOutlet uses explicitEffect + memoed rebuild
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
Due: lint, format

test(dynamic-forms): unit specs for DfFieldOutlet and wrapper-chain
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.spec.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.spec.ts
Due: lint, format

docs(docs): wrapper docs polish + Wrappers nav rename
  apps/docs/public/content/wrappers/overview.md
  apps/docs/public/content/wrappers/registering-and-applying.md
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/layout/nav.config.ts
  packages/dynamic-forms/src/lib/definitions/base/field-def.ts
  packages/dynamic-forms/src/lib/utils/array-field/array-field.types.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
  packages/dynamic-forms/src/lib/wrappers/create-wrappers.ts
  packages/dynamic-forms/src/lib/wrappers/wrapper-field-inputs.ts
Due: lint, format

perf(dynamic-forms): cache hot paths in DfFieldOutlet and wrapper-chain
  packages/dynamic-forms/src/lib/core/field-tree-utils.ts
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

perf(dynamic-forms): memo + explicitEffect parity in ContainerFieldComponent
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
Due: lint, format

docs(docs): restructure wrappers docs — reorder, decision guidance, testing + styling, cheatsheets
  apps/docs/public/content/wrappers/overview.md
  apps/docs/public/content/wrappers/registering-and-applying.md
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/layout/nav.config.ts
Due: format

fix(dynamic-forms): address wrappers review findings
  packages/dynamic-forms/src/lib/directives/df-field-outlet.directive.ts
  packages/dynamic-forms/src/lib/fields/container/container-field.component.ts
  packages/dynamic-forms/src/lib/utils/container-utils/container-utils.ts
  packages/dynamic-forms/src/lib/utils/wrapper-chain/wrapper-chain.ts
Due: lint, format

docs(docs): wrappers followups — scope, examples, styling
  apps/docs/public/content/examples/wrapper-array-actions.md
  apps/docs/public/content/wrappers/overview.md
  apps/docs/public/content/wrappers/registering-and-applying.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/example-configs/index.ts
  apps/docs/src/app/example-configs/wrapper-array-actions.config.ts
  apps/docs/src/app/pages/examples-index/examples.registry.ts
  apps/docs/src/app/services/content.service.ts
  apps/docs/src/styles.scss
Due: format

docs(docs): polished wrapper chain visual + green NEW badge on wrappers
  apps/docs/public/content/wrappers/overview.md
  apps/docs/src/app/components/wrapper-chain-visual/wrapper-chain-visual.component.ts
  apps/docs/src/app/directives/content-components.directive.ts
  apps/docs/src/app/layout/docs-layout.component.html
  apps/docs/src/app/layout/docs-layout.component.scss
  apps/docs/src/app/layout/nav.config.ts
  internal/examples-shared-ui/src/lib/demo-wrappers/section-wrapper.component.scss
Due: format

docs(docs): fix table overflow, section wrapper theming, landing CTA, diagrams
  apps/docs/src/app/components/adapter-props/adapter-props.component.html
  apps/docs/src/app/components/logic-flow/logic-flow.component.ts
  apps/docs/src/app/components/wrapper-chain-visual/wrapper-chain-visual.component.ts
  apps/docs/src/app/pages/landing/landing.component.scss
  apps/docs/src/app/services/content.service.ts
  apps/docs/src/styles.scss
  internal/examples-shared-ui/src/lib/demo-wrappers/section-wrapper.component.scss
Due: format

docs(docs): reorder wrapper pages, polish headings & diagram, clip page overflow
  apps/docs/public/content/wrappers/overview.md
  apps/docs/public/content/wrappers/registering-and-applying.md
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/docs/public/llms-full.txt
  apps/docs/src/app/components/integration-view/integration-view.component.html
  apps/docs/src/app/components/wrapper-chain-visual/wrapper-chain-visual.component.ts
  apps/docs/src/app/layout/nav.config.ts
  apps/docs/src/styles.scss
Due: format

docs(docs): compact wrapper-chain visual
  apps/docs/src/app/components/wrapper-chain-visual/wrapper-chain-visual.component.ts
Due: format

docs(docs): tone field pill, inline-code shiki highlighting, persist theme
  apps/docs/src/app/components/wrapper-chain-visual/wrapper-chain-visual.component.ts
  apps/docs/src/app/services/content.service.ts
  apps/docs/src/app/services/theme.service.ts
  apps/docs/src/app/utils/shiki.ts
  apps/docs/src/styles.scss
Due: format

feat(material): add floatLabel and hideRequiredMarker support to form fields
  apps/docs/src/app/components/adapter-props/adapter-props.component.ts
  apps/docs/src/app/components/configuration-view/configuration-view.component.ts
  apps/docs/src/app/components/integration-view/integration-view.component.ts
  packages/dynamic-form-mcp/src/registry/instructions.ts
  packages/dynamic-form-mcp/src/registry/ui-adapters.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.component.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/datepicker/mat-datepicker.type.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.component.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/input/mat-input.type.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.component.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/select/mat-select.type.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.component.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.type-test.ts
  packages/dynamic-forms-material/src/lib/fields/textarea/mat-textarea.type.ts
  packages/dynamic-forms-material/src/lib/models/material-config.ts
Due: lint, format

docs(docs): tidy wrapper-doc snippets and inline code baseline
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/docs/public/llms-full.txt
  apps/docs/src/styles.scss
Due: format

docs(docs): tighten wrapper-doc phrasing (less AI-flavoured)
  apps/docs/public/content/wrappers/registering-and-applying.md
  apps/docs/public/content/wrappers/writing-a-wrapper.md
  apps/docs/public/llms-full.txt
Due: format

Path conditions:
  lint: any of: packages/**/*.{ts,js}
  format: any of: *.{ts,js,json,md,html,scss,css}
